<!-- ===== ===== ===== ===== ===== -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ##### FOOTER :: STARTS ##### -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ===== ===== ===== ===== ===== -->
<footer class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="pull-right col-sm-12 col-md-6">
                <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
            </div>

            <div class="pull-left col-sm-12 col-md-6">
                <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                <a href="https://www.sony-asia.com/section/contactus?cid=contactus:gwt:aportal:ms:footer:contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
            </div>

        </div>

    </div>

</footer>
<!-- ===== ===== ===== ===== ===== -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ##### FOOTER :: ENDS ##### -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ===== ===== ===== ===== ===== -->
