<!-- ===== ===== ===== ===== ===== -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ##### HEADER :: STARTS ##### -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ===== ===== ===== ===== ===== -->

    <header class="container-fluid navbar-fixed-top">

    <div class="row">

        <div class="col-sm-12" style="padding:0">
            <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                <div class="logo-alpha pull-left">
                    <div class="logo-img pull-left">
                        <img src="img/logo-alpha.png" width="61" height="42" alt="Alpha Logo">
                    </div>
                    <div class="logo-text pull-right">
                        PORTAL<br/>
                        <span>Asia Pacific</span>
                    </div>
                </div>
            </a>

            <div class="navbar navbar-inverse hidden-md hidden-lg">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar  bottom-bar"></span>
                </button>
            </div>

            <div class="logo-sony pull-right">
                <a href="http://www.sony-asia.com?cid=home:gwt:aportal:ms:header:sonylogo" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="divider col-md-12 hidden-sm hidden-xs"></div>

    </div>


    <div class="clearfix"></div>


    <div class="row">

        <div class="col-sm-12" style="padding:0;">
            <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                <a href="./product.html" class="products">Products</a>

                <a href="./technology/" class="technology">Technology</a>

                <a href="./reviews/" class="reviews">Reviews</a>

                <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a> -->

                <a href="./gallery.html" class="gallery">Gallery</a>

                <a href="./shooting-techniques/landscape.html" class="hidden-sm hidden-xs shooting-techniques">Shooting Techniques</a>

                <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                <a href="./ambassadors.html" class="ambassadors">Ambassadors</a>
                <!-- <div class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</div> -->
                

                <a href="./swpa/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
            </nav>
        </div>

    </div>

</header>

<!-- ===== ===== ===== ===== ===== -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ##### HEADER :: ENDS ##### -->
<!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
<!-- ===== ===== ===== ===== ===== -->
