<!--build:js js/template.min.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="js/jquery-migrate-1.2.1.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->

<!--build:js js/shooting-techniques.min.js -->
<script src="bower_components/handlebars/handlebars.min.js"></script>
<script src="bower_components/underscore/underscore-min.js"></script>
<script src="js/shooting-techniques.js"></script>
<!-- endbuild -->

<!--build:js js/shooting-techniques-add.min.js -->
<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
<script src="js/shooting-techniques-add.js"></script>
<!-- endbuild -->
