<!--build:js js/template.min.js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="js/jquery-migrate-1.2.1.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- endbuild -->

<!--build:js js/tech-article.min.js -->
<script src="js/lazyYT.js"></script>
<script src="bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
<script src="js/template.js"></script>
<script src="js/tech-article.js"></script>
<!-- endbuild -->
