<!-- section 1 -->
<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/viewfinder.jpg" width="272" height="124" alt="Viewfinder Technologies: EVF and OVF" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Viewfinder Technologies: EVF and OVF</p>
        <p>A viewfinder is any device that allows you to see and frame what you are shooting. Traditionally, the viewfinder refers to the little window near the top of a camera’s body that allows the photographer to&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">A viewfinder is any device that allows you to see and frame what you are shooting. Traditionally, the viewfinder refers to the&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/image-stabilization-technologies.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/img_stabilization.jpg" width="272" height="124" alt="Image Stabilization Technologies" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Image Stabilization Technologies</p>
        <p>Blurry photos are the bane of all photographers. They are caused by movement of the camera during exposure, such as the shaking of the photographer’s own hands; exacerbated by shooting&hellip;<a href="learning-articles/section1/image-stabilization-technologies.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Blurry photos are the bane of all photographers. They are caused by movement of the camera during exposure, such as the shaking of the&hellip;<a href="learning-articles/section1/image-stabilization-technologies.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/digital_img_format.jpg" width="272" height="124" alt="Digital Image Formats" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Digital Image Formats</p>
        <p>Today, there are dozens of digital image formats available. If you’ve been using a computer for any amount of time, you’re bound to have come across many; the most common being BMP, GIF&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Today, there are dozens of digital image formats available. If you’ve been using a computer for any amount of time, you’re bound to have&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/mirrorless_system.jpg" width="272" height="124" alt="Mirrorless System Cameras" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Mirrorless System Cameras</p>
        <p>A Mirrorless system camera is a class of digital camera that is developed as an alternative to DSLRs, often touting comparable image quality with the same sensor and image processors found in a&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">A Mirrorless system camera is a class of digital camera that is developed as an alternative to DSLRs, often touting comparable image quality&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/sensor_size.jpg" width="272" height="124" alt="Sensor Sizes" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Sensor Sizes</p>
        <p>Digital sensor sizes and their terminology have their roots in film. In the past, photographic film came in a few standard sizes – the most common being the 35mm standard – so named because of its width&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Digital sensor sizes and their terminology have their roots in film. In the past, photographic film came in a few standard&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/img_capture_sensor.jpg" width="272" height="124" alt="Image Capture: Sensor Technologies" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Image Capture: Sensor Technologies</p>
        <p>In any camera, something is needed to capture the light passing through the lens to create the image. In the past, it was photographic film; but in a digital camera, this is now done by a device known&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">In any camera, something is needed to capture the light passing through the lens to create the image. In the past, it was photographic film&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/img_capture_microprocessor.jpg" width="272" height="124" alt="Image Capture: The Microprocessor" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Image Capture: The Microprocessor</p>
        <p>Now that you know how digital camera sensors collects light that passes through its lens during exposure, what happens next is the conversion of this light data into the final output you see as a digital&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Now that you know how digital camera sensors collects light that passes through its lens during exposure, what happens next is the conversion&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/optical_low_pass_filter.jpg" width="272" height="124" alt="Optical Low Pass Filter and Moiré" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Optical Low Pass Filter and Moiré</p>
        <p>Digital cameras sometimes produce an optical error known as an aliasing or moiré effect when shooting subjects with repeating patterns or lines. The moiré effect can appear as jagged lines, blended lines&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Digital cameras sometimes produce an optical error known as an aliasing or moiré effect when shooting subjects with repeating patterns&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/crop_factor.jpg" width="272" height="124" alt="Crop Factor" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Crop Factor</p>
        <p>Take a lens and put it on two different DSLR cameras. They should both give you the same view, right? But they don’t always due to something called the crop factor&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Take a lens and put it on two different DSLR cameras. They should both give you the same view, right? But they don’t always due to&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/focal_length.jpg" width="272" height="124" alt="Focal Length" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Focal Length</p>
        <p>The focal length of a lens is the distance from its center to the film or sensor of a camera and is measured in millimeters. A longer focal length means it has a longer zoom range, so an 85mm lens will let you&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">The focal length of a lens is the distance from its center to the film or sensor of a camera and is measured in millimeters. A&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section1 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section1/thumb/phase_contrast_hybrid.jpg" width="272" height="124" alt="About Phase, Contrast and Hybrid Autofocus" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">About Phase, Contrast and Hybrid Autofocus</p>
        <p>Most digital cameras today rely on one of two methods to achieve auto-focus: Phase detection autofocus or contrast detection autofocus. Some cameras have also started to use a hybrid combination&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Most digital cameras today rely on one of two methods to achieve auto-focus: Phase detection autofocus or contrast detection autofocus&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>
<!-- section 1 -->



<!-- Section 2 -->
<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/white-balance.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/white_balance.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">White Balance</p>
        <p>Have you ever shot photographs indoors which turned out way too yellow or too blue? That happens because a camera’s image sensor can be confused into misinterpreting&hellip;<a href="learning-articles/section2/white-balance.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Have you ever shot photographs indoors which turned out way too yellow or too blue? That happens because a camera’s&hellip;<a href="learning-articles/section2/white-balance.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/making-sense-of-mtf-charts.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/making_sense_of_mtf_charts.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Making Sense of MTF Charts</p>
        <p>An MTF chart is a tool that allows photographers to judge the performance of a lens in terms of its ability to generate contrast and resolution. Most lens makers provide an MTF chart in the brochures&hellip;<a href="learning-articles/section2/making-sense-of-mtf-charts.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section1/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/noimage.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Caring for Your Cameras & Lenses</p>
        <p>A good digital camera and set of lenses can bring you many years, even decades of service if taken care of properly. To ensure your equipment is in tip-top condition, here are basic care and storage&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Camera technology takes a major leap forward with the introduction of the world’s first* OLED&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/exposure-reading-histograms.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/exposure_reading_histograms.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Exposure Reading Histograms</p>
        <p>Image histograms are graphical representations of the pixels that compose any digital image and their distribution according to tonal variation&hellip;<a href="learning-articles/section2/exposure-reading-histograms.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/ae_fe_af_lock.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">AE, FE & AF Lock</p>
        <p>AE Lock (AEL) stands for Auto Exposure Lock. Most advanced compact, DSLR and mirrorless camera models have a dedicated button to activate AE lock&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/mode_dial_explained.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Mode Dial Explained</p>
        <p>If you want to master your camera, the first thing you need to do after turning it on is to switch away from Auto. The path to photographic expression starts with the mode dial, where you decide how&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/flash_sync.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Flash Sync</p>
        <p>If you’ve never ventured into your camera’s built-in flash settings, you might be surprised by the different results you can get just by changing a few things. Depending on your camera model, you might&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/hyperfocal_distance_diffraction.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Hyperfocal Distance & Diffraction</p>
        <p>One of the challenges of landscape photography is focusing so that everything in your photograph looks sharp. In order to do that, you have to understand the hyperfocal distance and the&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/iso.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">ISO</p>
        <p>In traditional film photography, ISO refers to the measurement of light sensitivity of the film used in a camera. With the advent of digital photography, the term ISO is brought forward and continues to be used&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/aperture.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Aperture</p>
        <p>Aperture refers to the variable opening on a lens which light passes through. The physical device that controls aperture—often called a diaphragm or an iris—is made up of a series of circular interlocking blades&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/shutter_speed.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Shutter Speed</p>
        <p>In a camera, digital or otherwise, the shutter is a mechanical device that sits between the lens and the sensor (or film). When you press the "shutter release button" to take a photo, the shutter opens to let light come&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/depth_of_field.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Depth of Field</p>
        <p>Depth of field (DOF) is a term that’s used to describe the distance in front of and behind the actual focus point in a picture that remains in focus. In photography, your lens really only has a single precise focal point&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/metering_explained.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Metering Explained</p>
        <p>Every camera has a built-in light meter, and metering is the process of how your camera determines what the proper exposure should be for any scene. There are a few methods of doing this and most cameras&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/autofocus_areas_and_modes.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Autofocus Areas and Modes</p>
        <p>There are many options and techniques that can affect your final photo, from the creation of depth and background defocusing through aperture, to the illusion of speed through motion panning and slow&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section2 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section2/thumb/noimage.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Sony α Photography Cheat Sheet</p>
        <p><a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section2/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>
<!-- Section 2 -->


<!-- Section 3 -->
<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/lighting-with-flash-basics.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/lighting_with_flash_basics.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Lighting with Flash: Basics</p>
        <p>Like it or not, there are times when available light just isn’t enough and you have to bring your own light. If you’ve never ventured off the flash which came built into your camera, you may hate the way flash&hellip;<a href="learning-articles/section3/lighting-with-flash-basics.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/lighting-with-flash-advanced.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/lighting_with_flash_advanced.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Lighting with Flash: Advanced</p>
        <p>Now that you’ve learned the basics of using flash for well-lit shots and the essential properties and features of flash units, you can venture into more creative lighting by bringing more lights into the picture&hellip;<a href="learning-articles/section3/lighting-with-flash-advanced.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/the_rule_of_thirds.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">The Rule of Thirds</p>
        <p>Despite its name, the rule of thirds isn’t a rule at all, but a guiding principle to help us compose interesting images. Imagine dividing a frame into three equal parts with horizontal and vertical lines. The rule of&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Camera technology takes a major leap forward with the introduction of the world’s first* OLED&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/color.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Color</p>
        <p>Your choice of color establishes emotion, and through the careful use of color you can conjure specific emotional responses from your audience. Color is an essential element of composition, here’s how to use it&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/perspective.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Perspective</p>
        <p>Photography flattens three-dimensions into two, so how do we make it feel like our photos contain depth and space? Because the medium of photography is flat and two-dimensional, we need to&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/framing.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Framing</p>
        <p>Photography is the act of framing the world, one frozen moment at a time. So how do we arrange the frame itself? While we pay a lot of attention to the content within a photograph, we should pay as much&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/telling_a_story.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Telling a Story</p>
        <p>We all love a beautiful photograph, but photos which linger in our mind’s eye are the ones that transcend being just a pretty picture. They do more than convey an aesthetically pleasing combination of line, form and&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section3 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section3/thumb/exposure_the_stop_unit_and_ev_table.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Exposure: The Stop Unit and EV Table</p>
        <p>Photography can be daunting to the uninitiated with all the crosstalk between aperture, shutter speed and ISO speed. True, they’re all independent functions on their own, but at the same time they&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section3/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>
<!-- Section 3 -->



<!-- Section 4 -->
<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/portraits.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/portraits.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Portraits</p>
        <p>A portrait creates a relationship between two people; the subject and the viewer. How that relationship unfolds depends on you, the photographer. Portraits come in various types, ranging from outdoor to indoor&hellip;<a href="learning-articles/section4/portraits.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section4/portraits.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/wildlife.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Wildlife</p>
        <p>Wildlife photograph is especially challenging because it can require you to get out of your comfort zone in several areas, least of all in your photographic technique&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Camera technology takes a major leap forward with the introduction of the world’s first* OLED&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/action.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Action</p>
        <p>Photography is all about the decisive moment, and nothing tests your ability to capture the moment like shooting action. From racing cars that disappear in second, to a dog jumping for the ball, to a boxer’s face the&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/low_light.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Low Light</p>
        <p>There’s something alluring about the night. When the sun sets and shadows come out to play, the world you see through the lens becomes entirely new. But with its scarcity of light, night photography&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/landscape.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Landscape</p>
        <p>Landscape photography is about the spirit of spaces. The best landscapes don’t just show you what a place looks like; they reveal what a place feels like. Landscapes are often images of the natural world with a&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/macro.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Macro</p>
        <p>Macro photography is the art of shooting objects up close, making them stunningly larger than life. With a keen eye, even the smallest of things can become the most interesting of images&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/architecture.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Architecture</p>
        <p>Nestled behind the idea of a building are leading lines, complementary shapes, contrasting colors, rich textures and plays of light and shadow just waiting to be discovered. Photographing&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/shooting_for_stock.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Shooting for Stock</p>
        <p>Say you’ve been shooting for some time, and you’ve become quite adept at it. Your images have reached a level that comes close to a professional photographer’s and you ask yourself: What now? You could&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/black_and_white.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Black and White</p>
        <p>Nothing is as essential as a black and white photograph. In the absence of color, texture and line gain immediacy, a photograph becomes pure subject free from distraction. Shooting for black and white&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/travel.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Travel</p>
        <p>It’s never been easier to travel, but what about photographing your travels? Many travelers return from their trips with little more than memories of missed photos, and you don’t want that to happen to you&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/street.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Street</p>
        <p>Henri Cartier-Bresson once said that “there is nothing in this world that does not have a decisive moment.” Street photography is, in essence, the capture of those honest moments. Unlike shooting a&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section4 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section4/thumb/landscapes_filters.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Landscapes & Filters</p>
        <p>Filters help you get the photograph right in the camera. Despite how far digital capture and post-processing has become, there are still effects that can’t be faked and exposures which can’t be fixed&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Advanced image stabilization is a useful technology that compensates for camera-shake blur. This is&hellip;<a href="learning-articles/section4/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>
<!-- Section 4 -->


<!-- Section 5 -->
<div class="box-wrapper section5 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section5/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section5/thumb/working_with_raw.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Working with RAW</p>
        <p>Using Sony’s Image Data Converter (IDC) software to sort, rate and edit raw files shot from a Sony camera&hellip;<a href="learning-articles/section5/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography&hellip;<a href="learning-articles/section5/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>

<div class="box-wrapper section5 col-xs-6 col-sm-6 col-md-3">
    <div class="box-container center-block">
        <div class="img-wrapper">
            <a href="learning-articles/section5/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                <img src="img/learning/section5/thumb/photo_printing_and_resolution.jpg" width="272" height="124" alt="" class="center-block img-responsive">
            </a>
        </div>
        <p class="title">Photo Printing and Resolution</p>
        <p>Digital image resolution – All digital photos are composed of tiny dots called “pixels”. In general, resolution is the expression of its size in terms of pixels. For any digital display, resolution is usually stated as&hellip;<a href="learning-articles/section5/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p>
        <!-- <p class="hidden-md hidden-lg">Camera technology takes a major leap forward with the introduction of the world’s first* OLED&hellip;<a href="learning-articles/section5/viewfinder-technologies-evf-and-ovf.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">Read more <span>››</span></a></p> -->
    </div>
</div>
<!-- Section 5 -->
