#ambassadors-article {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top{
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		padding-top: 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 30px;
		}
	}
	.ambassadors-article-wrapper{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		#ambassador-header{
			width:100%; 
			max-width: 1200px;
			@media (max-width: @screen-sm-max) {
			    margin-top:23px;
			}
		}

		.ambassadors-article-container{
			
			// .maxWindowWidth();
			width: 100%;
			max-width: 978px;
			margin: auto;

			padding-top: 50px;
			margin-bottom: 70px;
			.font-roman();
			font-size: 13px;
			line-height: 1.3em;
			position: relative;
			// @media (min-width: 1264px) {
			// 	left: 50%;
			// 	margin-left: -622px;
			// }
			@media (max-width: @screen-sm-max) {
			    margin-bottom: 40px;
			}
			@media (max-width: @screen-xs-max) {
			    padding-top:25px;
			}
			h1{
				font-size: 55px;
			    line-height: 0.8em;
			    margin-bottom: 10px;
			    @media (max-width: @screen-xs-max) {
				    font-size: 36px;
				}
				@media (max-width: 330px) {
				    font-size: 26px;
				}
			}
			h2{
				// color: @sony-orange;
				font-size:28px;
				@media (max-width: @screen-xs-max) {
				    font-size: 18px;
				}
			}
			h3{
				color: @title-grey;
			}
			p{
				margin-bottom: 25px;
				line-height: 1.4em;
				&.sub-title{
					color: @sony-orange;
				}
			}
			.ambassador-img{
				@media (max-width: @screen-sm-max) {
				    padding-right:0;
				}
				img{
					@media (max-width: @screen-xs-max) {
					    width: 100%;
					}
				}
			}
			#ambassador-short-description{
				font-size: 18px;
				bottom: 0;
				color: #f05a23;
				margin-bottom: 0;
				line-height: 1.2em;
				padding-top: 20px;
			}
			#ambassador-intro{
				padding:40px 0;
				@media (max-width: @screen-xs-max) {
				    padding:30px 0 20px;
				}
				p{
					font-size:16px;
					@media (max-width: @screen-xs-max) {
					    font-size:13px;
					    margin-bottom:14px;
					}
				}
				#mobile-ambassador-short-description{
					font-size:13px;
					color:@sony-orange;
				}
			}
			#ambassador-photos-wrapper{
				width: 100%;
				.ambassador-hero-photo{
					width: 100%;
					position: relative;
					margin-bottom:20px;
					@media (max-width: @screen-xs-max) {
					    margin-bottom:0;
					}
					img{
						width: 100%;
						position: relative;
						&.hero-photo{
							position: absolute;
							top:0;
							display: none;
							&.first{
								display: block;
							}
						}
					}
				}
				.ambassadar-photo-description{
					text-align: center;
					padding: 0 55px;
					margin-bottom:20px;
					@media (max-width: @screen-sm-max) {
					    padding: 0 15px;
					}
					@media (max-width: @screen-xs-max) {
					    padding: 0;
					}
					p{
						display: none;
						&:first-child{
							display: block;
						}
					}
					&#sanjit-photo-description{
						height:125px;
						@media (max-width: @screen-sm-max) {
						    height: 90px;
						}
					}
				}
				.mobile-ambassadar-photo-description{
					height: auto;
					text-align: left;
					position: absolute;
					z-index: 40;
					bottom:0;
					display: none;
					p{
						display: none;
						margin-bottom:0;
						font-size:12px;
						background:rgba(0,0,0,0.7);
						padding:12px 8px;
						&:first-child{
							display: block;
						}
					}
				}
				#mobile-description-toggle{
					width: 90px;
				    background: grey;
				    padding: 5px;
				    text-align: center;
				    font-size: 11px;
				    margin-bottom:20px;
				}
				.ambassador-photo-thumbs{
					width: 940px;
					margin:0 auto;
					@media (max-width: 1000px) {
					    width: 660px;
					}
					@media (max-width: @screen-xs-max) {
					    width: 360px;
					}
					@media (max-width: 400px) {
					    width: 280px;
					}
					>div{
						text-align: center;
						img{
							cursor: pointer;
							display: inline-block;
							margin:3px 0;
							@media (max-width: @screen-xs-max) {
								width: 90%;
							}
							&.imgborder{
								border: 3px @sony-orange solid;
								margin:0;
								cursor: default;
								@media (max-width: @screen-xs-max) {
									margin:3px 0;
									border: 1px @sony-orange solid;
								}
							}
						}
					}
					.slick-next{
						background:url(../img/ambassadors/right.png);
						width: 16px;
						height: 31px;
						right: -20px;
						@media (max-width: 330px) {
						    width: 8px;
						    height: 15px;
						    background-size: cover;
						    right: -12px;
						}
						&:before{
							content:none;
						}
					}
					.slick-prev{
						background:url(../img/ambassadors/left.png);
						width: 16px;
						height: 31px;
						left: -20px;
						@media (max-width: 330px) {
						    width: 8px;
						    height: 15px;
						    background-size: cover;
						    left: -12px;
						}
						&:before{
							content:none;
						}
					}
				}
			}
			#ambassador-work-intro{
				padding:50px 0 40px;
				@media (max-width: @screen-xs-max) {
				    padding:30px 0 20px;
				}
				h3{
					color:@sony-orange;
					font-size:20px;
					padding-bottom:28px;
					@media (max-width: @screen-xs-max) {
					    font-size:15px;
						padding-bottom:18px;
					}
				}
				p{
					font-size:16px;
					@media (max-width: @screen-xs-max) {
					    font-size:13px;
					}
				}
			}
			.ambassador-nointro-margin{
				margin-top:35px;
			}
			.ambassador-accordion-title{
				width: 100%;
				padding:26px 60px 28px;
				font-size: 26px;
				color:white;
				background:#262626;
				margin-bottom:4px;
				position: relative;
				cursor: pointer;
				@media (max-width: @screen-xs-max) {
				    padding:20px;
				    font-size:14px;
				}
				&.expanded{
					background:#141414;
					color:@sony-orange;
					.arrw{
						background:url(../img/ambassadors/acc-arrow.png) top center;
					}
				}
				.arrw{
					width: 31px;
					height: 17px;
					position: absolute;
					right: 60px;
					top:50%;
					margin-top:-8px;
					background:url(../img/ambassadors/acc-arrow.png) bottom center;
					@media (max-width: @screen-xs-max) {
					    right: 20px;
					    width: 15px;
					    height: 8px;
					    margin-top: -4px;
					}
				}
			}
			.ambassador-accordion-content{
				padding:35px 60px;
				color:white;
				font-size: 16px;
				width: 100%;
				background:#141414;
				margin-bottom:4px;
				display: none;
				.ambassador-interview-questions{
					margin-bottom:0;
					color: @sony-orange;
				}
				// #ambassador-vid{
				// 	width: 100%;
				// 	max-width: 560px;
				// }
				&#ambassador-commission{
					a{
						display: block;
						font-size:23px;
						margin-bottom:16px;
						margin-top:50px;
						&:first-child{
							margin-top:0;
						}
						&:hover{
							text-decoration:underline;
						}
					}
				}
				&#ambassador-link{
					a{
						display: block;
						margin-bottom: 15px;
					}
				}
				@media (max-width: @screen-xs-max) {
				    padding:20px;
				    font-size:13px;
				}
				a{
					text-decoration:underline;
					&:hover{
							text-decoration:underline;
						}
				}
			}

		}
	}


	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}