#ambassador {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	header{
		border-bottom: 1px solid @border-grey;
		.navbar-fixed-top{
			@media (min-width: @screen-sm-max) {
				position: relative;
			}
		}
		.navbar-collapse{
			&.in, &.collapsing {
				a:first-child {
					border-top: none;
				}
			}
		}
	}

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		margin-top: 0;
		padding-top: 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 60px;
		}
	}
	//----------------------------------
	//	CONTAINER : START
	//----------------------------------
	.ambassador-wrapper{
		padding-bottom: 60px;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		.ambassador-container{
			.maxWindowWidth();
			padding-top: 36px;
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
				margin-bottom: 20px;
			}
		}
	}
	//----------------------------------
	//	CONTAINER : END
	//----------------------------------

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}