#comm-reviews {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top{
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	.secondary-nav {
		.secondary-nav-wrapper{
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				padding-top: 12px;
			}
		}
	}
	.secondary-nav-mobile {
		// position: relative;
		.filter-model {
			max-width: 440px;
			width: 100%;
			margin: 0 auto;
			text-align: left;
		}
		.filter-content-wrapper {
			display: block;
			padding-top: 10px;
			padding-bottom: 10px;
			 select {
			 	width: 100%;
			 	background-position: 95% center;
			 }
		}
	}
	.comm-secondary-nav {
		@media (min-width: @screen-sm-max) {
			border-top: 1px solid #333333;
			border-bottom: 1px solid #333333;
			z-index: 3;
			position: relative;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			li {
				float: left;
				padding: 0;
    			width: 16.667%;
    			border-left: 1px solid #333333;
    			text-align: center;
    			&:last-child {
    				border-right: 1px solid #333333;
    			}
    			&.current {
    				a { color: #ffffff; }
    			}
			}
			a {
				color: #666666;
				font-size: 16px;
			    padding: 20px 0;
			    display: block;
				&:hover {
					color: #ffffff;
				}
			}
			
		}
		.menu--floating {
			.menu-wrap {
			    position: fixed;
			    top: 0;
			    left: 0;
			    right: 0;
			    z-index: 3;
			    // width: 100%;
			    // max-width: 980px;
			    // margin: 0 auto;
			    background: #000;
				border-top: 1px solid #333333;
				border-bottom: 1px solid #333333;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	img {
		@media (max-width: @screen-sm-max) {
			margin: 0 auto;
		}
	}

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px;
		margin-top: 0;
		padding-top: 0;
		@media (max-width: @screen-sm-max) {
			padding-top: 51px;
		}
	}
	.paddingwithsecnav{
		@media (max-width: @screen-sm-max) {
			padding-top: 133px !important;
		}
	}
	
	.comm-reviews-wrapper{
		.comm-reviews-container{
			// .maxWindowWidth();
			width: 100%;
			max-width: 1200px;
			margin: auto;

			padding-top: 0;
			// margin-bottom: 70px;
			.font-roman();
			font-size: 13px;
			line-height: 1.3em;
			position: relative;

			&.no-logo {
				.content-wrapper .intro {
					padding-bottom: 0;
				}
				.intro h3 {
					padding-top: 20px;
				}
			}
			@media (max-width: @screen-sm-max) {
			    margin-bottom: 40px;
			    &.no-logo {
			    	margin-bottom: 0;
			    	.intro {
			    		padding-top: 20px;
			    		h3 {
			    			padding-top: 0;
			    		}
			    		p {
			    			margin-bottom: 0;
			    		}
			    	}
			    }
			}

			h2,
			h3{
				margin-bottom: 25px;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 15px;
				}
			}
			h2{
				color: @sony-orange;
			}
			h3{
				color: @title-grey;
			}
			h3.caption {
				font-size: 18px;
			}
			p{
				margin-bottom: 25px;
				line-height: 1.4em;
				&.sub-title{
					color: @sony-orange;
				}
			}

			


			//-----------------------------------
			//  REVIEWS ARTICLE : CONTENT : START
			//-----------------------------------
			.content-wrapper{
				@media (min-width: @screen-sm-max) {
					width: 100%;
					max-width: 980px;
					margin: auto;
					float: none;
				}
				.quote {
					font-size: 16px;
				}
				.text-wrapper {
					padding: 20px 0;
				}
				.marginbottom {
					margin-bottom: 20px;
				}
				.section-btm{
					margin-bottom: 80px;
				}
				.features-btm, .performance-btm, .row-btm{
					margin-bottom: 60px;
				}
				.small {
					font-style: italic;
					color: #999999;
				}
				.movie-box {

					@media (min-width: @screen-sm-max) {
						margin-bottom: 30px;
					}
					position: relative;
				    /* padding-bottom: 478px; */
				    padding-bottom: 56.2352941%;
				    &:hover {
				    	opacity: 0.85;
				    }
			    	.poster {
					    position: absolute;
					    z-index: 0;
					    width: 100%;
					    height: 100%;
					    -moz-transition: opacity 0.25s;
					    -webkit-transition: opacity 0.25s;
					    transition: opacity 0.25s;
					}
					&.video--isPlaying {
						.video-container iframe {
							opacity: 1;
						}
					}
					.video-container {
					    position: absolute;
					    z-index: 1;
					    width: 100%;
					    height: 100%;
				     	iframe {
						    position: absolute;
						    width: 100%;
						    height: 100%;
						    opacity: 0;
						    -moz-transition: opacity 0.3s 0.2s;
						    -webkit-transition: opacity 0.3s 0.2s;
						    transition: opacity 0.3s 0.2s;
						    -webkit-transform: translate3d(0,0,0);
						}
					}
				}
				.intro {
					.sub-header{
						// .font-light-italic();
						.font-roman();
						line-height: 1.2em;
					}
					@media (min-width: @screen-sm-max) {
						padding: 60px 0 40px 0;
						img {
							width: auto;
						}
						.logo h1 {
							padding-top: 10px;
						}
						h1{
							font-size: 48px;
						}
						.sub-header{
							font-size: 30px;
							margin-top: 10px;
						}
						p {
							font-size: 18px;
						}
					}

					@media (max-width: @screen-sm-max) {
						h1 {
							font-size: 32px;
						}
						.sub-header{
							font-size: 20px;
							margin-top: 5px;
							margin-bottom: 20px;
						}
						img {
							margin: 0;
						}
						.logo {
							padding-top: 40px;
							img {
								max-width: 170px;
								width: 100%;
								margin-bottom: 10px;
								&.type-logo{
									max-width: 130px;
								}
							}
						}
					}
				}
				.profile {

					@media (max-width: @screen-sm-max) {
						margin: 20px 0 30px;
					}
					.profile-details {

						@media (max-width: @screen-sm-max) {
							max-width: 269px;
							width: 100%;
							margin: 0 auto;
						}
					}
				}
				.message-section {
					background-color: #262626;
					padding: 40px 60px;
					@media (min-width: @screen-sm-max) {
						padding: 40px 20px 40px 60px;
					}
				}
			}
			//-----------------------------------
			//  REVIEWS ARTICLE : CONTENT : END
			//-----------------------------------

			
		}
	}


	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}