#gallery {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top {
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	.secondary-nav {
		.secondary-nav-wrapper {
			.filter-clear-wrap {
				margin-left: 25px;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px + 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 125px;
		}
	}
	.gallery-wrapper {
		margin-top: 10px;
		padding-bottom: 40px;
		background-color: #000000;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		.gallery-container {
			height: 100%;
			padding-top: 70px;

			.maxWindowWidth();
			> .row {
				margin: 0;
			}
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
			}
		}
	}
	.mfp-title {
		font-size: 16px;
		text-align: center;
		margin-top: 5px;
	}
	.mfp-counter {
		display: none;
	}
	button.mfp-arrow {
		visibility: visible;
		width: 18px;
		height: 31px;
		transition: opacity .35s ease;
	}
	button.mfp-close {
		width: 40px;
		height: 40px;
		color: transparent !important;
		background-image: url(images/grey_close_btn.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 1;
		@media (max-width: @screen-sm-max) {
			margin-right: 0;
		}
		&:hover,
		&:focus {
			background-position: center top;
			background-size: cover;
		}
	}
	button.mfp-arrow-right {
		background-color: transparent;
		background-image: url(../img/gallery/right-arrow-gallery.png);
		background-repeat: no-repeat;
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	button.mfp-arrow-left {
		background-color: transparent;
		background-image: url(../img/gallery/left-arrow-gallery.png);
		background-repeat: no-repeat;
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	.mfp-arrow {
		margin-top: 0;
	}
	.mfp-arrow-left {
		left: 3em;
	}
	.mfp-arrow-right {
		right: 3em;
	}
	/* overlay at start */
	.mfp-fade.mfp-bg {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		position: fixed !important;
		opacity: .85;

		filter: alpha(opacity=85); /* IE8 and lower */
		@media (max-width: @screen-xs-max) {
			opacity: .9;
		}
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}
	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
