#learning-article {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top {
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	//----------------------------------
	//	SECONDARY NAV : DESKTOP : START
	//----------------------------------
	.secondary-nav {
		@media (max-width: @screen-sm-max) {
			position: fixed;
			height: 110px;
			margin-top: 50px;
		}
		@media (max-width: @screen-xs-max) {
			height: 95px;
			padding: 10px;
		}
		.secondary-nav-wrapper {
			margin: auto;
			@media (min-width: @screen-sm-max) {
				max-width: 920px;
			}
			@media (min-width: 568px) and (max-width: @screen-sm-max) {
				max-width: 620px;
			}
			@media (min-width: 414px) and (max-width: 567px) {
				max-width: 350px;
			}
			@media (max-width: 375px) {
				max-width: 320px;
			}
			.filter-slider {
				opacity: 0;
			}
			.filter-title {
				text-align: left;
			}
			//--------------------------
			//	SLIDER
			//--------------------------
			.slick-next {
				&:before {
					content: '';
				}
				@media (min-width: 414px) and (max-width: 567px) {
					right: -20px;
				}
				@media (max-width: 375px) {
					right: -15px;
				}
			}
			.slick-prev {
				z-index: 2;
				&:before {
					content: '';
				}
				z-index: 2;
				@media (min-width: 414px) and (max-width: 567px) {
					left: -20px;
				}
				@media (max-width: 375px) {
					left: -15px;
				}
			}
			//--------------------------
			//	FILTER : CATEGORY
			//--------------------------
			.filter-section {
				.filter-btn {
					width: 165px;
					max-width: 165px;
					height: 54px;
					padding: 10px;
					padding-top: 20px;
					@media (max-width: @screen-sm-max) {
						height: 50px;
						padding: 5px;
						padding-top: 10px;
					}
					@media (min-width: 414px) and (max-width: @screen-sm-max) {
						width: 100px;
					}
					@media (max-width: 413px) {
						width: 85px;
					}
				}
			}
		}
	}
	//----------------------------------
	//	SECONDARY NAV : DESKTOP : END
	//----------------------------------
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		@media (max-width: @screen-sm-max) {
			padding-top: 159px;
		}
		@media (max-width: @screen-xs-max) {
			padding-top: 145px;
		}
	}
	.learning-article-wrapper {
		padding-bottom: 40px;
		@media (max-width: @screen-xs-max) {
			// padding: 0;
			padding-bottom: 40px;
		}
		.learning-article-container {
			.maxWindowWidth();
			h1 {
				margin-bottom: 25px;
				@media (max-width: @screen-xs-max) {
					font-size: 25px;
				}
			}
			h2 {
				margin-bottom: 25px;
				color: @sony-orange;
			}
			p {
				font-size: 13px;
				line-height: 1.3em;
				margin-bottom: 25px;
			}
			.sub-title {
				color: @sony-orange;
			}
			.img-caption {
				color: #878787;

				.font-italic();
			}
			.img-container {
				margin-bottom: 20px;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 25px;
				}
			}
			.row-container {
				&:nth-child(odd) {
					background-color: #000000;
				}
				&:nth-child(even) {
					overflow: auto;
					background-color: #262626;
				}
				@media (min-width: @screen-sm-min) {
					overflow: auto;
					margin-right: -15px;
					margin-left: -15px;
					padding: 36px 15px;
				}
				@media (max-width: @screen-sm-max) {
					padding: 36px 0 10px;
				}
				.info-wrapper {
					margin-bottom: 30px;
					@media (max-width: @screen-sm-max) {
						margin-bottom: 0;
					}
				}
				ul {
					-webkit-padding-start: 20px;
					li {
						margin-bottom: 18px;
						@media (max-width: @screen-sm-max) {
							margin-bottom: 25px;
						}
					}
				}
				table {
					width: 100%;
					margin-bottom: 25px;
					table-layout: fixed;
					tr {
						td {
							padding: 10px;
							text-align: center;
							border: 1px solid #ffffff;
						}
					}
				}
				// .content-right{
				// 	@media (min-width: @screen-sm-max) {
				// 		max-width: 590px;
				// 		float: right;
				// 	}
				// }
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
