#learning {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top{
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	//----------------------------------
	//	SECONDARY NAV : DESKTOP : START
	//----------------------------------
	.secondary-nav {
		@media (max-width: @screen-sm-max){
			position: fixed;
			height: 110px;
			margin-top: 50px;
		}
		@media (max-width: @screen-xs-max){
			height: 95px;
    		padding: 10px;
		}
		.secondary-nav-wrapper{
			margin:auto;
			@media (min-width: @screen-sm-max) {
				max-width:920px;
			}
			@media (min-width: 568px) and (max-width: @screen-sm-max) {
				max-width: 620px;
			}
			@media (min-width: 414px) and (max-width: 567px) {
				max-width: 350px;
			}
			@media (max-width: 375px) {
				max-width: 320px;
			}
			// @media (max-width: 320px) {
			// 	max-width: 290px;
			// }
			.filter-slider{
				opacity:0
			}
			.filter-title {
				text-align: left;
			}
			//--------------------------
			//	SLIDER
			//--------------------------
			.slick-next {
				&:before {
                    content: '';
                }
				@media (min-width: 414px) and (max-width: 567px) {
					right: -20px;
				}
				@media (max-width: 375px) {
					right: -15px;
				}
			}
			.slick-prev {
				z-index: 2;
				&:before {
                    content: '';
                }
				@media (min-width: 414px) and (max-width: 567px) {
					left: -20px;
				}
				@media (max-width: 375px) {
					left: -15px;
				}
			}
			//--------------------------
			//	FILTER : CATEGORY
			//--------------------------
			.filter-section {
				.filter-btn {
					width: 165px;
					max-width: 165px;
					height: 54px;
					padding: 10px;
					padding-top: 20px;
					// @media (min-width: @screen-sm-min) and (max-width: 1244px) {
					@media (max-width: @screen-sm-max){
						height: 50px;
						padding: 5px;
						padding-top: 10px;
					}
					@media (min-width: 414px) and (max-width: @screen-sm-max){
						width: 100px;
					}
					@media (max-width: 413px){
						width: 85px;
					}
				}
			}
		}
	}
	//----------------------------------
	//	SECONDARY NAV : DESKTOP : END
	//----------------------------------

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		@media (max-width: @screen-sm-max) {
			padding-top: 159px;
		}
		@media (max-width: @screen-xs-max) {
			padding-top: 145px;
		}
	}
	.learning-wrapper{
		padding-bottom: 40px;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		.learning-container{
			.maxWindowWidth();
			padding-top: 36px;
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
				margin-bottom: 20px;
			}
			.section-title{
				h1 {
					margin-bottom: 36px;
					@media (max-width: @screen-xs-max) {
						margin-bottom: 15px;
					}
				}
			}
			.box-wrapper{
				// height: 330px;
				margin-bottom: 20px;
				// @media (max-width: @screen-sm-max) {
				// 	margin-bottom: 30px;
				// 	height: 280px;
				// }
				// @media (min-width: 667px) and (max-width: 736px)  {
				// 	height: 270px !important;
				// }
				// @media (min-width: 568px) and (max-width: 666px)  {
				// 	height: 240px !important;
				// }
				@media (max-width: @screen-xs-max) {
					// height: 250px;
					padding-left: 9px;
					padding-right: 9px;
					// margin-bottom: 20px;
				}
				.box-container{
					max-width: 351px;
					.img-wrapper{
						border: 1px solid @border-grey;
						background-color: #000000;
						img{
							max-width: 100%;
    						height: auto;
    						width: auto
						}
					}
					p{
						font-size: 13px;
						line-height: 1.3em;
						@media (max-width: @screen-xs-max) {
							font-size: 11px;
						}
						&.title{
							.font-roman();
							font-size: 18px;
							margin: 22px auto 25px;
							@media (max-width: @screen-xs-max) {
								font-size: 14px;
								margin: 22px auto 15px;
							}
						}
						a{
							color: @sony-orange;
							&:hover,
							&:focus,
							&.active {
								color: #ffffff;
							}
						}
					}

				}
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}