#playmemories {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	header{
		border-bottom: 1px solid @border-grey;
		.navbar-fixed-top{
			@media (min-width: @screen-sm-max) {
				position: relative;
			}
		}
		.navbar-collapse{
			&.in, &.collapsing {
				a:first-child {
					border-top: none;
				}
			}
		}
	}

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		margin-top: 0;
		padding-top: 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 60px;
		}
	}
	.playmemories-wrapper{
		padding-bottom: 60px;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		//----------------------------------
		//	APPS : START
		//----------------------------------
		.playmemories-app-container{
			.maxWindowWidth();
			padding-top: 45px;
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
				margin-bottom: 20px;
			}
			.box-wrapper{
				width: 20%;
				// height: 100%;
				// max-height: 220px;
				margin-bottom: 20px;
				float: left;
				@media (max-width: 1023px) {
					width: 33.333%;
					// max-height: none;
				}
				@media (max-width: 768px) {
					margin-bottom: 30px;
					width: 50%;
				}
				a{
					&:hover,
					&:focus,
					&.active {
						color: #ffffff;
					}
					&:hover{
						.box-container{
							@media (min-width: @screen-md-max) {
								background-color: #4b4f5a;
								transition: background-color .35s ease;
							}
						}
					}
				}
				.box-container{
					// max-width: 351px;
					// max-width: 260px;
					// height: 220px;
					background-color: @blue-grey;
					width: calc(100% - 10px);
					// min-height: 197px;
					padding: 15px 7px;
					// @media (min-width: 376px) and (max-width: @screen-xs-min) {
					// 	min-height: 200px !important;
					// }
					// @media (min-width: 321px) and (max-width: 375px) {
					// 	min-height: 190px !important;
					// }
					// @media (max-width: 320px) {
					// 	min-height: 165px;
					// }
					.img-wrapper{
						margin-bottom: 15px;
						img{
							max-width: 100%;
    						height: auto;
    						width: auto
						}
					}
					.apps-info{
						.icon-wrapper{
							width: 25%;
							margin-right: 5px;
							img{
								max-width: 100%;
	    						height: auto;
	    						width: auto
							}
						}
						p{
							&.name{
								.font-roman();
								font-size: 13px;
								line-height: 1.3em;
								padding-top: 5px;
							}
						}
					}
				}
			}
		}
		//----------------------------------
		//	APPS : END
		//----------------------------------

		//----------------------------------
		//	WHAT IS PLAYMEMORIES : START
		//----------------------------------
		.playmemories-what-container{
			padding-top: 36px;
			padding-left: 15px;
			font-size: 13px;
			line-height: 1.3em;
			.font-roman();
			.maxWindowWidth();
			@media (max-width: @screen-sm-max) {
				padding-left: 0px;
				padding-top: 40px;
			}
			.info{
				@media (max-width: @screen-sm-max) {
					padding-left: 15px;
				}
				p{
					margin: 17px 0px 42px;

				}
			}
			.box-wrapper{
				width: 360px;
				margin-bottom: 10px;
				height: auto;
				float: left;
				@media (max-width: 1125px) {
					width: 315px;
				}
				@media (max-width: @screen-sm-max) {
					width: 50%;
				}
				// &.last{
				// 	@media (max-width: @screen-sm-max) {
				// 		margin-top: -80px;
				// 	}
				// 	@media (max-width: @screen-xs-max) {
				// 		margin-top: -120px;
				// 	}
				// }
				.box-container{
					width: calc(100% - 10px);
					@media (max-width: @screen-sm-max) {
						margin: auto;
					}
					.img-wrapper{
						margin-bottom: 15px;
						img{
							max-width: 100%;
							height: auto;
							width: auto
						}
					}
					p{
						@media (max-width: @screen-xs-max) {
							font-size: 11px;
						}
						&.title{
							.font-roman();
							font-size: 18px;
							line-height: 1.3em;
							margin: 22px auto 25px;
							@media (max-width: @screen-xs-max) {
								font-size: 14px;
								margin: 22px auto 15px;
							}
						}
					}
				}
			}
		}
		//----------------------------------
		//	WHAT IS PLAYMEMORIES : END
		//----------------------------------
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}