#product {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top {
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px + 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 125px;
		}
	}
	.products-wrapper {
		padding-bottom: 40px;
		background-color: #000000;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		.products-container {
			height: 100%;
			padding-top: 70px;

			.maxWindowWidth();
			> .row {
				margin: 0;
			}
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
			}
			.box-wrapper {
				position: relative;
				// background-color: grey;
				margin-top: 25px;
				margin-bottom: 25px;
				.box-container {
					margin: auto;
					// width: 272px;
					cursor: pointer;
					.box-cta {
						&:hover {
							@media (min-width: @screen-md-max) {
								.img-container {
									transition: opacity .35s ease;
									opacity: .8;
								}
							}
						}
					}
					.img-wrapper {
						// width: 272px;
						// height: 178px;
						border: 1px solid @border-grey;
						background-color: #000000;
						// @media (max-width: @screen-sm-max) {
						// width: 136px;
						// height: 63px;
						// }
						.img-container {
							img {
								width: auto;
								// width: 220px;
								// height: 152px;
								max-width: 80%;
								height: auto;
							}
							.type-logo {
								position: absolute;
								top: 5px;
								right: 20px;
								width: 45px;
								padding: 5px;
								@media (max-width: @screen-xs-min) {
									width: 30px;
								}
								img {
									max-width: 100%;
								}
							}
						}
					}
					.name {
						font-size: 18px;
						line-height: 1.4;
						margin-top: 20px;

						.font-roman();
					}
					.model {
						font-size: 12px;
					}
					ul {
						margin-top: 20px;
						margin-bottom: 25px;
						padding-left: 15px;
						li {
							line-height: 1.4;
							margin-bottom: 5px;
						}
					}
					.cta {
						position: absolute;
						right: 0;
						bottom: 0;
						left: 0;
						display: block;
						margin: 0 15px;
						padding: 15px 20px;
						transition: background-color .35s ease;
						background-color: #2b2f3a;
						&:hover,
						&:focus,
						&.active {
							color: #ffffff;
							background-color: @sony-orange;
						}
					}
				}
			}
			.content-placeholder {
				position: relative;
				display: none;
				height: auto !important;
				// height: 275px;
				padding-bottom: 35px;
				background-color: #2b2f3a;
				/*@media (max-width: @screen-sm-max) {
					height: 300px;
				}
				@media (max-width: @screen-xs-max) {
					height: 450px;
				}*/
				.indicator {
					position: absolute;
					top: -10px;
					left: 0;
				}
				.content {
					width: 100%;
					max-width: 1200px;
					height: 100%;
					margin: auto;
					> .row {
						margin: 0;
					}
					.explore-box {
						@media (min-width: @screen-md-max) {
							width: 20%;
						}
						@media (max-width: @screen-xs-max) {
							padding: 0 5px;
						}
					}
					.wrapper {
						max-width: 220px;
						margin-top: 35px;
						.title {
							font-size: 13px;
							margin-bottom: 15px;
							// white-space: nowrap;
							color: @sony-orange;
							line-height: 1.3;
							height: auto;
							display: block;
						}
						a {
							&.box-cta, &.com_reviews-cta {
								display: block;
								background-color: #000000;
								background-repeat: no-repeat;
								background-position: center;
								background-size: contain;
								img {
									visibility: hidden;
									opacity: 0;
								}
							}
							&.com_reviews-cta {
								background-size: cover;
							}
						}
						.img-opacity {
							opacity: .6;
						}
						.description {
							margin-top: 20px;
						}
					}
				}
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
