#reviews-article {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top{
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	.secondary-nav {
		.secondary-nav-wrapper{
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				padding-top: 12px;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px;
		@media (max-width: @screen-sm-max) {
			padding-top: 90px;
		}
	}
	.reviews-article-wrapper{
		.reviews-article-container{
			// .maxWindowWidth();
			width: 100%;
			max-width: 750px;
			margin: auto;

			padding-top: 20px;
			margin-bottom: 70px;
			.font-roman();
			font-size: 13px;
			line-height: 1.3em;
			position: relative;
			// @media (min-width: 1264px) {
			// 	left: 50%;
			// 	margin-left: -622px;
			// }
			@media (max-width: @screen-sm-max) {
			    margin-bottom: 40px;
			}

			h1,
			h2,
			h3{
				margin-bottom: 25px;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 15px;
				}
			}
			h2{
				color: @sony-orange;
			}
			h3{
				color: @title-grey;
			}
			p{
				margin-bottom: 25px;
				line-height: 1.4em;
				&.sub-title{
					color: @sony-orange;
				}
			}
			.download-btn-wrapper {
				padding: 15px 0px;
				text-align: right;
				@media (max-width: @screen-sm-max) {
					text-align: center;
				}
				.download-btn {
					font-size: 13px;
					padding: 12px 20px;
					transition: opacity .35s ease;
					color: #ffffff;
					background-color: #2b2f3a;

					.font-light();
					&:hover,
					&:focus {
						opacity: .85;
						color: #ffffff;
					}
					&.marginright{
						margin-right: 10px;
					}
					.triangle{
						display: inline-block;
						margin-left: 6px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 5px 0 5px 5px;
						border-color: transparent transparent transparent #cccccc;
					}
				}

			}


			//-----------------------------------
			//  REVIEWS ARTICLE : CONTENT : START
			//-----------------------------------
			.content-wrapper{
				.marginbottom {
					margin-bottom: 20px;
				}
				.section-btm{
					margin-bottom: 80px;
				}
				.features-btm, .performance-btm, .row-btm{
					margin-bottom: 60px;
				}
				table.spec{
					// margin: 0 auto;
					// width: 100%;
					// border-top: 1px solid #bcbcbc;
					border: 1px solid #3c3d3e;
					border-bottom: 0px;
					@media (max-width: @screen-sm-max) {
						border: 0px;
					}
					td{
						padding: 5px 15px;
						border-bottom: 1px solid #3c3d3e;
						border-top: 0px;
						text-align: left;
						vertical-align: middle;
						&.title{
							background-color: #333333;
							font-weight: bold;
							line-height: 160%;
							color: #f9f9f9;
							@media (min-width: @screen-sm-max) {
								width: 20%; 
							}
						}
						&.type{
							width: 80%;
							font-size: 13px;
							line-height: 160%;
						}
					}
				}
				table.comparison{
					@media (max-width: @screen-sm-max) {
						border: 0px;
					}
					&.comparison-col-2{
						td{
							width: 50%;
						}
					}
					&.comparison-col-3{
						td{
							width: 33.3333%;
						}
					}
					td{
						padding: 12px;
						border-bottom: 1px solid #3c3d3e;
						border-top: 0px;
						font-weight: normal;
						line-height: 160%;
						color: #f9f9f9;
						text-align: center;
						vertical-align: middle;
						.highlighted{
							color: @sony-orange;
						}
					}
				}
				table.multi-col{
					@media (max-width: @screen-sm-max) {
						border: 0px;
					}
					&.multi-col-4{
						td{
							width: 25%;
						}
					}
					&.multi-col-5{
						td{
							width: 20%;
						}
					}
					&.multi-col-6{
						td{
							width: 16.6667%;
						}
					}
					&.multi-col-7{
						td{
							width: 14.2857%;
						}
					}
					&.multi-col-8{
						td{
							width: 12.5%;
						}
					}
					&.multi-col-9{
						td{
							width: 11.1111%;
						}
					}
					&.multi-col-10{
						td{
							width: 10%;
						}
					}
					td{
						padding: 12px;
						border-bottom: 1px solid #3c3d3e;
						border-top: 0px;
						font-weight: normal;
						line-height: 160%;
						color: #f9f9f9;
						text-align: center;
						vertical-align: middle;
						.highlighted{
							color: @sony-orange;
						}
						&.title{
							background-color: #333333;
							font-weight: bold;
							color: #f9f9f9;
						}
					}
				}
				table.playmemories{
					@media (max-width: @screen-sm-max) {
						border: 0px;
					}
					td{
						padding: 12px;
						border: 0px;
						line-height: 160%;
						color: #f9f9f9;
						text-align: left;
						width: 70%;
						@media (max-width: @screen-sm-max) {
							width: 50%;
						}
						&.img-wrap{
							width: 30%;
							@media (max-width: @screen-sm-max) {
								width: 50%;
							}
						}
					}
				}
				.img_spec-wrapper{
					margin-top: 8px;
					margin-bottom: 20px;
					p{
						margin-bottom: 0;
						@media (max-width: @screen-sm-max) {
							text-align: center;
							margin-bottom: 5px;
						}
					}
					&.portrait{
						width: 532px;
						@media (max-width: @screen-xs-max) {
							width: 100%;
						}
					}
				}
				.picture_effects{
					margin-bottom: 20px;
					.sub-title{
						font-size: 14px;
						margin-bottom: 10px;
						@media (max-width: @screen-sm-max) {
							margin-top: 10px;

						}
					}
					p{
						@media (max-width: @screen-sm-max) {
							margin-bottom: 10px;
						}
					}
					.download-btn-wrapper {
						text-align: left;
						@media (max-width: @screen-sm-max) {
							text-align: center;
						}
					}
				}
				.text-box-content{
					padding: 40px 40px 15px;
					background-color: #333333;
					@media (max-width: @screen-sm-max) {
						padding: 20px 20px 5px;
					}
					.title{
						.font-bold();
						color: @sony-orange;
						margin-bottom: 10px;
					}
				}
				#photoanalysis-noise_comparison{
					.sub-title{
						font-size: 16px;
						margin-bottom: 10px;
						.font-bold();
					}
				}

				.text-row{
					// margin-bottom: 20px;
					// .title{
					// 	color: @sony-orange;
					// 	margin-bottom: 25px;
					// 	text-transform: uppercase;
					// 	@media (max-width: @screen-sm-max) {
					// 		margin-bottom: 10px;
					// 	}
					// }
					// p{
					// 	margin-bottom: 0;
					// }
					.content-left, .content-right{
						@media (max-width: @screen-sm-max) {
							margin-bottom: 40px;
						}
					}
					// .content-img{
					// 	margin-bottom: 20px;
					// }
				}
			}
			//-----------------------------------
			//  REVIEWS ARTICLE : CONTENT : END
			//-----------------------------------

			//-----------------------------------
			//  REVIEWS ARTICLE : VIDEO : START
			//-----------------------------------
			// .video-wrapper{
			// 	text-align: center;
			// 	padding-left: 30px;
   //  			padding-right: 30px;
   //  			@media (max-width: @screen-sm-max) {
   //  				padding-left: 15px;
   //  				padding-right: 15px;
   //  			}
			// }
			.html5-info-bar {
				display: none;
			}
			//-----------------------------------
			//  REVIEWS ARTICLE : VIDEO : END
			//-----------------------------------

			//-----------------------------------
			//  REVIEWS ARTICLE : MODELS : START
			//-----------------------------------
			.models-wrapper{
				margin-top: 75px;
				@media (max-width: @screen-sm-max) {
					margin-top: 50px;
				}
				.models-row{
					.models-slider{
						opacity: 0;
						margin-top: 10px;
						.model-item{
							max-width: calc(100% - 7px);
							transition: opacity .35s ease;
							@media (min-width: @screen-sm-min) {
								cursor: pointer;
							}
							&:hover,
							&:focus {
								.img-wrapper img{
									opacity: .8;
								}
							}
							.img-wrapper{
								width: auto;
								height: 102px;
								border: solid @border-grey 1px;
								position: relative;
								@media (min-width: @screen-md-max) and (max-width: 1244px) {
									height: 85px;
								}
								@media (max-width: @screen-md-max){
									height: 95px;
								}
								@media (max-width: @screen-sm-max){
									height: 110px;
								}
								@media (max-width: @screen-xs-max){
									height: 85px;
								}
								.img-container{
									position: absolute;
								    top: 0;
								    bottom: 0;
								    left: 0;
								    right: 0;
								    width: 90%;
								    @media (min-width: @screen-md-max) and (max-width: 1244px) {
										width: 80%;
									}
								    @media (max-width: @screen-sm-max){
							    		width: 80%;
							    	}
								    @media (max-width: @screen-xs-max){
							    		width: 90%;
							    	}
								    &:before{
								    	content: ' ';
									    display: inline-block;
									    vertical-align: middle;
									    height: 100%;
								    }
								    img{
								    	vertical-align: middle;
								    	display: inline-block;
								    }
								}
							}
							p{
								margin-top: 10px;
							}
						}
					}
				}
			}
			//-----------------------------------
			//  REVIEWS ARTICLE : MODELS : END
			//-----------------------------------
		}
	}


	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}