#main {
  background: black;
  padding-bottom: 0;
}
#shoot {
  // @media (max-width: @screen-md-min) {
  //   display: none;
  // }
  .navbar-fixed-top{
    @media (min-width: @screen-sm-max) {
      position: relative;
    }
  }
  .secondary-nav-wrapper a {
    display: inline-block;   
  }
}
.shooting-container { 
  padding: 0 20px;
  margin-bottom: 40px;
  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    padding: 0;
  }
}
#shooting-viewer {
  position: relative;
  margin-top: 1em;
  .imageFrame {
    text-align: center;
    background: url(../img/shoot/common/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
  }
  .mapFrame {
    position: absolute;
    top: 0;
  }
  .mapFrame .positionWrapper {
    position: relative;
    z-index: 10;
    .best-shot {
      position: absolute;
      top: 10px;
      right: 10px;
      background: url(../img/shoot/common/icon-featured.png);
      width: 26px;
      height: 26px;
      display: none;
    }
    .next-subsection, .prev-subsection {
      position: absolute;
      right: 0;
      top: 45%;
      font-size: 48px;
      cursor: pointer;
      width: 24px;
      height: 45px;
      text-align: right;
      padding-right: 10px;
      z-index: 110;
      color: #555;
      &:hover {
        color: #f77b01;
        background-position:bottom;
      }
    }
    .prev-subsection {
      right: 115%;
      text-align: left;
      background-image: url(../img/shoot/common/slick-left-arrow-shoot.png);
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        right: 102%;
      }
    }
    .next-subsection {
      left: 115%;
      text-align: left;
      background-image: url(../img/shoot/common/slick-right-arrow-shoot.png);
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        left: 102%;
      }
    }
    .index-display {
      position: absolute;
      text-align: center;
      left: 0;
      bottom: 0;
      font-family: avalonregular, Helvetica, Arial, sans-serif;
      font-size: 18px;
      background-image: url(../img/shoot/common/paging-bg.png);
      background-position: top center;
      background-repeat: no-repeat;
      height: 30px;
      width: 100%;
    }
    .pin {
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      width: 30px;
      height: 30px;
      line-height: 30px;
      background-image: url(../img/shoot/common/pin_square_sm.png);
      z-index: 100;
      text-align: center;
      margin-left: -15px;
      margin-top: -15px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-position: -30px 0;
      }
    }
    .popover {
      border-radius: 0;
      width: 200px;
      background: black;
      background: rgba(35, 35, 35, 0.7);
      padding: 5px 5px;
      .arrow {
        display: none;
      }
      .popover-content {
        color: #fff;
        font-size: 12px;
        background: url(../img/shoot/common/pin-close.png) no-repeat top right;
        padding: 9px 18px;
      }
    }
    .effect-overlay {
      z-index: 10;
      position: absolute;
    }
  }
  .frame {
    text-align: center;
    position: relative;
  }
}
#shooting-control {
  .social-bar {
    text-align: right;
  }
  .stepper-container {
    position: relative;
  }
  .prev-subsection, .next-subsection {
    position: absolute;
    top: 45%;
    color: #999999;
    font-size: 48px;
    cursor: pointer;
  }
  .prev-subsection {
    left: 2%;
  }
  .next-subsection {
    right: 1%;
  }
  ul.stepper {
    display: block;
    // float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 95%;
    box-sizing: border-box;
    padding-left: 7%;
    > li {
      list-style-type: none;
      box-sizing: border-box;
      float: left;
      display: block;
      position: relative;
      > a {
        position: absolute;
        width: 11px;
        height: 11px;
        overflow: hidden;
        left: -6px;
        top: 3px;
        z-index: 10;
        background-image: url(../img/shoot/common/shoot-stepper-nodes-new.png);
        &.done {
          background-position: -11px 0;
        }
      }
      > ul {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li {
          display: inline-block;
          min-width: 25%;
          list-style-type: none;
          position: relative;
          background: rgb(44, 44, 44);
          border: 1px solid #000;
          line-height: 20px;
          height: 5px;
          &.done {
            background: rgb(240, 90, 35);
          }
          &:hover {
            background: rgb(207, 78, 0);
          }
          > a {
            height: 5px;
            display: block;
          }
        }
      }
    }
  }
  .index-display {
    font-family: avalonregular, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-top: 1em;
    margin-left: 2em;
    color: #8c898a;
  }
  .title {
    font-family: avalonregular, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-top: 0.5em;
    margin-left: 2em;
  }
  .meta {
    font-size: 11px;
    text-align: center;
    display: none;
  }
}
#lens-recommendations {
  .slick-next {
    width: 24px;
    height: 45px;
    background-image: url(../img/shoot/common/slick-right-arrow-shoot.png);
    right: -75px;
    margin-top: -20px;
    &:hover {
      background-position: bottom;
    }
    &:before, &:after {
      content: '';
    }
  }
  .slick-prev {
    display: none !important;
  }
  .models-wrapper{
        margin-top: 75px;
        @media (max-width: @screen-sm-max) {
          margin-top: 50px;
        }
        .models-row{
          // @media (min-width: @screen-sm-max) {
          //  padding-left: 15px;
          //  padding-right: 15px;
          // }
          .models-slider{
            opacity: 0;
            margin-top: 10px;
            .model-item{
              max-width: calc(100% - 7px);
              transition: opacity .35s ease;
              @media (min-width: @screen-sm-min) {
                cursor: pointer;
              }
              &:hover,
              &:focus {
                .img-wrapper img{
                  opacity: .8;
                }
              }
              .img-wrapper{
                width: auto;
                height: 102px;
                border: solid @border-grey 1px;
                position: relative;
                @media (min-width: @screen-md-max) and (max-width: 1244px) {
                  height: 85px;
                }
                @media (max-width: @screen-md-max){
                  height: 95px;
                }
                @media (max-width: @screen-sm-max){
                  height: 110px;
                }
                @media (max-width: @screen-xs-max){
                  height: 85px;
                }
                .img-container{
                  position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 80%;
                    @media (min-width: @screen-md-max) and (max-width: 1244px) {
                    width: 80%;
                  }
                    @media (max-width: @screen-sm-max){
                      width: 80%;
                    }
                    @media (max-width: @screen-xs-max){
                      width: 90%;
                    }
                    &:before{
                      content: ' ';
                      display: inline-block;
                      vertical-align: middle;
                      height: 100%;
                    }
                    img{
                      vertical-align: middle;
                      display: inline-block;
                    }
                }
              }
              p{
                margin-top: 10px;
              }
            }
          }
        }
      }
}

#shooting-recommendations {
  display: none;
  position: absolute;
  height: auto;
  width: 85%;
  left:8%;
  top: 25%;
  z-index: 999;
  .recommendations-header {
    background: #000;
    padding: 20px;
    h3 {
      margin: 0;
      font-family: 'avalonregular',Helvetica,Arial,sans-serif;
      font-weight: normal;
      color: #f77b01;
      text-transform: capitalize;
      span {
        color: #ccc;
        font-size: 0.8em;
        font-style: oblique;
        text-transform: none;
      }
    }
  }
  .recommendations-body {
    background-image: url(../images/black-grey-dot.png);
    min-height: 100px;
    table {
      width: 100%;
    }
    td {
      vertical-align: top;
    }
    th {
      font-size: 12px;
      padding: 4px;
      text-align: center;
    }
    .lens-container {
      float: left; width: 72px; display: inline-block; margin: 2px;
      text-align: center;
      img {
        width: 64px;
        height: 64px;
      }
    }
    a:link, a:visited {
      color: #f77b01;
      text-decoration: non;
      font-weight: bold;
      font-size: 11px;
    }
    a:hover {
      text-decoration: underline;;
    }
  }
}
