@import '../bower_components/bootstrap/less/bootstrap.less';

@import (inline) '../bower_components/slick-carousel/slick/slick.css';
@import (inline) '../bower_components/slick-carousel/slick/slick-theme.css';
@import (inline) '../css/lazyYT.css';
@import (inline) '../css/colorbox.css';
@import (inline) '../bower_components/select2/dist/css/select2.min.css';
@import (inline) '../bower_components/justifiedGallery/dist/css/justifiedGallery.min.css';
@import (inline) '../bower_components/magnific-popup/dist/magnific-popup.css';


@import 'template.less';

@import 'product.less';
@import 'technology.less';
@import 'tech-article.less';
@import 'reviews.less';
@import 'reviews-article.less';
@import 'community-reviews.less';
@import 'ambassador.less';
@import 'gallery.less';
@import 'learning.less';
@import 'learning-article.less';
@import 'playmemories.less';
@import 'shoot.less';
@import 'swpa.less';
@import 'swpa-winners.less';
@import 'terms-privacy.less';
@import 'ambassadors.less';
@import 'ambassadorspage.less';
@import 'ambassadors-article.less';

html,
body {
	background-color: #000000;
}



#index {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	header {
		border-bottom: none;
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		padding-top: 114px;
		margin-top: 0px;
    	padding-bottom: 46px;
    	overflow: hidden;
    	background:#1f2024;
    	height: 100%;
    	@media (max-width: @screen-sm-max) {
    		padding-top: 50px;
    		height: auto;
    	}
	}
	.home-wrapper{
		@media (min-width: @screen-sm-max) {
			height: 100%;
			width: 100%;
			position: fixed;
			padding-bottom: 160px;
		}
		//--------------------------
		//  HOME SLIDER THUMB : START
		//--------------------------
		.home-slider-thumb{
			z-index: 3;
			position: absolute;
			left: 50%;
			margin-left: -360px;
    		bottom: 160px;
    		margin-bottom: 0;
    		@media (max-width: @screen-sm-max) {
    			display: none;

    		}
    		.slick-slide{
				&:hover{
					.home-thumbs{
						transition: bottom .35s ease;
						bottom: 0px;
					}
				}
			}
    		.slick-current{
    			.home-thumbs{
    				transition: bottom .35s ease;
    				bottom: 0px;
    			}
    		}
			.home-thumbs{
				transition: bottom .35s ease;
				bottom: -20px;
				vertical-align: bottom;
				position: relative;
				cursor: pointer;
				.home-thumbs-model{
					font-size: 11px;
					position: absolute;
					padding: 7px;
					width: 100%;
					height: 40px;
					background: rgba(76,76,76,1);
					background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,0) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(19,19,19,0)));
					background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,0) 100%);
					background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,0) 100%);
					background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(19,19,19,0) 100%);
					background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(19,19,19,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
				}
			}
		}
		//--------------------------
		//  HOME SLIDER THUMB : END
		//--------------------------

		//--------------------------
		//  HOME SLIDER : START
		//--------------------------
		.home-slider{
			height: 100%;
			width: 100%;
			position: relative;
			.slick-dots {
				@media (min-width: @screen-sm-max) {
	    			display: none !important;
	    		}
	    		@media (max-width: @screen-sm-max) {
					position: relative;
					bottom: 0px;
					margin-top: 20px;
					margin-bottom: 0px;
	    		}
			}
			.home-img-box{
				height: 100%;
				width: 100%;
				.home-img{
				    max-width: 100%;
				    max-height: 100%;
				    height: 300px;
				    background-size: 170%;
				    background-position: -165% center;
				    @media (min-width: 768px) {
					    background-size: 150%;
					    background-position: 95% center;
					    height: 640px
					}
				    @media (min-width: 667px) and (max-width: 767px)  {
				    	background-size: 100%;
				    	background-position: center;
				    	height: 370px;
				    }
				    @media (min-width: 480px) and (max-width: 666px) {
				    	background-size: 113%;
				    	background-position: center;
				    }
				    @media (min-width: 414px) and (max-width: 479px) {
						height: 390px;
				    }
				}
			}
			.home-copy-box{
				background-color: rgb(0, 0, 0);
				background-color: rgba(0, 0, 0, 0.6);
				position: relative;
				width: 380px;
				padding: 25px;
				margin-left: 83px;
    			margin-top: 123px;
				@media (min-width: @screen-sm-max) {
					position: absolute;
				}
    			@media (max-width: @screen-sm-max) {
    				margin: 0;
    				background-color: transparent;
				    max-width: none;
				    width: 90%;
				    padding: 20px 0px;
				    left: 5%;
				    position: relative;
				    bottom: 0px;
    			}
    			@media (max-width: @screen-xs-max) {
    				max-width: initial;
    				width: 90%;
    				bottom: 0px;
    			}
    			.home-model_name{
    				font-size: 38px;
    				line-height: 1.3em;
    				// text-transform: uppercase;
    				margin-bottom: 5px;
    			}
				.home-copy_title{
					.font-light();
					line-height: 1.1em;
					font-size: 24px;
					margin-bottom: 12px;
					@media (max-width: @screen-sm-max) {
						font-size: 23px;
					}
				}
				p {
					// width: 370px;
					font-size: 13px;
					@media (max-width: @screen-sm-max) {
	    				width: 100%;
	    			}
	    			&.disclaimer{
	    				font-size: 11px;
	    				.font-italic();
	    			}
				}
				.btn-wrapper{
					margin-top: 30px;
					width: 155px;
					cursor: pointer;
					@media (max-width: @screen-sm-max) {
						margin-top: 25px;
					}
					// .sony-btn{
					// 	width: 155px;
					// }
				}
			}
			.home-content-1{
				background-image: url('../img/home/bg-1.jpg');
    			.home-img{
					background-image: url('../img/home/bg-1.jpg');
				}
			}
			.home-content-2{
				background-image: url('../img/home/bg-2.jpg');
    			.home-img{
					background-image: url('../img/home/bg-2.jpg');
				}
			}
			.home-content-3{
				background-image: url('../img/home/bg-3.jpg');
    			.home-copy-box{
	    			// right: 5%;
	    			// margin-left: 0px;
	    			width: 410px;
    			}
    			.home-img{
					background-image: url('../img/home/bg-3.jpg');
					background-position: center;
				}
			}
			.home-content-4{
				background-image: url('../img/home/bg-4.jpg');
    			.home-img{
					background-image: url('../img/home/bg-4.jpg');
				}
				.btn-wrapper {
					width: 190px;
				}
			}
			.home-content-1, .home-content-2, .home-content-3, .home-content-4{
				height: 100%;
				width: 100%;
				background-size: cover;
				background-position: 50% 50%;
				position: relative;
				@media (max-width: @screen-sm-max) {
					background-color: #000000;
					background-image: none;
					padding: 0px;
				}
			}
		}
		//--------------------------
		//	HOME SLIDER : END
		//--------------------------
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */


	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### FOOTER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	footer {
		// position: fixed;
		&.navbar-fixed-bottom{
			@media (max-width: @screen-sm-max) {
				position: relative;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### FOOTER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



}
