#swpa-winners {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top {
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		@media (max-width: @screen-sm-max) {
			padding-top: 125px;
		}
	}
    .swpa-categories-container {
        .filter-btn {
            margin: 0 10px 0 0;
        }
        .arrow-container {
            width: 41px;
            height: 54px;
            background-color: #b2b5b8;
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 0;
        }
        .arrow-left {
            left: -51px;
        }
        .arrow-right {
            right: -41px;
        }
        .slick-prev, .slick-next {
            width: 18px;
            height: 31px;
            position: relative;
            margin: 0 auto;
            &:before {
                content: '';
            }
            &:hover {
                background-position: bottom;
            }
        }
        .slick-next {
            background-image: url(../img/swpa/right-arrow-filter.png);
        }
        .slick-prev {
            background-image: url(../img/swpa/left-arrow-filter.png);
        }
        .slick-list {
            max-width: 480px;
            @media (min-width: @screen-lg-min) {
    			max-width: 450px;
    		}
            @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    			max-width: 400px;
    		}
        }
        &.slick-slider {
            margin-bottom: 0px;
        }
    }

	.gallery-wrapper {
		margin-top: 10px;
		padding-bottom: 40px;
		background-color: #000000;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		.gallery-container {
			height: 100%;
			padding-top: 70px;

			.maxWindowWidth();
			> .row {
				margin: 0;
			}
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
			}
		}
	}
	.mfp-title {
		text-align: center;
		padding: 0 0 1.25em;
		color: @sony-orange;
		font-size: 1.4em;
		max-width: 1024px;
		margin: 0 auto;
	}
	.mfp-description {
		padding: 0 0 2.5em;
		max-width: 1024px;
		margin: 0 auto;
		line-height: 1.45em;
		font-size: 1.1em;
		text-align:center;
	}
	.mfp-counter {
		display: none;
	}
	button.mfp-arrow {
		visibility: visible;
		width: 18px;
		height: 31px;
		transition: opacity .35s ease;
	}
	button.mfp-close {
		width: 40px;
		height: 40px;
		color: transparent !important;
		background-image: url(images/grey_close_btn.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		top: 0;
		right: 0;
		position: absolute;
		opacity: 1;
		@media (max-width: @screen-sm-max) {
			margin-right: 0;
		}
		&:hover,
		&:focus {
			background-position: center top;
			background-size: cover;
		}
	}
	button.mfp-arrow-right {
		background-color: transparent;
		background-image: url(../img/gallery/right-arrow-gallery.png);
		background-repeat: no-repeat;
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	button.mfp-arrow-left {
		background-color: transparent;
		background-image: url(../img/gallery/left-arrow-gallery.png);
		background-repeat: no-repeat;
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	.mfp-arrow {
		margin-top: 0;
	}
	.mfp-arrow-left {
		left: 3em;
	}
	.mfp-arrow-right {
		right: 3em;
	}
	/* overlay at start */
	.mfp-fade.mfp-bg {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		position: fixed !important;
		opacity: .85;

		filter: alpha(opacity=85); /* IE8 and lower */
		@media (max-width: @screen-xs-max) {
			opacity: .9;
		}
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}
	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}
	.mfp-inline-holder .mfp-content {
		max-width: 100%;
		width: auto;
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
