#swpa {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top {
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px + 114px;
		// padding-top: 125px;
		padding-top: 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 50px;
		}
	}
	.swpa-wrapper {
		// margin-top: 10px;
		// padding-bottom: 40px;
		background-color: #000000;
		@media (max-width: @screen-sm-max) {
			padding: 0;
			// padding-bottom: 40px;
		}
		.swpa-container {
			height: 100%;
			.maxWindowWidth();
			> .row {
				margin: 0;
			}
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
			}
			.swpa-content-wrap{
				background-image: url(../img/swpa/bg-swpa.jpg);
				background-size: cover;
				background-position: top left;
			}
			.wpo-content-wrap{
				background-image: url(../img/swpa/bg-wpo.jpg);
				background-size: cover;
				background-position: top left;
			}
			.swpa-content{
				height: 754px;
				padding: 113px 60px 22px 65px;
				@media (max-width: @screen-sm-max) {
					padding: 40px 10px 20px;
					height: auto;
				}
				p{
					margin-top: 35px;
					margin-bottom: 35px;
					span{
						color: @sony-orange;
						margin-top: 15px;
						margin-bottom: 20px;
					}
				}
				.img-wrapper{
					@media (max-width: @screen-sm-max) {
						width: 80%;
					}
				}
				.copyright{
					color: #4d4d4d;
				    font-size: 10px;
				    @media (min-width: 992px) {
					    position: absolute;
					    bottom: 30px;
					}
					@media (min-width: @screen-sm-max) and (max-width: 1230px){
					    max-width: 70%;
					}
				    @media (max-width: @screen-sm-max) {
				    	margin-top: 30px;
				    }
				}
			}
            p.image-title {
                color: @sony-orange;
                font-size: 1.4em;
				padding: 1.75em 1em 1.25em;
				line-height: 18px;
            }
			p.image-description {
				padding: 0 0 2.5em;
				width: 80%;
				margin: 0 auto;
				line-height: 1.45em;
				font-size: 1.1em;
			}
            a.cta {
                // width: 14em;
                width: 23em;
                display: block;
                // margin: 0 auto;
                // padding: 15px 10px;
                margin-bottom: 10px;
                padding: 15px;
                transition: background-color .35s ease;
                background-color: #2b2f3a;
                &:hover,
                &:focus,
                &.active {
                    color: #ffffff;
                    background-color: @sony-orange;
                }
            }
		}
	}

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
