#technology {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top{
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	.secondary-nav {
		.secondary-nav-wrapper{
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				padding-top: 12px;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px + 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 90px;
		}
	}
	.tech-wrapper{
		padding-bottom: 40px;
		@media (max-width: @screen-xs-max) {
			padding: 0;
			padding-bottom: 40px;
		}
		.tech-container{
			.maxWindowWidth();
			padding-top: 60px;
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
				margin-bottom: 20px;
			}
			@media (max-width: @screen-xs-max) {
				.row{
					max-width: 100%;
					margin: 0;
				}
				.col-sm-12{
					padding: 0;
				}
			}
			.box-wrapper{
				// height: 330px;
				margin-bottom: 20px;
				// @media (max-width: @screen-sm-max) {
				// 	margin-bottom: 30px;
				// 	height: 280px;
				// }
				// @media (min-width: 667px) and (max-width: 736px)  {
				// 	height: 270px !important;
				// }
				// @media (min-width: 568px) and (max-width: 666px)  {
				// 	height: 240px !important;
				// }
				@media (max-width: @screen-xs-max) {
					// height: 250px;
					padding-left: 9px;
					padding-right: 9px;
					// margin-bottom: 20px;
				}
				.box-container{
					max-width: 351px;
					.img-wrapper{
						border: 1px solid @border-grey;
						background-color: #000000;
						img{
							max-width: 100%;
    						height: auto;
    						width: auto
						}
					}
					p{
						font-size: 13px;
						line-height: 1.3em;
						@media (max-width: @screen-xs-max) {
							font-size: 11px;
						}
						&.title{
							.font-roman();
							font-size: 18px;
							margin: 22px auto 25px;
							@media (max-width: @screen-xs-max) {
								font-size: 15px;
								margin: 22px auto 15px;
							}
						}
						a{
							color: @sony-orange;
							&:hover,
							&:focus,
							&.active {
								color: #ffffff;
							}
						}
					}

				}
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}