#tech-article {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.navbar-fixed-top{
		@media (min-width: @screen-sm-max) {
			position: relative;
		}
	}
	.secondary-nav {
		.secondary-nav-wrapper{
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				padding-top: 12px;
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		// padding-top: 125px;
		@media (max-width: @screen-sm-max) {
			padding-top: 90px;
		}
	}
	.tech-article-wrapper{
		.tech-article-container{
			.maxWindowWidth();
			// width: 100%;
			// max-width: 1000px;
			// margin: auto;

			padding-top: 20px;
			margin-bottom: 70px;
			.font-roman();
			font-size: 13px;
			line-height: 1.3em;
			position: relative;
			// @media (min-width: 1264px) {
			// 	left: 50%;
			// 	margin-left: -622px;
			// }
			@media (max-width: @screen-sm-max) {
				// left: 0;
			 //    margin-left: 0;
			    margin-bottom: 40px;
			}

			h1,
			h2{
				margin-bottom: 25px;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 15px;
				}
			}
			h2 {
				color: @sony-orange;
			}
			p{
				margin-bottom: 25px;
			}
			//-------------------------------
			//  TECH ARTICLE : CONTENT BG : START
			//-------------------------------
			.contentbg-wrapper{
				background-size: cover;
    			background-position: center;
    			background-repeat: no-repeat;
    			height: 600px;
    			@media (min-width: @screen-sm-max) {
				    &.tmt-bg{
						background-image: url("../img/technology/cameras/tmt-bg.jpg");
				    }
				}
			    @media (max-width: @screen-sm-max) {
			    	background-size: 110%;
    				background-position: top center;
    				height: auto;
			    }
			    .contentbg-img{
			    	@media (max-width: @screen-sm-max) {
			    		margin-bottom: 10px;
			    	}
			    }
				.contentbg-copy{
					@media (max-width: @screen-sm-max) {
						padding: 0;
					}
					h1{
						@media (min-width: @screen-md-min) {
							font-size: 40px;
						}
					}
					img{
						margin-bottom: 40px;
					}
					p{
						@media (min-width: @screen-sm-max) {
							max-width: 360px;
						}
					}
			// 		h1{
	  //   				max-width: 435px;
	  //   				@media (min-width: @screen-sm-max) {
			// 				max-width: 435px;
			// 			}
	  //   			}
			// 		p{
			// 			margin-top: 25px;
			// 			margin-bottom: 0;
			// 			@media (min-width: @screen-sm-max) {
			// 				max-width: 435px;
			// 			}
			// 			@media (max-width: @screen-sm-max) {
			// 				margin-top: 15px;
			// 			}
			// 		}
				}
			}
			.icons{
				float: right;
				margin-bottom: 20px;
				img{
					display: inline-block;
					vertical-align: bottom;
					margin-right: 8px;
					&:last-child{
						margin-right: 0px;
					}
				}
			}
			//-------------------------------
			//  TECH ARTICLE : CONTENT BG : END
			//-------------------------------

			//-----------------------------------
			//  TECH ARTICLE : PHOTO ROW : START
			//-----------------------------------
			.photo_row-wrapper{
				margin: 30px auto;
			}
			//-----------------------------------
			//  TECH ARTICLE : PHOTO ROW : END
			//-----------------------------------

			//-----------------------------------
			//  TECH ARTICLE : CONTENT : START
			//-----------------------------------
			.content-col {
				margin-bottom: 20px;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 40px;
				}
			}
			.content-wrapper{
				.content-row{
					@media (min-width: @screen-sm-max) {
						margin-bottom: 30px;
					}
					.title{
						color: @sony-orange;
						margin-bottom: 25px;
						text-transform: uppercase;
						@media (max-width: @screen-sm-max) {
							margin-bottom: 10px;
						}
					}
					p{
						margin-bottom: 0;
					}
					.content-left, .content-right{
						// @media (min-width: @screen-sm-max) {
						// 	max-width: 590px;
						// }
						@media (max-width: @screen-sm-max) {
							margin-bottom: 40px;
							// padding: 0;
						}
					}
					// .content-right{
					// 	@media (min-width: @screen-sm-max) {
					// 		float: right;
					// 	}
					// }
					.content-img{
						margin-bottom: 20px;
					}
				}
			}
			//-----------------------------------
			//  TECH ARTICLE : CONTENT : END
			//-----------------------------------

			//-----------------------------------
			//  TECH ARTICLE : VIDEO : START
			//-----------------------------------
			.video-wrapper{
				text-align: center;
				padding-left: 30px;
    			padding-right: 30px;
    			@media (max-width: @screen-sm-max) {
    				padding-left: 15px;
    				padding-right: 15px;
    			}
			}
			.html5-info-bar {
				display: none;
			}
			//-----------------------------------
			//  TECH ARTICLE : VIDEO : END
			//-----------------------------------

			//-----------------------------------
			//  TECH ARTICLE : MODELS : START
			//-----------------------------------
			.models-wrapper{
				margin-top: 75px;
				@media (max-width: @screen-sm-max) {
					margin-top: 50px;
				}
				.models-row{
					// @media (min-width: @screen-sm-max) {
					// 	padding-left: 15px;
					// 	padding-right: 15px;
					// }
					.models-slider{
						opacity: 0;
						margin-top: 10px;
						.model-item{
							max-width: calc(100% - 7px);
							transition: opacity .35s ease;
							@media (min-width: @screen-sm-min) {
								cursor: pointer;
							}
							&:hover,
							&:focus {
								.img-wrapper img{
									opacity: .8;
								}
							}
							.img-wrapper{
								width: auto;
								height: 102px;
								border: solid @border-grey 1px;
								position: relative;
								@media (min-width: @screen-md-max) and (max-width: 1244px) {
									height: 85px;
								}
								@media (max-width: @screen-md-max){
									height: 95px;
								}
								@media (max-width: @screen-sm-max){
									height: 110px;
								}
								@media (max-width: @screen-xs-max){
									height: 85px;
								}
								.img-container{
									position: absolute;
								    top: 0;
								    bottom: 0;
								    left: 0;
								    right: 0;
								    width: 90%;
								    @media (min-width: @screen-md-max) and (max-width: 1244px) {
										width: 80%;
									}
								    @media (max-width: @screen-sm-max){
							    		width: 80%;
							    	}
								    @media (max-width: @screen-xs-max){
							    		width: 90%;
							    	}
								    &:before{
								    	content: ' ';
									    display: inline-block;
									    vertical-align: middle;
									    height: 100%;
								    }
								    img{
								    	vertical-align: middle;
								    	display: inline-block;
								    }
								}
							}
							p{
								margin-top: 10px;
							}
						}
					}
				}
			}
			//-----------------------------------
			//  TECH ARTICLE : MODELS : END
			//-----------------------------------
		}
	}
	//--------------------------------------
	//  TECH ARTICLE : CAMERA :: START
	//--------------------------------------

	// ::: CAMERA :: exmor-cmos-sensor :::
	.exmor-cmos-sensor {
		.photo_row-wrapper{
			margin: 20px auto 40px !important;
		}
	}

	// ::: CAMERA :: bionz-x-imaging :::
	.bionz-x-imaging {
		@media (min-width: @screen-sm-max) {
			.contentbg-wrapper{
				background-image: url("../img/technology/cameras/article/bionz-bg.jpg");
				.contentbg-copy{
					margin-top: 180px;
					padding-left: 40px;
				}
				.content-wrapper{
					.content-left{
						margin-top: 100px;
					}
				}
			}
		}
	}

	// ::: CAMERA :: compatibility-wide-ranging-mountable-lenses :::
	.compatibility-wide-ranging-mountable-lenses{
		@media (min-width: @screen-sm-max) {
			.contentbg-wrapper{
					background-image: url("../img/technology/cameras/article/compatibility_wide_lenses-bg.jpg");
				.contentbg-copy{
					margin-top: 200px;
					padding-left: 30px;
					color: #000000;
				}
			}
		}
	}

	// ::: CAMERA :: higher-res-4k-movie-recording :::
	.higher-res-4k-movie-recording {
		.content-right{
			.logos{
				float: right;
				margin-bottom: 20px;
				.logo-xavcs{
					width: 80px;
					float: left;
					margin-right: 15px;
				}
				.logo-4k{
					width: 60px;
					float: left;
				}
			}
		}
	}

	// ::: CAMERA :: five-axis-image-stabilization :::
	.five-axis-image-stabilization{
		@media (min-width: @screen-sm-max) {
			.content-right{
				margin-top: 180px;
			}
		}
	}
	
	// ::: CAMERA :: fast-hybrid-af :::
	.fast-hybrid-af{
		@media (min-width: @screen-sm-max) {
			.contentbg-wrapper{
				background-image: url("../img/technology/cameras/article/fasthybridaf-bg.jpg");
				margin-bottom: 30px;
			}
			.contentbg-copy{
				margin-top: 180px;
				p{
					max-width: 350px !important;
				}
			}
		}
		.content-wrapper{
			.content-row{
				@media (min-width: @screen-sm-max) {
					margin-bottom: 60px !important;
				}
				.sml-content-container {
					// text-align: center;
					@media (min-width: @screen-sm-max) {
						max-width: 370px;
						margin: auto;
					}
					@media (max-width: @screen-sm-max) {
						// text-align: left;
						margin: auto auto 40px;
					}
				}
				.big-content-container {
					@media (min-width: @screen-sm-max) {
						max-width: 574px;
						margin: auto;
					}
				}
				.img-container{
					margin-bottom: 20px;
				}
			}
		}
	}

	// ::: CAMERA :: fourk-focus :::
	.fourk-focus{
		.content-wrapper{
			margin-bottom: 50px;
			// @media (min-width: @screen-sm-max) {
			// 	width: 950px;
			// 	margin: 0 auto;
			// }
			h3{
		    	background-image: url("../img/technology/cameras/article/4d-title_bg.jpg");
			    background-size: 100% 100%;
			    background-repeat: no-repeat;
			    text-align: center;
			    font-size: 16px;
			    line-height: 1.4;
			    color: #000;
			    margin: 0 0 1em;
		    }
		    h4 {
			    font-size: 18px;
			    padding: 1em 0 10px;
			    margin: 0;
			    line-height: 1;
			    position: relative;
			    @media (max-width: @screen-sm-max) {
				    width: 50%;
				    float: right;
			    }
			    &:after{
			    	content: "";
				    display: inline-block;
				    position: absolute;
				    width: 15px;
				    height: 15px;
				    bottom: -15px;
				    left: 50%;
				    margin-left: -7.5px;
				    background-size: 100% 100%;
				    background-repeat: no-repeat;
			    }
			}
			.i-bit{
				width: 15px;
				height: 15px;
				position: absolute;
				background-size: cover;
				margin-left: -20px;
				@media (max-width: @screen-sm-max) {
					margin-top: 15%;
				}
				@media (max-width: @screen-xs-max) {
					margin-top: 20%;
				}
			    &.bit_area{
					background-image: url("../img/technology/cameras/article/4d-bit_area.jpg");
				}
				&.bit_depth{
					background-image: url("../img/technology/cameras/article/4d-bit_depth.jpg");
				}
				&.bit_time{
					background-image: url("../img/technology/cameras/article/4d-bit_time.jpg");
				}
			}
		    .img-wrapper{
		    	height: 145px;
				@media (max-width: @screen-sm-max) {
					height: auto;
    				width: 50%;
    				float: left;
				}
		    }
		    .tit{
		    	font-size: 16px;
			    color: #fff;
			    padding: 1.5em 0 1em;
			    margin: 0 0 10px;
			    background-size: 100% 1px;
			    background-repeat: no-repeat;
			    background-position: bottom;
			    line-height: 1;
			    @media (max-width: @screen-sm-max) {
			    	width: 50%;
    				float: right;
    				padding: 0 0 1em;
			    }
		    }
		    .text{
		    	margin: 0;
		    	text-align: left;
		    	font-size: 12px;
		    	 @media (max-width: @screen-sm-max) {
	    	 	    margin: 0;
				    text-align: left;
				    width: 50%;
				    float: right;
		    	}
		    }
		    // space3d
			.space3d{
				width: 460px;
			    float: left;
			    text-align: center;
			    background-size: 100% 1px;
			    background-repeat: no-repeat;
			    background-image: url("../img/technology/cameras/article/4d-line_3d_h.jpg");
			    background-position: 0 240px;
			    @media (max-width: @screen-sm-max) {
			    	width: auto;
				    padding-left: 20px;
				    padding-bottom: 1.5em;
				    float: none;
				    text-align: left;
				    background-size: 2px 100%;
				    background-repeat: no-repeat;
				    background-image: url("../img/technology/cameras/article/4d-line_3d_v.jpg");
				    background-position: 7.5px 0;
			    }
			    .area{
			    	width: 220px;
    				float: left;
    				&:after{
    					content: "";
					    display: block;
					    clear: both;
    				}
    				@media (max-width: @screen-sm-max) {
					    width: 100%;
					    float: none;
					    margin-bottom: 1.5em;
					    position: relative;
    				}
    				h4{
				    	color: #74bc32;
				    	&:after{
				    		@media (min-width: @screen-sm-max) {
				    			background-image: url("../img/technology/cameras/article/4d-bit_area.jpg");
				    		}
				    	}
				    }
				    .tit{
				    	background-image: url("../img/technology/cameras/article/4d-line_area.jpg");
				    }
			    }
			    .depth{
			    	width: 220px;
    				float: right;
    				&:after{
    					content: "";
					    display: block;
					    clear: both;
    				}
    				@media (max-width: @screen-sm-max) {
					    width: 100%;
					    float: none;
					    position: relative;
    				}
    				h4{
				    	color: #4b97d2;
				    	&:after{
				    		@media (min-width: @screen-sm-max) {
				    			background-image: url("../img/technology/cameras/article/4d-bit_depth.jpg");
				    		}
				    	}
				    }
				    .tit{
				    	background-image: url("../img/technology/cameras/article/4d-line_depth.jpg");
				    }
			    }
			}

			// time4d
			.time4d {
			    background-size: 100% 1px;
			    background-repeat: no-repeat;
			    background-image: url("../img/technology/cameras/article/4d-line_4d_h.jpg");
			    background-position: 0 240px;
			    width: 290px;
			    float: left;
			    text-align: center;
			    @media (max-width: @screen-sm-max) {
		    	    padding-left: 20px;
				    padding-bottom: 1.5em;
				    background-size: 2px 100%;
				    background-repeat: no-repeat;
				    background-image: url("../img/technology/cameras/article/4d-line_4d_v.jpg");
				    background-position: 7.5px 0;
				    width: auto;
				    text-align: left;
				    float: none;
			    }
			    .plus {
				    width: 46px;
				    float: left;
				    padding-top: 90px;
				    @media (max-width: @screen-sm-max) {
			    	    width: 49px;
					    float: none;
					    padding-top: 0;
					    margin-bottom: 10px;
					    display: block;
					    margin-left: auto;
					    margin-right: auto;
				    }
				}
				h3{
					@media (min-width: @screen-sm-max) {
						margin-left: 46px;
					}
				}
				.time{
					@media (min-width: @screen-sm-max) {
						margin-left: 56px;
					}
					&:after{
    					content: "";
					    display: block;
					    clear: both;
    				}
					h4{
				    	color: #eb6417;
				    	&:after{
				    		@media (min-width: @screen-sm-max) {
				    			background-image: url("../img/technology/cameras/article/4d-bit_time.jpg");
				    		}
				    	}
				    }
				    .tit{
				    	background-image: url("../img/technology/cameras/article/4d-line_time.jpg");
				    }
				}
			}


			// focus
			.focus{
			    width: 220px;
			    float: left;
			    padding-top: 2.4em;
			    @media (max-width: @screen-sm-max) {
		    	    width: auto;
				    float: none;
				    padding-top: 0.5em;
			    }
			    .focus-container{
			    	display: table-cell;
				    vertical-align: middle;
				    text-align: right;
				    @media (max-width: @screen-sm-max) {
				    	padding-left: 20px;
					    display: block;
					    vertical-align: middle;
					    text-align: center;
				    }
				    .equal {
				    	width: 38px;
    					margin-right: 20px;
    					@media (max-width: @screen-sm-max) {
	    					width: 31px;
	    					margin: 0 auto 1em;
	    				}
				    }
				    .for_pc{
				    	display: inline-block;
				    	@media (max-width: @screen-sm-max) {
							display: none;
				    	}
				    }
				  	.for_sp{
				    	display: none;
				    	@media (max-width: @screen-sm-max) {
							display: block;
				    	}
				    }
				    .logo_4d_focus{
				    	width: 150px;
				    	display: inline-block;
				    	@media (max-width: @screen-sm-max) {
				    		width: 120px;
				    	}
				    }
			    }
			}

		}
	}

	//durable-reduced-vibration
	.durable-reduced-vibration{
		@media (min-width: @screen-sm-max) {
			.contentbg-wrapper{
					background-image: url("../img/technology/cameras/article/reduced_vibration-bg.jpg");
				.contentbg-copy{
					margin-top: 200px;
					padding-left: 40px;
				}
			}
		}
	}

	// ::: CAMERA :: umcompressed-raw-14-bit :::
	.umcompressed-raw-14-bit {
		.content-top{
			margin-bottom: 30px;
		}
	}

	//--------------------------------------
	//  TECH ARTICLE : CAMERA :: END
	//--------------------------------------


	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}