
html,
body {
	font-size: 12px;
	line-height: 1.3em;
	// position: relative;
	// overflow-x: hidden;
	height: 100%;
	color: #ffffff;
	.font-roman ();
}
a {
	transition: color .35s ease;
	text-decoration: none;
	color: #ffffff;
	outline: none;
	&:hover,
	&:focus,
	&.active {
		text-decoration: none;
		color: @sony-orange;
		outline: none;
	}
}

/* ----- ----- ----- ----- ----- */
/* ##### Nav ##### */
/* ----- ----- ----- ----- ----- */

//** Point at which the navbar becomes uncollapsed.
// @grid-float-breakpoint: @screen-sm-max;
@grid-float-breakpoint: @screen-md;

//** Max height of the nav in mobile
// @navbar-collapse-max-height: 400px;
// @navbar-collapse-max-height: 340px;

/* ----- ----- ----- ----- ----- */
/* ##### Font ##### */
/* ----- ----- ----- ----- ----- */
.font-ultralight {
	font-family: 'SST W20 Ultra Light', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.font-light {
	font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.font-roman {
	font-family: 'SST W20 Roman', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.font-italic {
	font-family: 'SST W20 Italic', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.font-light-italic {
	font-family: 'SST W20 Light Italic', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.font-medium {
	font-family: 'SST W20 Medium', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.font-bold {
	font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

/* ----- ----- ----- ----- ----- */
/* ##### COLOR ##### */
/* ----- ----- ----- ----- ----- */
@sony-orange: #f05a23;
@title-grey: #999999;
@light-grey: #cccccc;
@blue-grey: #2f353d;
@light-blue-grey: #c6cacd;
@border-grey: #3c3d3e;
@border-btm-grey: #9ea2a4;



/* ----- ----- ----- ----- ----- */
/* ##### Width ##### */
/* ----- ----- ----- ----- ----- */
.maxWindowWidth {
	width: 100%;
	max-width: 1245px;
	margin: auto;
}


/* ----- ----- ----- ----- ----- */
/* ##### IMAGE ##### */
/* ----- ----- ----- ----- ----- */
img {
	border: none;
}
.img-responsive {
	width: auto;
}


/* ----- ----- ----- ----- ----- */
/* ##### BUTTON ##### */
/* ----- ----- ----- ----- ----- */
.sony-btn {
	font-size: 13px;
	padding: 15px 23px;
	transition: opacity .35s ease;
	color: #ffffff;
	background-color: @sony-orange;

	.font-light();
	&:hover,
	&:focus {
		opacity: .85;
		color: #ffffff;
	}
}




/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### HEADER :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
header {
	width: 100%;
	height: 114px;
	background-color: #000000;
	background-repeat: repeat-x;
	@media (min-width: @screen-sm-max) {
		border: 1px solid @border-grey;
	}
	@media (max-width: @screen-sm-max) {
		height: 50px;
	}
	img {
		@media (max-width: @screen-sm-max) {
			width: 100%;
			height: auto;
		}
	}
	.logo-alpha {
		display: inline-block;
		margin-top: 14px;
		margin-left: 25px;
		@media (max-width: @screen-sm-max) {
			width: 11em;
			margin-top: 12px;
			margin-left: 15px;
		}
		.logo-img {
			@media (max-width: @screen-sm-max) {
				width: 30%;
			}
		}
		.logo-text {
			font-size: 15px;
			line-height: 1.4em;
			margin-left: 16px;
			color: @sony-orange;

			.font-bold();
			span {
				color: @title-grey;

				.font-roman();
			}
			@media (max-width: @screen-sm-max) {
				font-size: 11px;
				width: 65%;
				margin-left: 5px;
			}
		}
	}
	.logo-sony {
		margin-top: 29px;
		margin-right: 27px;
		@media (max-width: @screen-sm-max) {
			width: 4em;
			margin-top: 14px;
			margin-right: 15px;
		}
	}
	.divider {
		width: 100%;
		height: 1px;
		margin-top: 14px;
		background-color: #333333;
	}
	.navbar-inverse {
		margin-bottom: 0;
		border: none;
		background-color: transparent;
		@media (max-width: @screen-sm-max) {
			float: right;
			padding: 0;
			border-left: solid 1px #333333;
		}
		.navbar-toggle {
			margin: 6px 10px;
			border: none;
			background-color: transparent;
			&:hover,
			&:focus {
				border: none;
				background-color: transparent;
			}
			.icon-bar {
				width: 22px;
				transition: all .2s;
			}
			.top-bar {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				transform-origin: 10% 10%;
				-webkit-transform-origin: 10% 10%;
				-moz-transform-origin: 10% 10%;
			}
			.middle-bar {
				opacity: 0;
			}
			.bottom-bar {
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
				-moz-transform: rotate(-45deg);
				transform-origin: 10% 90%;
				-webkit-transform-origin: 10% 90%;
				-moz-transform-origin: 10% 90%;
			}
			&.collapsed {
				.top-bar {
					transform: rotate(0);
					-webkit-transform: rotate(0);
					-moz-transform: rotate(0);

				}
				.middle-bar {
					opacity: 1;
				}
				.bottom-bar {
					transform: rotate(0);
					-webkit-transform: rotate(0);
					-moz-transform: rotate(0);

				}
			}
		}
	}
	.navbar-maxheight{
		max-height: 280px !important;
	}
	.navbar-collapse {
		&.collapsing,
		&.in {
			width: 100%;
			padding: 0;
			text-align: center;
			border: none;
			background-color: #000000;
			a {
				font-size: 1.3em;
				display: block;
				margin: 0;
				padding-top: 15px;
				padding-bottom: 15px;
				border-top: 1px solid #333333;
				position: relative;
				img {
					position: relative;
					width: auto;
					height: .85em;
				}
				&.last {
					padding-bottom: 25px;
				}
			}
		}
	}
	nav {
		font-size: 12px;
		line-height: 17px;
		margin-top: 13px;
		@media (max-width: @screen-sm-max) {
			margin-top: 0;
		}
		img {
			vertical-align: baseline;
		}
		a {
			margin: 0 15px;
			vertical-align: top;
			color: @light-grey;
			&:hover,
			&.active {
				color: @light-grey;
			}
			@media (min-width: @screen-sm-max) {
				position: relative;
				display: inline-block;
				margin: 0 16px;
				&:after {
					position: absolute;
					bottom: -12px;
					left: 0;
					width: 100%;
					height: 0;
					content: '';
					-webkit-transition: all ease .5s;
					   -moz-transition: all ease .5s;
					        transition: all ease .5s;
					background: transparent;
				}
				&:hover:after,
				&.active:after {
					height: 3px;
					background: @sony-orange;
				}
			}
			span {
				font-size: 11px;
				font-style: italic;
				line-height: 12px;
				color: #666666;
				line-height: 17px;
				padding-left: 5px;
				position: absolute;
			}
		}
		.swpa {
			display: inline-block;
			float: right;
			margin-right: 32px;
			// cursor: default;
			vertical-align: top;
			color: #989898;

			.font-light();
			@media (min-width: @screen-sm-max) {
				&:hover:after,
				&.active:after {
					bottom: -9px;
				}
			}
			@media (max-width: @screen-sm-max) {
				font-size: 1.3em;
				display: block;
				float: none;
				margin: 0;
				padding-top: 15px;
				padding-bottom: 15px;
				border-top: 1px solid #333333;
				&:hover,
				&.active {
					color: #989898;
				}
			}
			img {
				margin-right: 3px;
				vertical-align: middle;
				@media (max-width: @screen-sm-max) {
					position: relative;
					width: auto;
					height: 1.3em;
				}
			}
		}
	}
}
//----------------------------------
//	SECONDARY NAV : DESKTOP : START
//----------------------------------
.secondary-nav {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 125px;
	padding: 17px;
	background-color: @light-blue-grey;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto;
	.secondary-nav-wrapper {
		color: @blue-grey;
		&.center {
			text-align:center;
		}
		.font-medium();
		.filter-category,
		.filter-mount,
		.filter-sensor,
		.filter-type,
		.filter-clear-wrap,
		.filter-section,
		.filter-model,
		.filter-lenses,
		.filter-categories,
		.filter-body,
		.filter-video-type,
		.filter-competition,
		.filter-country,
		.filter-swpa-categories {
			display: inline-block;
			vertical-align: top;
			@media (min-width: @screen-sm-min) and (max-width: 1322px) {
				vertical-align: bottom;
			}
			a {
				transition: none;
				color: @blue-grey;
				&:hover,
				&.active {
					color: #ffffff;
				}
			}
			.filter-title {
				color: #000000;
			}
			.filter-btn {
				display: inline-block;
				width: 65px;
				height: 54px;
				// padding: 20px 7px;
				cursor: pointer;
				vertical-align: top;
				background-color: #ffffff;
				.wrapper {
					display: table;
					width: 100%;
					height: 100%;
					p {
						display: table-cell;
						vertical-align: middle;
					}
				}
				.icon {
					margin: auto;
					margin-bottom: 10px;
					background-position: top;
					background-size: cover;
				}
				p {
					margin-bottom: 0;
				}
				&:hover{
					color: #ffffff;
					background-color: #7a7f85;
					.icon {
						background-position: bottom;
					}
				}
				&.active {
					color: #ffffff;
					background-color: @blue-grey;
					.icon {
						background-position: bottom;
					}
				}
			}
		}
		.filter-swpa-categories {
			.filter-btn {
				width: 80px;
			}
		}
		//--------------------------
		//	FILTER : CATEGORY
		//--------------------------
		.filter-category {
			.camera,
			.lens,
			.photo,
			.video {
				width: 89px;
				max-width: 89px;
				height: 90px;
				padding: 10px;
				padding-top: 20px;
				text-transform: uppercase;
				@media (min-width: @screen-sm-min) and (max-width: 1244px) {
					width: 70px;
					height: 71px;
					padding: 5px;
					padding-top: 10px;
				}
			}
			.landscape,
			.urbanscape,
			.portrait,
			.sport,
			.macro,
			.low-light {
				width: 97px;
				max-width: 97px;
				height: 92px;
				padding: 10px;
				padding-top: 20px;
				text-transform: uppercase;
			}
			.camera {
				margin-right: 8px;
				@media (min-width: @screen-sm-min) and (max-width: 1200px) {
					margin-right: 2px;
				}
				.icon {
					width: 41px;
					height: 31px;
					// height: 25px;
					background-image: url('../img/category-camera.png');
				}
			}
			.lens {
				.icon {
					width: 22px;
					height: 25px;
					background-image: url('../img/category-lens.png');
					margin-top: 6px;
				}
			}
			// GALLERY
			.photo {
				margin-right: 8px;
				.icon {
					width: 37px;
					height: 32px;
					background-image: url('../img/gallery/filter/category-photo.png');
				}
			}
			.video {
				.icon {
					width: 37px;
					height: 32px;
					background-image: url('../img/gallery/filter/category-video.png');
					// margin-top: 6px;
				}
			}
			// SHOOTING TECH
			.landscape {
				.icon {
					width: 40px;
					height: 30px;
					background-image: url('../img/shoot/common/category-landscape.png');
				}
			}
			.urbanscape {
				.icon {
					width: 26px;
					height: 30px;
					background-image: url('../img/shoot/common/category-urbanscape.png');
				}
			}
			.portrait {
				.icon {
					width: 29px;
					height: 30px;
					background-image: url('../img/shoot/common/category-portrait.png');
				}
			}
			.sport {
				.icon {
					width: 27px;
					height: 30px;
					background-image: url('../img/shoot/common/category-sport.png');
				}
			}
			.macro {
				.icon {
					width: 19px;
					height: 30px;
					background-image: url('../img/shoot/common/category-macro.png');
				}
			}
			.low-light {
				.icon {
					width: 29px;
					height: 30px;
					background-image: url('../img/shoot/common/category-low-light.png');
				}
			}
		}
		//---------------------------------------
		//	FLITER : PRODUCT : CAMERA MOUNT
		//---------------------------------------
		.filter-mount {
			margin-left: 88px;
			padding-top: 4px;
			@media (min-width: 1101px) and (max-width: 1302px) {
				margin-left: 2%;
			}
			@media (min-width: @screen-sm-min) and (max-width: 1100px) {
				margin-left: 1%;
			}
			.a-mount {
				margin-right: 8px;
				@media (min-width: @screen-sm-min) and (max-width: 1200px) {
					margin-right: 2px;
				}
			}
		}
		//---------------------------------------
		//	FLITER : PRODUCT : SENSOR
		//---------------------------------------
		.filter-sensor {
			margin-left: 62px;
			padding-top: 4px;
			@media (min-width: 1101px) and (max-width: 1302px) {
				margin-left: 2%;
			}
			@media (min-width: @screen-sm-min) and (max-width: 1100px) {
				margin-left: 1%;
			}
			.fullframe {
				margin-right: 8px;
				// padding: 16px 3px;
				@media (min-width: @screen-sm-min) and (max-width: 1200px) {
					margin-right: 2px;
				}
			}
		}
		//---------------------------------------
		//	FLITER : PRODUCT : TYPE
		//---------------------------------------
		.filter-type {
			margin-left: 62px;
			padding-top: 4px;
			@media (min-width: 1101px) and (max-width: 1302px) {
				margin-left: 2%;
			}
			@media (min-width: @screen-sm-min) and (max-width: 1100px) {
				margin-left: 1%;
			}
			.g_master,
			.g,
			.zeiss,
			.prime,
			.zoom {
				margin-right: 8px;
				@media (min-width: @screen-sm-min) and (max-width: 1200px) {
					margin-right: 2px;
				}
			}
		}
		//---------------------------------------
		//	FLITER : GALLERY : CAMERA MODEL, BODY
		//---------------------------------------
		.filter-model, .filter-body {
			margin-left: 88px;
			padding-top: 4px;
			width: 130px;
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				margin-left: 2%;
			}
		}
		//---------------------------------------
		//	FLITER : GALLERY : LENSES
		//---------------------------------------
		.filter-lenses {
			margin-left: 62px;
			padding-top: 4px;
			width: 250px;
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				margin-left: 2%;
			}
		}
		//---------------------------------------
		//	FLITER : GALLERY : CATEGORIES
		//---------------------------------------
		.filter-categories {
			margin-left: 62px;
			padding-top: 4px;
			width: 250px;
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				margin-left: 2%;
			}
		}
		//---------------------------------------
		//	FLITER : GALLERY : VIDEO TYPES
		//---------------------------------------
		.filter-video-type {
			margin-left: 62px;
			padding-top: 4px;
			width: 250px;
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				margin-left: 2%;
			}
		}
		//---------------------------------------
		//	FLITER : SWPA : COMPETITION
		//---------------------------------------
		.filter-competition {
			margin-left: 20px;
			padding-top: 4px;
			width: 160px;
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				margin-left: 2%;
			}
		}
		//---------------------------------------
		//	FLITER : SWPA : COUNTRY
		//---------------------------------------
		.filter-country {
			margin-left: 7px;
			padding-top: 4px;
			width: 160px;
			@media (min-width: @screen-sm-min) and (max-width: 1244px) {
				margin-left: 2%;
			}
		}
		//---------------------------------------
		//	FLITER : SWPA : CATEGORIES
		//---------------------------------------
		.filter-swpa-categories {
			margin-left: 58px;
			padding-top: 4px;
			.a-mount {
				margin-right: 8px;
			}
		}
		//---------------------------------------
		//	FLITER : CLOSE
		//---------------------------------------
		.filter-clear-wrap {
			margin-top: 29px;
			margin-left: 62px;
			@media (min-width: @screen-sm-min) and (max-width: 1050px) {
				margin-left: 10px;
			}
			.clear {
				padding: 5px 3px;
				border: 1px solid @border-btm-grey;
				background-color: transparent;
				.icon {
					width: 13px;
					height: 13px;
					margin-bottom: 2px;
					background-image: url('../img/filter-cross.png');
				}
			}
		}
		//---------------------------------------
		//	GALLERY : Select2 Selector
		//---------------------------------------
		// .select2-container{
		// 	min-width: 130px;
		// }
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			color: @blue-grey;
			font-size: 14px;
		}
		.select2-container--default .select2-selection--single{
			border: 0;
		    // border-bottom: 1px solid @light-blue-grey;
		    border-bottom: 1px solid @border-btm-grey;
		    border-radius: 0;
		}
		.select2-container .select2-selection--single{
			height: 54px;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			line-height: 54px;
		}
		.select2-container .select2-selection--single .select2-selection__rendered{
			padding-right: 40px;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow {
		    background-image: url(../img/arrow_down.png);
		    background-repeat: no-repeat;
		    background-position: 90% center;
		    background-size: 15px;
		    width: 28px;
		    height: 11px;
		    top: 50%;
		    margin-top: -5px;
		    margin-right: 10px;
		}
		.select2-container--default .select2-selection--single .select2-selection__arrow b{
			display: none;
		}
		//---------------------------------------
		//	GALLERY : Select2 Selector
		//---------------------------------------
	}

}
//---------------------------------------
//	GALLERY : Select2 Selector
//---------------------------------------
.select2-dropdown{
	border: 0;
	color: @blue-grey;
	font-size: 14px;
}
.select2-container--default .select2-results__option[aria-selected=true]{
	background-color: #7a7f85;
	color: #ffffff;
}
.select2-container--default .select2-results>.select2-results__options{
	max-height: 450px;
}
.cate-icon{
    width: 31px;
    height: 35px;
    background-position: top;
    background-size: cover;
    padding-left: 40px;
    display: inline-block;
    vertical-align: middle;
}
.cate-text{
	display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: @blue-grey;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background-color: #7a7f85;
	color: #ffffff;
	.cate-icon{
		background-position: bottom;
	}
	.cate-text{
		color: #ffffff;
	}
}
.select2-results__option{
	padding: 18px 6px;
	border-bottom: 1px solid #e5e6e3;
}
.select2-results__option:last-child{
	border: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true]{
	display: none;
}
//---------------------------------------
//	GALLERY : Select2 Selector
//---------------------------------------
.fixed {
	position: fixed;
	top: 0;
}
//----------------------------------
//	SECONDARY NAV : DESKTOP : END
//----------------------------------

//----------------------------------
//	SECONDARY NAV : MOBILE : START
//----------------------------------
.secondary-nav-mobile {
	position: fixed;
	z-index: 999;
	width: 100%;
	margin-top: 50px;
	color: @blue-grey;
	background: @light-blue-grey;

	.font-medium();
	.filter-category,
	.filter-section {
		padding: 5px;
		a {
			transition: none;
			color: @blue-grey;
			&:hover,
			&.active {
				color: #ffffff;
			}
		}
		.camera,
		.lens,
		.photo,
		.video {
			display: inline-block;
			// width: 110px;
			height: 30px;
			margin: 0 10px;
			padding: 5px;
			vertical-align: top;
			// background-color: @light-grey;
			text-transform: uppercase;
			.icon {
				float: left;
				background-position: top;
				background-size: cover;
			}
			p {
				float: left;
				margin: 5px auto 0 10px;
				margin-bottom: 0;
			}
			&:hover,
			&.active {
				color: #ffffff;
				.icon {
					background-position: bottom;
				}
			}
		}
		.camera {
			.icon {
				width: 27px;
				height: 20px;
				// width: 30px;
				// height: 18px;
				background-image: url('../img/category-camera-mobile.png');
			}
		}
		.lens {
			.icon {
				width: 16px;
				height: 18px;
				background-image: url('../img/category-lens-mobile.png');
				margin-top: 3px;
			}
		}
		.photo {
			.icon {
				width: 23px;
				height: 20px;
				background-image: url('../img/gallery/filter/category-photo-mobile.png');
			}
		}
		.video {
			.icon {
				width: 23px;
				height: 20px;
				background-image: url('../img/gallery/filter/category-video-mobile.png');
				margin-top: 3px;
			}
		}
	}
	.filter-content-wrapper {
		display: none;
		width: 100%;
		padding-top: 5px;
		padding-bottom: 15px;
		color: #000000;
		@media (max-width: @screen-xs-max) {
			padding-bottom: 5px;
		}
		.filter-mount,
		.filter-sensor,
		.filter-type,
		.filter-model,
		.filter-lenses,
		.filter-categories,
		.filter-body,
		.filter-video-type,
		.filter-competition,
		.filter-country,
		.filter-swpa-categories {
			display: inline-block;
			width: 33%;
			@media (max-width: @screen-xs-max) {
				width: 32%;
			}
			p {
				margin-bottom: 8px;
			}
		}
		select {
			font-size: 1em;
			width: 90%;
			height: 40px;
			padding: 5px;
			text-align: center;
			color: #000000;
			border: 0;
			border-bottom: 1px solid @light-blue-grey;
			border-radius: 0;
			outline: none;
			background-color: #ffffff;
			background-image: url(../img/arrow_down.png);
			background-repeat: no-repeat;
			background-position: 90% center;
			background-size: 15px;

			-webkit-appearance: none;
			   -moz-appearance: none;
			        appearance: none;
			@media (max-width: @screen-sm-max) {
				padding-right: 22%;
			}
			@media (max-width: @screen-xs-max) {
				padding-right: 30%;
			}
		}
	}
	.filter-text-wrapper {
		width: 100%;
		padding: 8px;
		text-align: center;
		.filter-text {
			display: inline-block;
			text-transform: uppercase;
			p {
				float: left;
				margin-bottom: 0;
			}
			.down,
			.up {
				float: left;
				margin-left: 10px;
			}
			.up {
				display: none;
			}
		}
	}
}
//----------------------------------
//	SECONDARY NAV : MOBILE : END
//----------------------------------



/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### HEADER :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */




/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### CONTENT :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
h1 {
	font-size: 48px;
	line-height: 1.2em;
	margin: 0;

	.font-light();
	@media (max-width: @screen-sm-max) {
		font-size: 32px;
	}
	// @media (max-width: @screen-xs-max) {
	// 	font-size: 26px;
	// }
}
h2 {
	font-size: 26px;
	line-height: 1.2em;
	margin: 0;

	.font-roman();
	@media (max-width: @screen-xs-max) {
		font-size: 22px;
	}
}
h3 {
	font-size: 17px;
	line-height: 1.2em;
	margin: 0;

	.font-roman();
	@media (max-width: @screen-xs-max) {
		font-size: 16px;
	}
}
.disclaimer {
	font-size: 11px;
}
.coming_soon{
	font-size: 18px;
	margin-top: 20px;
}
#content {
	position: relative;
	height: auto;
	min-height: 100%;
	margin-top: -114px;
	padding-top: 125px + 114px;
	padding-bottom: 46px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: auto;
	@media (max-width: @screen-sm-max) {
		margin-top: 0;
		padding-bottom: 80px;
	}
}
// ALERT WARNING
.alert{
	border-radius: 0;
	margin-bottom: 30px;
}
.alert-warning {
	// background-color: rgb(255, 255, 255);
	// background-color: rgba(255, 255, 255, 0.3);
	background-color: rgb(240, 90, 35);
	color: #ffffff;
	border: 0;
	font-size: 13px;
	line-height: 1.3em;
}
.close{
	opacity: 0.7;
    filter: alpha(opacity=70);
}
.alert-dismissable .close, .alert-dismissible .close{
	color: #ffffff;
}
// ALERT WARNING
.slick-list,
.slick-track {
	height: 100%;
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: 0;
}
.slick-slide {
	&:focus {
		outline: none !important;
	}
}
.slick-slider {
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;

	-khtml-user-select: text;
}
.slick-list.draggable {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	-khtml-user-select: none;
}
.slick-dots li {
	margin: 0;
}
.slick-dots li{
	@media (max-width: @screen-sm-max) {
		margin: 0 5px;
	}
}
.slick-dots li button:before {
	font-size: 10px;
	color: #bfbed0;
}
.slick-dots li.slick-active button:before {
	color: #ffffff;
}

//----------------------------------
//	BACK TO TOP
//----------------------------------
.scroll_to_top {
	font-size: 1.4em;
	line-height: 2em;
	position: fixed;
	z-index: 10;
	right: 20px;
	bottom: 80px;
	display: inline-block;
	visibility: hidden;
	overflow: hidden;
	width: 2.5em;
	height: 2em;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	   -moz-transition: opacity .3s 0s, visibility 0s .3s;
	        transition: opacity .3s 0s, visibility 0s .3s;
	white-space: nowrap;
	opacity: 0;
	color: #ffffff;
	// text-indent: 100%;
	border-radius: .125em;
	background-color: @title-grey;
	box-shadow: 0 0 10px rgba(0, 0, 0, .05);
	@media (max-width: @screen-sm-max) {
		bottom: 90px;
	}
	@media (max-width: @screen-xs-max) {
		right: 15px;
		bottom: 100px;
	}
	&.top-is-visible {
		/* the button becomes visible */
		visibility: visible;
		opacity: .6;
	}
	&:hover {
		opacity: .9;
		color: #ffffff;
	}
	&.top-is-visible,
	&:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		   -moz-transition: opacity .3s 0s, visibility 0s 0s;
		        transition: opacity .3s 0s, visibility 0s 0s;
	}
}
//----------------------------------
//	pagination : MOBILE : START
//---------------------------------
.pagination {
	margin: 10px 0;
	.pager-prev,
	.pager-next {
		float: left;
		width: 120px;
		height: 45px;
		// background-color: pink;
		padding-top: 15px;
		a {
			border: 1px solid @border-grey;
			&:hover,
			&.active,
			&:focus {
				color: #ffffff;
			}
		}
	}
	.pager-prev {
		margin-right: 20px;
		text-align: right;
		a {
			padding: 15px 20px 15px 20px;
			span {
				margin-left: 14px;
			}
		}
	}
	.pager-next {
		text-align: left;
		a {
			padding: 15px 16px 15px 20px;
			span {
				margin-right: 40px;
			}
		}
	}
}
//----------------------------------
//	pagination : MOBILE : END
//---------------------------------


/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### CONTENT :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */




/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### FOOTER :: STARTS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
footer {
	font-size: 9px;
	position: relative;
	z-index: 1000;
	bottom: 0;
	clear: both;
	width: 100%;
	height: 46px;
	margin-top: -46px;
	text-transform: uppercase;
	background-color: #1f2024;

	.font-roman ();
	@media (max-width: @screen-sm-max) {
		height: 80px;
		margin-top: -80px;
		background-image: none;
	}
	.pull-right {
		position: relative;
		top: 15px;
		right: 0;
		@media (max-width: @screen-sm-max) {
			top: 20px;
			width: 100%;
			padding: 0;
		}
		p {
			margin: 0;
			text-align: right;
			color: #666666;
			@media (max-width: @screen-sm-max) {
				text-align: center;
				color: @title-grey;
			}
			@media (max-width: @screen-xs-max) {
				font-size: .8em;
			}
		}
	}
	.pull-left {
		position: relative;
		top: 15px;
		left: -15px;
		@media (max-width: @screen-sm-max) {
			top: 30px;
			left: 0;
			width: 100%;
			text-align: center;
		}
		@media (max-width: @screen-xs-max) {
			padding: 0;
		}
		a {
			margin: 0 15px;
			vertical-align: top;
			color: @light-grey;
			@media (max-width: @screen-sm-max) {
				margin-right: 0;
				// font-size: 0.9em;
				margin-left: 15px;
				&:first-child {
					margin-left: 0;
				}
			}
			&:hover,
			&.active {
				color: #666666;
			}
		}
	}
}
/* ===== ===== ===== ===== ===== */
/* ----- ----- ----- ----- ----- */
/* ##### FOOTER :: ENDS ##### */
/* ----- ----- ----- ----- ----- */
/* ===== ===== ===== ===== ===== */
