
#terms, #privacy {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	header{
		border-bottom: 1px solid @border-grey;
		.navbar-fixed-top{
			@media (min-width: @screen-sm-max) {
				position: relative;
			}
		}
		.navbar-collapse{
			&.in, &.collapsing {
				a:first-child {
					border-top: none;
				}
			}
		}
	}

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### HEADER :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */



	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		margin-top: 0;
		padding-top: 114px;
		@media (max-width: @screen-sm-max) {
			padding-top: 60px;
		}
	}
	//----------------------------------
	//	CONTAINER : START
	//----------------------------------
	.terms-wrapper,
	.privacy-wrapper{
		padding-bottom: 60px;
		@media (max-width: @screen-xs-max) {
			padding-bottom: 40px;
		}
		.terms-container, 
		.privacy-container{
			.maxWindowWidth();
			padding-top: 36px;
			@media (max-width: @screen-sm-max) {
				padding-top: 30px;
				margin-bottom: 20px;
			}
			h1{
				margin-bottom: 30px;
			}
			h2{
				text-decoration: underline;
				margin-bottom: 20px;
				@media (max-width: @screen-sm-max) {
					font-size: 16px;
				}
			}
			a{
				color: @sony-orange;
				@media (min-width: @screen-sm-max) {
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.underline{
				text-decoration: underline;
			}
		}
	}
	//----------------------------------
	//	CONTAINER : END
	//----------------------------------

	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}