<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ambassadors | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Ambassadors | Sony α Portal">
        <meta name="description" content="Learn more about Sony Alpha cameras and lenses with reviews from SLR Club.">
        <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, telephoto, zeiss, fe lens, 5-axis stabilization" />

        <meta property="og:title" content="Ambassadors | Sony α Portal">
        <meta property="og:description" content="Learn more about Sony Alpha cameras and lenses with reviews from SLR Club.">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">-->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="ambassadors">

        @@include('template/header-1.html')


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="row">
                <div class="ambassadors-wrapper col-sm-12">

                    <div class="ambassadors-container" id="ambassadors-container">

                        <script id="items-template" type="text/x-handlebars-template">​
                            {{#each this}}
                                <div class="box-wrapper {{type}} col-xs-6 col-sm-6 col-md-3">
                                    <div class="box-container center-block">
                                        <div class="img-wrapper">

                                            <a href="ambassadors/{{url}}.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:ambassadors:{{reviewsRenameTracking name}}', '', 'aportal:ambassadors:{{reviewsRenameTracking name}}', 'microsite|aportal|ambassadors|{{reviewsRenameTracking name}}');">

                                                <img src="img/ambassadors/{{img}}.jpg" width="272" height="124" alt="{{{name}}}" class="thumb center-block img-responsive">
                                            </a>
                                        </div>
                                        
                                        <p class="title custom">{{{name}}}</p>
                                        <p class="reviewby">{{{country}}}</p>
                                        <p>{{{excerpt}}}&hellip;<a href="ambassadors/{{url}}.html" onclick="">Read more <span>››</span></a></p>
                                    </div>
                                </div>
                            {{/each}}
                        </script>

                        <div class="clearfix"></div>


                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('template/footer.html')

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/ambassadors.min.js -->
        <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
        <script src="bower_components/handlebars/handlebars.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/ambassadors.js"></script>
        <!-- endbuild -->


    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:ambassadors"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:ambassadors"; // Microsite Section
        s.hier5 = "microsite|aportal|ambassadors"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
