<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gallery | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Gallery | Sony α Portal">
    <meta name="description" content="Photos and videos taken by Sony Alpha products.">
    <meta name="keywords" content="α portal, a portal, alpha portal, ilc, interchangeable lens camera, e-mount, full frame, aps-c, lens, alpha technology, mirrorless" />

    <meta property="og:title" content="Gallery | Sony α Portal">
    <meta property="og:description" content="Photos and videos taken by Sony Alpha products.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="gallery">


    @@include('template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">

        <div class="row">

            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">

                        <div class="filter-btn photo" data-category="photo">
                            <div class="icon text-center"></div>
                            <p>Photos</p>
                        </div>

                        <div class="filter-btn video" data-category="video">
                            <div class="icon text-center"></div>
                            <p>Videos</p>
                        </div>

                    </div>
                    <!-- Category -->


                    <!-- Camera Model -->
                    <div class="filter-model filter-photos">

                        <p>Camera Model</p>

                        <select id="filter-model" class="select-model filter-border" style="width:100%;">
                            <option value="" selected>All Cameras</option>
                            <!-- <option value="a7">a7</option>
                            <option value="a7S">a7S</option>
                            <option value="a7R">a7R</option> -->
                            <option value="ILCE-9">a9</option>
                            <option value="ILCA-A99M2">a99 II</option>
                            <option value="ILCE-7">a7</option>
                            <option value="ILCE-7M2">a7 II</option>
                            <option value="ILCE-7SM2">a7S II</option>
                            <option value="ILCE-7RM2">a7R II</option>
                            <option value="ILCE-6500">a6500</option>
                            <option value="ILCE-6300">a6300</option>
                            <option value="ILCE-6000">a6000</option>
                            <option value="ILCE-5100">a5100</option>
                            <option value="ILCE-5000">a5000</option>
                        </select>

                    </div>
                    <!-- Camera Model -->

                    <!-- Lenses -->
                    <div class="filter-lenses filter-photos">

                        <p>Lenses</p>

                        <select id="filter-lenses" class="select-lenses filter-border" style="width:100%;">
                            <option value="" selected>All Lenses</option>
                            <option value="SAL70200G2">70-200mm F2.8 G SSM II</option>
                            <option value="SAL70300G">70–300 mm F4.5–5.6 G SSM</option>
                            <option value="SAL70400G2">70–400mm F4–5.6 G SSM II</option>
                            <option value="SAL100M28">100mm F2.8 Macro</option>
                            <option value="SAL300F28G2">300mm F2.8 G SSM II</option>
                            <option value="SAL500F40G">500mm F4 G SSM</option>

                            <option value="SEL30M35">E 30mm F3.5 Macro</option>
                            <option value="SEL55210">E 55-210mm F4.5-6.3 OSS</option>
                            <option value="SELP1650">E PZ 16-50mm F3.5-5.6 OSS</option>

                            <option value="SEL2470GM">FE 24-70mm F2.8 GM</option>
                            <option value="SEL2870">FE 28-70mm F3.5-5.6 OSS</option>
                            <option value="SEL28F20">FE 28mm F2</option>

                            <option value="SEL50F18">E 50mm F1.8 OSS</option>

                            <option value="SEL50F18F">FE 50mm F1.8</option>
                            <option value="SEL70200GM">FE 70-200mm F2.8 GM OSS</option>
                            <option value="SEL70200G">FE 70-200mm F4 G OSS</option>
                            <option value="SEL70300G">FE 70-300mm F4.5-5.6 G OSS</option>

                            <option value="SEL90M28G">FE 90mm F2.8 Macro G OSS</option>

                            <option value="SEL100400GM">FE 100-400mm F4.5-5.6 GM OSS</option>

                            <option value="SAL85F14Z">Planar T* 85mm F1.4 ZA</option>

                            <option value="SEL55F18Z">Sonnar T* FE 55mm F1.8 ZA</option>

                            <option value="SEL1670Z">Vario-Tessar T* E 16-70mm F4 ZA OSS</option>
                            <option value="SEL1635Z">Vario-Tessar T* FE 16-35mm F4 ZA OSS</option>
                            <option value="SEL2470Z">Vario-Tessar T* FE 24-70mm F4 ZA OSS</option>
                            <option value="SAL2470Z2">Vario-Sonnar T* 24-70mm F2.8 ZA SSM II</option>

                            <option value="SEL35F14Z">Distagon T* FE 35mm F1.4 ZA</option>
                            <option value="SEL35F28Z">Sonnar T* FE 35mm F2.8 ZA</option>

                            <option value="SEL50F14Z">Planar T* FE 50mm F1.4 ZA</option>
                        </select>
                    </div>
                    <!-- Lenses -->



                    <!-- Categories -->
                    <div class="filter-categories filter-photos">

                        <p>Categories</p>

                        <select id="filter-categories" class="select-categories filter-border" style="width:100%;">
                            <option value="" selected>All Categories</option>
                            <option value="portrait">Portrait</option>
                            <option value="landscape">Landscape</option>
                            <option value="indoor">Indoor</option>
                            <option value="nightscene">Night Scene</option>
                            <option value="macro">Macro &amp; Close-ups</option>
                            <option value="travel">Travel</option>
                            <option value="sportsaction">Sports Action</option>
                            <option value="wildlife">Wildlife</option>
                            <option value="snap">Snap</option>
                        </select>

                    </div>
                    <!-- Categories -->

                    <!-- Body -->
                    <div class="filter-body filter-videos">

                        <p>Body</p>

                        <select id="filter-body" class="select-body filter-border" style="width:100%;">
                            <option value="" selected>All Bodies</option>
                            <option value="ILCE-7S">a7S</option>
                            <option value="ILCE-7M2">a7 II</option>
                            <option value="ILCE-7SM2">a7S II</option>
                            <option value="ILCE-7RM2">a7R II</option>
                            <option value="ILCE-6300">a6300</option>
                            <option value="ILCE-6000">a6000</option>
                        </select>

                    </div>
                    <!-- Body -->

                    <!-- Type -->
                    <div class="filter-video-type filter-videos">

                        <p>Type</p>

                        <select id="filter-type" class="select-type filter-border" style="width:100%;">
                            <option value="" selected>All Types</option>
                            <option value="g-master">G Master</option>
                        </select>

                    </div>
                    <!-- Type -->


                    <!-- Clear filter -->
                    <div class="filter-clear-wrap">

                        <div class="filter-btn clear text-center">
                            <div class="icon text-center"></div>
                            <p>Clear Filters</p>
                        </div>

                    </div>
                    <!-- Clear filter -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->




    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">

        <div class="row">

            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">

                    <div class="filter-btn photo" data-category="photo">
                        <div class="icon"></div>
                        <p>Photos</p>
                    </div>

                    <div class="filter-btn video" data-category="video">
                        <div class="icon"></div>
                        <p>Videos</p>
                    </div>
                    <div class="clearfix"></div>

                </div>
                <!-- Category -->

            </div>

        </div>

        <div class="row">

            <!-- FILTER CONTENT -->
            <div class="col-sm-12 filter-content-wrapper text-center" id="filter-content-wrapper">

                <!-- Camera Model -->
                <div class="filter-model filter-photos">

                    <p>Camera Model</p>

                    <select id="filter-model-mobile" class="select-model filter-border">
                        <option value="" selected>All Camera</option>
                        <option value="ILCE-9">a9</option>
                        <option value="ILCA-A99M2">a99 II</option>
                        <option value="ILCE-7">a7</option>
                        <option value="ILCE-7M2">a7 II</option>
                        <option value="ILCE-7SM2">a7S II</option>
                        <option value="ILCE-7RM2">a7R II</option>
                        <option value="ILCE-6500">a6500</option>
                        <option value="ILCE-6300">a6300</option>
                        <option value="ILCE-6000">a6000</option>
                        <option value="ILCE-5100">a5100</option>
                        <option value="ILCE-5000">a5000</option>
                    </select>

                </div>
                <!-- Camera Model -->


                <!-- Lenses -->
                    <div class="filter-lenses filter-photos">

                        <p>Lenses</p>

                        <select id="filter-lenses-mobile" class="select-lenses filter-border" style="width:100%;">
                            <option value="" selected>All Lenses</option>
                            <option value="SAL70200G2">70-200mm F2.8 G SSM II</option>
                            <option value="SAL70300G">70–300 mm F4.5–5.6 G SSM</option>
                            <option value="SAL70400G2">70–400mm F4–5.6 G SSM II</option>
                            <option value="SAL100M28">100mm F2.8 Macro</option>
                            <option value="SAL300F28G2">300mm F2.8 G SSM II</option>
                            <option value="SAL500F40G">500mm F4 G SSM</option>

                            <option value="SEL30M35">E 30mm F3.5 Macro</option>
                            <option value="SEL55210">E 55-210mm F4.5-6.3 OSS</option>
                            <option value="SELP1650">E PZ 16-50mm F3.5-5.6 OSS</option>

                            <option value="SEL2470GM">FE 24-70mm F2.8 GM</option>
                            <option value="SEL2870">FE 28-70mm F3.5-5.6 OSS</option>
                            <option value="SEL28F20">FE 28mm F2</option>

                            <option value="SEL50F18">E 50mm F1.8 OSS</option>

                            <option value="SEL50F18F">FE 50mm F1.8</option>
                            <option value="SEL70200GM">FE 70-200mm F2.8 GM OSS</option>
                            <option value="SEL70200G">FE 70-200mm F4 G OSS</option>
                            <option value="SEL70300G">FE 70-300mm F4.5-5.6 G OSS</option>

                            <option value="SEL90M28G">FE 90mm F2.8 Macro G OSS</option>

                            <option value="SEL100400GM">FE 100-400mm F4.5-5.6 GM OSS</option>

                            <option value="SAL85F14Z">Planar T* 85mm F1.4 ZA</option>

                            <option value="SEL55F18Z">Sonnar T* FE 55mm F1.8 ZA</option>

                            <option value="SEL1670Z">Vario-Tessar T* E 16-70mm F4 ZA OSS</option>
                            <option value="SEL1635Z">Vario-Tessar T* FE 16-35mm F4 ZA OSS</option>
                            <option value="SEL2470Z">Vario-Tessar T* FE 24-70mm F4 ZA OSS</option>
                            <option value="SAL2470Z2">Vario-Sonnar T* 24-70mm F2.8 ZA SSM II</option>

                            <option value="SEL35F14Z">Distagon T* FE 35mm F1.4 ZA</option>
                            <option value="SEL35F28Z">Sonnar T* FE 35mm F2.8 ZA</option>

                            <option value="SEL50F14Z">Planar T* FE 50mm F1.4 ZA</option>
                        </select>

                    </div>
                    <!-- Lenses -->


                    <!-- Categories -->
                    <div class="filter-categories filter-photos">

                        <p>Categories</p>

                        <select id="filter-categories-mobile" class="select-categories filter-border">
                            <option value="" selected>All Categories</option>
                            <option value="portrait">Portrait</option>
                            <option value="landscape">Landscape</option>
                            <option value="indoor">Indoor</option>
                            <option value="nightscene">Night Scene</option>
                            <option value="macro">Macro &amp; Close-ups</option>
                            <option value="travel">Travel</option>
                            <option value="sportsaction">Sports Action</option>
                            <option value="wildlife">Wildlife</option>
                            <option value="snap">Snap</option>
                        </select>

                    </div>
                    <!-- Categories -->

                    <!-- Bodies -->
                    <div class="filter-body filter-videos">

                        <p>Bodies</p>

                        <select id="filter-body-mobile" class="select-body filter-border">
                            <option value="" selected>All Bodies</option>
                            <option value="ILCE-7S">a7S</option>
                            <option value="ILCE-7M2">a7 II</option>
                            <option value="ILCE-7SM2">a7S II</option>
                            <option value="ILCE-7RM2">a7R II</option>
                            <option value="ILCE-6300">a6300</option>
                            <option value="ILCE-6000">a6000</option>
                        </select>

                    </div>
                    <!-- Bodies -->

                    <!-- Types -->
                    <div class="filter-video-type filter-videos">

                        <p>Types</p>

                        <select id="filter-type-mobile" class="select-type filter-border">
                            <option value="" selected>All Types</option>
                            <option value="g-master">G Master</option>
                        </select>

                    </div>
                    <!-- Bodies -->



            </div>
            <!-- FILTER CONTENT -->


            <!-- FILTER TEXT -->
            <div class="filter-text-wrapper">

                <div class="filter-text" id="filter-text">

                    <p>Filter</p>

                    <div class="up">
                        <img src="img/filter_arrow_up.png" width="21" height="10" alt="arrow up">
                    </div>

                    <div class="down">
                        <img src="img/filter_arrow_down.png" height="10" width="21" alt="">
                    </div>

                </div>

            </div>
            <!-- FILTER TEXT -->

        </div>

    </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <script id="photos-template" type="text/x-handlebars-template">​
        {{#each this}}
            <a href="{{url}}" title="{{caption}}">
                <img alt="{{caption}}" src="{{thumb.src}}" width="{{thumb.width}}" height="{{thumb.height}}" onclick="trackMs_link('aportal:gallery:photos:{{getPhotoSrc url}}', 'aportal', 'aportal:gallery:photos:{{getPhotoSrc url}}', 'microsite|aportal|swpa|gallery|photos|{{getPhotoSrc url}}');" />
            </a>
        {{/each}}
    </script>

    <script id="videos-template" type="text/x-handlebars-template">
        {{#each this}}
            <a href="https://www.youtube.com/watch?v={{youtubeid}}" title="{{caption}}">
                <img alt="{{caption}}" src="http://img.youtube.com/vi/{{youtubeid}}/hqdefault.jpg" onclick="trackMs_link('aportal:gallery:videos:{{youtubeid}}', 'aportal', 'aportal:gallery:videos:{{youtubeid}}', 'microsite|aportal|swpa|gallery|videos|{{youtubeid}}');"  />
            </a>
        {{/each}}
    </script>

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="gallery-wrapper col-xs-12">


                <div class="gallery-container text-center">
                    <p class="coming_soon">Loading...</p>



                </div>


                <div class="clearfix"></div>


                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/gallery.min.js -->
    <script src="bower_components/handlebars/handlebars.min.js"></script>
    <script src="bower_components/select2/dist/js/select2.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/justifiedGallery/src/js/justifiedGallery.js"></script>
    <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="js/template.js"></script>
    <script src="js/gallery.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:gallery"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:gallery"; // Microsite Section
    s.hier5 = "microsite|aportal|gallery"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
