<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Sony α Portal">
    <meta name="description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <meta name="keywords" content="α portal, a portal, alpha portal, ilc, interchangeable lens camera, e-mount, a-mount, full frame, aps-c, lens, alpha technology, mirrorless" />

    <meta property="og:title" content="Sony α Portal">
    <meta property="og:description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="index">


    @@include(('template/header-1.html'))


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="col-sm-12" style="padding:0;">

                <div class="home-wrapper">

                    <!-- Home slider Thumb -->
                    <div class="home-slider-thumb">
                        <div onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:home:img:01:a9', '', 'aportal:home:img:01:a9', 'microsite|aportal|home|img|01|a9')">
                            <div class="home-thumb-1 home-thumbs">
                                <div class="home-thumbs-model">&alpha;9</div>
                                <img src="img/home/thumb-1.jpg" width="180" height="115" alt="Sensitivity mastered">
                            </div>
                        </div>
                        <div onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:home:img:02:a7sii', '', 'aportal:home:img:02:a7sii', 'microsite|aportal|home|img|02|a7sii')">
                            <div class="home-thumb-2 home-thumbs">
                                <div class="home-thumbs-model">&alpha;7S II</div>
                                <img src="img/home/thumb-2.jpg" width="180" height="115" alt="Sensitivity mastered">
                            </div>
                        </div>
                        <div onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:home:img:03:a7rii', '', 'aportal:home:img:03:a7rii', 'microsite|aportal|home|img|03|a7rii')">
                            <div class="home-thumb-3 home-thumbs">
                                <div class="home-thumbs-model">&alpha;7R II</div>
                                <img src="img/home/thumb-3.jpg" width="180" height="115" alt="Reality Realised">
                            </div>
                        </div>
                        <div onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:home:img:04:sel90m28G', '', 'aportal:home:img:04:sel90m28G', 'microsite|aportal|home|img|04|sel90m28G')">
                            <div class="home-thumb-4 home-thumbs">
                                <div class="home-thumbs-model">SEL90M28G</div>
                                <img src="img/home/thumb-4.jpg" width="180" height="115" alt="High resolution bokeh">
                            </div>
                        </div>
                    </div>
                    <!-- Home thumb slider-->


                    <!-- Home Slider -->
                    <div class="home-slider">

                    <div>
                    <div class="home-content-1">
                        <div class="home-img-box hidden-md hidden-lg">
                           <div class="home-img"></div>
                        </div>
                        <div class="home-copy-box">
                            <div class="home-model_name">&alpha;9</div>
                            <div class="home-copy_title">Inspired worlds wait to be revealed</div>
                            <p>Passion expands the boundaries of imagination. But are the tools impeding the flow? True potential can only soar when free A dream meets technology, and a new camera is born. Now the future is yours.</p>
                            <!-- <p class="disclaimer">Taken by &alpha;7S II, SEL2470Z</p> -->
                            <div class="btn-wrapper">
                                <div class="btn-cta" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-9" onclick="trackMs_link('ms:aportal:home:img:01:a9:explore:ILCE-9', '', 'aportal:home:img:01:a9:explore:ILCE-9', 'microsite|aportal|home|img|01|a9|explore|ILCE-9');">
                                    <div class="sony-btn">Explore the &alpha;9 <!-- &nbsp;<span>›</span> --></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div>
                    <div class="home-content-2">
                        <div class="home-img-box hidden-md hidden-lg">
                           <div class="home-img"></div>
                        </div>
                        <div class="home-copy-box">
                            <div class="home-model_name">&alpha;7S II</div>
                            <div class="home-copy_title">Sensitivity mastered</div>
                            <p>Meet the &alpha;7S II — with ultra-high sensitivity, wide dynamic range, internal 4K movie recording and superior shooting stability.</p>
                            <!-- <p class="disclaimer">Taken by &alpha;7S II, SEL2470Z</p> -->
                            <div class="btn-wrapper">
                                <div class="btn-cta" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2" onclick="trackMs_link('ms:aportal:home:img:02:a7sii:explore:ILCE-7SM2', '', 'aportal:home:img:02:a7sii:explore:ILCE-7SM2', 'microsite|aportal|home|img|02|a7sii|explore|ILCE-7SM2');">
                                    <div class="sony-btn">Explore the &alpha;7S II <!-- &nbsp;<span>›</span> --></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>


                    <div>
                    <div class="home-content-3">
                        <div class="home-img-box hidden-md hidden-lg">
                           <div class="home-img"></div>
                        </div>
                        <div class="home-copy-box">
                            <div class="home-model_name">&alpha;7R II</div>
                            <div class="home-copy_title">Reality Realised</div>
                            <p>Introducing the full-frame, palm-sized &alpha;7R II — featuring the world’s first back-illuminated full-frame image sensor that advances the revolution in resolution with higher sensitivity, response and refinement.</p>
                            <!-- <p class="disclaimer">Taken by &alpha;7R II, SEL2470Z</p> -->
                            <div class="btn-wrapper">
                                <div class="btn-cta" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7rm2" onclick=" trackMs_link('ms:aportal:home:img:03:a7rii:explore:ILCE-7RM2', '', 'aportal:home:img:03:a7rii:explore:ILCE-7RM2', 'microsite|aportal|home|img|03|a7rii|explore|ILCE-7RM2');">
                                    <div class="sony-btn">Explore the &alpha;7R II <!-- &nbsp;<span>›</span> --></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div>
                    <div class="home-content-4">
                        <div class="home-img-box hidden-md hidden-lg">
                           <div class="home-img"></div>
                        </div>
                        <div class="home-copy-box">
                            <div class="home-model_name">SEL90M28G</div>
                            <div class="home-copy_title">High resolution bokeh</div>
                            <p>The first E-mount medium telephoto macro lens with built-in image stabilisation delivers outstanding G Lens quality: stunning resolution at up to 1:1 magnification plus gorgeous background bokeh when required, even when shooting handheld.</p>
                            <p class="disclaimer">Taken by &alpha;7 II, SEL90M28G</p>
                            <div class="btn-wrapper">
                                <div class="btn-cta" href="//www.sony-asia.com/electronics/camera-lenses/sel90m28g" onclick=" trackMs_link('ms:aportal:home:img:04:sel90m28G:explore:SEL90M28G', '', 'aportal:home:img:04:sel90m28G:explore:SEL90M28G', 'microsite|aportal|home|img|04|sel90m28G|explore|SEL90M28G');">
                                    <div class="sony-btn">Explore the SEL90M28G <!-- &nbsp;<span>›</span> --></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    </div>
                    <!-- Home Slider -->

                </div>

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/main.min.js -->
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:indexHTML"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:indexHTML"; // Microsite Section
    s.hier5 = "microsite|aportal|indexHTML"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
