<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PlayMemories | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="PlayMemories | Sony α Portal">
        <meta name="description" content="Explore the range of PlayMemories app compatible with your Alpha products.">
        <meta name="keywords" content="α portal, a portal, alpha portal, ilc, interchangeable lens camera, playmemories, play memories, pmm" />

        <meta property="og:title" content="PlayMemories | Sony α Portal">
        <meta property="og:description" content="Explore the range of PlayMemories app compatible with your Alpha products.">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">-->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="playmemories">

        @@include('template/header-1.html')



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="row">
                <div class="playmemories-wrapper col-sm-12">


                    <!-- What is PlayMemories Mobile -->
                    <div class="playmemories-what-container">
                        <div class="info">
                            <h1>What is PlayMemories Mobile?</h1>
                            <p>Usable features differ depending on the version of PlayMemories Mobile. Use of the latest version is recommended.</p>
                        </div>

                        <div class="box-wrapper">
                            <div class="box-container">
                                <div class="img-wrapper"><img src="img/playmemories/smart_remote.jpg" width="383" height="162" alt="Smart Remote Control" class="img-responsive"></div>
                                <p class="title">1. Smart Remote Control</p>
                                <p>
                                    Your mobile device, such as a smartphone, can be used as a remote commander for the camera. Operations such as releasing the shutter, starting/stopping the recording, and zooming are available.
                                </p>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="box-container">
                                <div class="img-wrapper"><img src="img/playmemories/img_transfer.jpg" width="383" height="162" alt="Image Transfer" class="img-responsive"></div>
                                <p class="title">2. Image Transfer</p>
                                <p>
                                    Images recorded with your camera can be transferred easily to the mobile device. If you use [Sync to Smartphone] of PlayMemories Camera Apps, available with some of the Alpha cameras equipped with the Wi-Fi function, image data can be transferred to your smartphone automatically.
                                    <br/><br/>
                                    <strong>Image data format to be transferred</strong>
                                    <br/><br/> Photo: JPG (Original, 2M, VGA) Movie: MP4 (AVCHD not supported)
                                </p>
                            </div>
                        </div>

                        <div class="box-wrapper">
                            <div class="box-container">
                                <div class="img-wrapper"><img src="img/playmemories/playmemories_app_ver4.jpg" width="382" height="347" alt="Image Transfer" class="img-responsive"></div>
                                <p class="title">Now more comfortable with PlayMemories Mobile application ver.4.0</p>
                                <p>
                                    The Quick Viewer function on PlayMemories Mobile ver.4.0 offers seamless switching between shooting and viewing modes without the need to open up another app.
                                </p>
                            </div>
                        </div>

                    </div>
                    <!-- What is PlayMemories Mobile -->


                    <div class="clearfix"></div>



                    <!-- PlayMemories Apps -->
                    <div class="playmemories-app-container">

                        <script id="items-template" type="text/x-handlebars-template">​
                            {{#each this}}
                                <div class="box-wrapper">
                                    <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid={{id}}" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:playmemories:app:{{onClickRename name}}', '', 'aportal:playmemories:app:{{onClickRename name}}', 'microsite|aportal|playmemories|app|{{onClickRename name}}');">
                                        <div class="box-container center-block">
                                            <div class="img-wrapper"><img src="img/playmemories/apps/thumb/{{playmemoriesRename name}}.jpg" width="210" height="118" alt="{{name}}" class="center-block img-responsive"></div>
                                            <div class="apps-info">
                                                <div class="icon-wrapper pull-left">
                                                    <img src="img/playmemories/apps/icon/{{playmemoriesRename name}}.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                                </div>
                                                <p class="name">{{name}}</p>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {{/each}}
                        </script>

                        <!-- <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000012" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/star_trail.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/star_trail.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                        </div>
                                        <p class="name">Star<br/>Trail</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000013" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/light_trail.jpg" width="210" height="118" alt="Light Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/light_trail.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                        </div>
                                        <p class="name">Light Trail</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000014" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/stop_motion.jpg" width="210" height="118" alt="Stop Motion+" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/stop_motion.png" width="46" height="47" alt="Stop Motion+" class="img-responsive">
                                        </div>
                                        <p class="name">Stop<br/>Motion+</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000010" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/liveview_grading.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/liveview_grading.png" width="46" height="47" alt="Livewview Grading" class="img-responsive">
                                        </div>
                                        <p class="name">Liveview<br/>Grading</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-F00015" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/my_best_portrait.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/my_best_portrait.png" width="46" height="47" alt="My Best Portrait" class="img-responsive">
                                        </div>
                                        <p class="name">My Best<br/>Portrait</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000012" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/star_trail.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/star_trail.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                        </div>
                                        <p class="name">Star<br/>Trail</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000013" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/light_trail.jpg" width="210" height="118" alt="Light Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/light_trail.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                        </div>
                                        <p class="name">Light Trail</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000014" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/stop_motion.jpg" width="210" height="118" alt="Stop Motion+" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/stop_motion.png" width="46" height="47" alt="Stop Motion+" class="img-responsive">
                                        </div>
                                        <p class="name">Stop<br/>Motion+</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000010" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/liveview_grading.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/liveview_grading.png" width="46" height="47" alt="Livewview Grading" class="img-responsive">
                                        </div>
                                        <p class="name">Liveview<br/>Grading</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-F00015" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/my_best_portrait.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/my_best_portrait.png" width="46" height="47" alt="My Best Portrait" class="img-responsive">
                                        </div>
                                        <p class="name">My Best<br/>Portrait</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000012" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/star_trail.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/star_trail.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                        </div>
                                        <p class="name">Star<br/>Trail</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000013" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/light_trail.jpg" width="210" height="118" alt="Light Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/light_trail.png" width="46" height="47" alt="Star Trail" class="img-responsive">
                                        </div>
                                        <p class="name">Light Trail</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000014" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/stop_motion.jpg" width="210" height="118" alt="Stop Motion+" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/stop_motion.png" width="46" height="47" alt="Stop Motion+" class="img-responsive">
                                        </div>
                                        <p class="name">Stop<br/>Motion+</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-000010" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/liveview_grading.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/liveview_grading.png" width="46" height="47" alt="Livewview Grading" class="img-responsive">
                                        </div>
                                        <p class="name">Liveview<br/>Grading</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="box-wrapper">
                            <a href="https://www.playmemoriescameraapps.com/portal/usbdetail.php?eid=IS9104-NPIA09014_00-F00015" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:menu:main:home', 'ilc:@@country', 'ilc:@@country:menu:main:home', 'microsite|ilc:@@country|menu|main|home');">
                                <div class="box-container center-block">
                                    <div class="img-wrapper"><img src="img/playmemories/apps/thumb/my_best_portrait.jpg" width="210" height="118" alt="Star Trail" class="center-block img-responsive"></div>
                                    <div class="apps-info">
                                        <div class="icon-wrapper pull-left">
                                            <img src="img/playmemories/apps/icon/my_best_portrait.png" width="46" height="47" alt="My Best Portrait" class="img-responsive">
                                        </div>
                                        <p class="name">My Best<br/>Portrait</p>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </a>
                        </div> -->



                        <div class="clearfix"></div>

                        <!-- Pagination -->
                        <div class="col-sm-12 text-center hidden-md hidden-lg">
                            <div class="pagination" id="sectionPager"></div>
                        </div>
                        <!-- Pagination -->

                        <div class="clearfix"></div>

                    </div>
                    <!-- PlayMemories Apps -->



                    <div class="clearfix"></div>



                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('template/footer.html')

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/playmemories.min.js -->
        <script src="bower_components/handlebars/handlebars.min.js"></script>
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/playmemories.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:playmemories"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:playmemories"; // Microsite Section
        s.hier5 = "microsite|aportal|playmemories"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>
</html>
