<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Privacy Policy | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Privacy Policy | Sony α Portal">
    <meta name="description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <meta name="keywords" content="α portal, a portal, alpha portal, ilc, interchangeable lens camera, e-mount, a-mount, full frame, aps-c, lens, alpha technology, mirrorless" />

    <meta property="og:title" content="Privacy Policy | Sony α Portal">
    <meta property="og:description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="privacy">


    @@include('template/header-1.html')



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="privacy-wrapper col-sm-12">


                <div class="privacy-container clearfix">

                    <h1>Privacy Policy</h1>

                    <h2>General</h2>

                    <p>This web site (“Web Site”) is managed by Sony Electronics Asia Pacific Pte. Ltd. For each visitor to this Web Site, our Web server automatically recognizes and stores the visitor’s IP address/Domain name combination. Automated tracking devices such as a “cookie” may also be used by us. A cookie is a small amount of data that our Web server sends to your Web browser when you visit certain parts of the Web Site and the use of which is intended to assist our understanding of your interest in our Web Site. Your computer provides this information automatically each time you log on, unless you have activated blocking technology available in some browsers. Activating blocking technology, however, may result in a limited experience of our functionality and services and in some cases may mean that we are unable to provide you with the services, or parts of the services, that you have requested. We also may combine your IP Address/Domain name combination with other information which you provide us. You provide this information when, for example, you send us an e-mail, fill out a registration or the feedback form, request for customer support, answer a survey or participate in contests/promotions.</p>

                    <h2>Collection of Personal Data and other user information</h2>

                    <p>Data collected during your visit to the Web Site may be used for (1) providing customer support for Sony products, (2) providing you with information on our latest software downloads & updates to our Web Site, (3) reviewing to improve the Web Site contents or layout, (4) conducting surveys, (5) marketing activities related to Sony products and services.</p>

                    <br/><br/>

                    <p>For the purposes described above, our company may share the information with any associated company in the Sony group either in Singapore or overseas. The information may be shared with third parties we deem appropriate to fulfill the above mentioned purposes. However, in such case, we will endeavor to ensure that the recipients do not use it for any purpose other than the limited purpose determined by us within the scope of your consent and we will endeavor to ensure that they secure the information from unauthorized use. The information may only be disclosed to other third parties in exceptional cases required by laws or regulatory authorities. In particular, we do not rent or sell your personal information to any third party (unless as part of the sale of our entire assets or sale of our business as a going concern).</p>

                    <p>For example, we request information when you:</p>

                    <ul>
                        <li>Register as a member of our online community;</li>
                        <li>Purchase a product or service;</li>
                        <li>Register a product warranty;</li>
                        <li>Complete a survey;</li>
                        <li>Participate in a contest or other promotional offer;</li>
                        <li>Subscribe to a newsletter or mailing list;</li>
                        <li>Apply for employment in Sony</li>
                    </ul>
                    <br/>

                    <p>Depending on where you are situated, you may have the right to request access to and correction of personal information about you held by us. If you have that right and you wish to access or have the right to ask for correct or deletion of any of your personal data held by us, or if you have any questions concerning this SONY Privacy Statement, please contact us by sending an e-mail via the <a href="//www.sony-asia.com/section/contactus" target="_blank">feedback form</a>.
                    <br/>
                    By submitting your information to us, you are consenting to the uses we have described above. We wish to assure you that your personal information will be treated with high standards of security. Sony will endeavour to take all reasonable steps to keep secure any information which we hold about you. Your personal information is stored on secure servers. Unfortunately, despite the aforementioned technology and security features, no data transmission over the Internet can be guaranteed to be 100% secure, so we cannot give an absolute assurance that the information you provide to us will be secure at all times, and we cannot be responsible for event arising from unauthorised access to your personal information. Sony will not be held responsible for events arising from third parties gaining unauthorized access to your personal information. If you do not consent to the uses as described above, we suggest you opt out where available, activate blocking technology if available in your browser, or choose not to submit your data or inquiry through the <a href="//www.sony-asia.com/section/contactus" target="_blank">feedback form</a>.</p>

                    <p>The Site may contain links to other web sites (the “<span class="underline">Linked Sites</span>“). The Linked Sites are not under the control of Sony and Sony is not responsible for any Linked Sites. You should note that any personal information that you provide to the Linked Sites are not subject to the SONY Privacy Statement, and we strongly recommend that you be aware of their privacy and security policies.</p>

                    <p>Sony reserves the right in its sole and absolute discretion to modify without prior warning or notice this SONY Privacy Statement. You agree that your continued use of the Site after such modification shall constitute an affirmative acknowledgement by you of the modifications and agreement by you to abide and be bound by such modifications. As such, Sony recommends and advises you to visit this web page to review the prevailing SONY Privacy Statement on the Site.</p>

                </div>


                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassador.min.js -->
    <script src="js/template.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:privacypolicy"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:privacypolicy"; // Microsite Section
    s.hier5 = "microsite|aportal|privacypolicy"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
