<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Products | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="title" content="Products | Sony α Portal">
        <meta name="description" content="Discover the range of Sony cameras, lenses and accessories, and capture your favourite moments with precision and style.">
        <meta name="keywords" content="ilc, interchangeable lens camera, e-mount, a-mount, full frame, aps-c, lens, mirrorless" />

        <meta property="og:title" content="Products | Sony α Portal">
        <meta property="og:description" content="Discover the range of Sony cameras, lenses and accessories, and capture your favourite moments with precision and style.">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">-->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="product">

        @@include('template/header-1.html')


        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">

            <div class="row">

                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="filter-category text-center">

                            <div class="filter-btn camera" data-category="camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>

                            <div class="filter-btn lens" data-category="lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>

                        </div>
                        <!-- Category -->


                        <!-- Camera Mount -->
                        <div class="filter-mount">

                            <p class="filter-title">Camera Mount</p>

                            <div class="filter-btn a-mount text-center" data-mount="a">
                                <div class="wrapper">
                                    <p>A-mount</p>
                                </div>
                            </div>

                            <div class="filter-btn e-mount text-center" data-mount="e">
                                <div class="wrapper">
                                    <p>E-mount</p>
                                </div>
                            </div>

                        </div>
                        <!-- Category -->


                        <!-- Sensor size -->
                        <div class="filter-sensor">

                            <p class="filter-title">Sensor Size</p>

                            <div class="filter-btn fullframe text-center" data-sensor="fullframe">
                                <div class="wrapper">
                                    <p>Full Frame</p>
                                </div>
                            </div>

                            <div class="filter-btn apsc text-center" data-sensor="apsc">
                                <div class="wrapper">
                                    <p>APS-C</p>
                                </div>
                            </div>

                        </div>
                        <!-- Sensor size -->


                        <!-- Type -->
                        <div class="filter-type hidden">

                            <p class="filter-title">Type</p>

                            <div class="filter-btn g text-center" data-type="g_master">
                                <div class="wrapper">
                                    <p>G Master Lenses</p>
                                </div>
                            </div>

                            <div class="filter-btn g text-center" data-type="g">
                                <div class="wrapper">
                                    <p>G Lenses</p>
                                </div>
                            </div>

                            <div class="filter-btn zeiss text-center" data-type="zeiss">
                                <div class="wrapper">
                                    <p>ZEISS&reg; Lenses</p>
                                </div>
                            </div>

                            <div class="filter-btn prime text-center" data-type="prime">
                                <div class="wrapper">
                                    <p>Prime Lenses</p>
                                </div>
                            </div>

                            <div class="filter-btn zoom text-center" data-type="zoom">
                                <div class="wrapper">
                                    <p>Zoom Lenses</p>
                                </div>
                            </div>

                            <div class="filter-btn macro text-center" data-type="macro">
                                <div class="wrapper">
                                    <p>Macro Lenses</p>
                                </div>
                            </div>
                        </div>
                        <!-- Type -->


                        <!-- Clear filter -->
                        <div class="filter-clear-wrap">

                            <div class="filter-btn clear text-center">
                                <div class="icon text-center"></div>
                                <p>Clear Filters</p>
                            </div>

                        </div>
                        <!-- Clear filter -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->



        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">

            <div class="row">

                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">

                        <div class="filter-btn camera" data-category="camera">

                            <div class="icon"></div>
                            <p>Cameras</p>

                        </div>

                        <div class="filter-btn lens" data-category="lens">

                            <div class="icon"></div>
                            <p>Lenses</p>

                        </div>

                        <div class="clearfix"></div>

                    </div>
                    <!-- Category -->

                </div>

            </div>

            <div class="row">

                <!-- FILTER CONTENT -->
                <div class="col-sm-12 filter-content-wrapper text-center" id="filter-content-wrapper">

                    <div class="filter-mount">

                        <p>Camera Mount</p>

                        <select id="filter-mount">
                            <option value="" selected disabled>Select</option>
                            <option value="a">A-mount</option>
                            <option value="e">E-mount</option>
                        </select>

                    </div>

                    <div class="filter-sensor">

                        <p>Sensor Size</p>

                        <select id="filter-sensor">
                            <option value="" selected disabled>Select</option>
                            <option value="fullframe">Full Frame</option>
                            <option value="apsc">APS-C</option>
                        </select>

                    </div>

                    <div class="filter-type">

                        <p>Type</p>

                        <select id="filter-type">
                            <option value="" selected disabled>Select</option>
                            <option value="g_master">G Master Lenses</option>
                            <option value="g">G Lenses</option>
                            <option value="zeiss">ZEISS&reg; Lenses</option>
                            <option value="prime">Prime Lenses</option>
                            <option value="zoom">Zoom Lenses</option>
                            <option value="macro">Macro Lenses</option>
                        </select>

                    </div>

                </div>
                <!-- FILTER CONTENT -->


                <!-- FILTER TEXT -->
                <div class="filter-text-wrapper">

                    <div class="filter-text" id="filter-text">

                        <p>Filter</p>

                        <div class="up">
                            <img src="img/filter_arrow_up.png" width="21" height="10" alt="arrow up">
                        </div>

                        <div class="down">
                            <img src="img/filter_arrow_down.png" height="10" width="21" alt="">
                        </div>

                    </div>

                </div>
                <!-- FILTER TEXT -->

            </div>

        </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->





        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <section id="content" class="container-fluid">

            <div class="row">

                <div class="products-wrapper col-sm-12">

                    <div class="products-container" id="products-container">

                        <div class="row">

                            <script id="products-template" type="text/x-handlebars-template">​

                                {{#each this}}

                                    <div class="box-wrapper col-xs-6 col-md-4 col-lg-3">

                                        <div class="box-container">
                                            {{#equals category 'camera'}}
                                                <div class="box-cta" href="{{url}}?cid={{model}}:pdp:aportal:ms:products:cameras" onclick="trackMs_link('ms:aportal:products:cameras:{{model}}', '', 'aportal:products:cameras:{{model}}', 'microsite|aportal|products|cameras|{{model}}','event50')">
                                            {{/equals}}

                                            {{#equals category 'lens'}}
                                                <div class="box-cta" href="{{url}}?cid={{model}}:pdp:aportal:ms:products:lenses" onclick="trackMs_link('ms:aportal:products:lenses:{{model}}', '', 'aportal:products:lenses:{{model}}', 'microsite|aportal|products|lenses|{{model}}','event50')">
                                            {{/equals}}

                                            <div class="img-wrapper">

                                                <div class="img-container">

                                                    {{#if typelogo}}
                                                        <div class="type-logo">
                                                            <img src="img/{{typelogo.path}}.png" alt="{{typelogo.alt}}" class="img-responsive">
                                                        </div>
                                                    {{/if}}

                                                    <img src="img/product/{{category}}/{{toLowerCase model}}.jpg" width="220" height="152" alt="" class="center-block img-responsive thumb">
                                                </div>

                                            </div>

                                            <!-- <p class="name">{{title}} — {{@index}}</p> -->
                                            <p class="name">{{title}}</p>

                                            <p class="model">{{subTitle}}</p>
                                            <ul>
                                                {{#each features}}
                                                    <li>{{{this}}}</li>
                                                {{/each}}
                                            </ul>
                                            </div>

                                            {{#equals category 'camera'}}
                                                <a class="cta" href="#{{toLowerCase model}}" role="button" onclick="trackMs_link('ms:aportal:products:cameras:exploremore', '', 'aportal:products:cameras:exploremore', 'microsite|aportal|products|cameras|exploremore','event49')">Explore more <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a>
                                            {{/equals}}

                                            {{#equals category 'lens'}}
                                                <a class="cta" href="#{{toLowerCase model}}" role="button" onclick="trackMs_link('ms:aportal:products:lenses:exploremore', '', 'aportal:products:lenses:exploremore', 'microsite|aportal|products|lenses|exploremore','event49')">Explore more <span class="glyphicon glyphicon-triangle-bottom pull-right"></span></a>
                                            {{/equals}}

                                            <div class="hidden" id="{{toLowerCase model}}">

                                                <div class="row">

                                                    <!-- <div class="col-sm-10 col-sm-offset-1 col-xs-12"> -->
                                                    <div class="col-xs-12">

                                                        <div class="row">

                                                        <div class="explore-box col-md-3 col-sm-6 col-xs-6">
                                                                <div class="wrapper center-block">
                                                                    <p class="title text-left">{{title}}</p>
                                                                    <div>
                                                                        {{#equals category 'camera'}}
                                                                        <a class="box-cta" style="background-image: url(img/product/{{category}}/{{toLowerCase model}}.jpg)" href="{{url}}?cid={{model}}:pdp:aportal:ms:products:cameras" onclick="trackMs_link('ms:aportal:products:cameras:{{model}}', '', 'aportal:products:cameras:{{model}}', 'microsite|aportal|products|cameras|{{model}}','event50')">
                                                                        {{/equals}}

                                                                        {{#equals category 'lens'}}
                                                                        <a class="box-cta" style="background-image: url(img/product/{{category}}/{{toLowerCase model}}.jpg)" href="{{url}}?cid={{model}}:pdp:aportal:ms:products:lenses" onclick="trackMs_link('ms:aportal:products:lenses:{{model}}', '', 'aportal:products:lenses:{{model}}', 'microsite|aportal|products|lenses|{{model}}','event50')">
                                                                        {{/equals}}
                                                                            <img class="img-responsive" src="img/product/placeholder-reviews.png" alt="">
                                                                        </a>
                                                                        <!-- <a onclick="return false;"><img class="img-opacity img-responsive" src="img/product/placeholder-reviews.png" alt=""></a> -->
                                                                    </div>
                                                                    <p class="description text-left">{{subTitle}}</p>
                                                                </div>
                                                            </div>


                                                            <div class="explore-box col-md-3 col-sm-6 col-xs-6">
                                                                <div class="wrapper center-block">
                                                                    <p class="title text-left">Accessories Compatibility</p>
                                                                    <div>
                                                                        {{#equals category 'camera'}}
                                                                            <a class="digital-imaging-compatibility" href="http://www.sony-asia.com/microsite/imaging-accessories/#?filter=accessories?cid=diaccy:ms:aportal:ms:products:cameras" onclick="trackMs_link('ms:aportal:products:cameras:exploremore:diaccy', '', 'aportal:products:cameras:exploremore:diaccy', 'microsite|aportal|products|cameras|exploremore|diaccy','event49');" target="_blank"><img class="img-responsive" src="img/product/digital_imaging_compability.png" alt="Accessories Compatibility"></a>
                                                                        {{/equals}}

                                                                        {{#equals category 'lens'}}
                                                                            <a class="digital-imaging-compatibility" href="http://www.sony-asia.com/microsite/imaging-accessories/#?filter=accessories?cid=diaccy:ms:aportal:ms:products:lenses" onclick="trackMs_link('ms:aportal:products:lenses:exploremore:diaccy', '', 'aportal:products:lenses:exploremore:diaccy', 'microsite|aportal|products|lenses|exploremore|diaccy','event49');" target="_blank"><img class="img-responsive" src="img/product/digital_imaging_compability.png" alt="Accessories Compatibility"></a>
                                                                        {{/equals}}
                                                                    </div>
                                                                    <p class="description text-left">The perfect match for your Sony Products & Accessories</p>
                                                                </div>
                                                            </div>


                                                            <!-- <div class="clearfix hidden-sm hidden-md hidden-lg"></div> -->


                                                            {{#if reviews}}
                                                            <div class="explore-box col-md-3 col-sm-6 col-xs-6">
                                                                <div class="wrapper center-block">
                                                                    <p class="title text-left">Community Reviews</p>
                                                                    <div>
                                                                        {{#if reviews.model}}

                                                                            {{#equals category 'camera'}}
                                                                            <a class="com_reviews-cta" style="background-image: url(img/community-reviews/{{reviews.category}}/{{reviews.model}}/cover.jpg)" href="community-reviews/{{reviews.category}}/{{reviews.model}}.html" onclick="trackMs_link('ms:aportal:products:cameras:exploremore:communityReviews', '', 'aportal:products:cameras:exploremore:communityReviews', 'microsite|aportal|products|cameras|exploremore|communityReviews','event49');">
                                                                                <img class="img-responsive" src="img/product/placeholder-reviews.png" alt="">
                                                                            </a>

                                                                            <p class="description text-left">{{reviews.excerpt}}</p>

                                                                            {{/equals}}

                                                                            {{#equals category 'lens'}}
                                                                            <a class="com_reviews-cta" style="background-image: url(img/community-reviews/{{reviews.category}}/{{reviews.model}}/cover.jpg)" href="community-reviews/{{reviews.category}}/{{reviews.model}}.html" onclick="trackMs_link('ms:aportal:products:lenses:exploremore:communityReviews', '', 'aportal:products:lenses:exploremore:communityReviews', 'microsite|aportal|products|lenses|exploremore|communityReviews','event49');">
                                                                                <img class="img-responsive" src="img/product/placeholder-reviews.png" alt="">
                                                                            </a>

                                                                            <p class="description text-left">{{reviews.excerpt}}</p>

                                                                            {{/equals}}

                                                                        {{else}}
                                                                            <a onclick="return false;"><img class="img-opacity img-responsive" src="img/product/placeholder-reviews.png" alt=""></a>

                                                                            <p class="description text-left">Coming soon &hellip;</p>
                                                                        {{/if}}
                                                                        
                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                            {{/if}}


                                                            {{#if testimonials}}
                                                            <div class="explore-box col-md-3 col-sm-6 col-xs-6">
                                                                <div class="wrapper center-block">
                                                                    <p class="title text-left">Ambassador</p>
                                                                    <div>
                                                                        <!-- <a href="#"><img class="img-opacity img-responsive" src="img/product/placeholder-ambassador.png" alt=""></a> -->
                                                                        <a onclick="return false;"><img class="img-opacity img-responsive" src="img/product/placeholder-ambassador.png" alt=""></a>

                                                                    </div>
                                                                    <p class="description text-left">Coming soon &hellip;</p>
                                                                </div>
                                                            </div>
                                                            {{/if}}


                                                            <!-- <div class="clearfix hidden-md hidden-lg"></div> -->

                                                            {{#if galleries}}
                                                            <div class="explore-box col-md-3 col-sm-6 col-xs-6">
                                                                <div class="wrapper center-block">
                                                                    <p class="title text-left">Gallery</p>
                                                                    <div>
                                                                        {{#equals category 'camera'}}
                                                                        <a href="{{galleries.url}}" onclick="trackMs_link('ms:aportal:products:cameras:exploremore:gallery', '', 'aportal:products:cameras:exploremore:gallery', 'microsite|aportal|products|cameras|exploremore|gallery','event49');"><img class="img-responsive" src="img/product/placeholder-gallery.png" alt=""></a>
                                                                        <!-- <a onclick="return false;"><img class="img-opacity img-responsive" src="img/product/placeholder-gallery.png" alt=""></a> -->
                                                                        {{/equals}}

                                                                        {{#equals category 'lens'}}
                                                                        <a href="{{galleries.url}}" onclick="trackMs_link('ms:aportal:products:lenses:exploremore:gallery', '', 'aportal:products:lenses:exploremore:gallery', 'microsite|aportal|products|lenses|exploremore|gallery','event49');"><img class="img-responsive" src="img/product/placeholder-gallery.png" alt=""></a>
                                                                        <!-- <a onclick="return false;"><img class="img-opacity img-responsive" src="img/product/placeholder-gallery.png" alt=""></a> -->
                                                                        {{/equals}}
                                                                    </div>
                                                                    <p class="description text-left">Uncover the most captivating photographs captured with the Sony α range of cameras</p>
                                                                </div>
                                                            </div>
                                                            {{/if}}


                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            </div>

                                        </div>

                                        {{#mod @index 4 3}}
                                            <div class="clearfix hidden-xs hidden-sm hidden-md"></div>
                                            <div class="content-placeholder hidden-xs hidden-sm hidden-md four-column">
                                                <div class="indicator"><img src="img/product/indicator.png" alt="" width="22" height="10"></div>
                                                <div class="content"></div>
                                            </div>
                                            {{else}}
                                                {{#lastItemCheck @index ../this.length}}
                                                    <div class="clearfix hidden-xs hidden-sm hidden-md"></div>
                                                    <div class="content-placeholder hidden-xs hidden-sm hidden-md four-column">
                                                        <div class="indicator"><img src="img/product/indicator.png" alt="" width="22" height="10"></div>
                                                        <div class="content"></div>
                                                    </div>
                                                {{/lastItemCheck}}
                                        {{/mod}}

                                        {{#mod @index 3 2}}
                                            <div class="clearfix hidden-xs hidden-sm hidden-lg"></div>
                                            <div class="content-placeholder hidden-xs hidden-sm hidden-lg three-column">
                                                <div class="indicator"><img src="img/product/indicator.png" alt="" width="22" height="10"></div>
                                                <div class="content"></div>
                                            </div>
                                            {{else}}
                                                {{#lastItemCheck @index ../this.length}}
                                                    <div class="clearfix hidden-xs hidden-sm hidden-lg"></div>
                                                    <div class="content-placeholder hidden-xs hidden-sm hidden-lg three-column">
                                                        <div class="indicator"><img src="img/product/indicator.png" alt="" width="22" height="10"></div>
                                                        <div class="content"></div>
                                                    </div>
                                                {{/lastItemCheck}}
                                        {{/mod}}

                                        {{#mod @index 2 1}}
                                            <div class="clearfix hidden-md hidden-lg"></div>
                                            <div class="content-placeholder hidden-md hidden-lg two-column">
                                                <div class="indicator"><img src="img/product/indicator.png" alt="" width="22" height="10"></div>
                                                <div class="content"></div>
                                            </div>
                                            {{else}}
                                                {{#lastItemCheck @index ../this.length}}
                                                    <div class="clearfix hidden-md hidden-lg"></div>
                                                    <div class="content-placeholder hidden-md hidden-lg two-column">
                                                        <div class="indicator"><img src="img/product/indicator.png" alt="" width="22" height="10"></div>
                                                        <div class="content"></div>
                                                    </div>
                                                {{/lastItemCheck}}
                                        {{/mod}}

                                {{/each}}

                            </script>

                            </div>

                        </div>

                        <div class="clearfix"></div>

                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->

                    </div>

                </div>

        </section>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('template/footer.html')

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/product.min.js -->
        <script src="bower_components/handlebars/handlebars.min.js"></script>
        <script src="bower_components/lodash/lodash.min.js"></script>
        <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/product.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:products"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:products"; // Microsite Section
        s.hier5 = "microsite|aportal|products"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


    </body>

</html>
