<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Terms & Conditions | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Terms & Conditions | Sony α Portal">
    <meta name="description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <meta name="keywords" content="α portal, a portal, alpha portal, ilc, interchangeable lens camera, e-mount, a-mount, full frame, aps-c, lens, alpha technology, mirrorless" />

    <meta property="og:title" content="Terms & Conditions | Sony α Portal">
    <meta property="og:description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="terms">


    @@include('template/header-1.html')





    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="terms-wrapper col-sm-12">


                <div class="terms-container clearfix">

                    <h1>Terms & Conditions</h1>

                    <p>Please read these terms and conditions of use (“Terms and Conditions”) carefully before accessing and browsing this web site (“Web Site”). You may use this web site only if you agree to and accept the Terms and Conditions without limitation or reservation, and any such use by you will be deemed an acceptance of the Terms and Conditions. Sony Electronics Asia Pacific Pte. Ltd. (“SONY”) may, at its sole and exclusive discretion, with or without notice to you change, alter, modify, add, and/or remove portions of the Terms and Conditions at any time by updating the contents of this page. So you are requested to visit this page and check the Terms and Conditions periodically.</p>

                    <p>This Web Site is linked to other web sites, also operated by SONY or its affiliates (“SONY Site”). In addition to the Terms and Conditions, use of each SONY Site shall also be subject to the terms and conditions particular to such SONY Site. In the event that any of the terms, conditions and notices contained in the Terms and Conditions conflict with the terms and conditions particular to such SONY Site, then the terms and conditions particular to such SONY Site shall prevail and govern such SONY Site.</p>
                    <br/>

                    <h2>Limitation of Use</h2>

                    <p>All materials on this Web Site are protected by copyright laws, and other applicable laws of each country throughout the world, and treaty provisions. Except for personal or non-commercial internal use, you are prohibited to use (including, without limitation, copying, modifying, reproducing in whole or in part, uploading, transmitting, distributing, licensing, selling and publishing) any of the materials, without obtaining prior written permission from SONY. Any software that is made available on this Web Site (“Software”) is the copyrighted work of the respective owners and is protected by copyright laws and other applicable laws of each country throughout the world, and treaty provisions. Use of the Software is subject to the terms and conditions of each end-user license agreement between the owner of such Software and end-user thereof. The trademark “SONY” and any other product names, service names or logos of SONY used, quoted and/or referenced in this Web Site are trademarks or registered trademarks of Sony Corporation or any of its affiliates. Other product names and/or company names used in the Web Site are used with the permission of their respective owners and may be protected as their trademarks and/or trade names.</p>

                    <p>Nothing contained on the Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trade mark displayed on the Site without the express written permission of Sony or, if applicable, the third party owner of the relevant trade mark.</p>


                    <h2>Prohibited Conduct</h2>

                    <ol>
                        <li>Infringing the legal rights (including the rights of privacy and publicity) of others.</li>
                        <li>Causing any damage or disadvantage to others.</li>
                        <li>Disturbing public order.</li>
                        <li>Criminal act.</li>
                        <li>Uploading or distributing any third parties’ private information without obtaining approval from such third parties.</li>
                        <li>Using this Web Site for any commercial purpose.</li>
                        <li>Defaming, disgracing or libeling others.</li>
                        <li>Uploading files that contain viruses, or corrupted files that may damage the operation of others’ computers.</li>
                        <li>Any other activities that are unlawful or prohibited by any applicable laws.</li>
                        <li>Any other activities that Sony or its affiliates deems inappropriate.</li>
                    </ol>

                    <h2>Proposal and Offer</h2>

                    <p>SONY and any of its affiliates or counterparts have the policy not to accept, from the third parties, any proposal and/or offer for our products and/or services, including, without limitation, ideas for new or improved products, technologies, designs, processes, software, promotions, advertisements and marketing plans in order to avoid any possible future confusion between such proposal and/or offer from the third parties and our own. You are requested not to send any information which may contain your ideas, artwork, inventions, developments, suggestions or other works (“Idea”).</p>

                    <p>Despite the foregoing request, if you send your Idea to our attention, then such Idea will be treated upon the understanding that you agreed to the following terms:</p>

                    <ol>
                        <li>SONY has no obligation to treat the Idea as confidential information</li>
                        <li>SONY has no obligation to study, evaluate or adopt the Idea.</li>
                        <li>Even if SONY happens to adopt any idea identical or similar in whole or in part to the Idea, SONY shall have sole ownership of any intellectual property rights resulting therefrom, and you agree to do all things necessary or required by SONY to vest ownership of such intellectual property rights in SONY. SONY shall not be liable to you or any third party for any compensation in relation to such intellectual property rights.</li>
                    </ol>

                    <h2>Disclaimers of Warranties</h2>

                    <p>YOUR USE OF THIS WEB SITE IS AT YOUR OWN RISK. THIS WEB SITE (INCLUDING ALL CONTENT AND FUNCTIONS MADE AVAILABLE ON OR ACCESSED THROUGH THIS WEB SITE) IS PROVIDED “AS IS.” TO THE FULLEST EXTENT PERMISSIBLE BY LAW. SONY MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER (1) FOR THE ACCURACY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT OF ANY CONTENT PUBLISHED ON OR AVAILABLE THROUGH THIS WEB SITE, (2) THAT THE SERVER THAT MAKES THIS SITE AVAILABLE IS FREE OF VIRUSES OR OTHER COMPONENTS THAT MAY INFECT, HARM OR CAUSE DAMAGE TO YOUR COMPUTER EQUIPMENT OR ANY OTHER PROPERTY WHEN YOU ACCESS, BROWSE, DOWNLOAD FROM OR OTHERWISE USE THIS WEB SITE.</p>

                    <p>SONY and/or any of its affiliates shall not be liable for any loss or damage arising out of your use or access, or inability to use or access, this Web Site. SONY may change and/or alter the contents of this Web Site, or may suspend or discontinue the services provided through this Web Site at any time without any prior notice. SONY or any of its affiliates shall not be liable for any damages arising out of any alteration or change of the contents or inability to use this Web Site.</p>

                    <h2>Availability of Products and Services</h2>

                    <p>The products and services displayed on this Web Site may not be available for purchase in your particular country or locality. The reference to such products and services on this Web Site does not imply or warrant that these products or services will be available at any time in your particular location. You should check with your local Sony authorized representative for the availability of specific products and services in your area.</p>

                    <h2>Hypertext linking from this site</h2>

                    <p>The Site may contain links to other web sites (the “Linked Sites”). Your linking to any other site is entirely at your own risk. The Linked Sites are not under the control of Sony and Sony is not responsible for the contents of any Linked Sites, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Sony is not responsible for web casting or any other form of transmission received from any Linked Site. Sony is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Sony of the web site or any association with its operators. You are responsible for viewing and abiding by the terms and conditions, privacy statements and other legal notices posted at the Linked Sites. Sony disclaims all warranties, express and implied, as to the accuracy, validity, and legality or otherwise of any materials or information contained on such sites.</p>

                    <h2>Documents and Software available on SONY Sites</h2>

                    <p>SONY may make available to you documentation in relation to product usage and specifications from time to time on SONY Sites (ÒDocumentationÓ). You may use such Documentation for non-commercial or personal use only and for purposes the product or service the Documentation pertains to. Documentation published on SONY Sites may include typographical errors. Changes are periodically added to the information herein. SONY only maintains the most updated version of any documentation on the SONY Sites. As SONY does provide products and services that differ slightly in their specifications, there may be separate documentation for products and services that differ only slightly. You are requested to ascertain at all times that you are using the correct version of the documentation.</p>

                    <p>SONY MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION CONTAINED IN THE DOCUMENTATION PUBLISHED IN SONY SITES FOR ANY PURPOSE. ALL SUCH DOCUMENTATION ARE PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND. SONY HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE DOCUMENTATION, INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL SONY BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OF INFORMATION CONTAINED IN THE DOCUMENTATION.</p>

                    <p>Where expressly provided for by Sony on the Site, some contents on this Site are available for download by you (the ÒDownloadable ContentÓ). Sony hereby grants you a non-exclusive, limited, non-transferable, royalty-free right to download the Downloadable Content for your personal and non-commercial use only. You shall not sub-license, distribute, adapt, modify, create derivative works from, decompile, reverse engineer the Downloadable Content without the prior written consent of Sony.</p>

                    <p>SONY MAKES NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE DOWNLOADABLE CONTENT FOR ANY PURPOSE OTHER THAN THE PURPOSE FOR WHICH SONY INTENDS. ALL DOWNLOADABLE CONTENT IS PROVIDED “AS IS” WITHOUT WARRANTY OF ANY KIND. SONY HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE DOWNLOADABLE CONTENT, INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL SONY BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE THE DOWNLOADABLE CONTENT.</p>

                    <h2>Transmitted Material</h2>

                    <p>Sony does not guarantee that any e-mails sent from the Site will be received by you or received by Sony if sent by you nor does Sony warrant the privacy and/or security of e-mails during Internet transmission.</p>

                    <h2>User details</h2>

                    <p>If Sony provides you with user details to facilitate your use of or access to the Site (“User Details”), or a particular section of the Site, you must not disclose your User Details to any other person. It will be your responsibility to ensure that your User Details are not disclosed to any other person. You are solely responsible for all activities that occur using your User Details including, without limitation, all activities authorized or unauthorized, lawful or unlawful, which utilize your User Details. Sony is entitled to act on instructions received under your User Details. Sony cannot and will not be liable for any changes made to your User Details by another person using your User Details, or for any loss or damage arising from your failure to adequately protect your User Details. For security purposes, you should memorize (and not write down) your User Details.</p>

                </div>


                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassador.min.js -->
    <script src="js/template.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:terms"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:terms"; // Microsite Section
    s.hier5 = "microsite|aportal|terms"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->



  </body>
</html>
