<!DOCTYPE html>
<html lang="en">
  <head>
    <title>4D Focus | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="4D Focus | Sony α Portal">
    <meta name="description" content="The 4D Focus picks up both space and time to capture moving subjects with new clarity">
    <meta name="keywords" content="4D focus" />

    <meta property="og:title" content="4D Focus | Sony α Portal">
    <meta property="og:description" content="The 4D Focus picks up both space and time to capture moving subjects with new clarity">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="tech-article">

    @@include('../../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                            <div class="filter-btn active camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>
                        </a>
                        <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                            <div class="filter-btn lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>
                        </a>
                    </div>
                    <!-- Category -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->



    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">
                    <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                        <div class="filter-btn active camera">
                            <div class="icon"></div>
                            <p>Cameras</p>
                        </div>
                    </a>
                    <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                        <div class="filter-btn lens">
                            <div class="icon"></div>
                            <p>Lenses</p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <!-- Category -->

            </div>
        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid fourk-focus">
        <div class="row">
            <div class="tech-article-wrapper col-sm-12">

                <div class="tech-article-container">

                    <!-- row : intro -->
                    <div class="row">
                        <h1 class="col-sm-12">4D Focus</h1>
                        <div class="col-sm-12 col-md-12">
                            <p>Until now, conventional autofocus has dealt with space alone. Sony goes one step further with an innovative image sensor that picks up both space and time to capture moving subjects with new clarity. 4D FOCUS allows you to take crisper photos than ever. Plain old autofocus is a thing of the past. The future of photography is in motion.</p>
                        </div>
                    </div>
                    <!-- row : intro -->


                    <div class="clearfix"></div>


                    <!-- Content : What is 4D focus -->
                    <div class="row">
                        <h2 class="col-sm-12">What is 4D FOCUS?</h2>
                        <div class="col-sm-12">
                            <div class="content-wrapper clearfix">

                                <!-- ::: Space 3D ::: -->
                                <div class="space3d">
                                    <h3>Space: 3D</h3>
                                    <!-- area -->
                                    <div class="area">
                                        <div class="hidden-md hidden-lg i-bit bit_area"></div>
                                        <img class="img-responsive img-wrapper" src="img/technology/cameras/article/4d-img_area.jpg" alt="Area">
                                        <h4>Area</h4>
                                        <p class="tit">Wide</p>
                                        <p class="text">
                                            The wide AF area, covering nearly the entire frame(*&alpha;6000, &alpha;5100 only), allows focusing on a subject positioned even off the center of the frame.
                                        </p>
                                    </div>
                                    <!-- area -->

                                    <!-- depth -->
                                    <div class="depth">
                                        <div class="hidden-md hidden-lg i-bit bit_depth"></div>
                                        <img class="img-responsive img-wrapper" src="img/technology/cameras/article/4d-img_depth.jpg" alt="Depth">
                                        <h4>Depth</h4>
                                        <p class="tit">Fast</p>
                                        <p class="text">
                                            Fast Hybrid AF, combining phase-detection AF and contrast-detection AF, instantly detects the distance to the subject for accurate focus.
                                            <br/>
                                            &alpha;6000, &alpha;5100 only.
                                        </p>
                                    </div>
                                    <!-- depth -->
                                </div>
                                <!-- ::: Space 3D ::: -->



                                <!-- ::: Time 4D ::: -->
                                <div class="time4d">
                                    <img class="img-responsive plus" src="img/technology/cameras/article/4d-plus.jpg" alt="Plus">
                                    <h3>Time: 4D</h3>
                                    <!-- time -->
                                    <div class="time">
                                        <div class="hidden-md hidden-lg i-bit bit_time"></div>
                                        <img class="img-responsive img-wrapper" src="img/technology/cameras/article/4d-img_time.jpg" alt="Time">
                                        <h4>Time</h4>
                                        <p class="tit">Steadfast</p>
                                        <p class="text">
                                            An advanced AF algorithm accurately predicts the subject's next move. Precise AF tracking allows focus to be maintained even on fast-moving subjects.
                                        </p>
                                    </div>
                                    <!-- time -->
                                </div>
                                <!-- ::: Time 4D ::: -->



                                <!-- ::: focus ::: -->
                                <div class="focus clearfix">
                                    <div class="focus-container">
                                        <img class="img-responsive equal for_pc" src="img/technology/cameras/article/4d-equal.jpg" alt="equal">
                                        <img class="img-responsive equal for_sp" src="img/technology/cameras/article/4d-arrow.jpg" alt="equal">
                                        <img class="img-responsive logo_4d_focus" src="img/technology/cameras/article/4d-logo_4d_focus.jpg" alt="4D FOCUS">
                                    </div>
                                </div>
                                <!-- ::: focus ::: -->

                            </div>
                        </div>
                    </div>
                    <!-- Content : What is 4D focus -->


                    <div class="clearfix"></div>


                    <!-- video -->
                    <div class="row">
                        <div class="video-wrapper col-sm-12">
                            <div class="embed-responsive embed-responsive-16by9">
                                <div class="lazyyt" data-youtube-id="qZGmLf6o6Bc" data-ratio="16:9">Loading...</div>
                            </div>
                        </div>
                    </div>
                    <!-- video -->


                    <div class="clearfix"></div>


                    <!-- models -->
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                            <!-- Title -->
                            <div class="row models-row">
                                <div class="col-sm-12">
                                    <p>Available in models:</p>
                                </div>
                            </div>
                            <!-- Title -->

                            <!-- cameras : lenses -->
                            <div class="row models-row">
                                <div class="col-sm-12" id="slider">
                                    <div class="models-slider">

                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-6300-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-6300-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-6300 BODY / KIT</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-6000-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-6000-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-6000 / ILCE-6000L / ILCE-6000Y</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-5100-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-5100-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-5100L / ILCE-5100Y</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- cameras : lenses -->

                        </div>
                    </div>
                    <!-- models -->

                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    @@include('../../template/tech-articles-js.html')

    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:technology:cameras:4dFocus"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:technology:cameras"; // Microsite Section
    s.hier5 = "microsite|aportal|technology|cameras|4dFocus"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
