<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BIONZ X | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="BIONZ X | Sony α Portal">
    <meta name="description" content="Faster, smarter and efficient BIONZ X Imaging Processing Engine for more natural and clearer picture quality">
    <meta name="keywords" content="bionz x, image processing" />

    <meta property="og:title" content="BIONZ X | Sony α Portal">
    <meta property="og:description" content="Faster, smarter and efficient BIONZ X Imaging Processing Engine for more natural and clearer picture quality">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="tech-article">

    @@include('../../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                            <div class="filter-btn active camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>
                        </a>
                        <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                            <div class="filter-btn lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>
                        </a>
                    </div>
                    <!-- Category -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->



    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">
                    <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                        <div class="filter-btn active camera">
                            <div class="icon"></div>
                            <p>Cameras</p>
                        </div>
                    </a>
                    <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                        <div class="filter-btn lens">
                            <div class="icon"></div>
                            <p>Lenses</p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <!-- Category -->

            </div>
        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid bionz-x-imaging">
        <div class="row">
            <div class="tech-article-wrapper col-sm-12">

                <div class="tech-article-container">

                    <!-- content bg -->
                    <div class="row">
                        <div class="contentbg-wrapper col-sm-12">
                            <div class="contentbg-img hidden-md hidden-lg">
                                <img src="img/technology/cameras/article/bionz-img.jpg" width="1266" height="740" alt="BIONZ X Imaging Processing Engine" class="img-responsive center-block">
                            </div>
                            <div class="contentbg-copy col-sm-12 col-md-5 col-md-offset-7">
                                <h1>BIONZ X Imaging Processing Engine</h1>
                                <img src="img/technology/cameras/article/bionz-logo.png" width="148" height="26" alt="BIONZ X" class="img-responsive">
                                <p>Sony proudly introduces the new BIONZ X image processing engine, which faithfully reproduces textures and details in real time, as seen by the naked eye.</p>
                            </div>
                         </div>
                    </div>
                    <!-- content bg -->


                    <div class="clearfix"></div>


                    <!-- Content -->
                    <div class="row">
                        <div class="content-wrapper col-sm-12">

                            <div class="row content-row">
                                <div class="content-left col-sm-12 col-md-6">
                                    <h2>Detail reproduction technology and diffraction-reducing technology</h2>
                                    <p>Two new technologies contribute to remarkably realistic images and bring out the full depiction performance of &alpha; lenses. Detail reproduction technology depicts details more faithfully with a more natural sense of dimension by preventing the overemphasized outlines that plague most digital images. Diffraction-reducing technology suppresses the effects of diffraction, which causes points of light to appear blurred especially at small aperture settings (large F-numbers). By taking the aperture setting into account, this technology faithfully restores clarity to points of light and other fine details: It brings out the potential of the lens, 36-megapixel image sensor and optical low-pass filter-free design so you can enjoy deep focus shooting of landscapes and more with a higher sense of clarity.</p>
                                </div>

                                <div class="content-right col-sm-12 col-md-5 col-md-offset-1">
                                    <img src="img/technology/cameras/article/bionz-detail_reproduction.jpg" width="492" height="526" alt="Detail reproduction technology and diffraction-reducing technology" class="img-responsive">
                                </div>
                            </div>


                            <div class="row content-row">
                                <div class="content-left col-sm-12 col-md-6">
                                    <h2>Area-specific noise reduction</h2>
                                    <p>Area-specific noise reduction is now more powerful than ever. It selectively divides the image into areas based on patterns (such as edges, textures and evenly colored areas like blue skies), then applies the most appropriate noise reduction for each area to markedly reduce noise and improve image quality — especially at high-sensitivity settings. Working together with detail reproduction technology, it delivers supremely clear images with exceptionally fine detail.</p>
                                </div>
                                <div class="content-right col-sm-12 col-md-5 col-md-offset-1">
                                    <img src="img/technology/cameras/article/bionz-noise_reduction.jpg" width="492" height="526" alt="Area-specific noise reduction" class="img-responsive">
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- Content -->


                    <div class="clearfix"></div>



                    <!-- row : 16-bit image processing and 14-bit RAW output -->
                    <div class="row">
                        <h2 class="col-sm-12">16-bit image processing and 14-bit RAW output</h2>
                        <div class="col-sm-12 col-md-12">
                            <p>16-bit image processing and 14-bit RAW output help preserve maximum detail and produce images of the highest quality with rich tonal gradations. The 14-bit RAW (Sony ARW) format ensures optimal quality for later image adjustment (via Image Data Converter or other software).</p>
                         </div>
                          <div class="col-sm-12 col-md-12">
                            <img src="img/technology/cameras/article/bionz-new_system.png" width="1076" height="217" alt="16-bit image processing and 14-bit RAW output" class="center-block img-responsive">
                         </div>
                    </div>
                    <!-- row : 16-bit image processing and 14-bit RAW output -->


                    <div class="clearfix"></div>


                    <!-- models -->
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                            <!-- Title -->
                            <div class="row models-row">
                                <div class="col-sm-12">
                                    <p>Available in models:</p>
                                </div>
                            </div>
                            <!-- Title -->

                            <!-- cameras : lenses -->
                            <div class="row models-row">
                                <div class="col-sm-12" id="slider">
                                    <div class="models-slider">

                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7rm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-7rm2.jpg" width="220" height="152" alt="ILCE-7RM2" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-7sm2.jpg" width="220" height="152" alt="ILCE-7SM2" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7SM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7s">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-7s.jpg" width="220" height="152" alt="ILCE-7S" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7S</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7r">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-7r.jpg" width="220" height="152" alt="ILCE-7R" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7R</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7m2-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-7m2-body-kit.jpg" width="220" height="152" alt="ILCE-7M2 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7M2 BODY / KIT</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-7-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7 BODY / KIT</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-6300-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-6300-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-6300 BODY / KIT</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-6000-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-6000-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-6000 / ILCE-6000L / ILCE-6000Y</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-5100-body-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-5100-body-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-5100L / ILCE-5100Y</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-5000-kit">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/camera/ilce-5000-kit.jpg" width="220" height="152" alt="ILCE-7 BODY / KIT" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-5000 KIT</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- cameras : lenses -->

                        </div>
                    </div>
                    <!-- models -->

                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    @@include('../../template/tech-articles-js.html')


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:technology:cameras:bionzX"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:technology:cameras"; // Microsite Section
    s.hier5 = "microsite|aportal|technology|cameras|bionzX"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
