<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Sony α Portal">
    <meta name="description" content="{{Description of site}}">

    <meta property="og:title" content="{{Facebook Share Title}}">
    <meta property="og:description" content="{{Facebook Share Description}}">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">
    <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="tech-article">

    @@include('../../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                            <div class="filter-btn active camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>
                        </a>
                        <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                            <div class="filter-btn lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>
                        </a>
                    </div>
                    <!-- Category -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->



    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">
                    <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                        <div class="filter-btn active camera">
                            <div class="icon"></div>
                            <p>Cameras</p>
                        </div>
                    </a>
                    <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                        <div class="filter-btn lens">
                            <div class="icon"></div>
                            <p>Lenses</p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <!-- Category -->

            </div>
        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="tech-article-wrapper col-sm-12">

                <div class="tech-article-container">

                    <!-- img bg with copy -->
                    <div class="row">
                        <div class="contentbg-wrapper tmt-bg col-sm-12">
                            <div class="col-sm-12 hidden-md hidden-lg" style="padding:0;">
                                <img src="img/technology/cameras/tmt-bg.jpg" width="1263" height="726" alt="Translucent Mirror Technology" class="img-responsive center-block">
                            </div>
                            <div class="contentbg-copy col-sm-12 col-md-6">
                                <h1>Translucent Mirror Technology</h1>
                                <p>Sony Translucent Mirror Technology revolutionizes interchangeable-lens photography by enabling simultaneous focusing and image capturing on a full-time basis. Unlike competing cameras that swing a mirror to direct light toward the AF sensor and image sensor one at a time, the camera continuously directs light to both sensors simultaneously via stationary translucent mirror. This breakthrough enables leading continuous shooting speed, accelerated full-time continuous phase-detection autofocusing even while shooting HD movies, and smooth uninterrupted live-viewing on the finder and rear monitor during single shot, continuous and movie shooting. Quite simply, Translucent Mirror Technology significantly improves overall performance and leaves the competition behind.</p>
                            </div>
                         </div>
                    </div>
                    <!-- img bg with copy -->


                    <div class="clearfix"></div>


                    <!-- Photo Row -->
                    <div class="row">
                        <div class="photo_row-wrapper col-sm-12">
                            <img src="img/technology/cameras/tmt-photo_row.jpg" width="1263" height="139" alt="Translucent Mirror Technology" class="img-responsive center-block">
                        </div>
                    </div>
                    <!-- Photo Row -->


                    <div class="clearfix"></div>


                    <!-- Content -->
                    <div class="row">
                        <div class="content-wrapper col-sm-12">

                            <div class="row content-row">
                                <div class="content-left col-sm-12 col-md-6">
                                    <p class="title">FULL TIME CONTINUOUS AF</p>
                                    <p>Accelerated full-time continuous phase detection autofocusing keeps your subject sharply focused at all times. Even at maximum continuous shooting speed and during live-view movie shooting – thanks to revolutionary Translucent Mirror Technology – you can clearly capture sports action and fleeting facial expressions without resorting to manual focusing. The supreme speed and precision of phase-detection autofocusing is faster and more precise than the contrast-detection AF systems employed by competing cameras. It lets you effortlessly capture dramatic moments in all types of situations with professional-looking results.</p>
                                </div>

                                <div class="content-right col-sm-12 col-md-6">
                                    <p class="title">APPROX. 0.05 SEC. MINIMUM RELEASE TIME LAG</p>
                                    <p>Accelerated shutter response lets you capture decisive moments with confidence. An innovative electronic front curtain shutter in the image sensor slashes shutter release time lag to a class-leading 0.05 second* (approx.) and produces less shutter noise and vibration than a mechanical front curtain shutter. If desired, a mechanical front curtain shutter can be activated through the MENU.</p>
                                    <br/>
                                    <p>* Speed may vary depending on shooting conditions and memory card in use. (based on A77)</p>
                                </div>
                            </div>


                            <div class="row content-row">
                                <div class="content-left col-sm-12 col-md-6">
                                    <img src="img/technology/cameras/tmt-img.jpg" width="489" height="341" alt="Translucent Mirror Technology feature" class="img-responsive">
                                </div>

                                <div class="content-right col-sm-12 col-md-6">
                                    <p class="title">12 FPS CONTINUOUS SHOOTING (IN CONTINUOUS ADVANCE PRIORITY AE MODE)</p>
                                    <p>The world’s highest continuous shooting speed* gives you a decisive advantage when capturing sports action and fleeting facial expressions. Every second, you can capture up to 12 images with clarity and precision at full 24.3-megapixel** resolution. Moreover, you can enjoy the expressive power and flexibility of interchangeable lenses without slowing down performance. As with full-time autofocusing, this extraordinary response is made possible by innovative Sony Translucent Mirror Technology.</p>
                                    <br/>
                                    <p class="disclaimer">* Among interchangeable-lens cameras with an APS-C sensor as of August 2011.</p>
                                    <br/>
                                    <p class="disclaimer">* Effective pixels (approx.) (based on A77)</p>
                                    <br/>
                                    <p class="disclaimer">Notes:</p>
                                    <p class="disclaimer">Continuous shooting speed may be slower depending on shooting conditions. In Continuous Priority AE Mode, the aperture is fixed at F3.5 or the maximum aperture of the lens, whichever is smaller. Continuous shooting speed (fps) lowers when high ISO NR function is On.</p>
                                </div>
                            </div>


                        </div>
                    </div>
                    <!-- Content -->


                    <div class="clearfix"></div>


                    <!-- video -->
                    <div class="row">
                        <div class="video-wrapper col-sm-12">
                            <div class="embed-responsive embed-responsive-16by9">
                                <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pninDiSguCU" allowfullscreen></iframe> -->
                                <div class="lazyyt" data-youtube-id="pninDiSguCU" data-ratio="16:9">Loading...</div>
                            </div>
                        </div>
                    </div>
                    <!-- video -->



                    <div class="clearfix"></div>


                    <!-- models -->
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                            <!-- Title -->
                            <div class="row models-row">
                                <div class="col-sm-12">
                                    <p>Available in models:</p>
                                </div>
                            </div>
                            <!-- Title -->

                            <!-- cameras : lenses -->
                            <div class="row models-row">
                                <div class="col-sm-12" id="slider">
                                    <div class="models-slider">
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div><div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="model-item" href="//www.sony-asia.com/electronics/interchangeable-lens-cameras/ilce-7sm2">
                                                <div class="img-wrapper">
                                                    <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="" class="img-responsive"></div>
                                                </div>
                                                 <p class="text-center">ILCE-7RM2</p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- cameras : lenses -->

                        </div>
                    </div>
                    <!-- models -->

                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    @@include('../../template/tech-articles-js.html')


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:technology:cameras:translucentMirrorTech"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:technology:cameras"; // Microsite Section
    s.hier5 = "microsite|aportal|technology|cameras|translucentMirrorTech"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
