<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Craig Parry | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Craig Parry | Sony α Portal">
    <meta name="description" content="Driven by a passion for conservation and the environment Craig’s images present everyday moments from unique perspectives. From the depths of the ocean to the heights of the sky his marine, nature and landscape photography seeks to connect audiences around the world with the surrounding beauty.">
    <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, cameras, a7, ILCE-7, comparison" />

    <meta property="og:title" content="Craig Parry | Sony α Portal">
    <meta property="og:description" content="Driven by a passion for conservation and the environment Craig’s images present everyday moments from unique perspectives. From the depths of the ocean to the heights of the sky his marine, nature and landscape photography seeks to connect audiences around the world with the surrounding beauty.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="ambassadors-article">

    @@include('../template/header-1.html')






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7">
        
            <div class="ambassadors-article-wrapper">

                <img id="ambassador-header" src="img/ambassadors/craigparry-header.jpg">

                <!-- warning message -->
                <!-- <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div> -->
                <!-- warning message -->

                <div class="ambassadors-article-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">
                        <div class="ambassador-img col-md-4 col-sm-5 col-xs-5">
                            <img src="img/ambassadors/craigparry01.jpg">
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-7">
                            <h1 id="ambassador-name">Craig Parry</h1>
                            <h2 id="ambassador-country">Australia</h2>
                            <p id="ambassador-short-description" class="hidden-xs">
                               My greatest inspiration is to connect humanity to nature through photography.
                            </p>
                        </div>
                    </div>

                    <div id="ambassador-intro">
                        <p id="mobile-ambassador-short-description" class="visible-xs">
                            My greatest inspiration is to connect humanity to nature through photography.
                        </p>
                        <p>Driven by a passion for conservation and the environment Craig’s images present everyday moments from unique perspectives. From the depths of the ocean to the heights of the sky his marine, nature and landscape photography seeks to connect audiences around the world with the surrounding beauty.</p>

                        <p>Having worked with brands such as Qantas, Land Rover and TAG Heuer, publications including Australian Geographic, The Australian and The London Times, and on productions with the likes of Network Ten and Discovery Channel, Craig boasts a diverse background and enjoys bringing his unique style to a wide variety of genres. Vision which he captured using Sony’s A7S2 was also recently played on rotation in New York City’s Times Square!</p>

                        <p>2017 sees Craig opening his photographic gallery in Byron Bay in addition to running a series of photographic workshops to destinations including Africa and Tonga.</p>
                    </div>

                    <div id="ambassador-photos-wrapper">
                        <div class="ambassador-hero-photo" id="sanjit_thumb_02">
                            <img src="img/ambassadors/hero-base.jpg">
                            <img class="hero-photo first" id="craigparry_01" src="img/ambassadors/craigparry/craigparry01.jpg">
                            <img class="hero-photo" id="craigparry_02" src="img/ambassadors/craigparry/craigparry02.jpg">
                            <img class="hero-photo" id="craigparry_03" src="img/ambassadors/craigparry/craigparry03.jpg">
                            <img class="hero-photo" id="craigparry_04" src="img/ambassadors/craigparry/craigparry04.jpg">
                            <img class="hero-photo" id="craigparry_05" src="img/ambassadors/craigparry/craigparry05.jpg">
                            <img class="hero-photo" id="craigparry_06" src="img/ambassadors/craigparry/craigparry06.jpg">
                            <img class="hero-photo" id="craigparry_07" src="img/ambassadors/craigparry/craigparry07.jpg">
                            <img class="hero-photo" id="craigparry_08" src="img/ambassadors/craigparry/craigparry08.jpg">
                        </div>
                        <div class="ambassador-photo-thumbs" data-ambassador="craigparry">
                          <div><img class="imgborder" data-id="01" src="img/ambassadors/craigparry/craigparry_thumb_01.jpg"></div>
                          <div><img data-id="02" src="img/ambassadors/craigparry/craigparry_thumb_02.jpg"></div>
                          <div><img data-id="03" src="img/ambassadors/craigparry/craigparry_thumb_03.jpg"></div>
                          <div><img data-id="04" src="img/ambassadors/craigparry/craigparry_thumb_04.jpg"></div>
                          <div><img data-id="05" src="img/ambassadors/craigparry/craigparry_thumb_05.jpg"></div>
                          <div><img data-id="06" src="img/ambassadors/craigparry/craigparry_thumb_06.jpg"></div>
                          <div><img data-id="07" src="img/ambassadors/craigparry/craigparry_thumb_07.jpg"></div>
                          <div><img data-id="08" src="img/ambassadors/craigparry/craigparry_thumb_08.jpg"></div>
                        </div>
                    </div><!-- 
                    <div id="ambassador-work-intro">
                        <h3>Vertical Gardens</h3>
                        <p>“With a growing urban population, high-rise buildings are an increasingly prevalent feature of our global cities. Land is a major constraint in most Asian cities and in the face of high-density urbanization, the only way to build is upwards. In Singapore’s dense, urban metropolis, where land area is extremely limited, high-rise building forms have typified the urban fabric for years.”</p>
                        <p>In this installation to our #FutureofCities project; photographer Craig Parry focuses on the new ways in which Singapore is adapting its urban architecture to include diverse and ingenious vertical gardening projects.</p>
                        <p>These projects represent a collision of nature and contemporary architecture; their emergence signifying Singapore’s commitment to exploring new forms of vertical living which enhance the quality of life for city residents within their ever-expanding urban landscape.</p>
                    </div> -->

                    <div class="ambassador-accordion-title ambassador-nointro-margin">
                        About / Biography
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <p>Sony Ambassador Craig Parry is an international, multi award winning nature photographer based in Byron Bay, Australia. Specialising in marine, aerial and nature photography, Craig strives to capture the world’s environment and connect his audience with nature to promote conservation.</p>

                        <p>Growing up in Byron Bay, Northern NSW, Craig is entirely self taught and worked hard at mastering his craft before making a life-changing decision and becoming a full-time professional photographer in 2004 - a defining moment in Craig’s life.</p>

                        <p>Craig’s stature as a photographer was indisputably confirmed with his receipt of the award ‘International Landscape Photo of the Year' (2014) for his image Life & Death, in addition to taking out the award for Outdoor Magazine 'Underwater Photograph of the Year' (2014) for his image Fin Swipe. His work regularly sees him travelling to all corners of the globe in pursuit of new adventures and unique encounters.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Kit
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p>
                            - Sony A7RII<br> 
                            - Sony A7SII<br> 
                            - Sony A6500<br> 
                            - Sony 70-200mm f4<br> 
                            - Sony GM 85mm f1.4<br>
                            - Sony GM 24-70mm f2.8<br> 
                            - Sony 16-35mm f4<br> 
                            - Sony 28mm f2 + Fisheye converter<br> 
                            - Water Housing: Aquatech A7 Series II / 8 inch Dome Port / 3inch flat port<br> 
                            - Drone : Freefly Alta 6 – Movi Pro
                        </p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Links
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-link">
                        <p>
                            <a target="_blank" href="http://www.craigparryphotography.com/">Website</a>
                            <a target="_blank" href="https://www.facebook.com/CraigParryPhoto">Facebook</a>
                            <a target="_blank" href="https://www.instagram.com/craigparryphotography/">Instagram</a>
                        </p>
                    </div>


                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassadors-article.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/ambassadors-article.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:ambassadors:sanjitdas"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:ambassadors:sanjitdas"; // Microsite Section
    s.hier5 = "microsite|aportal|ambassadors|sanjitdas"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
