<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hao Li | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Hao Li | Sony α Portal">
    <meta name="description" content="Hao’s work often raises questions about the ways of seeing, and the relation between the innate characters of photography and his subject.">
    <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, cameras, a7, ILCE-7, comparison" />

    <meta property="og:title" content="Hao Li | Sony α Portal">
    <meta property="og:description" content="Hao’s work often raises questions about the ways of seeing, and the relation between the innate characters of photography and his subject.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="ambassadors-article">

    @@include('../template/header-1.html')






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7">
        
            <div class="ambassadors-article-wrapper">

                <img id="ambassador-header" src="img/ambassadors/haoli-header.jpg">

                <!-- warning message -->
                <!-- <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div> -->
                <!-- warning message -->

                <div class="ambassadors-article-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">
                        <div class="ambassador-img col-md-4 col-sm-5 col-xs-5">
                            <img src="img/ambassadors/haoli01.jpg">
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-7">
                            <h1 id="ambassador-name">Hao Li</h1>
                            <h2 id="ambassador-country">Taiwan</h2>
                            <p id="ambassador-short-description" class="hidden-xs">
                               “Il faut qu'il y ait une nécessité, sinon il n'y a rien du tout.” ~ Gilles Deleuze “There must be a necessity, otherwise there’s nothing at all.” ~ Gilles Deleuze
                            </p>
                        </div>
                    </div>

                    <div id="ambassador-intro">
                        <p id="mobile-ambassador-short-description" class="visible-xs">
                            “Il faut qu'il y ait une nécessité, sinon il n'y a rien du tout.” ~ Gilles Deleuze “There must be a necessity, otherwise there’s nothing at all.” ~ Gilles Deleuze
                        </p>
                        <p>Hao’s work often raises questions about the ways of seeing, and the relation between the innate characters of photography and his subject.</p>

                        <p>In his award winning project, “Le Mécanisme Répétitif,” he regards photography as a repetitive practice: every single day at the same time, he went back to the same spot in the same train station. With the same framing, he limited himself to one exposure per day, on the exact same piece of film; accumulating day after day, to complete one single multi-exposure photograph. This series of photos explore the boundaries between illusion and reality, by nesting layers of daily scenes within scenes, repeating the differences, and differentiating the repetitions.</p>

                        <p>Hao is the first Taiwanese photographer to join Global Imaging Ambassadors. With his ongoing project “In the Marble,” he blurs the concept of a usual timeline, and contemplates a halted construction project with an archaeological point of view.</p>
                    </div>

                    <div id="ambassador-photos-wrapper">
                        <div class="ambassador-hero-photo">
                            <img src="img/ambassadors/hero-base.jpg">
                            <img class="hero-photo first" id="haoli_01" src="img/ambassadors/haoli/haoli01.jpg">
                            <img class="hero-photo" id="haoli_02" src="img/ambassadors/haoli/haoli02.jpg">
                            <img class="hero-photo" id="haoli_03" src="img/ambassadors/haoli/haoli03.jpg">
                            <img class="hero-photo" id="haoli_04" src="img/ambassadors/haoli/haoli04.jpg">
                            <img class="hero-photo" id="haoli_05" src="img/ambassadors/haoli/haoli05.jpg">
                            <img class="hero-photo" id="haoli_06" src="img/ambassadors/haoli/haoli06.jpg">
                            <img class="hero-photo" id="haoli_07" src="img/ambassadors/haoli/haoli07.jpg">
                            <img class="hero-photo" id="haoli_08" src="img/ambassadors/haoli/haoli08.jpg">
                            <img class="hero-photo" id="haoli_09" src="img/ambassadors/haoli/haoli09.jpg">
                        </div>
                        <div class="ambassador-photo-thumbs" data-ambassador="haoli">
                          <div><img class="imgborder" data-id="01" src="img/ambassadors/haoli/haoli_thumb_01.jpg"></div>
                          <div><img data-id="02" src="img/ambassadors/haoli/haoli_thumb_02.jpg"></div>
                          <div><img data-id="03" src="img/ambassadors/haoli/haoli_thumb_03.jpg"></div>
                          <div><img data-id="04" src="img/ambassadors/haoli/haoli_thumb_04.jpg"></div>
                          <div><img data-id="05" src="img/ambassadors/haoli/haoli_thumb_05.jpg"></div>
                          <div><img data-id="06" src="img/ambassadors/haoli/haoli_thumb_06.jpg"></div>
                          <div><img data-id="07" src="img/ambassadors/haoli/haoli_thumb_07.jpg"></div>
                          <div><img data-id="08" src="img/ambassadors/haoli/haoli_thumb_08.jpg"></div>
                          <div><img data-id="09" src="img/ambassadors/haoli/haoli_thumb_09.jpg"></div>
                        </div>
                    </div>
                    <div id="ambassador-work-intro">
                        <h3>In the Marble</h3>
                        <p>The Taipei Dome has been plagued by controversy ever since its construction commenced. On May 2015, Taipei City Government issued an order to halt the construction due to public safety concerns. A thorough safety inspection report indicated that the stadium could not cope with an emergency, caused by overbuilding around the dome.</p>
                        <p>To this day, the whole project has been suspended. Standing inside and contemplating this unfinished structure, a quote from Michelangelo struck my mind: “The statue is already in the marble.” I wonder if the dome was being constructed towards the future or had it been excavated from the past. Inside the concept of time has a very ambiguous status… Isn’t this also what photography has in its nature? “It has been/ça-a-été” and “It will be/cela sera”?</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        About / Biography
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <p>Hao Li is a Taiwanese photographer, currently based in Taipei. His work has been exhibited internationally and won several awards, including 1st prize of Taiwan International Visual Arts Center’s Photography Award, 2nd prize in Conceptual Category of Sony World Photography Awards, and Top 20 Chinese Cutting-Edge Contemporary Photographer. In 2016, his work “Le Mécanisme Répétitif” has been permanently collected by Kiyosato Museum, Japan.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Interview
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p class="ambassador-interview-questions">Describe the moment you knew photography changed your life.</p> 
                        <p>Photography changed my life gradually, I don’t think I’ve fully understood photography; it’s an ever-evolving art form. Every single step of discovering and exploring new possibilities about it is a life changing experience for me.</p> 

                        <p class="ambassador-interview-questions">If you could sum up your work in one word or one sentence, what would that be?</p> 
                        <p>For me, photography is about raising more questions, stimulating different thoughts and discussions, and exploring the possibilities of the medium itself. Thus, it is rather difficult to sum up my works with words.</p> 

                        <p class="ambassador-interview-questions">What is the most remarkable person, place or thing you have ever photographed and why?</p>
                        <p>Very often, it’s not the person/place/thing itself that I find the most remarkable. The things that fascinate me are the things behind them, the things that do not show in the pictures, the things that lead them to become what they are at the moment. That is why I photograph them.</p>

                        <p class="ambassador-interview-questions">Talk to us about your bucket list... what is on the top of that list of things to photograph?</p> 
                        <p>The unknown, the uncertainty, the unspeakable…</p> 

                        <p class="ambassador-interview-questions">If you had not become a photographer, what might you be today?</p> 
                        <p>Cinema and music always inspires me, I used to be a drummer when I was younger, love to create my own music/sound. So if I’m not a photographer, I’ll probably start creating music and films. In fact, in today’s world, photography, music and films has a lot of mutual correlationship.</p>

                        <p class="ambassador-interview-questions">Give us your thoughts about the Global Imaging Ambassadors programme?</p> 
                        <p>It’s a very passionate programme, a lot of amazing artists from around the world, full of incredible projects and ideas, I feel really honored and well supported, looking forward to more opportunities and collaborations.</p>

                        <p class="ambassador-interview-questions">What is your favourite Sony camera of the moment (explain why)?</p> 
                        <p>Probably the A7RII, it’s compact yet very powerful. It can do many different things, and do them extremely well. It has become a pretty mature system; I’m able to put on some compact lenses for daily shooting, or pick up a large aperture lens for professional works, it’s really versatile.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Kit
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p>
                            Sony a7RII<br>
                            Sony Carl Zeiss FE 55mm f/1.8<br><br>

                            Minolta a7<br>
                            Sony 50mm f/1.4<br><br>

                            Hasselblad 503cxi<br>
                            Hasselblad Carl Zeiss CF 60mm f/3.5<br><br>

                            Velbon Ultrek UT-50 Tripod
                        </p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Links
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-link">
                        <p>
                            <a target="_blank" href="https://www.facebook.com/haoli.tw">Facebook</a>
                        </p>
                    </div>


                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassadors-article.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/ambassadors-article.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:ambassadors:sanjitdas"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:ambassadors:sanjitdas"; // Microsite Section
    s.hier5 = "microsite|aportal|ambassadors|sanjitdas"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
