<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kim Joowon | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Kim Joowon | Sony α Portal">
    <meta name="description" content="Kim Joowon is Fine art photographer, Photography educator and Journalist. Kim has a background as a photojournalist working for magazines. Now he works as freelancer photographer and Writer. DSLR Photography Lecture, Photoshop lesson, DLSR Photography Lecture for beginner are best sellers in Korea.">
    <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, cameras, a7, ILCE-7, comparison" />

    <meta property="og:title" content="Kim Joowon | Sony α Portal">
    <meta property="og:description" content="Kim Joowon is Fine art photographer, Photography educator and Journalist. Kim has a background as a photojournalist working for magazines. Now he works as freelancer photographer and Writer. DSLR Photography Lecture, Photoshop lesson, DLSR Photography Lecture for beginner are best sellers in Korea.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="ambassadors-article">

    @@include('../template/header-1.html')






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7">
        
            <div class="ambassadors-article-wrapper">

                <img id="ambassador-header" src="img/ambassadors/kimjoowoon-header.jpg">

                <!-- warning message -->
                <!-- <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div> -->
                <!-- warning message -->

                <div class="ambassadors-article-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">
                        <div class="ambassador-img col-md-4 col-sm-5 col-xs-5">
                            <img src="img/ambassadors/kimjoowoon01.jpg">
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-7">
                            <h1 id="ambassador-name">Kim Joowon</h1>
                            <h2 id="ambassador-country">South Korea</h2>
                            <p id="ambassador-short-description" class="hidden-xs">
                                "I am interested in the human stories. I feel I am in an extremely privileged position to walk into people's lives and share their most intense stories with the wider world."
                            </p>
                        </div>
                    </div>

                    <div id="ambassador-intro">
                        <p id="mobile-ambassador-short-description" class="visible-xs">
                            "I am interested in the human stories. I feel I am in an extremely privileged position to walk into people's lives and share their most intense stories with the wider world."
                        </p>
                        <p>Kim Joowon is Fine art photographer, Photography educator and Journalist. Kim has a background as a photojournalist working for magazines. Now he works as freelancer photographer and Writer. DSLR Photography Lecture, Photoshop lesson, DLSR Photography Lecture for beginner are best sellers in Korea.</p>
                    </div>

                    <div id="ambassador-photos-wrapper">
                        <div class="ambassador-hero-photo">
                            <img src="img/ambassadors/hero-base.jpg">
                            <img class="hero-photo first" id="kimjoowoon_01" src="img/ambassadors/kimjoowoon/kimjoowoon01.jpg">
                            <img class="hero-photo" id="kimjoowoon_02" src="img/ambassadors/kimjoowoon/kimjoowoon02.jpg">
                            <img class="hero-photo" id="kimjoowoon_03" src="img/ambassadors/kimjoowoon/kimjoowoon03.jpg">
                            <img class="hero-photo" id="kimjoowoon_04" src="img/ambassadors/kimjoowoon/kimjoowoon04.jpg">
                            <img class="hero-photo" id="kimjoowoon_05" src="img/ambassadors/kimjoowoon/kimjoowoon05.jpg">
                            <img class="hero-photo" id="kimjoowoon_06" src="img/ambassadors/kimjoowoon/kimjoowoon06.jpg">
                            <img class="hero-photo" id="kimjoowoon_07" src="img/ambassadors/kimjoowoon/kimjoowoon07.jpg">
                            <img class="hero-photo" id="kimjoowoon_08" src="img/ambassadors/kimjoowoon/kimjoowoon08.jpg">
                            <img class="hero-photo" id="kimjoowoon_09" src="img/ambassadors/kimjoowoon/kimjoowoon09.jpg">
                            <img class="hero-photo" id="kimjoowoon_10" src="img/ambassadors/kimjoowoon/kimjoowoon10.jpg">
                            <img class="hero-photo" id="kimjoowoon_11" src="img/ambassadors/kimjoowoon/kimjoowoon11.jpg">
                        </div>
                        <div class="ambassador-photo-thumbs" data-ambassador="kimjoowoon">
                          <div><img class="imgborder" data-id="01" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_01.jpg"></div>
                          <div><img data-id="02" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_02.jpg"></div>
                          <div><img data-id="03" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_03.jpg"></div>
                          <div><img data-id="04" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_04.jpg"></div>
                          <div><img data-id="05" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_05.jpg"></div>
                          <div><img data-id="06" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_06.jpg"></div>
                          <div><img data-id="07" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_07.jpg"></div>
                          <div><img data-id="08" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_08.jpg"></div>
                          <div><img data-id="09" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_09.jpg"></div>
                          <div><img data-id="10" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_10.jpg"></div>
                          <div><img data-id="11" src="img/ambassadors/kimjoowoon/kimjoowoon_thumb_11.jpg"></div>
                        </div>
                    </div>
                    <!-- <div id="ambassador-work-intro">
                        <h3>Washing a City</h3>
                        <p>Detergent, chlorine and the thrashing of flagstones; this is the Dhobi Ghat, the world’s largest open-air laundromat, situated in India's financial capital, Mumbai.</p>
                        <p>Since its colonial beginnings in 1890, this sprawling 4 acre laundry has developed into an integral part of the city, servicing many of Mumbai’s businesses and employing over 7,500 workers who wash over 750,000 clothes on a daily basis.</p>
                        <p>In this #FutureofCities story, Kim Joowon takes a look at the vital washing service provided by the Dhobi people, observing how this seemingly antiquated tradition works for the modern world, enabling clean mats to be put on the tables of Mumbai restaurants and clean sheets to be used in the operating theatres of the city's busy hospitals.</p>
                    </div> -->

                    <div class="ambassador-accordion-title ambassador-nointro-margin">
                        About / Biography
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <p>Books:<br>
                        2016 LIGHTROOM Photography Lecture, Published by Hanbit Media<br>
                        2015 Mirrorless&amp;DSLR Photography, Published by Hanbit Media<br>
                        2015 Landscapes Photography, Published by Hanbit Media<br>
                        2013 DSLR Photography Basic Lecture, Published by Hanbit Media<br> 
                        2012 Photoshop Photography Lecture, Published by Hanbit Media<br> 
                        2011 DSLR Photography Lecture, Published by Hanbit Media<br> 
                        2010 WHITE, Published by BomGallery<br>
                        2005 Photoshop for Photographers, Published by Youngjin.com</p>

                        <p>Awards:<br>
                        2014 SONY World Photography Award, Korea National Award <br>
                        2011 DongGang International Photography Portfolio Review</p>

                        <p>Solo Exhibitions:<br>
                        2012 WHITE - Art Space ZAKO, Korea <br>
                        2011 WHITE - SaroLeon Gallery, Spain <br>
                        2010 WHITE - Bom Gallery, Seoul, Korea <br>
                        2007 f22 - Gallery NOW, Seoul, Korea<br> 
                        2006 The Untouchables - Gallery Bresson, Seoul, Korea</p>

                        <p>Group Exhibitions:<br>
                        2015 Seoul RePhotography with G4, GwangHwarang, Korea<br>
                        2015 Seoul RePhotography with G4, Seoul Cityhall, Seoul, Korea<br>
                        2014 Tranquilizer #02 Birth, Canson Gallery, Seoul, Korea <br>
                        2014 SEOUL Rephotography, Seoul Cityhall, Korea <br>
                        2014 SEOUL Rephotography, GwangHwarang, Korea <br>
                        2013 Looking Aurora,GwangHwarang, Korea <br>
                        2012 DongGang International Photography Portfolio Review Artist <br>
                        2011 BRIDGE, BOM Gallery, Korea <br>
                        2010 Props, BOM Gallery. Seoul, Korea <br>
                        2010 Mind Naturopathy, BOM Gallery <br>
                        2010 Aurora of YellowKnife, Lotte Gallery, Seoul, Korea <br>
                        2010 Aurora of YellowKnife, Coex, Seoul, Korea<br> 
                        2009 Nowon-gu Public art Project, Hope <br>
                        2008 IPW - In Thailand, Gallery illum, Seoul, Korea <br>
                        2007 The Longest Journey, Busan Design Center, Seoul, Korea <br>
                        2007 One corner the lights, sheds light the world, Gang-nam GS tower, Seoul, Korea <br>
                        2005 Cutting through time, wowbook festival, Seoul, Korea<br> 
                        2005 Fight on street 5 - Gallery ON</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Interview
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p class="ambassador-interview-questions">Quote from DCM Photographer Interview</p> 
                        <br>
                        <p class="ambassador-interview-questions">Your Exhibition called “WHITE” is artworks about snow. Tell me more about it.</p> 
                        <p>I started it 3 years ago, when I felt a kind of emptiness. Actually, I started it just for self-comfort. When it’s snowing, typical objects are gone. Only a few things remain. I shoot them. They look so beautiful and strong as they have endured harsh weather and even loneliness. I thought it as same as we human.</p> 

                        <p class="ambassador-interview-questions">Snow in “WHITE” looks different with normal winter photography. How did you express it?</p> 
                        <p>I thought snowing scenes are similar with paintings, not a real world, especially when it’s heavy snow so that it accumulates 1 meter or more. I took these paint-like scenes with long-exposure techniques to express it like a ‘picture’. To tell the truth, I have ALWAYS chased ‘snow’ no matter where it is, to take a snowy scene. If you want to find me, it’s easy, just watch a weather forecasting and find a place with heavy snow. Then I will be there.</p> 

                        <p class="ambassador-interview-questions">If you had one word to describe your work, what would that be? </p>
                        <p>Intimate. All my personal projects fall into the category of long-form documentary photography. I am not a single-image maker. Single photos are powerful; most of the historic images are single images, but I was (and still am) always drawn to a narrative form of photography, something more personal, something more intimate. </p> 

                        <p class="ambassador-interview-questions">Ok. Let’s move on to your blog. I was surprised when I saw your blog the first time. Even though you are a professional photographer, not a blogger, your blog is very well-organized like pro-blogger`s one.</p> 
                        <p>I believe if I live lazy, my heart will be lazy, and finally my photography will be lazy. So I usually go to ‘work’ like normal business man near 8-9 am. I take street photo until 7 pm. Then I select retouch and upload photos on my blog before I “Leave work.</p> 

                        <p class="ambassador-interview-questions">You are not only a photographer but a writer. People call you “kind photographer”.</p> 
                        <p>When I wrote my second book, it took 3 months to decide table of contents. Photography has a double side. We have to break down rules, but, at the same time, we have to keep some rules. I put some theoretical parts in the first and second half, I put even B cuts to explain what a good photo is. I think this composition is the first of its kind in Korea.</p> 

                        <p class="ambassador-interview-questions">Describe what kind of photographer you consider yourself to be.</p> 
                        <p>I think photography is asking myself. We hardly talk with ourselves. When I focus on objects with affection, they start talking to me. People usually take pictures only to escape from a sober real world. But to be ‘warm’, we need to try to see with warm heart first, then you will find a ‘warm’ world.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Kit
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p>
                            A7R II, a99, RX100MK3<br>
                            HVL-F32M<br>
                            FE 55mm F1.8<br>
                            FE 35mm F2.8<br>
                            FE 1635 F4<br>
                            FE 2470 F4<br>
                            FE70200 F4
                        </p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Links
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-link">
                        <p>
                            <a target="_blank" href="http://kimjoowon.com/">Website</a>
                            <a target="_blank" href="http://facebook.com/joowoni77">Facebook</a>
                        </p>
                    </div>


                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassadors-article.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/ambassadors-article.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:ambassadors:sanjitdas"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:ambassadors:sanjitdas"; // Microsite Section
    s.hier5 = "microsite|aportal|ambassadors|sanjitdas"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
