<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kwon O-Chul | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Kwon O-Chul | Sony α Portal">
    <meta name="description" content="Astrophotographer. Fascinated by the wonders of the night sky, Kwon O-Chul struggled to convey the impression to others through photography. He says astrophotography is a field most influenced by camera technology. Time-Lapse, which captures the movement of stars, are his main field. O-Chul Kwon also tries to move the night sky itself into planetarium through VR technology. He recently produced an aurora movie for planetarium and has been featured on National Geographic and Astronomy Picture of the Day (NASA) and etc.">
    <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, cameras, a7, ILCE-7, comparison" />

    <meta property="og:title" content="Kwon O-Chul | Sony α Portal">
    <meta property="og:description" content="Astrophotographer. Fascinated by the wonders of the night sky, Kwon O-Chul struggled to convey the impression to others through photography. He says astrophotography is a field most influenced by camera technology. Time-Lapse, which captures the movement of stars, are his main field. O-Chul Kwon also tries to move the night sky itself into planetarium through VR technology. He recently produced an aurora movie for planetarium and has been featured on National Geographic and Astronomy Picture of the Day (NASA) and etc.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="ambassadors-article">

    @@include('../template/header-1.html')






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7">
        
            <div class="ambassadors-article-wrapper">

                <img id="ambassador-header" src="img/ambassadors/kwonochul-header.jpg">

                <!-- warning message -->
                <!-- <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div> -->
                <!-- warning message -->

                <div class="ambassadors-article-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">
                        <div class="ambassador-img col-md-4 col-sm-5 col-xs-5">
                            <img src="img/ambassadors/kwonochul01.jpg">
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-7">
                            <h1 id="ambassador-name">Kwon O-Chul</h1>
                            <h2 id="ambassador-country">South Korea</h2>
                            <p id="ambassador-short-description" class="hidden-xs">
                               "The only way to take stars is to take them in photography. Conveying breath-taking wonders of night sky is my supreme mission."
                            </p>
                        </div>
                    </div>

                    <div id="ambassador-intro">
                        <p id="mobile-ambassador-short-description" class="visible-xs">
                            "The only way to take stars is to take them in photography. Conveying breath-taking wonders of night sky is my supreme mission."
                        </p>
                        <p>Astrophotographer. Fascinated by the wonders of the night sky, Kwon O-Chul struggled to convey the impression to others through photography. He says astrophotography is a field most influenced by camera technology. Time-Lapse, which captures the movement of stars, are his main field. O-Chul Kwon also tries to move the night sky itself into planetarium through VR technology. He recently produced an aurora movie for planetarium and has been featured on National Geographic and Astronomy Picture of the Day (NASA) and etc.</p>
                    </div>

                    <div id="ambassador-photos-wrapper">
                        <div class="ambassador-hero-photo">
                            <img src="img/ambassadors/hero-base.jpg">
                            <img class="hero-photo first" id="kwonochul_01" src="img/ambassadors/kwonochul/kwonochul01.jpg">
                            <img class="hero-photo" id="kwonochul_02" src="img/ambassadors/kwonochul/kwonochul02.jpg">
                            <img class="hero-photo" id="kwonochul_03" src="img/ambassadors/kwonochul/kwonochul03.jpg">
                            <img class="hero-photo" id="kwonochul_04" src="img/ambassadors/kwonochul/kwonochul04.jpg">
                            <img class="hero-photo" id="kwonochul_05" src="img/ambassadors/kwonochul/kwonochul05.jpg">
                            <img class="hero-photo" id="kwonochul_06" src="img/ambassadors/kwonochul/kwonochul06.jpg">
                            <img class="hero-photo" id="kwonochul_07" src="img/ambassadors/kwonochul/kwonochul07.jpg">
                        </div>
                        <div class="ambassador-photo-thumbs" data-ambassador="kwonochul">
                          <div><img class="imgborder" data-id="01" src="img/ambassadors/kwonochul/kwonochul_thumb_01.jpg"></div>
                          <div><img data-id="02" src="img/ambassadors/kwonochul/kwonochul_thumb_02.jpg"></div>
                          <div><img data-id="03" src="img/ambassadors/kwonochul/kwonochul_thumb_03.jpg"></div>
                          <div><img data-id="04" src="img/ambassadors/kwonochul/kwonochul_thumb_04.jpg"></div>
                          <div><img data-id="05" src="img/ambassadors/kwonochul/kwonochul_thumb_05.jpg"></div>
                          <div><img data-id="06" src="img/ambassadors/kwonochul/kwonochul_thumb_06.jpg"></div>
                          <div><img data-id="07" src="img/ambassadors/kwonochul/kwonochul_thumb_07.jpg"></div> 
                        </div>
                    </div>
                    <div id="ambassador-work-intro">
                        <h3>Aurora, lights of wonder.</h3>
                        <p>“I have been photographing astronomical objects for more than twenty years. The night sky is wonderful, and the aurora is the best among them. I think that it is the best wonder to see in nature.</p>
                        <p>I tried how I could reproduce real feeling of the aurora that can only be seen in polar regions. And finally I found the answer.</p>
                        <p>Because the photographs were different from the real feelings of aurora, I first tried time-lapse to express the movements. But it was somewhat different with the real one. So I tried to shoot a real-time video. But at that time video quality was so bad with excessive noise. Now, super-sensitive cameras such as Sony A7S have been developed to reproduce the actual movement of the aurora with low noise. I tried VR by connecting several super-sensitive cameras and projected them on the dome screen of planetarium and made it possible to experience virtual aurora.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        About / Biography
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <p>Fascinated by wonders of the night sky, Kwon O-Chul started taking photo from 1992. After his first personal exhibition in 1996, he has held 6 exhibitions and published 5 books.</p>

                        <p>Providing pictures to several international media such as National Geographic, he's also provides time-lapse movies to electronics companies as demo video of high resolution TV.</p>

                        <p>Working as a member of TWAN (The World At Night, www.twanight.org), which is an organization of astrophotographers, He carried out a special project of International Year of Astronomy 2009, designated by UNESCO</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Video
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <a href="https://vimeo.com/151339529" target="_blank">Aurora : Lights of Wonder - trailer (Fulldome movie by Kwon, O Chul)</a> from <a href="https://vimeo.com/kwonochul" target="_blank">kwon, o chul</a> on <a href="https://vimeo.com/" target="_blank">Vimeo</a>.<br><br>

                        <a href="https://vimeo.com/188428244" target="_blank">4K x 4K Real time Aurora Substorm (2015.3.16.)</a> from <a href="https://vimeo.com/kwonochul" target="_blank">kwon, o chul</a> on <a href="https://vimeo.com/" target="_blank">Vimeo</a>.
                    </div>

                    <div class="ambassador-accordion-title">
                        Interview
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p class="ambassador-interview-questions">When I appreciate your works, I really admire the beauty of night sky. I wonder how you can take these wonderful pictures.</p> 
                        <p>I think astrophotography is conveying beauty and wonders of night sky to other people. That’s why I don’t use telescope. In other words, it’s a picture through human eyes. I want people to feel same as what I feel in front of real stars</p> 

                        <p class="ambassador-interview-questions">What is the most difficult obstacle in astrophotography?</p> 
                        <p>Of course, weather. Weather dominates astrophotography. So I have to wait for a moment that Nature prepares. Sometimes I go to same location more than 10 times because I didn’t catch a perfect moment yet. But one thing most disappointing me is not a weather. It’s when I find that I didn’t do my best.</p> 

                        <p class="ambassador-interview-questions">Honestly, I’ve never seen aurora yet. Please explain how it feels like to see aurora.</p> 
                        <p>As you know, aurora is a natural light produced when the magnetosphere is sufficiently disturbed by the solar wind that the trajectories of charged particles in both solar wind and magnetospheric plasma, It seems static but It’s actually very dynamic. It’s like a dance of lights. The brighter lights are, The faster dance is. It’s called aurora dancing. It seems like piano. But, when it becomes faster, it changes into a substorm, which covers all over the night sky with green and pink lights. Especially pink light shows in most strong aurora, The moment that pink lights shine all over the sky is speechless.</p>

                        <p class="ambassador-interview-questions">What is ‘Star’ for you?</p> 
                        <p>We can’t have stars like any other normal objects such as animals or flowers. But it is good for me as I know the only way to take it; photography. My dream is making a astrophotography gallery. Making the gallery most honorable place for not only me but all astrophotographers in the world. Then I would live forever with stars even after I'm gone.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Kit
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p>
                            Sony A7S II x 5 EA<br>
                            Sony A7R II<br>
                            Sony A7R II (low-pass filter modified for Astrophotography)<br>
                            360 VR rig for 5 Sony A7 series cameras (custom made)<br>
                            Fulldome VR rig for 2 Sony A7 series cameras (custom made)<br>
                            Skypix time-lapse dolly & pan/tilt motion controller<br>
                            Gitzo Systematic GT3531LSV tripod x 2EA<br>
                            Velbon Carmagne 630 tripod x 2EA
                        </p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Links
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-link">
                        <p>
                            <a target="_blank" href="http://www.kwonochul.com/">Website</a>
                            <a target="_blank" href="http://www.facebook.com/kwonochulastrophotography">Facebook</a>
                            <a target="_blank" href="http://www.vimeo.com/kwonochul">Vimeo</a>
                            <a target="_blank" href="https://imagingambassadors.sony.net/ambassadors/kwon-o-chul/blog.kwonochul.com">Blog</a>
                        </p>
                    </div>


                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassadors-article.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/ambassadors-article.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:ambassadors:sanjitdas"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:ambassadors:sanjitdas"; // Microsite Section
    s.hier5 = "microsite|aportal|ambassadors|sanjitdas"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
