<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sanjit Das | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Sanjit Das | Sony α Portal">
    <meta name="description" content="A look at Sanjit Das' images will lend a glance at the individuals living through the transformation of the economic and political landscape of developing countries.">
    <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, cameras, a7, ILCE-7, comparison" />

    <meta property="og:title" content="Sanjit Das | Sony α Portal">
    <meta property="og:description" content="A look at Sanjit Das' images will lend a glance at the individuals living through the transformation of the economic and political landscape of developing countries.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="ambassadors-article">

    @@include('../template/header-1.html')






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7">
        
            <div class="ambassadors-article-wrapper">

                <img id="ambassador-header" src="img/ambassadors/sanjit-header.jpg">

                <!-- warning message -->
                <!-- <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div> -->
                <!-- warning message -->

                <div class="ambassadors-article-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">
                        <div class="ambassador-img col-md-4 col-sm-5 col-xs-5">
                            <img src="img/ambassadors/sanjit01.jpg">
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-7">
                            <h1 id="ambassador-name">Sanjit Das</h1>
                            <h2 id="ambassador-country">Malaysia</h2>
                            <p id="ambassador-short-description" class="hidden-xs">
                                "I am interested in the human stories. I feel I am in an extremely privileged position to walk into people's lives and share their most intense stories with the wider world."
                            </p>
                        </div>
                    </div>

                    <div id="ambassador-intro">
                        <p id="mobile-ambassador-short-description" class="visible-xs">
                            "I am interested in the human stories. I feel I am in an extremely privileged position to walk into people's lives and share their most intense stories with the wider world."
                        </p>
                        <p>A look at Sanjit Das' images will lend a glance at the individuals living through the transformation of the economic and political landscape of developing countries.</p>
                        <p>A member of Panos Pictures, Sanjit joins Sony Global Imaging Ambassadors from Kuala Lumpur. His first project for the programme comes from the Brahmaputra river - one of the few trans-boundaries rivers originating from Tibet. </p>
                        <p>Join Sanjit online and across his excellent social media feeds by using the navigation below to chart his complex and revealing travels, shoots and more.</p>
                    </div>

                    <div id="ambassador-photos-wrapper">
                        <div class="ambassador-hero-photo">
                            <div class=" visible-xs">
                                <div class="mobile-ambassadar-photo-description" id="sanjit-photo-description">
                                    <p id="mobile_description_01">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/125, ISO: 125)<br><br>
                                        Tower blocks, under construction, loom over Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_02">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/125, ISO: 160)<br><br>
                                        ‘Dhobi’ washermen brush their teeth in Dhobighat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_03">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/125, ISO: 320)<br><br>
                                        A young ‘Dhobi’ washerman brushes his teeth while another worker passes him carrying a load of clothes to be washed in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_04">
                                        Mumbai<br><br>
                                        A ‘Dhobi’ washerman washes clothes in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyd
                                    </p>
                                    <p id="mobile_description_05">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 11, Shutter: 1/125, ISO: 320)<br><br>
                                        A woman sits outside her hut in Dhobi Ghat, where hundreds of families live doing the laundry work that they have made their living by for many generations. The Dhobi Ghat is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_06">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 14, Shutter: 1/125, ISO: 160)<br><br>
                                        Jeans and shirts are hung up to dry in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_07">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/125, ISO: 160)<br><br>
                                        A ‘Dhobi’ laundry person washes a delicate embroidered sari on a flogging stone in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_08">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 11, Shutter: 1/125, ISO: 320)<br><br>
                                        ‘Dhobi’ laundry people wash themselves before the day's work begins in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_09">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 7.1, Shutter: 1/250, ISO: 160)<br><br>
                                        A ‘Dhobi’ washerman cleans himself while others work in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_10">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 5.6, Shutter: 1/100, ISO: 1600)<br><br>
                                        Sanjay, a ‘Dhobi’ washerman, seeks a little breeze while he speaks on the phone in a building in the Dhobi Ghat where cauldrons of water and chemicals are brought to the boil on open fires. The Dhobi Ghat is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_11">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 14, Shutter: 1/125, ISO: 320)<br><br>
                                        ‘Dhobi’ laundry people wash hospital uniforms in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners
                                    </p>
                                    <p id="mobile_description_12">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 14, Shutter: 1/125, ISO: 320)<br><br>
                                        A man hangs out cloths to dry in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.</p>
                                    <p id="mobile_description_13">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 3.5, Shutter: 1/125, ISO: 320)<br><br>
                                        A man irons uniforms in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_14">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 4.5, Shutter: 1/125, ISO: 640)<br><br>
                                        A man chops vegetables for a meal in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_15">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/250, ISO: 160)<br><br>
                                        Men working in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_16">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/125, ISO: 1000)<br><br>
                                        Men working in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_17">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/250, ISO: 160)<br><br>
                                        Men working in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_18">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/125, ISO: 800)<br><br>
                                        Sanjay (centre) and his two colleagues sort and fold saris in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_19">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 7.1, Shutter: 1/125, ISO: 800)<br><br>
                                        ‘Dhobi’ washermen gather to cook rotis for breakfast in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                    <p id="mobile_description_20">
                                        Mumbai<br>
                                        Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 8, Shutter: 1/125, ISO: 160)<br><br>
                                        An aerial view of the Dhobi Ghat; the open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                                    </p>
                                </div>
                            </div>
                            <img src="img/ambassadors/hero-base.jpg">
                            <img class="hero-photo first" id="sanjit_01" src="img/ambassadors/sanjit/sanjit01.jpg">
                            <img class="hero-photo" id="sanjit_02" src="img/ambassadors/sanjit/sanjit02.jpg">
                            <img class="hero-photo" id="sanjit_03" src="img/ambassadors/sanjit/sanjit03.jpg">
                            <img class="hero-photo" id="sanjit_04" src="img/ambassadors/sanjit/sanjit04.jpg">
                            <img class="hero-photo" id="sanjit_05" src="img/ambassadors/sanjit/sanjit05.jpg">
                            <img class="hero-photo" id="sanjit_06" src="img/ambassadors/sanjit/sanjit06.jpg">
                            <img class="hero-photo" id="sanjit_07" src="img/ambassadors/sanjit/sanjit07.jpg">
                            <img class="hero-photo" id="sanjit_08" src="img/ambassadors/sanjit/sanjit08.jpg">
                            <img class="hero-photo" id="sanjit_09" src="img/ambassadors/sanjit/sanjit09.jpg">
                            <img class="hero-photo" id="sanjit_10" src="img/ambassadors/sanjit/sanjit10.jpg">
                            <img class="hero-photo" id="sanjit_11" src="img/ambassadors/sanjit/sanjit11.jpg">
                            <img class="hero-photo" id="sanjit_12" src="img/ambassadors/sanjit/sanjit12.jpg">
                            <img class="hero-photo" id="sanjit_13" src="img/ambassadors/sanjit/sanjit13.jpg">
                            <img class="hero-photo" id="sanjit_14" src="img/ambassadors/sanjit/sanjit14.jpg">
                            <img class="hero-photo" id="sanjit_15" src="img/ambassadors/sanjit/sanjit15.jpg">
                            <img class="hero-photo" id="sanjit_16" src="img/ambassadors/sanjit/sanjit16.jpg">
                            <img class="hero-photo" id="sanjit_17" src="img/ambassadors/sanjit/sanjit17.jpg">
                            <img class="hero-photo" id="sanjit_18" src="img/ambassadors/sanjit/sanjit18.jpg">
                            <img class="hero-photo" id="sanjit_19" src="img/ambassadors/sanjit/sanjit19.jpg">
                            <img class="hero-photo" id="sanjit_20" src="img/ambassadors/sanjit/sanjit20.jpg">
                        </div>
                        <div id="mobile-description-toggle" class="visible-xs"> + Show Details</div>
                        <div class="ambassadar-photo-description hidden-xs" id="sanjit-photo-description">
                            <p id="description_01">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/125, ISO: 125)<br><br>
                                Tower blocks, under construction, loom over Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_02">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/125, ISO: 160)<br><br>
                                ‘Dhobi’ washermen brush their teeth in Dhobighat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_03">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/125, ISO: 320)<br><br>
                                A young ‘Dhobi’ washerman brushes his teeth while another worker passes him carrying a load of clothes to be washed in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_04">
                                Mumbai<br><br>
                                A ‘Dhobi’ washerman washes clothes in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyd
                            </p>
                            <p id="description_05">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 11, Shutter: 1/125, ISO: 320)<br><br>
                                A woman sits outside her hut in Dhobi Ghat, where hundreds of families live doing the laundry work that they have made their living by for many generations. The Dhobi Ghat is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_06">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 14, Shutter: 1/125, ISO: 160)<br><br>
                                Jeans and shirts are hung up to dry in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_07">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/125, ISO: 160)<br><br>
                                A ‘Dhobi’ laundry person washes a delicate embroidered sari on a flogging stone in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_08">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 11, Shutter: 1/125, ISO: 320)<br><br>
                                ‘Dhobi’ laundry people wash themselves before the day's work begins in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_09">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 7.1, Shutter: 1/250, ISO: 160)<br><br>
                                A ‘Dhobi’ washerman cleans himself while others work in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_10">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 5.6, Shutter: 1/100, ISO: 1600)<br><br>
                                Sanjay, a ‘Dhobi’ washerman, seeks a little breeze while he speaks on the phone in a building in the Dhobi Ghat where cauldrons of water and chemicals are brought to the boil on open fires. The Dhobi Ghat is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_11">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 14, Shutter: 1/125, ISO: 320)<br><br>
                                ‘Dhobi’ laundry people wash hospital uniforms in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners
                            </p>
                            <p id="description_12">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 14, Shutter: 1/125, ISO: 320)<br><br>
                                A man hangs out cloths to dry in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.</p>
                            <p id="description_13">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 3.5, Shutter: 1/125, ISO: 320)<br><br>
                                A man irons uniforms in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_14">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 4.5, Shutter: 1/125, ISO: 640)<br><br>
                                A man chops vegetables for a meal in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_15">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/250, ISO: 160)<br><br>
                                Men working in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_16">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/125, ISO: 1000)<br><br>
                                Men working in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_17">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 9, Shutter: 1/250, ISO: 160)<br><br>
                                Men working in the Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_18">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 16, Shutter: 1/125, ISO: 800)<br><br>
                                Sanjay (centre) and his two colleagues sort and fold saris in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_19">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 7.1, Shutter: 1/125, ISO: 800)<br><br>
                                ‘Dhobi’ washermen gather to cook rotis for breakfast in Dhobi Ghat. This is an open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                            <p id="description_20">
                                Mumbai<br>
                                Sony α7S, Sonnar T* FE 35mm F2.8 ZA lens, (F-Stop: 8, Shutter: 1/125, ISO: 160)<br><br>
                                An aerial view of the Dhobi Ghat; the open-air laundromat where India’s ‘Dhobi' people wash laundry for all strata of the city's society. From hospital sheets to hospitality tablecloths, from garment factory pieces to the everyday items from people's homes, the workers in the Dhobi Ghat wash the material by hand, dry it and return it to its owners.
                            </p>
                        </div>
                        <div class="ambassador-photo-thumbs" data-ambassador="sanjit">
                          <div><img class="imgborder" data-id="01" src="img/ambassadors/sanjit/sanjit_thumb_01.jpg"></div>
                          <div><img data-id="02" src="img/ambassadors/sanjit/sanjit_thumb_02.jpg"></div>
                          <div><img data-id="03" src="img/ambassadors/sanjit/sanjit_thumb_03.jpg"></div>
                          <div><img data-id="04" src="img/ambassadors/sanjit/sanjit_thumb_04.jpg"></div>
                          <div><img data-id="05" src="img/ambassadors/sanjit/sanjit_thumb_05.jpg"></div>
                          <div><img data-id="06" src="img/ambassadors/sanjit/sanjit_thumb_06.jpg"></div>
                          <div><img data-id="07" src="img/ambassadors/sanjit/sanjit_thumb_07.jpg"></div>
                          <div><img data-id="08" src="img/ambassadors/sanjit/sanjit_thumb_08.jpg"></div>
                          <div><img data-id="09" src="img/ambassadors/sanjit/sanjit_thumb_09.jpg"></div>
                          <div><img data-id="10" src="img/ambassadors/sanjit/sanjit_thumb_10.jpg"></div>
                          <div><img data-id="11" src="img/ambassadors/sanjit/sanjit_thumb_11.jpg"></div>
                          <div><img data-id="12" src="img/ambassadors/sanjit/sanjit_thumb_12.jpg"></div>
                          <div><img data-id="13" src="img/ambassadors/sanjit/sanjit_thumb_13.jpg"></div>
                          <div><img data-id="14" src="img/ambassadors/sanjit/sanjit_thumb_14.jpg"></div>
                          <div><img data-id="15" src="img/ambassadors/sanjit/sanjit_thumb_15.jpg"></div>
                          <div><img data-id="16" src="img/ambassadors/sanjit/sanjit_thumb_16.jpg"></div>
                          <div><img data-id="17" src="img/ambassadors/sanjit/sanjit_thumb_17.jpg"></div>
                          <div><img data-id="18" src="img/ambassadors/sanjit/sanjit_thumb_18.jpg"></div>
                          <div><img data-id="19" src="img/ambassadors/sanjit/sanjit_thumb_19.jpg"></div>
                          <div><img data-id="20" src="img/ambassadors/sanjit/sanjit_thumb_20.jpg"></div>
                        </div>
                    </div>

                    <div id="ambassador-work-intro">
                        <h3>Washing a City</h3>
                        <p>Detergent, chlorine and the thrashing of flagstones; this is the Dhobi Ghat, the world’s largest open-air laundromat, situated in India's financial capital, Mumbai.</p>
                        <p>Since its colonial beginnings in 1890, this sprawling 4 acre laundry has developed into an integral part of the city, servicing many of Mumbai’s businesses and employing over 7,500 workers who wash over 750,000 clothes on a daily basis.</p>
                        <p>In this #FutureofCities story, Sanjit Das takes a look at the vital washing service provided by the Dhobi people, observing how this seemingly antiquated tradition works for the modern world, enabling clean mats to be put on the tables of Mumbai restaurants and clean sheets to be used in the operating theatres of the city's busy hospitals.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        About / Biography
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <p>Sanjit’s primary interest lies in documenting social issues as seen through the backdrop of an emerging economy’s changing social, economic and political landscape. Sanjit has spent a considerable amount of time recording India’s shift from a rural economy to one of the most rapidly industrializing nations in the world. His work is focused on documenting the lives and conditions of those being overlooked by this sweeping modernization.</p>
                        <p>When not covering the issues on the field, he lives in Kuala Lumpur.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Commissions / Image Galleries
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-commission">
                        <a target="_blank" href="http://imagingambassadors.sony.net/futureofcities/sanjit-das-malaysia-boleh/">#FutureofCities: Malaysia Boleh?</a>

                        <p>Boleh means Can! 'Malaysia Boleh' is a commonly used phrase, and I felt it was apt to use it in this context.</p>

                        <p>Every city has its master plan, and Kuala Lumpur (KL) has its own. By 2020, Malaysia aspires for its premier city to attain the label of 'world class city'. To achieve this, the city is going through massive changes. Take a look...</p>

                        <a href="http://imagingambassadors.sony.net/assignments/sanjit-das-panos-himalaya/" target="_blank">Himalaya Roadtrip</a>

                        <p>Along with my wife and fellow Panos photographer Suzanne Lee, I set off on a 18-day road trip across the Himalayas summer of 2014.</p>

                        <p>Armed with the α7R and Sony Action Cam, the two set off to Ladakh on the world's highest motor-able roads. Along with 9 riders and 7 bikes, we share a slice of our motorcycle journey.</p>

                        <p>Follow the duo online at @sanjitdas, @suzanneleephoto and chart the full journey with the hashtag #panoshimalaya </p>

                        <a href="http://imagingambassadors.sony.net/assignments/sanjit-das-brahmaputra-river/" target="_blank">Brahmaputra River</a>

                        <p>The Brahmaputra river is one of the major rivers in Asia and is one of the few trans-boundaries rivers originating from Tibet and ending up in the Bay of Bengal. It originates in China, flows through India and empties out into the Bay of Bengal in Bangladesh.  I wish to travel the length of the river and create a visual narrative of three distinctly varied communities and understand the cultural ties between these three cultures joined by the same river. I plan to start in the mountainous regions and follow its rapid descend to the plains where its calm, and occasionally creating a havoc with flooding. This will be my journey of understanding a river and its relationship with the communities living around the river or vice-versa.  </p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Video
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <iframe id="ambassador-vid" src="https://www.youtube.com/embed/WSIugwXtW6M" frameborder="0" style="width:560px; height: 315px;" allowfullscreen style="display:block"></iframe>
                    </div>

                    <div class="ambassador-accordion-title">
                        Interview
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p class="ambassador-interview-questions">Describe the moment when photography changed your life.</p> 
                        <p>I only started taking pictures late in my life. Until my late twenties, my life had been relatively uneventful, sitting behind a big screen, doing graphic design. But every time I left Delhi, where a red-hot economy brought exciting changes every week, and went home to see my parents in the foot hills of Darjeeling, a small town in the Himalayas where it often seems time stands still, I would wonder about the direction that India has chosen to head towards -- a free-market, capitalist, winner-takes-all economy. Looking back, that dichotomy of views -- from the windows of a car in Delhi, to the windows during a train journey to my parents -- have grown to bifurcate my photographic attempts. I have spent a considerable amount of time documenting social issues and equal time (if not less) in recording India’s move towards one of the fastest growing economies of the world.</p> 

                        <p class="ambassador-interview-questions">Describe what kind of photographer you consider yourself to be.</p> 
                        <p>I think of myself as a chronicler of sorts. My role as a photographer is merely to share what I see and bring it to a wider audience. By no means do I wish to influence my audience with what I notice, but I almost always want to tickle their imagination a bit and try and make them look at the big picture within the issues.</p> 

                        <p class="ambassador-interview-questions">If you had one word to describe your work, what would that be? </p>
                        <p>Intimate. All my personal projects fall into the category of long-form documentary photography. I am not a single-image maker. Single photos are powerful; most of the historic images are single images, but I was (and still am) always drawn to a narrative form of photography, something more personal, something more intimate. </p> 

                        <p class="ambassador-interview-questions">What is the most important photograph or body of work you have worked on to date?</p> 
                        <p>For the past 4-5 years I have been working on a project photographing my parents. This project is an exploration of two people’s lives together -- what a long term relationship entails, as I am about to get into one myself. It’s not just about my father; the images that I am making have my mother with him as a couple. It’s an attempt to explore the landscape of a long-term relationship, and I am doing it through my parents, who have been married for over four decades. I have tried to capture the rhythm of their home and their partnership, and how those forty years have made two people into one entity -- this idea of Mr. and Mrs. Das.</p> 

                        <p class="ambassador-interview-questions">Give us your top three "must-do" photo assignments or personal projects you want to someday shoot.</p> 
                        <p>A photographer is known by the body of work they have. I am drawn towards long-term projects that go past the news cycle and focus on the underlying social and economic issues that drive the news cycle. For the longest time, I have been working on issues relating to poverty, human rights, health, and similar social documentary issues. I somehow feel I have not photographed the other side -- the richer side. I want to work with the rich, challenge myself and see if I can make photos in the same intimate way as I do with the less privileged. Another one of my must-do projects will be to spend time with a celebrity. The dream project will be to spend a few days to photograph a musician or an actor/actress, a global leader or a politician, and see what makes them different, how they cope with being in a crowd -- catch them in lonely moments, explore this idea of being a celebrity. Celebrities do not easily impress me, and a project like this could be a window to explore the people behind the glitter. I love road trips, and one of the must-do projects before I get too old would be to shoot a project on the Istanbul-to-Kathmandu route while on a motorcycle road trip. </p> 

                        <p class="ambassador-interview-questions">What do you think about the Global Imaging Ambassadors program?</p> 
                        <p>I find it quite interesting that Sony is interested in the kind of work that documentary photographers are producing, and how they are interested in investing in longform storytelling. With the advent of digital photography, there are many more photographers now -- which democratizes photography, but what stands out is the quality and the skill of the narrative. I am glad we have partners like Sony who are willing to support such work and help fellow professionals, especially in the documentary field.</p>  

                        <p class="ambassador-interview-questions">What is your favorite feature about the Sony RX1 or other Sony products you have used?</p> 
                        <p>I must admit, I love this camera. I really (really!) like the small size and the amazing image quality it offers. I usually shoot quite slow and prefer to be discreet (more like a fly on the wall), and this camera, with its fixed 35mm lens, is an asset. I carry this camera in my bag all the time; I just wish I could turn off the display screen somehow.</p> 
                    </div>

                    <div class="ambassador-accordion-title">
                        Kit
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p>
                            Sony DSC-RX1<br>
                            Sekonic Lightmeter<br>
                            SD cards<br>
                            iPhone<br>
                            Backup phone (Nokia)<br>
                            Wallet<br>
                            Business cards<br>
                            Passport<br>
                            Sunglasses<br>
                            Notebooks<br>
                            Pens<br>
                            Wotancraft 006 Camera-bag
                        </p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Links
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-link">
                        <p>
                            <a target="_blank" href="http://www.sanjitdas.com/">Website</a>
                            <a target="_blank" href="http://www.panos.co.uk/stories/1-5-1365-1859-SDA/Sanjit-Das/">Panos Pictures profile</a>
                            <a target="_blank" href="https://www.facebook.com/sanjitdasphotography">Facebook</a>
                            <a target="_blank" href="https://twitter.com/shonjeet">Twitter</a>
                            <a target="_blank" href="http://instagram.com/sanjitdas">Instagram</a>
                        </p>
                    </div>


                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassadors-article.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/ambassadors-article.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:ambassadors:sanjitdas"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:ambassadors:sanjitdas"; // Microsite Section
    s.hier5 = "microsite|aportal|ambassadors|sanjitdas"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
