<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Suzanne Lee | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Suzanne Lee | Sony α Portal">
    <meta name="description" content="Suzanne Lee is a self-taught photographer and videographer living between Malaysia and India. She has been a full member of Panos Pictures since 2014.">
    <meta name="keywords" content="slr club, reviews, e-mount, full frame, mirrorless, cameras, a7, ILCE-7, comparison" />

    <meta property="og:title" content="Suzanne Lee | Sony α Portal">
    <meta property="og:description" content="Suzanne Lee is a self-taught photographer and videographer living between Malaysia and India. She has been a full member of Panos Pictures since 2014.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="ambassadors-article">

    @@include('../template/header-1.html')






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7">
        
            <div class="ambassadors-article-wrapper">

                <img id="ambassador-header" src="img/ambassadors/suzannelee-header.jpg">

                <!-- warning message -->
                <!-- <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div> -->
                <!-- warning message -->

                <div class="ambassadors-article-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">
                        <div class="ambassador-img col-md-4 col-sm-5 col-xs-5">
                            <img src="img/ambassadors/suzannelee01.jpg">
                        </div>
                        <div class="col-md-8 col-sm-7 col-xs-7">
                            <h1 id="ambassador-name">Suzanne Lee</h1>
                            <h2 id="ambassador-country">Malaysia/India</h2>
                            <p id="ambassador-short-description" class="hidden-xs">
                               “Climate change isn’t just a polar bear issue - it is real and borderless. It will impact us all and it will be irreversible, but we can slow the rate of climate change down by changing our lifestyles.”
                            </p>
                        </div>
                    </div>

                    <div id="ambassador-intro">
                        <p id="mobile-ambassador-short-description" class="visible-xs">
                            “Climate change isn’t just a polar bear issue - it is real and borderless. It will impact us all and it will be irreversible, but we can slow the rate of climate change down by changing our lifestyles.”
                        </p>
                        <p>Suzanne Lee is a self-taught photographer and videographer living between Malaysia and India. She has been a full member of Panos Pictures since 2014.</p>

                        <p>Suzanne’s long-form documentary projects have been exhibited internationally and awarded with numerous high-profile accolades. She also regularly works on multimedia commissions for global clients including important charities such as International Planned Parenthood Federation (IPPF) &amp; Save the Children UK.</p>

                        <p>Suzanne joins the Global Imaging Ambassadors programme with her first #FutureofCities project: Vertical Gardens. The series takes a look at the proliferation of urban vertical gardening projects in the heart of Singapore, which herald a new era in urban living for this city and hopefully more across the globe.</p>
                    </div>

                    <div id="ambassador-photos-wrapper">
                        <div class="ambassador-hero-photo">
                            <img src="img/ambassadors/hero-base.jpg">
                            <img class="hero-photo first" id="suzannelee_01" src="img/ambassadors/suzannelee/suzannelee01.jpg">
                            <img class="hero-photo" id="suzannelee_02" src="img/ambassadors/suzannelee/suzannelee02.jpg">
                            <img class="hero-photo" id="suzannelee_03" src="img/ambassadors/suzannelee/suzannelee03.jpg">
                            <img class="hero-photo" id="suzannelee_04" src="img/ambassadors/suzannelee/suzannelee04.jpg">
                            <img class="hero-photo" id="suzannelee_05" src="img/ambassadors/suzannelee/suzannelee05.jpg">
                            <img class="hero-photo" id="suzannelee_06" src="img/ambassadors/suzannelee/suzannelee06.jpg">
                            <img class="hero-photo" id="suzannelee_07" src="img/ambassadors/suzannelee/suzannelee07.jpg">
                            <img class="hero-photo" id="suzannelee_08" src="img/ambassadors/suzannelee/suzannelee08.jpg">
                            <img class="hero-photo" id="suzannelee_09" src="img/ambassadors/suzannelee/suzannelee09.jpg">
                            <img class="hero-photo" id="suzannelee_10" src="img/ambassadors/suzannelee/suzannelee10.jpg">
                            <img class="hero-photo" id="suzannelee_11" src="img/ambassadors/suzannelee/suzannelee11.jpg">
                            <img class="hero-photo" id="suzannelee_12" src="img/ambassadors/suzannelee/suzannelee12.jpg">
                            <img class="hero-photo" id="suzannelee_13" src="img/ambassadors/suzannelee/suzannelee13.jpg">
                            <img class="hero-photo" id="suzannelee_14" src="img/ambassadors/suzannelee/suzannelee14.jpg">
                            <img class="hero-photo" id="suzannelee_15" src="img/ambassadors/suzannelee/suzannelee15.jpg">
                            <img class="hero-photo" id="suzannelee_16" src="img/ambassadors/suzannelee/suzannelee16.jpg">
                            <img class="hero-photo" id="suzannelee_17" src="img/ambassadors/suzannelee/suzannelee17.jpg">
                            <img class="hero-photo" id="suzannelee_18" src="img/ambassadors/suzannelee/suzannelee18.jpg">
                            <img class="hero-photo" id="suzannelee_19" src="img/ambassadors/suzannelee/suzannelee19.jpg">
                            <img class="hero-photo" id="suzannelee_20" src="img/ambassadors/suzannelee/suzannelee20.jpg">
                        </div>
                        <div class="ambassador-photo-thumbs" data-ambassador="suzannelee">
                          <div><img class="imgborder" data-id="01" src="img/ambassadors/suzannelee/suzannelee_thumb_01.jpg"></div>
                          <div><img data-id="02" src="img/ambassadors/suzannelee/suzannelee_thumb_02.jpg"></div>
                          <div><img data-id="03" src="img/ambassadors/suzannelee/suzannelee_thumb_03.jpg"></div>
                          <div><img data-id="04" src="img/ambassadors/suzannelee/suzannelee_thumb_04.jpg"></div>
                          <div><img data-id="05" src="img/ambassadors/suzannelee/suzannelee_thumb_05.jpg"></div>
                          <div><img data-id="06" src="img/ambassadors/suzannelee/suzannelee_thumb_06.jpg"></div>
                          <div><img data-id="07" src="img/ambassadors/suzannelee/suzannelee_thumb_07.jpg"></div>
                          <div><img data-id="08" src="img/ambassadors/suzannelee/suzannelee_thumb_08.jpg"></div>
                          <div><img data-id="09" src="img/ambassadors/suzannelee/suzannelee_thumb_09.jpg"></div>
                          <div><img data-id="10" src="img/ambassadors/suzannelee/suzannelee_thumb_10.jpg"></div>
                          <div><img data-id="11" src="img/ambassadors/suzannelee/suzannelee_thumb_11.jpg"></div>
                          <div><img data-id="12" src="img/ambassadors/suzannelee/suzannelee_thumb_12.jpg"></div>
                          <div><img data-id="13" src="img/ambassadors/suzannelee/suzannelee_thumb_13.jpg"></div>
                          <div><img data-id="14" src="img/ambassadors/suzannelee/suzannelee_thumb_14.jpg"></div>
                          <div><img data-id="15" src="img/ambassadors/suzannelee/suzannelee_thumb_15.jpg"></div>
                          <div><img data-id="16" src="img/ambassadors/suzannelee/suzannelee_thumb_16.jpg"></div>
                          <div><img data-id="17" src="img/ambassadors/suzannelee/suzannelee_thumb_17.jpg"></div>
                          <div><img data-id="18" src="img/ambassadors/suzannelee/suzannelee_thumb_18.jpg"></div>
                          <div><img data-id="19" src="img/ambassadors/suzannelee/suzannelee_thumb_19.jpg"></div>
                          <div><img data-id="20" src="img/ambassadors/suzannelee/suzannelee_thumb_20.jpg"></div>
                        </div>
                    </div>
                    <div id="ambassador-work-intro">
                        <h3>Vertical Gardens</h3>
                        <p>“With a growing urban population, high-rise buildings are an increasingly prevalent feature of our global cities. Land is a major constraint in most Asian cities and in the face of high-density urbanization, the only way to build is upwards. In Singapore’s dense, urban metropolis, where land area is extremely limited, high-rise building forms have typified the urban fabric for years.”</p>
                        <p>In this installation to our #FutureofCities project; photographer Suzanne Lee focuses on the new ways in which Singapore is adapting its urban architecture to include diverse and ingenious vertical gardening projects.</p>
                        <p>These projects represent a collision of nature and contemporary architecture; their emergence signifying Singapore’s commitment to exploring new forms of vertical living which enhance the quality of life for city residents within their ever-expanding urban landscape.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        About / Biography
                        <div class="arrw"></div>
                    </div>

                    <div class="ambassador-accordion-content">
                        <p>Suzanne Lee is a self-taught photographer and videographer living between Malaysia and India. Dividing her time between long-form personal documentary photography projects and assignments - she regularly works for leading publications worldwide. She also works on multimedia projects for developmental organisations such as International Planned Parenthood Federation (IPPF), Save the Children UK, and The Bill &amp; Melinda Gates Foundation. Suzanne is currently working on a photo book project on modern slavery with Legatum Foundation/Geneva Global.</p>

                        <p>Suzanne’s long-form photojournalistic works have been awarded in the DAYS Japan International Photojournalism Awards (2011), the Angkor Photo Festival (2007), and were nominated for the 2012 and 2010 UNICEF-GEO Photo of the Year Awards. </p>

                        <p>Suzanne's bodies of work have been exhibited in print and multimedia exhibitions in galleries internationally as well as in photography festivals including the Yokohama Photojournalism Festival (Japan, 2011), Ping Yao International Photography Festival (China), Angkor Photo Festival (Cambodia, 2007 &amp; 2010) and Photokina (Germany, 2012). Her solo exhibitions have been shown in Museum Ecomusee Forges et Moulins de Pinsot (France) as well as the 2013 Obscura Photography Festival (Malaysia).</p>

                        <p>Suzanne joined Panos as a full member in 2014 and is a Sony Global Imaging Ambassador.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Commissions / Image Galleries
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-commission">
                        <p>#FutureofCities: Vertical Gardens</p>

                        <p><em>“With a growing urban population, high-rise buildings are an increasingly prevalent feature of our global cities. Land is a major constraint in most Asian cities and in the face of high-density urbanization, the only way to build is upwards. In Singapore’s dense, urban metropolis, where land area is extremely limited, high-rise building forms have typified the urban fabric for years.”</em></p>

                        <p>In this installation to our #FutureofCities project; photographer Suzanne Lee focuses on the new ways in which Singapore is adapting its urban architecture to include diverse and ingenious vertical gardening projects.</p>

                        <p>These projects represent a collision of nature and contemporary architecture; their emergence signifying Singapore’s commitment to exploring new forms of vertical living which enhance the quality of life for city residents within their ever-expanding urban landscape.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Interview
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content">
                        <p class="ambassador-interview-questions">Describe the moment you knew photography changed your life</p> 
                        <p>It was a moment of profound realization. A sense of deep satisfaction and calm.</p><p>It was a certain calm from within, and a hardened resolution to contribute my share of interpretation to a global voice, rich with visual documentary narratives.</p> 

                        <p class="ambassador-interview-questions">If you could sum up your work in one word or one sentence, what would that be?</p> 
                        <p>A cumulative body of work that illustrates my beliefs, observations and emotions.</p> 

                        <p class="ambassador-interview-questions">What is the most remarkable person, place or thing you have ever photographed and why?</p>
                        <p>The child miners in the coal mines of India.</p> 
                        <p>When I’m working on my project Minor Miners, I am hit constantly with the harsh realities and unending cycle of poverty and struggle that the child miners are caught in. The challenges these children face are remarkable - their resilience and dignity is profound and their determination striking.</p>

                        <p class="ambassador-interview-questions">Talk to us about your bucket list... what is on the top of that list of things to photograph?</p> 
                        <p>I am in the initial stages of a project on climate change and sustainable living. Many photographers are also working on commendable projects on this issue but I want to add to the conversation of global warming from fresh angles.</p> 

                        <p>I am also a contributor to the Instagram feed @EverydayClimateChange, and I believe that this social media initiative has a great capacity to open dialogues and inform a global audience of the effects of climate change through visual evidence.</p> 

                        <p>Climate change isn’t just a polar bear issue - it is real and borderless. It will impact us all and it will be irreversible, but we can slow the rate of climate change down by changing our lifestyles. </p> 

                        <p class="ambassador-interview-questions">If you had not become a photographer, what might you be today?</p> 
                        <p>A sportswoman!</p> 

                        <p class="ambassador-interview-questions">Give us your thoughts about the Global Imaging Ambassadors programme?</p> 
                        <p>In this age of digital madness, and the megapixel warfare - I find it incredible that Sony listens intently to photographers through this programme and takes their feedback seriously.</p>
                        <p>The programme is unique in that it fully supports the photographers, allowing us the artistic freedom to have complete creative control of the visual narratives in our work. Collaborations such as these, between camera manufacturers and photographers are hard to come by and I feel thoroughly privileged and honored to be a part of it. </p>

                        <p class="ambassador-interview-questions">What is your favorite Sony camera of the moment?</p> 
                        <p>The a7S and RX1 are my two favorites at the moment, though I would love to have a try of the a7II at some point. I tend to shoot a lot in dark situations so the low level of digital noise and the image stabilizer would be a great feature to assist me in such situations. My favorite features in the a7S are its video capabilities and silent mode. The file quality, dynamic range and physical size of the RX1 is a combination incomparable to any other digital camera I have used in the past. The colors and dynamic range across the board of the a7 series has been astounding.</p>
                    </div>

                    <div class="ambassador-accordion-title">
                        Links
                        <div class="arrw"></div>
                    </div>
                    <div class="ambassador-accordion-content" id="ambassador-link">
                        <p>
                            <a target="_blank" href="http://instagram.com/suzanneleephoto">Instagram</a>
                            <a target="_blank" href="http://twitter.com/suzannephoto">Twitter</a>
                            <a target="_blank" href="http://facebook.com/suzanneleephoto">Facebook</a>
                        </p>
                    </div>


                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/ambassadors-article.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/ambassadors-article.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:ambassadors:sanjitdas"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:ambassadors:sanjitdas"; // Microsite Section
    s.hier5 = "microsite|aportal|ambassadors|sanjitdas"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
