<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>
                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3 active" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">Lighting with Flash: Advanced</h1>

                            <div class="col-sm-12">

                                <p>Now that you’ve learned the basics of using flash for well-lit shots and the essential properties and features of flash units, you can venture into more creative lighting by bringing more lights into the picture and utilizing off-camera flash.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>Three-Point Lighting</h2>

                                <p>Three-point lighting is a classic studio set-up and a great way to introduce basic lighting principles. The three-points refer to three main light sources: The key light, the fill light and the back light. Using three-point lighting as a guide, we can understand how to light our subjects, even when using available light.</p>

                                <p>The strongest source of light on your subject is the main light, also known as the key light. For example, when shooting outdoors the sun is your key light. In our picture, the key light is shining directly onto our model.</p>

                                <p>The fill light is a lesser light and shines from a side relative to the fill light. Its role is to soften the key light and fill the shadows cast by the key light. The fill light can be a secondary light source, or it can be light bounced off a reflective surface like a diffuser. In our picture, the fill light is lighting up the model’s left side.</p>

                                <p>A back light, shining from the subject’s back, is used to highlight the edges of the subject and distinguish it from the background. The back light is also called a rim light.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-01.jpg" class="img-container img-responsive center-block" width="320" height="480" alt="Three-Point Lighting">

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-02.jpg" class="img-container img-responsive center-block" width="480" height="339" alt="Three-Point Lighting">

                                <p class="img-caption text-center">Camera: f/16 at 85mm, 1/160 sec, ISO 100. Flash: One on-camera flash with three off-camera flashes.</p>

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>For this 3-point flash setup , the HVL-F60M is set as master on-camera and three HVL-F43M units as slaves, mounted on light stands pointed at our model. HVL-F60M is bouncing backwards as a controller to trigger slave units.</p>

                                <p>HVL-F60M is set as CTRL on-camera, the HVL-F43M on model’s left is set as RMT as the main light, and the HVL-F43Ms on model’s right and back are set as RMT2 as the weaker lights. Flash ratio is set at 1:8:4 (which sets flash strength at 1/13 power for CTRL, 8/13 power for RMT and 4/13 power for RMT2).</p>

                                <ol>
                                    <li>On the HVL-F60M attached to the camera, press Mode.</li>
                                    <li>Select WL CTRL (wireless controller) to enable it as a wireless controller.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-03.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <ol>
                                    <li>Press the Fn (function) button and use the scroll wheel to select TTL RATIO ON.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-04.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <ol>
                                    <li>Press Menu; go to WL CTRL and select CTRL+ to enable RMT2 in additional to RMT for another group of flashes.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-05.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>On the HVL-F43M on the model’s left, press TTL/M to set it to TTL (through the lens).</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-06.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>Press Mode to set WL (wireless) and RMT. This will set the flash as group one.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-07.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>If CTRL or RMT2 is displayed, press the Fn button to change it to RMT.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-08.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>On the HVL-F43M flashes on the model’s right and back, press Mode to set them to TTL (through the lens), with WL (wireless) and RMT2. This will set these flashes as group two.</p>

                                <ol>
                                    <li>If CTRL or RMT is displayed, press the Fn button to change them to RMT2.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-09.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>On the HVL-F60M on-camera flash, go to CTRL, and then use the scroll wheel to adjust the ratio. Set CTRL at 1, making the HVL-F60M the weakest flash at 1/13 power.</p>

                                <ol>
                                    <li>Set RMT at 8, this sets the HVL-F43M on our model’s left at 8/13 power, which makes it the strongest flash.</li>
                                    <li>Set RMT2 at 4, this sets the HVL-F43M flashes on our model’s right and back at 4/13 power, which makes them the second-strongest flashes.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-10.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Three-Point Lighting">

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>Creative Off-camera Flash</h2>

                                <p>We can use more than one flash to fill in the shadows cast by the single flash. Here we have an off-camera flash firing from the model’s side, and another flash from behind her to light up the shadows. If you don’t have a second flash, you can use a reflector to bounce the light from your off-camera flash.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-11.jpg" class="img-container img-responsive center-block" width="320" height="480" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-12.jpg" class="img-container img-responsive center-block" width="480" height="339" alt="Creative Off-camera Flash">

                                <p class="img-caption text-center">Camera: f/16 at 85mm, 1/160 sec, ISO 100. Flash: One on-camera flash with two off-camera flashes.</p>

                            </div>

                            <div class="info-wrapper col-sm-12">

                                <p>HVL-F60M set as master on-camera and two HVL-F43M units as slaves, mounted on light stands. HVL-F60M is bouncing backwards as a controller to trigger slave units.</p>

                                <p>HVL-F60M is set as CTRL on-camera, the HVL-F43M units on model’s left and back are set as RMT. Flash ratio is set at 1:4 (1/5 power for CTRL, and 4/5 power for RMT).</p>

                                <ol>
                                    <li>On the HVL-F60M attached to the camera, press Mode.</li>
                                    <li>Select WL CTRL (wireless controller) to enable it as a wireless controller.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-13.jpg" class="img-container img-responsive center-block" width="480" height="339" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <p>Press the Fn (function) button and use the scroll wheel to select TTL RATIO ON.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-14.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <p>On the two HVL-F43M flashes, press TTL/M to set them to TTL (through the lens).</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-15.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <p>Press Mode to set WL (wireless) and RMT. This will set these flashes as group one.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-16.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <ol>
                                    <li>If CTRL or RMT2 is displayed, press the Fn button to change it to RMT.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-17.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <p>On the HVL-F60M on-camera flash, go to CTRL, and then use the scroll wheel to adjust the ratio. Set CTRL at 1, making the HVL-F60M the weakest flash at 1/5 power.</p>

                                <ol>
                                    <li>Set RMT at 4, this sets the HVL-F43M flashes on our model’s left and back at 4/5 power, which makes them the strongest flashes.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-18.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <p>In this shot, we have two flashes firing on either side of the model’s back, creating a dramatic look.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-20.jpg" class="img-container img-responsive center-block" width="480" height="339" alt="Creative Off-camera Flash">

                                <p class="img-caption">Camera: f/13 at 85mm, 1/125 sec, ISO 160. Flash: One on-camera flash with two off-camera flashes.</p>

                            </div>

                            <div class="col-sm-12">

                                <p>HVL-F60M set as master on-camera and two HVL-F43M units as slaves, mounted on light stands. HVL-F60M is bouncing backwards as a controller to trigger slave units.</p>

                                <p>HVL-F60M is set as CTRL on-camera, the HVL-F43M units on both sides of the model’s back are set as RMT. Flash ratio is set at 1:4 (1/5 power for CTRL, and 4/5 power for RMT).</p>

                                <p>On the HVL-F60M attached to the camera, press Mode.</p>

                                <ol>
                                    <li>Select WL CTRL (wireless controller) to enable it as a wireless controller.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-21.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <ol>
                                    <li>Press the Fn (function) button and use the scroll wheel to select TTL RATIO ON.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-22.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <ol>
                                    <li>On the two HVL-F43M flashes, press TTL/M to set them to TTL (through the lens).</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-23.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <ol>
                                    <li>Press Mode to set WL (wireless) and RMT. This will set these flashes as group one.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-24.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <ol>
                                    <li>If CTRL or RMT2 is displayed, press the Fn button to change it to RMT.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-25.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                            <div class="col-sm-12">

                                <ol>
                                    <li>On the HVL-F60M on-camera flash, go to CTRL, and then use the scroll wheel to adjust the ratio. Set CTRL at 1, making the HVL-F60M the weakest flash at 1/5 power.</li>
                                    <li>Set RMT at 4, this sets the HVL-F43M flashes on our model’s left and back at 4/5 power, which makes them the strongest flashes.</li>
                                </ol>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-26.jpg" class="img-container img-responsive center-block" width="480" height="386" alt="Creative Off-camera Flash">

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-6">

                                <h2>Modifying Light</h2>

                                <p>You can also directly affect the quality of light coming from your flash with accessories such as diffusers or softboxes to create a more uniform light or soften it when there is no surface to bounce off from. Today, most flash units come with various accessories bundled together such as integrated bounce cards, silicone diffuser caps and color cards.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-27.png" class="img-container img-responsive center-block" width="480" height="400" alt="Modifying Light">

                                <p class="img-caption">Right out of the box, the Sony HVL-F60M already gives a photographer many tools to adjust and modify light.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section3/article/lighting_with_flash_advanced-28.jpg" class="img-container img-responsive center-block" width="480" height="320" alt="Modifying Light">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p>As you get comfortable with using various flashes, light and props to compose your shots, you’ll realize that there are really unlimited ways you can try to modify and move your light around for other creative effects and it doesn’t always have to be from the front or sides too. In the shot below, we have an off-camera flash firing from the top of our model directly onto her, while using a reflector below the face to bounce light back to soften the lighting.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec03:lightingWithFlashBasics"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec03"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec03|lightingWithFlashBasics"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>

</html>
