<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>
                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5 active" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">What is Resolution?</h1>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/photo_printing_and_resolution-01.jpg" class="img-container img-responsive center-block" width="1024" height="682" alt="What is Resolution?">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>Digital image resolution</strong> – All digital photos are composed of tiny dots called “pixels”. In general, resolution is the expression of its size in terms of pixels. For any digital display, resolution is usually stated as it width by height in pixels. For example, a 1,920 × 1,080 photo means it is 1,920 pixels wide and 1,080 pixels tall. Resolution is used equally for photos as well as video.</p>

                                <p><strong>Camera resolution</strong> – When shot by a camera, it and the resulting photo’s resolution is stated by its total number of pixels – which can be derived by multiplying the image’s width by height in pixels. Taking the last example, a 1,920 x 1,080 photo can also be expressed as 2,073,600 or 2.07 million pixels or 2.07 megapixels (MP). Manufacturers will always state a camera’s maximum resolution as its key specification. You can read more about camera sensor resolution here.</p>

                                <p><strong>Print resolution</strong> – Besides shooting photos, editing and/or sharing them online, you might also want to print them out from time to time. Consumer A4-sized photo printers are very common and affordable today, but what you see on your screen may not correspond to actual print quality or size. That 1,920 x 1,080 (2MP) picture may look real good on your monitor or your Full HD widescreen TV, but a 2MP image is only good enough to print a 4R-sized photo.</p>

                                <p>Resolution in this sense doesn’t just refer to how many pixels the image that’s being printed is made up of, but also how many pixels can be printed onto an defined area – normally measured per inch. The denser the pixels can be packed, the sharper the image appears. This is normally defined as pixels per inch (PPI) or dots per inch (DPI).</p>

                            </div>

                        </div>

                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>So How Much Resolution Do You Really Need for Printing?</h2>

                                <p>The quality of a printed photo is determined by three factors:</p>

                                <ul>

                                    <li>The photo’s resolution (in pixels)</li>
                                    <li>The print resolution set on the printer (in PPI/DPI)</li>
                                    <li>The actual size of the photo you want to print</li>
                                </ul>

                                <p>Typically, home and commercial photo printers print at 300ppi. When you buy a magazine for example, it is printed at this resolution. This will be used as a baseline for our example.</p>

                                <p>The table below shows the ideal recommended image resolutions for each photo print size you wish to print. For each size, using photos of lower resolution than the ideal minimum image resolution will normally result in blurry or pixelated looking photos. Conversely, you can use photos of higher resolutions above the ideal resolution, but they will not make significant improvements to print quality as well.</p>

                                <table>
                                    <tr>
                                        <td>Photo print size @300ppi</td>
                                        <td>Ideal minimum image resolution</td>
                                        <td>Ideal minimum camera resolution</td>
                                    </tr>
                                    <tr>
                                        <td>2.5 x 3.5 inches</td>
                                        <td>750 x 1050</td>
                                        <td>0.79MP</td>
                                    </tr>
                                    <tr>
                                        <td>3.5 x 5.0 inches</td>
                                        <td>1050 x 1500</td>
                                        <td>1.5MP</td>
                                    </tr>
                                    <tr>
                                        <td>4.0 x 6.0 inches (4R)</td>
                                        <td>1200 x 1800</td>
                                        <td>2.2MP</td>
                                    </tr>
                                    <tr>
                                        <td>5.0 x 7.0 inches (5R)</td>
                                        <td>1500 x 2100</td>
                                        <td>3.2MP</td>
                                    </tr>
                                    <tr>
                                        <td>8.0 x 10.0 inches (8R)</td>
                                        <td>2400 x 3000</td>
                                        <td>7.2MP</td>
                                    </tr>
                                    <tr>
                                        <td>8.27 x 11.7 inches (A4)</td>
                                        <td>2481 x 3510</td>
                                        <td>8.7MP</td>
                                    </tr>
                                    <tr>
                                        <td>11.7 x 16.55 inches (A3)</td>
                                        <td>3510 x 4965</td>
                                        <td>17MP</td>
                                    </tr>
                                </table>

                                <p>Modern digital cameras and even some mobile phones are capable of producing photos with a resolution of at least 12 megapixels, which is more than sufficient for printing a clear A4 photo that is the usual maximum size of consumer level home photo printers.</p>

                                <p>Although all digital cameras are able to have their resolutions selected, we recommend shooting on their maximum resolutions all the time as storage cards are extremely affordable these days, and so that you will be able to print any photo you have shot for any photo size without fear of insufficient resolution.</p>

                            </div>

                        </div>



                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec05:photoPrintingAndRes"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec05"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec05|photoPrintingAndRes"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>

</html>
