<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>
                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5 active" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">Working with RAW</h1>

                            <div class="col-sm-12 col-md-6">

                                <p>Using Sony’s Image Data Converter (IDC) software to sort, rate and edit raw files shot from a Sony camera.</p>

                                <p><strong>1.</strong> Photographers often take a great many shots, so the first thing you should do is to rate them. Go through your favorite shots and rank them from one to five stars. We like to rank the ones a single star first on our first pass. Then we use the Filter drop-down menu on the top left to only see our selection. If there are ones we really like then we can go in and refine our ratings.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-01.png" class="img-container img-responsive center-block" width="1024" height="595" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-02.png" class="img-container img-responsive center-block" width="1024" height="522" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>2.</strong> Double-click on an image to start editing. The most important setting to check first is to go to Display Control on the right and check both ‘Display clipped shadows’ and ‘Display clipped highlights’. This way, if you increase brightness or darkness too much, IDC will show you where the shadows and highlights are being lost. While you’re at it, check Distortion Compensation and turn it on to automatically straighten out any lens distortion.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>3.</strong> Next, you’ll want to adjust the image’s brightness. If you think the overall picture looks too dark or too bright. Here we see how useful displaying clipped highlights is, we’ve pushed the brightness too far and IDC is showing us where the highlights are being ‘clipped’, or being pushed to full white so no detail remains. In case this happens, we can lower the brightness setting.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-03.png" class="img-container img-responsive center-block" width="1024" height="522" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-04.png" class="img-container img-responsive center-block" width="1024" height="519" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>4.</strong> If you want to quickly change the look of your image without spending too much time on it, you can head straight to Creative Style and try out the many different presets to see which one you like.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>5.</strong> The next setting we want to adjust is White Balance. Most of the time, you can get a spot-on white balance by using the Automatic preset.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-05.png" class="img-container img-responsive center-block" width="1024" height="589" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-06.png" class="img-container img-responsive center-block" width="1024" height="524" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>6.</strong> Of course, you don’t always have to adjust white balance for accuracy, you can play around with the different presets for a warmer or cooler look.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>7.</strong> If the accurate white balance eludes you, just the ‘Specify gray point’ feature. Use the eyedropper tool and click on a neutral gray area in your image, and you should be able to get a fairly accurate white balance.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-07.png" class="img-container img-responsive center-block" width="1024" height="572" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-08.png" class="img-container img-responsive center-block" width="1024" height="546" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>8.</strong> You can also manually adjust the white balance for effect instead of accuracy. Use the color temperature slider to make your image bluer or more yellow, and use the color correction tool to increase the amount of green or magenta in your picture.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>9.</strong> Next, we’ll increase the amount of contrast in our picture. There are two ways to do this; the first is to use the Contrast slider.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-09.png" class="img-container img-responsive center-block" width="1024" height="488" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-10.png" class="img-container img-responsive center-block" width="1024" height="564" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>10.</strong> The other way to increase contrast is by using the Tone Curve tool (remember to have it set to control brightness in the drop-down menu). Points to the left of the tone curve control shadows, while points to the right control brightness. A standard tone curve is an ‘S’ curve, where we lift the tone curve up on the upper end to increase the brightness of the brightest areas, and we push down the tone curve on the lower end to increase the darkness of the darkest areas. Remember to display your clipped shadows and highlights so that you don’t accidentally lose any detail with too much contrast.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>11.</strong> Sometimes it's hard to see just where your image is being clipped without zooming in close, so just click on the 'Actual Pixels' icon on the top toolbar to see the effect your adjustments have on the picture.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-11.png" class="img-container img-responsive center-block" width="1024" height="564" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-12.png" class="img-container img-responsive center-block" width="1024" height="564" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>12.</strong> To zoom back out to full view, just click on the 'Fit to Window' icon.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>13.</strong> To see the difference between before and after you make a change, go to View and enable ‘Show Double View’ first, then make the changes you want. The split window will allow you to compare your picture pre and after adjustments.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-13.png" class="img-container img-responsive center-block" width="1024" height="537" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-14.png" class="img-container img-responsive center-block" width="1024" height="529" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>14.</strong> If there are areas which keep getting clipped no matter how much you adjust the brightness or the tone curve, the D-Range Optimizer can help. This feature processes highlights and shadows individually to correct them for optimal brightness and tone. Check on Auto to see if it fixes your problem.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>15.</strong> For finer control, use manual. The Amount slider controls the overall effect, dragging to the right compresses the dynamic range more strongly. The Highlight effect adjusts the brightest parts of the image, dragging the slider to the right increases brightness while dragging it to the left makes them darker. The Shadow slider does the same for the dark areas of your picture.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-15.png" class="img-container img-responsive center-block" width="1024" height="529" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-15.png" class="img-container img-responsive center-block" width="1024" height="529" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>15.</strong> For finer control, use manual. The Amount slider controls the overall effect, dragging to the right compresses the dynamic range more strongly. The Highlight effect adjusts the brightest parts of the image, dragging the slider to the right increases brightness while dragging it to the left makes them darker. The Shadow slider does the same for the dark areas of your picture.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>16.</strong> The Color feature lets you tweak the look of your colors. Hue adds an overall color cast to the image, while Saturation increases or decreases the intensity of colors.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-16.png" class="img-container img-responsive center-block" width="1024" height="530" alt="Working with RAW">

                                <img src="img/learning/section5/article/working_with_raw-17.png" class="img-container img-responsive center-block" width="1024" height="529" alt="Working with RAW">

                                <img src="img/learning/section5/article/working_with_raw-18.png" class="img-container img-responsive center-block" width="1024" height="532" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-19.png" class="img-container img-responsive center-block" width="1024" height="530" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>17.</strong> Shading Compensation corrects for the look of vignettes in your picture. If you have corners darker than the rest of the image, you can use this feature to increase their brightness.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>18.</strong> Sharpness increases or decreases the amount of texture and overall crispness of an image. While making an image sharper makes textures more prominent, you can also increase the appearance of noise by over-sharpening.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-20.png" class="img-container img-responsive center-block" width="1024" height="530" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-21.png" class="img-container img-responsive center-block" width="1024" height="530" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>19.</strong> If you have a noisy image because it was shot at high ISO, you can use the Noise Reduction feature to reduce the appearance of noise. Usually, just setting it to Auto should be enough, but you can also fine-tune it manually. Be careful, as over-reducing the appearance of noise will also smooth out textures and fine detail. If color noise is the problem (speckles of red, green and blue), use the ‘Color noise reduction’ slider to specifically target those areas.</p>

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <p><strong>20.</strong> To output your work in an easily shared format with all the adjustments you’ve made, click on the Output icon on the top right.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-22.png" class="img-container img-responsive center-block" width="1024" height="618" alt="Working with RAW">

                            </div>

                        </div>

                        <div class="row row-container">
                            <!-- <div class="clearfix"></div> -->

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section5/article/working_with_raw-23.png" class="img-container img-responsive center-block" width="1024" height="618" alt="Working with RAW">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p><strong>21.</strong> To save your adjustments, click on the Save icon on the top right.</p>

                            </div>

                        </div>
                        <!-- Black -->



                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy;
                            <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec05:workingWithRaw"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec05"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec05|workingWithRaw"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>

</html>
