<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ILCE-6300 Community Reviews | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="ILCE-6300 Community Reviews | Sony α Portal">
    <meta name="description" content="The new a6300 with evolved “4D FOCUS” and more… The development team talks about the true potential hidden in its small body.">
    <meta name="keywords" content="Engineer's Voice, Engineers’ Message, 4D FOCUS, a6300, ILCE-6300" />

    <meta property="og:title" content="ILCE-6300 Community Reviews | Sony α Portal">
    <meta property="og:description" content="The new a6300 with evolved “4D FOCUS” and more… The development team talks about the true potential hidden in its small body.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="comm-reviews">

    @@include('../../template/header-1.html')

    

    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">

            <!-- FILTER CONTENT -->
            <div class="col-sm-12 filter-content-wrapper text-center">


                <div class="filter-model filter-photos">

                    <p>Sections</p>

                    <select id="comm-reviews-mobile-nav" class="select-model filter-border">
                        <option value="" selected>Select</option>
                        <option value="concept">Concept</option>
                        <option value="auto-focus">Auto Focus</option>
                        <option value="operability">Operability</option>
                        <option value="image-quality">Image Quality</option>
                        <option value="4K-movie">4K Movie</option>
                        <option value="design">Design</option>
                    </select>

                </div>


            </div>
            <!-- FILTER CONTENT -->

        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a6300">
        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">

                <!-- warning message -->
                <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div>
                <!-- warning message -->

                <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        <!-- cover -->
                        <div class="section intro">
                            <img data-original="img/community-reviews/cameras/a6300/cover.jpg" width="1200" height="598" alt="a6300 Engineer's Voice" class="img-responsive lazy">
                        </div>
                        <!-- cover -->
                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                        <div class="content-wrapper col-sm-12">


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- cover copy -->
                            <div class="section intro">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 logo">
                                    <img data-original="img/community-reviews/cameras/a6300/logo.png" width="258" height="56" alt="a6300" class="img-responsive lazy">
                                    <div class="sub-header">Engineer's Voice</div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>The new a6300 with evolved “4D FOCUS” and more…<br><br>The development team talks about the true potential hidden in its small body.</p>
                                </div>
                                </div>
                            </div>
                            <!-- cover copy -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- SECONDARY NAV : DESKTOP : START -->
            <div class="container-fluid comm-secondary-nav hidden-xs hidden-sm">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="comm-reviews-wrapper col-sm-12">
                            <div class="comm-reviews-container">
                                <nav class="menu">
                                    <div class="menu-wrap">

                                        <div class="row">   
                                            <div class="content-wrapper col-sm-12">
                                                <ul class="menu-inner">
                                                    <li><a href="#concept" onclick="trackMs_link('ms:aportal:community-reviews:cameras:a6300:submenu:concept', '', 'aportal:community-reviews:cameras:a6300:submenu:concept', 'microsite|aportal|community-reviews|cameras|a6300|submenu|concept');">Concept</a></li>
                                                    <li><a href="#auto-focus" onclick="trackMs_link('ms:aportal:community-reviews:cameras:a6300:submenu:autoFocus', '', 'aportal:community-reviews:cameras:a6300:submenu:autoFocus', 'microsite|aportal|community-reviews|cameras|a6300|submenu|autoFocus');">Auto Focus</a></li>
                                                    <li><a href="#operability" onclick="trackMs_link('ms:aportal:community-reviews:cameras:a6300:submenu:operability', '', 'aportal:community-reviews:cameras:a6300:submenu:operability', 'microsite|aportal|community-reviews|cameras|a6300|submenu|operability');">Operability</a></li>
                                                    <li><a href="#image-quality" onclick="trackMs_link('ms:aportal:community-reviews:cameras:a6300:submenu:imageQuality', '', 'aportal:community-reviews:cameras:a6300:submenu:imageQuality', 'microsite|aportal|community-reviews|cameras|a6300|submenu|imageQuality');">Image Quality</a></li>
                                                    <li><a href="#4K-movie" onclick="trackMs_link('ms:aportal:community-reviews:cameras:a6300:submenu:4kMovie', '', 'aportal:community-reviews:cameras:a6300:submenu:4kMovie', 'microsite|aportal|community-reviews|cameras|a6300|submenu|4kMovie');">4K Movie</a></li>
                                                    <li><a href="#design" onclick="trackMs_link('ms:aportal:community-reviews:cameras:a6300:submenu:design', '', 'aportal:community-reviews:cameras:a6300:submenu:design', 'microsite|aportal|community-reviews|cameras|a6300|submenu|design');">Design</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECONDARY NAV : DESKTOP : END -->
        </div>

        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">
                 <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <div class="content-wrapper col-sm-12">
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Concept -->
                            <div class="section-btm" id="concept">
                                <img data-original="img/community-reviews/cameras/a6300/concept_cover.jpg" width="980" height="234" alt="Concept" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Concept</h2>
                                    <h3>Refine the basic concept of the ability to capture moving subjects</h3>

                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/cameras/a6300/concept_profile_01.jpg" width="269" height="309" alt="Project Planning: Eigo Takahashi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Project Planning</h5>
                                                <h4>Eigo Takahashi</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">To create our flagship APS-C mirrorless camera, the insides had to be completely reworked</h2>
                                            <p><strong>Takahashi</strong>: The a6000 model, in addition to being compact and lightweight, was developed to satisfy photography enthusiasts by increasing the essential performance of the camera, including image quality, high speed, and operability. </p>
                                            <p>As a result, the total balance of features, including autofocus (AF) performance, received high marks from a wide range of users. The aim for the new a6300 was to produce a camera that allows for a higher level of expression, like the ultimate second camera for a professional. </p>
                                            <p>So it needed a high level of performance and reliability to ensure the expected results when shooting even the most difficult subjects. That applies to movies as well as still images. The camera's 4K recording and diverse video features were developed with professional video production sites in mind as the standard. </p>
                                            <p>The updates include not just improved AF and image quality, but improved continuous shooting, a better viewfinder, a more durable body, 4K movie capability, and more, which meant we had to re-create everything from scratch in order to keep the same compact size while updating so many features. It inherits its design concept and small size from the a6000, but inside it's completely different.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 marginbottom">
                                            <img data-original="img/community-reviews/cameras/a6300/concept_01.jpg" width="980" height="345" alt="" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/cameras/a6300/concept_profile_02.jpg" width="269" height="309" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Design Project Leader</h5>
                                                <h4>Yuji Adachi</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">The starting point for the a6000 series was not "fast AF" but "excels with moving subjects"</h2>
                                            <p><strong>Adachi</strong>: I think the a6000 series, with its 4D FOCUS system, is known for having fast AF, but we originally conceived of the a6000 as a series of cameras that excelled at handling subjects that are in action.</p>
                                            <p>The a6000 was a model in which we achieved an outstanding AF as one of the steps toward that goal. In the current model, the a6300, the concept has been refined to achieve even better handling of moving subjects.</p>
                                            <p>The camera has evolved not just in its AF, but also in all the basic performance and support functions necessary to shoot subjects in action, including fast live-view continuous shooting and 120fps (100fps) viewfinder display capabilities.</p>
                                            <p>As a result, it's surpassed the a6000 as a camera that allows users to actively track subjects that make fast, complex movements, for example in sports and wildlife scenes.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Concept -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Auto Focus -->
                            <div class="section-btm" id="auto-focus">
                                <img data-original="img/community-reviews/cameras/a6300/autofocus_cover.jpg" width="980" height="234" alt="Auto Focus" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Auto Focus</h2>
                                    <h3>Evolving every aspect of the 4D FOCUS</h3>

                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/cameras/a6300/autofocus_profile_01.jpg" width="269" height="275" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            
                                            <p><strong>Adachi</strong>: The AF performance of the a6000 is highly regarded, even compared with DSLR cameras with dedicated phase-detection AF sensors. Our goal in developing the a6300 was to deliver an AF that's significantly better in every respect. Specifically, we were after faster autofocus speed, wider coverage, and more steadfast tracking, since "fast, wide, and steadfast" are the three pillars of the 4D FOCUS system. We had the impression that the users' expectations for the AF were rising, and ordinary evolution wouldn't satisfy their expectations.</p>
                                            <p>While the a6000 series is about more than just the AF, the AF is certainly important. With these thoughts in mind, we made the AF wider by expanding the Phase-detection AF points from 179 to 425, and faster by reducing the time from 0.06 seconds to 0.05 seconds. Finally, we made its tracking more "steadfast" by using our newly developed High-density Tracking AF Technology.</p>
                                            <br><p><strong>Takahashi</strong>: In terms of AF speed, the a6000, at 0.06 seconds, claimed the title of the world's fastest interchangeable-lens digital camera equipped with an APC-S image sensor at that time. However, since we decided to surpass the a6000 in all respects, the a6300 needed its own speed update. So, even knowing it might be impossible, we decided at the start of development to boost the a6300's AF speed to 0.05 seconds.</p>
                                            <p>As the Image sensor size increases, improvements to the AF speed become harder to manage. The hurdles were higher than we imagined for this update, but in addition to the efforts of the engineers, we were able to leverage our significant advantage of producing many of the core devices in-house in order to deliver the world's fastest AF* at 0.05 seconds.</p>
                                            <p class="small">* Among interchangeable-lens digital cameras as of February 2016, based on Sony research. Measured using CIPA-compliant guidelines, and internal measurement method with an E PZ 16-50mm F3.5-5.6 OSS lens mounted, Pre-AF off and viewfinder in use.</p>
                                            <br>
                                            <h2 class="quote">The starting point for the a6000 series was not "fast AF" but "excels with moving subjects"</h2>
                                            <p><strong>Adachi</strong>: When I mentioned making the 4D FOCUS wider, I meant an AF area that covers nearly the entire frame on the a6000. But even more than that, the goal was to raise the density of AF points included in the covered range. Having a density of 179 AF points is sufficient, but if you want to get higher tracking performance even on smaller subjects, an effective way to do it is to make the density higher by increasing the number of AF points. In addition, accuracy increases reliably when you're measuring the subject distance using 4 or 5 AF points to capture the subject instead of 1 AF point. After considering how high the number of AF points could go to increase accuracy and maintain AF, we arrived at 425 points.</p>
                                            <p>Of course, increasing the number of AF points generates a greater volume of information, which becomes harder to process. The algorithms for processing multiple in-focus points are complex, so the degree of difficulty rose considerably. But the benefits are huge. As a result of the increased accuracy, you get fewer lost shots, and an improvement in the speed and feel of the AF.</p>
                                            <img data-original="img/community-reviews/cameras/a6300/autofocus_01.jpg" width="665" height="389" alt="" class="img-responsive lazy marginbottom">
                                            <h2 class="quote">Sticking to the subject rather than chasing it</h2>
                                            <p><strong>Adachi</strong>: I was saying that the more AF points for detecting the subject, the greater the accuracy. But if that's the case, we thought, why not collect more and more AF points on the subject to be captured? That idea gave rise to our "High-density Tracking AF Technology". Increasing the number of AF points from 179 to 425 made the density about 2.4 times greater. Instead of stopping there, if we can get even higher density, the accuracy of the AF should increase even more, preventing loss of focus. The focal plane phase-detection AF sensor, unlike a dedicated phase-detection sensor, lets you flexibly activate the AF points on the image sensor. You can take advantage of this feature to center the AF points on the subject. However, if all you do is focus on the subject, as soon as it slips out of the concentrated AF area, the density of AF points becomes diluted and the subject is lost. So we came up with the idea of trying to continuously move the high-density AF area in concert with the movement of the subject being focused on.</p>
                                            <div class="row">
                                                <div class="col-sm-8 marginbottom">
                                                    <img data-original="img/community-reviews/cameras/a6300/autofocus_02a.jpg" width="426" height="285" alt="" class="img-responsive lazy">
                                                </div>
                                                <div class="col-sm-4 marginbottom">
                                                    <img data-original="img/community-reviews/cameras/a6300/autofocus_02b.jpg" width="209" height="209" alt="" class="img-responsive lazy">
                                                </div>
                                            </div>
                                            <br>
                                            <p>Until now, continuous AF (AF-C) has worked by moving to the next AF point that the subject overlaps with, but the idea behind High-density Tracking AF Technology is to stick multiple AF points on the subject. The question is whether you can use that idea to control the AF while moving the high-density AF area. Developing this algorithm was incredibly difficult, but after repeated field-testing in a variety of scenarios and extensive fine-tuning, we were finally able to achieve it.</p><br>
                                            <div class="movie-box marginbottom" data-videoID="83ZSD-zj73A" data-start="22">
                                                <div class="poster">
                                                    <img class="poster" src="img/community-reviews/cameras/a6300/autofocus_03.jpg" width="666" height="376" alt="" class="img-responsive lazy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/cameras/a6300/autofocus_profile_02.jpg" width="269" height="236" alt="Project Planning: Eigo Takahashi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Takahashi</strong>: If you look at the video that introduces the performance of High-density Tracking AF Technology, you can see that the high-density AF area is steadfastly tracking the subject. Only a few points of the AF frame are shown on the screen for legibility, but in reality, a frame with many times that number of points is stuck on the subject and is tracking it continuously. However, occasionally an individual AF point gets thrown off. These are precisely the occasions that reveal the advantages of focusing using multiple AF points. Even when some of the AF points get thrown off, the other AF points will steadfastly continue to track the subject. I think this reveals a clear difference in shooting accuracy compared to conventional technology, even for subjects whose movements are difficult to predict, such as sports athletes and animals. The power of this technology should be compelling not only for sports and animal photographers, but even someone taking pictures of children, whose movements can be hard to predict.</p>
                                            <p>I think you'll be able to experience the power of the improved AF when shooting videos as well as still images. Particularly with high-resolution 4K movies, where focus is more demanding and AF accuracy is directly linked to the quality of the video. I know many professionals create their work by shooting in manual focus, but the a6300 was designed to let them shoot great video even in AF, so I hope they'll give it a try.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Auto Focus -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Operability -->
                            <div class="section-btm" id="operability">
                                <img data-original="img/community-reviews/cameras/a6300/operability_cover.jpg" width="980" height="234" alt="Operability" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Operability</h2>
                                    <h3>Even easier to aim at moving subjects</h3>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/operability_profile_02.jpg" width="269" height="287" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Continuous shooting with live information, like an optical viewfinder</h2>
                                            <p><strong>Takahashi</strong>: Along with the AF performance, another feature that makes this camera good for moving objects is the newly developed display system for continuous shooting. In conventional high-speed continuous shooting, the display through the electronic-viewfinder (EVF) suffered from a slight time lag, and if the subject suddenly changed direction, framing could be difficult. </p>
                                            <p>The a6300 includes new fast live-view continuous shooting, which shows you live information in the viewfinder that follows the actual behavior of the subject you are seeing with your eyes with minimal latency, even during high speed continuous shooting, thereby allowing continuous shooting while viewing the live information and greatly facilitating framing. The "live" in "fast live-view continuous shooting" expresses this idea of being able to shoot while watching a truly live picture.</p>
                                            <br>
                                            <p><strong>Adachi</strong>: Among the many new features of the a6300, this is the one I hope people will try. Currently, framing during high-speed continuous shooting is one of the things that EVFs are not good at. Of course, if the continuous shooting speed is fast, a subject whose movements can be predicted to some extent can be adequately captured even with conventional display methods. </p>
                                            <p>However, if the subject's movements become faster and more complicated, even a slight display time lag can make you miss a photo opportunity. I wanted to do something about that. In fact, even before now, continuous shooting with live view was possible at 2.5 or 3 frames per second, but in this case, by developing a completely new algorithm, we were able to achieve live-view continuous shooting at up to about 8 frames per second.</p>
                                            <br>
                                            <h2 class="quote">Enhanced EVF to deliver performance befitting its status as our flagship APS-C mirrorless camera</h2>
                                            <p><strong>Adachi</strong>: Another feature related to fast live-view continuous shooting is the 120fps (100fps) viewfinder display for speedy image refresh, which makes it easier to track a moving subject. When you compare it to the 60fps (50fps) display, there's an obvious difference. If you shake the camera side to side while looking through the viewfinder, the 120fps (100fps) display looks very clear with minimal afterimages. People sometimes say they're worried about ghosting effects when tracking a fast subject in an EVF, but the 120fps (100fps) viewfinder display mode solves this. This requires reading data at high speed from the image sensor, processing the data at high speed, and then displaying at a high speed, so it's a function that cannot be implemented unless the whole system is in place. The viewfinder frame rate setting is even assignable to custom buttons or to the function menu. This lets you switch modes easily even during shooting, which can be useful for all kinds of purposes, depending on the scene. </p>
                                            <p>By incorporating this fast live-view continuous shooting and 120fps (100fps) display on the viewfinder, in addition to features that are unique to the EVF, such as real-time exposure reflection and diverse information displays, the a6300 delivers across-the-board performance befitting its status as our flagship APS-C mirrorless camera.</p>
                                            
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/operability_profile_02.jpg" width="269" height="287" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                            <!-- Operability -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Image Quality -->
                            <div class="section-btm" id="image-quality">
                                <img data-original="img/community-reviews/cameras/a6300/imagequality_cover.jpg" width="980" height="234" alt="Image Quality" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Image Quality</h2>
                                    <h3>Raising the highest ISO sensitivity means better image quality in the medium- and high-sensitivity ranges</h3>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/imagequality_profile_02.jpg" width="269" height="276" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Continuous shooting with live information, like an optical viewfinder</h2>
                                            <p><strong>Adachi</strong>: One of our aims in developing the new image sensor was to raise the highest ISO sensitivity. The highest ISO sensitivity went up one EV step from 25600 in the a6000 to 51200 in the a6300. This of course has the merit of expanding the shooting opportunities, but not only that. The assumption behind increasing the highest ISO sensitivity is that it will lead to better base image quality, and that means giving the a6300 better image quality in a wider sensitivity range. In particular, the improvement in image quality at higher ISOs, such as ISO3200, 6400 and 12800, is remarkable, which is why we were able to raise the highest ISO sensitivity. If users who traditionally were not habitual users of medium- and high-sensitivity try shooting at a sensitivity one EV step higher, I think they'll be convinced.</p>
                                            <p>In general, if you increase sensitivity, an increase in noise can be expected as a matter of course, but actually the use of copper wiring for the image sensor contributes to reducing the noise. That's because the copper wiring, which has a fast transmission speed, allows the wiring layers to be compressed and to sit lower, and the miniaturization of the circuit process permits a wide photodiode design that enhances light collection efficiency. The image processing and image quality are also tuned in combination with BIONZ X, achieving high image quality at medium and high sensitivities. Since the α series places particular emphasis on maintaining texture, the point of fine-tuning is how to remove the noise while maintaining the texture. </p>
                                            <p>This is not something that can be left up to the camera's image processing, so we actually had to take many trial shots and repeatedly fine-tune it using our accumulated experience and sensibility. I think you can see an improvement in reproducing texture of lower-contrast subjects, such as animal fur and grass, compared with the a6000. And maintaining the texture is connected to maintaining resolution. Because of our focus on fine-tuning the texture, you'll notice the image quality in terms of its resolution.</p>
                                            
                                            
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/imagequality_profile_02.jpg" width="269" height="276" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <img data-original="img/community-reviews/cameras/a6300/imagequality_01a.jpg" width="658" height="439" alt="" class="img-responsive lazy">
                                            <br>
                                            <p>ISO6400</p>
                                        </div>
                                        <div class="col-sm-4">
                                            <img data-original="img/community-reviews/cameras/a6300/imagequality_01b.jpg" width="291" height="439" alt="" class="img-responsive lazy">
                                            <br>
                                            <p>ISO 3200</p>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                            <!-- Image Quality -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- 4K Movie -->
                            <div class="section-btm" id="4K-movie">
                                <img data-original="img/community-reviews/cameras/a6300/4kmovie_cover.jpg" width="980" height="234" alt="4K Movie" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>4K Movie</h2>
                                    <h3>Ultimate resolution 4K movie in the history of the α series</h3>

                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/cameras/a6300/4kmovie_profile_01.jpg" width="269" height="351" alt="Project Planning: Eigo Takahashi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Potential as a video machine that even pros would choose</h2>
                                            <p><strong>Takahashi</strong>: Shooting 4K movies requires an image sensor that can read large amounts of data at high speed. </p>
                                            <p>Our newly developed high-speed APS-C sensor works well in this regard, so we set our sights on achieving 4K movies with the finest details in the history of the α series. Because the Super 35mm format commonly used in professional film production is close to the APS-C size, we wanted the a6300 to deliver the best image quality in Super 35mm that is APS-C format friendly.</p>
                                            <br>
                                            <p><strong>Adachi</strong>: Until now, 4K movies, for example in the a7 series, were achieved by large-format sensors, but if you crop to Super 35mm format, only a limited amount of the data can be used. For example, a 42-megapixel a7R II makes 4K (8-megapixel) videos using about 15 megapixels centered on the Super 35mm area. </p>
                                            <p>The a6300, however, can use about 20 megapixels of data corresponding to the greater part of the APS-C sensor, with almost no cropping. This is called the "oversampling effect" and it means that the greater the amount of original information, the better the resolution. When you look at video made by compressing about 2.4 times the quantity of information needed for 4K movies, there's an obvious difference in resolution compared to other 4K movies. </p>
                                            <img data-original="img/community-reviews/cameras/a6300/4kmovie_01.jpg" width="665" height="264" alt="" class="img-responsive lazy marginbottom">
                                            <p><strong>Takahashi</strong>: The a6300, like the a7S II, is also equipped with a number of video capabilities that conform to the workflow of professional film production. With its new microphone jack, the a6300 also emphasizes audio recording as an essential element for video production work. This lets you record audio using your favorite microphone. In addition, you can record audio using a high-performance microphone via a separately sold XLR adaptor kit that can be connected to our Multi Interface Shoe.</p>
                                        </div>
                                        
                                    </div>
                                    
                                </div>

                            </div>
                            <!-- 4K Movie -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Design -->
                            <div class="section-btm" id="design">
                                <img data-original="img/community-reviews/cameras/a6300/design_cover.jpg" width="980" height="234" alt="Design" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Design</h2>
                                    <h3>In pursuit of reliability and texture</h3>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_01.jpg" width="269" height="309" alt="Mechanical Design: Shinji Shiba" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical Design</h5>
                                                <h4>Shinji Shiba</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Adjustments in 0.01 mm increments to prevent increasing the size that would normally grow larger </h2>
                                            <p><strong>Shiba</strong>: When it comes to our flagship APS-C mirrorless camera for professionals and advanced amateurs, robustness and reliability are critical. The a6000 is plenty strong, but experienced users are frequently changing lenses, including larger and heavier ones. And they're also likely to do more shooting in harsh environments. Anticipating this at the start of development, we decided on a full magnesium alloy body and dust and moisture resistant specifications. Moreover, our mission as mechanical designers was to strictly adhere to the size of the a6000. This turned out to be quite difficult. The goal of increasing durability, for example by making the unit dust and moisture resistant, increases the number of parts. </p>
                                            <p>Maintaining the size meant having to compress somewhere else. We had to adjust the layout of the interior, for example by sealing around the dials and openings to the flash and doubling the seams on each cabinet. The covers of the media terminals were changed to sliding covers in consideration of the dust-proofing and rain-proofing specifications. We reviewed the layout and structure of areas that tend to grow larger in ordinary designs and then packed the components closer together through repeated adjustments in 0.01 mm increments.</p>
                                            <img data-original="img/community-reviews/cameras/a6300/design_01.jpg" width="666" height="256" alt="" class="img-responsive lazy"><br><br>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_01.jpg" width="269" height="309" alt="Mechanical Design: Shinji Shiba" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical Design</h5>
                                                <h4>Shinji Shiba</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_02.jpg" width="269" height="193" alt="" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Shiba</strong>: In addition, it turns out that the design of the a6000 cannot be directly reproduced in magnesium. Engineering plastics and magnesium are quite different in terms of their strength and freedom of shaping. The use of magnesium required changing the configuration of the components in the cabinet, thereby changing the order of assembly. Of course there were also improvements we were able to achieve only because of the high-strength magnesium. A good example is the space between the mode dial and the control dial. By narrowing the spacing here, we were actually able to make the mode dial larger in diameter than on the a6000. In addition to improved operability, the design also benefitted from a simple and powerful representation made possible by one-piece molding of the mode symbols and dial.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_02.jpg" width="269" height="193" alt="" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <img data-original="img/community-reviews/cameras/a6300/design_02.jpg" width="980" height="285" alt="" class="img-responsive lazy marginbottom">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <p><strong>Shiba</strong>: With respect to operational feeling as well, after consultations with the designers, we changed some details oriented towards professionals and advanced amateurs. The control dial was adjusted to be a little firmer so that it does not accidentally turn when you turn the mode dial. We even devised components to reduce the noise of the clicking sound when turning the dial. To prevent the release button from wobbling when half-pressed, the precision of the parts was improved. Because the stability is different when you put your finger on it, it should now be better at reliably conveying the force when you press the button. </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_03.jpg" width="269" height="309" alt="Design: Yosuke Shimizu" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Design</h5>
                                                <h4>Yosuke Shimizu</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">"How do you update the parts of the camera that you sense unconsciously when using it as a tool?"</h2>
                                            <p><strong>Shimizu</strong>: In terms of design, our premise was to follow the a6000. Because a camera is just a tool for taking photographs, any sudden changes to its usability as a tool would be undesirable. The guiding question of the design was therefore how to update the parts of the camera that you sense unconsciously when you hold it as a tool without changing them significantly. </p>
                                            <p>That said, it wasn't easy to inherit the universal design of the a6000. First, we tried to maintain the same sense of size and proportion, since changes to the frontal view and shape of the top deck would compromise its identity. However, the sides of the a6300 are not totally flat, which would have added the slightest bit of thickness, but rather have shaved corners. In consultation with the mechanical designer, we continued to shorten the dimensions more and more so as maintain the original compact size as much as possible. </p>
                                            <p>In addition, I think the a6000 is thought of as "sharp-cornered" since it's based on a more primitive horizontal and vertical design. Because it would be difficult to put in sharp corners like that using the magnesium, we tried to find lines that would keep the edges of the body as sharp as possible.</p>
                                            <br><br>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_03.jpg" width="269" height="309" alt="Design: Yosuke Shimizu" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Design</h5>
                                                <h4>Yosuke Shimizu</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 marginbottom">
                                            <img data-original="img/community-reviews/cameras/a6300/design_03a.jpg" width="225" height="212" alt="" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-3 marginbottom">
                                            <img data-original="img/community-reviews/cameras/a6300/design_03b.jpg" width="225" height="212" alt="" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-3 marginbottom">
                                            <img data-original="img/community-reviews/cameras/a6300/design_03c.jpg" width="225" height="212" alt="" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-3 marginbottom">
                                            <img data-original="img/community-reviews/cameras/a6300/design_03d.jpg" width="225" height="212" alt="" class="img-responsive lazy">
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_04.jpg" width="269" height="280" alt="Design: Yosuke Shimizu" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">"You feel the quality the first time you hold it"</h2>
                                            <p><strong>Shimizu</strong>: In addition, you can't tell just by looking, but actually if you grasp it you will notice that the shape of the grip is different. That's because we worked with the mechanical designer to reduce the grip a little to improve the finger hold, in consideration of users who mount larger and heavier lenses. This slight difference significantly changes the sensation of stability when a long lens is attached. If the paint on the housing is too glossy, scratches become a concern, so finishing it in plot paint elevates the durability and expresses a feeling of luxury. </p>
                                            <p>Similarly, the expression of the mount surface was changed from spin treatment to a soft satin finish. With respect to the tactile sensation of the control dial and other controls, great attention was paid to expressing a sensation of precision parts in terms of the mechanical design. Even the button symbols were all engraved rather than printed. Imagining the perfect expression of our flagship APS-C mirrorless camera, we pursued a texture that would be felt unconsciously in every detail. </p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/design_profile_04.jpg" width="269" height="280" alt="Design: Yosuke Shimizu" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Enginners' Message -->
                            <div class="section-btm message-section">
                                <div class="text-wrapper">
                                    <h2>Engineers’ Message</h2>
                                    <h3>Message from the engineering team</h3>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_01.jpg" width="269" height="175" alt="Project Planning: Eigo Takahashi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Takahashi</strong>: I think the a6300, our flagship APS-C mirrorless camera, with features such as solid AF performance and fast live-view continuous shooting, as well as improved details such as direct selection of the flexible spot, is a camera that will satisfy advanced amateurs and professionals who want to actively control the camera. And by boosting overall performance, it will expand the types of scenes that can be photographed and inspire photographers to try a variety of different lenses. </p>
                                            <p>After all, the essence of the interchangeable lens camera is to change, through a combination of camera and lens, what can be photographed and what can be expressed. In response to the evolution of functionality and performance in the a6300, the lineup of lenses has also has been enhanced. If you buy the a6300, I hope you'll try different lenses, and have fun shooting a variety of scenes.</p><br>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_01.jpg" width="269" height="175" alt="Project Planning: Eigo Takahashi" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_02.jpg" width="269" height="175" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Adachi</strong>: The capabilities of the a6300 are jam-packed inside this little body. Nothing was compromised in order to reduce the size. Regardless of whether you shoot still images or videos, the a6300 reflects our obsession with image quality, AF performance, continuous shooting performance, operational feeling, and reliability. As a result, I think we've created a camera that is more balanced than any other. </p>
                                            <p>Once you try it, I think you'll be able to tell the difference, whether you're someone who's thinking they can't capture moving objects without a conventional optical viewfinder, or someone who's familiar with conventional mirrorless cameras. I hope you'll capture a new moment using the a6300. It also shoots truly beautiful 4K movies, so please enjoy that as well.</p><br>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_02.jpg" width="269" height="175" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_03.jpg" width="269" height="175" alt="Mechanical Design: Shinji Shiba" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Shiba</strong>: We built the a6300 with obsessive attention paid not just to the operational feeling, but also to every detail down to the texture of the surface and precision of the parts. To achieve this, we incorporated a variety of ideas before finally completing the camera. </p>
                                            <p>As the mechanical designer, I think I was able to fulfill my role, which was to make the thickness of the frontal view and top deck exactly the same as those of the a6000, and to maintain the size and operability while we significantly evolved the contents and added high-quality touches that are hard to discern just by looking. I hope people will experience this by using the a6300 as a tool for taking photos, so they can actually touch the results of what we've done.</p><br>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_03.jpg" width="269" height="175" alt="Mechanical Design: Shinji Shiba" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_04.jpg" width="269" height="175" alt="Design: Yosuke Shimizu" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Shimizu</strong>: First, what I want the most is for people to actually touch it with their hands. Once you touch it, I think you'll immediately feel the pleasant sensations of compactness and density that are unique to the a6300. In addition, I think its AF capabilities will be extremely useful not just to professionals and advanced amateurs, but also to beginners and parents taking pictures of their children. We've created a single camera that a wide range of people can use in a wide range of settings, and we hope people will enjoy it to the fullest.</p><br>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6300/engineer_04.jpg" width="269" height="175" alt="Design: Yosuke Shimizu" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->




                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/community-reviews.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/community-reviews.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:community-reviews:cameras:ILCE-6300"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:community-reviews:cameras"; // Microsite Section
    s.hier5 = "microsite|aportal|community-reviews|cameras|ILCE-6300"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
