<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ILCE-6500 Community Reviews | Sony a Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="ILCE-6500 Community Reviews | Sony a Portal">
    <meta name="description" content="Refined speed performance and highly evolved functions are condensed within a small body. Developers discuss behind-the-scenes developments.">
    <meta name="keywords" content="Secret Development Story, ILCE-6500, a6500" />

    <meta property="og:title" content="ILCE-6500 Community Reviews | Sony a Portal">
    <meta property="og:description" content="Refined speed performance and highly evolved functions are condensed within a small body. Developers discuss behind-the-scenes developments.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="comm-reviews">

    @@include('../../template/header-1.html')



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a6500">
        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">

                <!-- warning message -->
                <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div>
                <!-- warning message -->

                <div class="comm-reviews-container no-logo">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        <!-- cover -->
                        <div class="section intro">
                            <img data-original="img/community-reviews/cameras/a6500/cover.jpg" width="1200" height="598" alt="a6500 Engineer's Voice" class="img-responsive lazy">
                        </div>
                        <!-- cover -->
                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                        <div class="content-wrapper col-sm-12">


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- cover copy -->
                            <div class="section intro">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <h1>ILCE-6500</h1>
                                        <div class="sub-header">a6500 Secret Development Story</div>
                                        <h3>&alpha; Universe Editorial Team<br>January 18, 2016</h3>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <p>Refined speed performance and highly evolved functions are condensed within a small body.<br>Developers discuss behind-the-scenes developments.</p>
                                    </div>
                                </div>

                            </div>
                            <!-- cover copy -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">
                 <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <div class="content-wrapper col-sm-12">
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- First section -->
                            <div class="section">
                                <div class="text-wrapper">
                                    <div class="row marginbottom">
                                        
                                        <div class="col-sm-8">
                                        <p>The a6500 is a higher-grade model of the a6300. These two models are similar to each other, but what’s inside the a6500 has largely been renewed and refreshed. The interviewees this time are Yuji Adachi, Project Leader; Koji Hisamatsu, in charge of mechanical design; Hirokuni Kobayashi, in charge of software; and Shigeki Fujibayashi, in charge of the image stabilisation unit. Our Editorial Team heard secret stories that only these developers could have told, including their greatest priorities and improvements.</p>
                                        <h3 class="caption">The latest technologies are concentrated within.<br>Developers tackled the challenges of size limitation, performance, and functionality.</h3>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h2 class="quote">Q: First of all, how did this development project begin?</h2>
                                            <div class="hidden-sm hidden-md hidden-lg profile">
                                                <img data-original="img/community-reviews/cameras/a6500/adachi_01.jpg" width="269" height="343" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                                <div class="profile-details">
                                                    <h5>Design Project Leader</h5>
                                                    <h4>Yuji Adachi</h4>
                                                </div>
                                            </div>
                                            <p><strong>Mr Adachi</strong>: First of all, please let me explain the a6300 that has been available for sale. The a6300 was introduced as an upper-grade model of the a6000 after being developed as a camera with enhanced AF performance that makes it excellent at shooting moving subjects. We improved AF precision by adopting 4D FOCUS featuring the world’s most* AF points — 425 AF points. The camera also provides high-speed live-view continuous shooting that makes it easier for the user to follow a subject by minimising display time lag during continuous shooting and high-speed viewfinder frame rate of 120fps that enhances capability to shoot moving subjects.</p>
                                            <img data-original="img/community-reviews/cameras/a6500/a6500_01.jpg" width="666" height="444" alt="a6500 and a6300" class="img-responsive lazy">
                                            <br>
                                            <p>The a6500 (left) and a6300 (right) are similar to each other in size and external design.</p>
                                            <p>The a6500 has inherited fundamental performance and technologies of the a6300, and includes not only such notable features as camera-shake blur compensation and touch panel LCD, but also large-capacity buffer that extends the continuous shooting duration limit. Other improvements have been made in the grip feel and redesigned eyepiece cup. We’ve also reflected our customers’ requests in the smallest details, including a new setting that doesn’t allow a user to accidentally switch from activation of the LCD panel to activation of the viewfinder while shooting with the camera at waist level. In developing the camera, it was hard to incorporate all the new functions and improved ease of handling in a body that is exactly the size of the a6300. </p>
                                            <h2 class="quote">Q: What is a targeted user’s image of the a6500?</h2>
                                            <p><strong>Mr Adachi</strong>: The customers that we had in mind while developing this camera use telephoto lenses, whether E- or A-mount series lenses. Those who use the SEL70200G and SEL70300G lenses, for example, can enjoy a comfortable shooting experience that the enlarged grip and touchpad functions provide. And we recommend this camera to customers who own many of Sony’s A-mount lenses and use them with a mount adaptor. Since A-mount lenses don’t feature image stabilisation mechanisms, so-called 5-axis SteadyShot INSIDE effectively compensates for the blur. The camera grip that is now easier to grasp supports a telephoto A-mount lens lineup. This is why we confidently recommend this camera to longtime A-mount system users.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6500/adachi_01.jpg" width="269" height="343" alt="Design Project Leader: Yuji Adachi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Design Project Leader</h5>
                                                <h4>Yuji Adachi</h4>
                                            </div>
                                        </div>
                                    </div>

                                    

                                </div>

                            </div>
                            <!-- First section -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Second section -->
                            <div class="section">
                                <div class="text-wrapper">
                                    <div class="row marginbottom">
                                        
                                        <div class="col-sm-8">
                                        
                                        <h3 class="caption">Our mission: to feature an image stabilisation unit, yet retain the camera’s small size</h3>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        
                                        <div class="col-sm-8">
                                            <h2 class="quote">Q: How difficult was it to put image stabilisation into a camera that is the same size as the a6300?</h2>
                                            <div class="hidden-sm hidden-md hidden-lg profile">
                                                <img data-original="img/community-reviews/cameras/a6500/fujibayashi_01.jpg" width="269" height="403" alt="Image Stabilisation Unit: Shigeki Fujibayashi" class="img-responsive lazy">
                                                <div class="profile-details">
                                                    <h5>Image Stabilisation Unit</h5>
                                                    <h4>Shigeki Fujibayashi</h4>
                                                </div>
                                            </div>
                                            <p><strong>Mr Fujibayashi</strong>: This was the toughest challenge. If we had added an image stabilisation unit to the a6300 without any changes, the depth of the camera body would have increased by about 10mm. So, we needed to develop a new, smaller unit. In fact, we did develop a new shutter unit, too. By developing the new shutter unit and reexamining the whole layout, we made enough space for an image stabilisation unit. We spent a lot of time negotiating with the team of Mr Hisamatsu, who is in charge of mechanical design, over issues of 0.1mm-scale tiny clearances. After such discussions, this small size finally was realized.</p>
                                            <img data-original="img/community-reviews/cameras/a6500/a6500_02.jpg" width="666" height="444" alt="a6500 and a6300" class="img-responsive lazy">
                                            <br>
                                            <p>The a6500 features image stabilisation unit, yet is just as deep as the a6300.</p>
                                            <p>We, of course, had to attend to camera-shake blur compensation performance in addition to the space that it takes up in the camera. The greater the range of the image sensor’s motion, the greater the range of compensation it guaranteed, resulting in better image stabilisation performance. However, a larger unit couldn’t fit in the given body size. Nevertheless, unless such a system performed, it would be meaningless to employ it. So we consulted people in the mechanical design team to settle on a target for the size of image stabilisation unit, then we pursued the goal of finding out how effective it could be given its size limitation. Compensation range expanded gradually every 0.1mm. Moreover, through optimization of the electronic circuit and software algorithm, we were able to enhance the effect of compensation from 4.5 steps (that is employed by a7R II, a7S II, and a7 II) to 5.0 steps equivalent.</p>
                                            <h2 class="quote">Q: We’ve been told that the shutter unit was newly developed. Does the sound of the shutter release differ from that of the a6300? </h2>
                                            <p><strong>Mr Fujibayashi</strong>: The shutter release sound of the a6500 is quieter than that of conventional models. Of course, the silent shutter mode that was so popular in the a6300 is again featured, so you can rely on it to shoot photos quietly and confidently when you need to. The sound and feel of shutter release are well tuned to convey the distinctive sense of shooting photos with a Sony camera. Less shutter release vibration that is transmitted to the user’s hands results in: suppressed camera-shake blur that can otherwise occur when the shutter is released, especially when using telephoto lenses; and a more durable shutter mechanism, for more carefree shooting than ever.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6500/fujibayashi_01.jpg" width="269" height="403" alt="Image Stabilisation Unit: Shigeki Fujibayashi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Image Stabilisation Unit</h5>
                                                <h4>Shigeki Fujibayashi</h4>
                                            </div>
                                        </div>
                                    </div>

                                    

                                </div>

                            </div>
                            <!-- Second section -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Third section -->
                            <div class="section">
                                <div class="text-wrapper">
                                    <div class="row marginbottom">
                                        
                                        <div class="col-sm-8">
                                        
                                        <h3 class="caption">New interface meticulously designed for stress-free playback of images after continuous shooting.</h3>
                                        <h2 class="quote">Q: The a6500 features larger buffer capacity for up to approximately 36 seconds of continuous shooting and prompt playback right after continuous shooting. Could you explain the work required to develop this feature?</h2>
                                        <p><strong>Mr Adachi</strong>: While writing image data to a memory card, the a6300, according to its specifications, doesn’t allow playback of these images. If the same was true of the a6500 that allows long continuous shooting of up to 36 seconds, the camera would be rather difficult to use. For example, it would be tedious if you were unable to check the images of photos you’d just been shooting continuously for 30 seconds. So, we focused on this issue from the very beginning and asked the control software team to tackle the challenges of large-scale architecture restructuring.</p>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6500/kobayashi_01.jpg" width="269" height="403" alt="Software: Hirokuni Kobayashi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Software</h5>
                                                <h4>Hirokuni Kobayashi</h4>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-8">
                                            
                                            <p><strong>Mr Kobayashi</strong>: We drastically changed the architecture of control software. We had to create something entirely new from scratch that would enable recording and playback, so the technological hurdle was quite high. We figured out all of the possible combinations of playback and recording functions, invented prototypes, and used them to proceed with development. We also constantly paid close attention to playback performance and quality. We simulated conditions of actual use, so that we added onscreen icon indications, and even enabled the camera to indicate how many more images need to be written on the card. Moreover, in aiming for speed that would satisfy our customers, we paid attention to response during transitions from continuous shooting to playback — especially magnified image playback.</p>
                                            <h2 class="quote">Q: The a6500 employs a newly developed front-end LSI. Does this also help improve image quality? </h2>
                                            <p><strong>Mr Adachi</strong>: Adoption of this new front-end LSI actually makes it possible to maintain a very sophisticated balance of higher resolution and less noise that is unprecedented. Thanks to the powerful support that front-end LSI provides to BIONZ X, the entire system enhances processing speed and image quality. Improved recording of Full HD movies as well as stills is attributable to the high-speed processing of the front-end LSI.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6500/kobayashi_01.jpg" width="269" height="403" alt="Software: Hirokuni Kobayashi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Software</h5>
                                                <h4>Hirokuni Kobayashi</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Third section -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Fourth section -->
                            <div class="section">
                                <div class="text-wrapper">
                                    <div class="row marginbottom">
                                        
                                        <div class="col-sm-8">
                                        
                                        <h3 class="caption">Dissipating heat could be the key to long movie shooting.</h3>
                                        <h2 class="quote">Q: A menu called “Auto power-off — temperature” allows users to choose “High” or “Standard”. Is this feature a response to user needs?</h2>
                                        <p><strong>Mr Adachi</strong>: The a6300 earned a very strong reputation for its 4K movie feature that is produced through 6K oversampling. Professional and advanced amateur users who use movie shooting requested longer shooting durations. At the same time, we realized that in many cases, those users use tripods or rigs when shooting movies for long durations. For these reasons, we considered uses of tripods and rigs for the a6500, and started to consider adding a new mode that enables movie shooting to continue even at camera body temperatures exceeding those of the a6300.</p>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a6500/hisamatsu_01.jpg" width="269" height="403" alt="Mechanical Design: Koji Hisamatsu" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical Design</h5>
                                                <h4>Koji Hisamatsu</h4>
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-8">
                                            <p><strong>Mr Hisamatsu</strong>: The new addition of an image stabilisation unit was another big disadvantage regarding treatment of heat. Therefore, in order to meet our goal, first we had to extend the movie shooting duration under the same shooting conditions as before. We also had to develop a heat dissipation design that allows for a long period of movie shooting, as if “Auto power-off — temperature” could be set to “High”. This was not as simple as devising software to turn on “High”. We rethought the physical “routes” of mechanisms to circulate heat inside the body evenly. For this, we applied mechanical ingenuity in the “connection” of parts and reexamined the materials of parts. Humble, painstaking efforts were required to evaluate heat dissipation design to optimize control of heat. In providing such a new mode, we had to be able to maintain the reliable performance of the image sensor and battery in the body. It was very hard to raise the bearable temperature limit to enable the camera to perform 30 minutes of continuous movie shooting, even twice, under conditions of normal room temperature.</p>
                                            <img data-original="img/community-reviews/cameras/a6500/a6500_03.jpg" width="665" height="444" alt="a6500" class="img-responsive lazy">
                                            <br>
                                            <p>A prototype model nearly identical to the final product. Repeated trial-and-error testing went into developing the camera’s heat dissipation design.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/cameras/a6500/hisamatsu_01.jpg" width="269" height="403" alt="Mechanical Design: Koji Hisamatsu" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical Design</h5>
                                                <h4>Koji Hisamatsu</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Fourth section -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Fifth section -->
                            <div class="section">
                                <div class="text-wrapper">
                                    <div class="row marginbottom">
                                        
                                        <div class="col-sm-8">
                                        
                                        <h3 class="caption">Designing a grip for firmer holding, no matter what kind of lens is mounted.</h3>
                                        <h2 class="quote">Q: The grip shape has been changed. Could you tell us why?</h2>
                                        <p><strong>Mr Hisamatsu</strong>: Since it was decided that the a6500 would newly employ an image stabilisation unit, it followed that it should be effective for use with any types of lenses including heavy telephoto lenses, so we also concluded that the camera grip should be re-designed. We examined whatever we could do to make it better, pursuing the challenge to the extreme. We produced 20 to 30 mock-up models, cutting and scraping them in search of a grip shape that a user can get a stable grasp of, regardless of the type of lens mounted on the camera.</p>
                                        <img data-original="img/community-reviews/cameras/a6500/a6500_04.jpg" width="665" height="444" alt="a6500" class="img-responsive lazy">
                                        <br>
                                        <p>By considering how a camera is grasped for carrying, the developers designed the grip with a small depression for a user’s fingers to hook into and secure a naturally firm grip.</p>
                                        <p>The bottom part of the grip protrudes slightly while the narrow part is somewhat emphasized. This design allows your middle finger to remain stable in place, and the entire body can be confidently supported. Even if you attach a large, heavy lens on the camera, your middle finger can hold the camera securely, for stable operation in any shooting situation. Of course, we asked many people with various hand sizes to touch the camera in order to find the best grip shape. We had to go through repeated operations, but eventually were confident in our results.</p>
                                        <h2 class="quote">Q: Other than the grip, what areas have been changed from the previous model? For example, button layout?</h2>
                                        <p><strong>Mr Hisamatsu</strong>: This camera features more functions, so we added a custom button that gives users flexibility to assign a preferred function. Since the a6500 has a new grip shape, we considered where to place this button for easy operation and put it on the top panel of the camera. In fact, the shutter release button and dial have also been subtly changed. We paid meticulous attention to small details like button placement and shape, and the feel and quality of the body, so that people can find the best way to enjoy using the a6500. What’s more? The eyepiece cup is now made of softer material, so the way it fits and feels when it is being used on the viewfinder is improved.</p>
                                        <img data-original="img/community-reviews/cameras/a6500/a6500_05.jpg" width="665" height="444" alt="a6500" class="img-responsive lazy">
                                        <br>
                                        <p>The eyepiece cup was made to be especially soft and easy to use, even while wearing glasses.</p>
                                        <h2 class="quote">Q: Does the camera body designer ask to design the camera case?</h2>
                                        <p><strong>Mr Hisamatsu</strong>: Well... yes. We respect the way our customers use the camera. For example, they should be able to enjoy using the body alone. However, they should be able to enjoy the camera even more with a camera case. We asked the case designers to produce a case that fits the camera’s new grip more completely than ever. As mentioned earlier, because repeated trial-and-error design work for the new grip shape continued right to the end of the camera development process, we needed to share up-to-date information about the grip with the case designers every time we changed the design. This is why we communicated more closely than we usually do.</p>
                                        <img data-original="img/community-reviews/cameras/a6500/a6500_06.jpg" width="665" height="444" alt="a6500" class="img-responsive lazy">
                                        <br>
                                        <p>A large-diameter lens can be mounted on the a6500 camera while it is attached to the camera case.</p>
                                        <p>We asked the camera case designers to increase the case’s bottom thickness, as well as the grip’s height and length, and they did so. As we tried to attach the final version of the case to the camera, we found that there was no gap between the case and camera, and the feel of the grip was excellent. It is really hard to fit the shape of the case to the indented shape of the grip. The designers could have ignored such a detail if they wanted to, but rather than compromise, they diligently assessed and accommodated customer demands. Thanks to their obsessive pursuit of design, they were able to deliver a wonderful result.</p>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <!-- Fifth section -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Sixth section -->
                            <div class="section">
                                <div class="text-wrapper">
                                    <div class="row marginbottom">
                                        
                                        <div class="col-sm-8">
                                        
                                        <h3 class="caption">Touch Screen LCD enhances shooting comfort with more intuitive operation.</h3>
                                        <h2 class="quote">Q: The a6500 features a “touch pad” function for a new way of operating a camera that wasn’t available in the a6300. What’s the story behind it?</h2>
                                        <p><strong>Mr Kobayashi</strong>: “Touch pad” function allows you to move focus point around with typical touch pad operation of the LCD screen while you peek into the viewfinder. Use of touch operation while peeking through a viewfinder first became available in Sony’s products. Our cameras have provided wide AF area coverage, but some users thought that it took a rather long to shift AF points throughout that area. However, such shifting is now speedier with the touch of a user’s finger on the screen. This operation has become more intuitive and better for shooting subjects such as birds and motorsports.</p>
                                        <img data-original="img/community-reviews/cameras/a6500/a6500_07.jpg" width="665" height="430" alt="a6500" class="img-responsive lazy">
                                        <br>
                                        <p>Thanks to the designers’ attention to detail, the “touch pad” features optional settings that let users choose a part of the LCD panel area — for example, a limited area that a thumb’s operation can cover.</p>
                                        <p>We presumed that basic “touch pad” usage would be like this. A user firmly grasping the grip and viewing a subject through the viewfinder should use a thumb to operate the “pad”. Therefore, the operable area on the “touch pad” should be selectable, so the a6500 lets the user select among “all area”, “right half”, and “right quarter”. Since users peek through the viewfinder in various ways, the camera gives them the flexibility to change settings according to use. A strong point of the touch screen feature is its capability to smoothly shift the focus point during movie shooting to capture a subject clearly. By avoiding the vibration and sounds that operation of camera buttons can create, touch operation tends to avoid the recording of undesirable blur, shake, and clicking. The touch screen thereby helps users smoothly and quietly record more natural-looking movies.</p>
                                        <p><strong>Mr Adachi</strong>: The a6500 lets you shoot high-quality 4K movies with touch-screen focus operation, further supported by body-integrated optical-type 5-axis image stabilisation that minimises camera-shake blur. A movie sample is available. Please check it out.</p>
                                        <iframe style="width: 100%;" width="623" height="350" src="https://www.youtube.com/embed/iNDhVRD5pSU" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <!-- Sixth section -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Enginners' Message -->
                            <div class="section-btm">
                                <div class="text-wrapper">
                                    <!-- <h2>Engineers’ Message</h2> -->
                                    <div class="row">
                                        
                                        <div class="col-sm-8">
                                            <h3 class="caption">Putting great gear in our customers’ hands as soon as possible.</h3>
                                            <h2 class="quote">Q: Finally, please tell us about your professional obsession for “making things”.</h2>
                                            <img data-original="img/community-reviews/cameras/a6500/a6500_08.jpg" width="665" height="444" alt="a6500" class="img-responsive lazy">
                                            <br>
                                            <p><strong>Mr Adachi</strong>: Our challenge is to overcome limitations. So we must try our best at all times. We have to clearly figure out what functions to cover and what sizes to choose to contain the functions in products that will make our customers happy. I’m proud to introduce the new a6500 as the result of tackling the challenge to reconcile all aspects of size, performance, and functionality to the limit.</p>
                                            <p><strong>Mr Hisamatsu</strong>: a6500 development started under the policy of a: a new camera is valuable only when it offers new features, yet is as small as the previous camera — in this case, the a6300. Sony’s strength is its capability to make the greatest efforts to complete products that reflect certain ideals. Sony can do that with direct in-house design of devices ranging from a high-performance image sensor, to an image processing engine, to a front-end LSI that supports the engine, to a revolutionary small-scale body-integrated 5-axis image stabilisation unit. For such a wide range of in-house design to thrive, it’s critical that all members share the concept of what the new camera should be, from the start. We should keep in mind the product image policies and goals defined at initial stages, and complete products that satisfy customers without compromise. That’s our mission. </p>
                                            <p><strong>Mr Fujibayashi</strong>: It is also our job to think of how quickly we can deliver good products, so we always accumulate various technologies and proceed to product development. Conflicts among departments occur, but without such tense exchanges, we cannot keep making our products better. We will continue to go further to produce things that all of us involved in development can ultimately be satisfied with. </p>
                                            <p><strong>Mr Kobayashi</strong>: Meticulously detailed planning and the ultimate imagination regarding how customers will use the product are vital for developing software without compromise. For a6500 software, we didn’t give up. We stuck to our goals until the very end of development while we remedied the software to meet the need for increased buffer volume at time of continuous shooting. I’d like to be part of product development with this persistence that is our natural source of strength.</p>
                                        </div>
                                        

                                        
                                    </div>

                                    

                                </div>

                            </div>
                            <!-- Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->




                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/community-reviews.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/community-reviews.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:community-reviews:lenses:a6500"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:community-reviews:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|community-reviews|lenses|a6500"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
