<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ILCE-7RM2 Community Reviews | Sony a Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="ILCE-7RM2 Community Reviews | Sony a Portal">
    <meta name="description" content="Interview: Kimio Maki of Sony - 'the customer’s voice is the most important data for me'">
    <meta name="keywords" content="Kimio Maki of Sony, customer’s voice, interview, ILCE-7RM2, a7rm2" />

    <meta property="og:title" content="ILCE-7RM2 Community Reviews | Sony a Portal">
    <meta property="og:description" content="Interview: Kimio Maki of Sony - 'the customer’s voice is the most important data for me'">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="comm-reviews">

    @@include('../../template/header-1.html')



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid a7rm2">
        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">

                <!-- warning message -->
                <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div>
                <!-- warning message -->

                <div class="comm-reviews-container" style="margin-bottom: 0px;">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <div class="content-wrapper col-sm-12">


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- cover copy -->
                            <div class="section intro">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 logo">
                                        <img data-original="img/community-reviews/cameras/a7rm2/dp_logo.png" width="220" height="45" alt="DP Review" class="img-responsive lazy">
                                        <div class="sub-header">Interview: Kimio Maki of Sony - 'the customer’s voice is the most important data for me'</div>
                                    </div>
                                </div>
                            </div>
                            <!-- cover copy -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">
                 <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <div class="content-wrapper col-sm-12">
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- First section -->
                            <div class="section-btm">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/cameras/a7rm2/kimio_maki.jpg" width="269" height="329" alt="Senior General Manager of the Digital Imaging Business Group: Kimio Maki" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <br>
                                                <p>Kimio Maki, Senior General Manager of the Digital Imaging Business Group, Sony Corporation. Pictured here at the New York launch of the Alpha a7R II, and Cyber-shot RX100 IV and RX10 II.</p>
                                            </div>
                                        </div>
                                        <p>Sony shook up the camera industry recently with the launch of three new cameras - the Alpha a7R II, Cyber-shot RX100 IV and RX10 II. We were in New York for the launch event, and after the dust had settled we sat down with Kimio Maki, Senior General Manager of Sony's Digital Imaging Business Group. In our interview, we spoke with Mr. Maki about the process of designing the new Alpha a7R II, and what he has learned from customers invested in the a7-series.</p>
                                        <p>Also present was Mark Weir, Senior Manager of Technology at Sony Electronics USA, indicated by 'MW' in the following interview.</p>
                                        <hr>
                                        <h2 class="quote">In the process of creating the a7R II, what did you learn from users of the original a7R?</h2>
                                        <p><strong>KM</strong>: A lot. We got a lot of feedback from our customers, around things like durability and shutter shock - too much to explain here. And even from the a7II, when we introduced that product we received a lot of requests and requirements for improvements and we’ve incorporated those things as much as possible [in the a7R II]. For example the recording button should be customizable, and you should be able to switch in-camera from PAL to NTSC etc. Those kind of things.</p>
                                        <p>When we first started to develop this full-frame back-illuminated sensor, the most important thing was that it had to have high resolution - no less than 36MP. Also we wanted 4K video using the entire area of the sensor, as well as a Super 35 crop. Then we calculated that the best pixel count to accomplish these goals was 42MP. </p>
                                        <h2 class="quote">What kind of photographers bought the original a7R?</h2>
                                        <p><strong>KM</strong>: A lot of landscape photographers, but not only these photographers - anyone that needed high resolution. A lot of people who had been using big DSLRs and wanted something smaller. And we got a lot of feedback from these kind of customers which we added as improvements to the a7R II.</p>
                                        <img data-original="img/community-reviews/cameras/a7rm2/a7rm2_01.jpg" width="665" height="499" alt="a7rm2" class="img-responsive lazy">
                                        <br>
                                        <p>The a7R II sees many changes and improvements over the original a7R. Too bad they forgot to put a 'II' on the front of the body.</p>
                                        <h2 class="quote">What is the biggest technical challenge to making a camera like this?</h2>
                                        <p><strong>KM</strong>: To create a balance between resolution and ISO sensitivity. Usually, if you increase resolution, you have to sacrifice sensitivity. To achieve both we created a full-frame back-side illuminated sensor. We needed resolution of 40MP+ and we also needed ISO sensitivity greater than 6400, and in order to achieve that balance, this [BSI CMOS] technology is necessary. Once you’ve gathered the light, improving processing speed is an important issue, so we changed the wiring inside the sensor from aluminum to copper, and reversed the structure. So we’ve improved the resolution and the ISO sensitivity over the original a7R.</p>
                                        <p><strong>MW</strong>: We wanted to overcome the idea that has been prevalent since as long as there have been digital cameras, that you can have one virtue [resolution] or the other [sensitivity] but you can never have both. Look at the Canon EOS 5DS. A maximum ISO sensitivity of 6400, and crippled movie capability. Canon says that it intentionally created the camera to fit the requirements of certain photographers, and [has thereby demonstrated] that the material science of their device technology [cannot] accomplish both objectives. </p>
                                        <h2 class="quote">One of our main criticisms of the a7-series has been raw compression. Is the raw processing of the a7R II the same as previous cameras?</h2>
                                        <p><strong>KM</strong>: Right now it is the same, yes. We’re still working on it. In the future we may change the software but that’s not completed yet. We have consumers who require 14-bit etc., and we’re considering [how to deal with it].</p>
                                        <h2 class="quote">Is the dynamic range of the sensor equivalent to the older 36MP sensor?</h2>
                                        <p><strong>KM</strong>: The dynamic range is the same or maybe a little better. I don’t have quantitative data at hand.</p>
                                        <h2 class="quote">You’ve put a lot of video features into the a7R II. Up to now, the a7S has been Sony’s flagship a7-series video camera - does the a7S still have an advantage in terms of video quality?</h2>
                                        <p><strong>KM</strong>: In terms of video quality the a7R II and a7S should be very much equivalent but it depends on the circumstances. If you’re filming in dark conditions of course, the a7S is better.</p>
                                        <iframe style="width: 100%;" width="623" height="350" src="https://www.youtube.com/embed/1Jor_WkheaE" frameborder="0" allowfullscreen></iframe>
                                        <br>
                                        <br>
                                        <p><strong>MW</strong>: The a7S has exactly the right number of pixels to use the full width of the sensor to shoot 4K, with no line skipping or pixel binning. The a7R II can’t do that. […] However, when set to the Super 35 crop, the a7R II sensor has a read speed fast enough to read every pixel and super-sample those pixels into an 8.3MP [4K] frame, without dropping any lines and without any pixel binning at all. So in theory, in that mode, video from the a7R II should be superior to almost any other 4K capture device.</p>
                                        <h2 class="quote">When you were designing this camera, what did you benchmark against?</h2>
                                        <p><strong>KM</strong>: In terms of video, we benchmarked against our professional equipment, like the FS700. In terms of still imaging we compared against the original a7R and the RX1. The RX1 is one of the highest-resolution cameras in the industry. Of course we also got data from the Nikon D800 and D810.</p>
                                        <h2 class="quote">Which manufacturer do you see as your main competitor?</h2>
                                        <p><strong>KM</strong>: Well, I don’t want to be arrogant. As you know we don’t have the same history [as some of our competitors] in the camera market, so if we just did the same thing as Canon and Nikon we’d lose. Because we don’t have the same brand image as a camera maker. So we have to think about what the consumer needs.</p>
                                        <p>The customer’s voice is the most important data for me, when we’re creating a new product. Of course when we create a new camera we look at competitive products as a reference, but the most important thing is the voice of the customers.</p>
                                        <h2 class="quote">Something we’ve spoken about before is the perception on the part of a lot of consumers that Sony is a consumer electronics company that also makes cameras. What do you need to do to change that perception?</h2>
                                        <p><strong>KM</strong>: It’s a difficult question because we have a lot of things we need to do. But in some ways we’re a long way ahead. In terms of autofocus, [the gap between DSLR and mirrorless] is getting smaller and smaller. In terms of noise reduction we’re learning a lot from our competitors about the best way to do it. We need to learn more. And color reproduction, too. We’re still a challenger, so we’re learning our customers’ requirements and improving our products.</p>
                                        <img data-original="img/community-reviews/cameras/a7rm2/a7s.jpg" width="665" height="375" alt="a7s" class="img-responsive lazy">
                                        <br>
                                        <p>The a7S is Sony's flagship a7-series camera for video. Featuring 'first-generation' a7 ergonomics but a unique 12MP full-frame sensor, the a7S can record 4K video using the entire frame with no line skipping. The a7R II can do this too, but in a cropped Super 35 mode.</p>
                                        <h2 class="quote">Do you think that the typical enthusiast photographer is particularly interested in video? Or are the two demographics still separate?</h2>
                                        <p><strong>KM</strong>: The trend is moving. It used to be that stills were stills and movies were movies, and the [customers] were completely different. But about three years ago, video customers started to use the Canon EOS 5D Mark III for both still images and video capture. That kind of product started to change the industry. The customers' demand is evolving.</p>
                                        <h2 class="quote">Despite Sony's relatively short history as a camera maker, it has perhaps done more than any other manufacturer to change the definition of what digital cameras are, and how they work…</h2>
                                        <p><strong>KM</strong>: It was vital - we were the challenger!</p>
                                        <h2 class="quote">Do you think that DSLR technology has any autofocus advantage, any more?</h2>
                                        <p><strong>KM</strong>: Yes, but that advantage is getting smaller and smaller. I don’t know when we will [surpass] that technology but we will do our best. When we introduced the a6000, a lot of professional customers started to buy it. We asked them why, and they told us ‘this is my holiday camera’. They told us that for their jobs, they used [DSLRs] but when they go out with their families they used the a6000, because the quality level is very close.</p>
                                        <img data-original="img/community-reviews/cameras/a7rm2/afpoints.jpg" width="665" height="442" alt="AF points" class="img-responsive lazy">
                                        <br>
                                        <p>With 179 phase-detection AF points, the a6000 has one of the best AF systems of any AF system. The 399-point AF system of the a7R II should approach the same speed and accuracy.</p>
                                        <h2 class="quote">When the a6000 was launched, the benefit of its ‘4D’ focus system was a big part of the marketing strategy. Is the system in the a7R II equivalent in terms of ability?</h2>
                                        <p><strong>KM</strong>: It’s almost equivalent but the [imaging circle] is larger. The gap is getting smaller, but in terms of speed, APS-C is still quicker because the lens elements are smaller and lighter.</p>
                                        <p>The big advantage of a phase-detection system on the sensor is that micro-adjustment is not necessary. In the case of Canon and Nikon, with sensors of greater than 15MP, you have to adjust the cameras and lenses very precisely.</p>
                                        <p><strong>MW</strong>: The other thing to consider is that there is a finite limit to how many AF sensors, and how wide a coverage you can realize when using an optical sensor array illuminated by a mirror. Who can make an optical phase-detection AF sensor with 400 AF points?</p>
                                        <h2 class="quote">We've seen that PDAF can be used with Canon EF lenses on the a7R II (via a Metabones adapter). Do you anticipate that someone who has a collection of long telephoto Canon lenses could potentially use them to shoot sports with the a7R II?</h2>
                                        <p><strong>KM</strong>: I hope that our native lenses are better! But it will happen. I see people using Sony a7-series bodies and third-party lenses all the time, for video and for stills, because they already own the lenses. It works, but our native lenses are much better and that’s the process [we see a7-series buyers going through]. Of course we’re not putting them under any pressure, but in order to make them shift, we have to guarantee the quality of the lens. Our lenses have to be better than [those from other manufacturers]. That is my mission.</p>
                                        <img data-original="img/community-reviews/cameras/a7rm2/metabones.jpg" width="665" height="665" alt="Metabones" class="img-responsive lazy">
                                        <br>
                                        <p>The a7R II's 399-point PDAF system looks very nice indeed, and can even drive AF with Canon EF lenses mounted to the camera via a third-part adapter. Although Sony is not selling this as a 'feature' (the company would love it if people bought its native FE-mount lenses instead) this level of compatibility with Canon optics might smooth the upgrade path for anyone thinking of changing systems.</p>
                                        <p>We have already made a 35mm F1.4 and 90mm macro - both were based on customer’s requirements, and also we have a full F4 zoom lineup, so our next lenses will be at the upper end of the lineup. </p>
                                        <h2 class="quote">In terms of focal length?</h2>
                                        <p><strong>KM</strong>: Exactly. And also aperture. A F2.8 lineup is necessary, and brighter [primes].</p>
                                        <h2 class="quote">The 5-axis image stabilization system in the a7R II - does it offer equivalent performance as the system in the a7II?</h2>
                                        <p><strong>KM</strong>: It gives an equivalent performance - 4.5 stops of improvement. But the system is different because the camera has so many more pixels. The algorithms are different, to achieve 4.5 stops of benefit on a 42MP sensor.</p>
                                    </div>
                                    <div class="col-sm-4 hidden-xs profile">
                                        <img data-original="img/community-reviews/cameras/a7rm2/kimio_maki.jpg" width="269" height="329" alt="Senior General Manager of the Digital Imaging Business Group: Kimio Maki" class="img-responsive lazy">
                                        <div class="profile-details">
                                            <br>
                                            <p>Kimio Maki, Senior General Manager of the Digital Imaging Business Group, Sony Corporation. Pictured here at the New York launch of the Alpha a7R II, and Cyber-shot RX100 IV and RX10 II.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/community-reviews.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/community-reviews.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:community-reviews:lenses:a7rm2"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:community-reviews:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|community-reviews|lenses|a7rm2"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
