<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>
                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4 active" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">Wildlife</h1>

                            <div class="col-sm-12">

                                <img src="img/learning/section4/article/wildlife-01.jpg" class="img-container img-responsive center-block" width="715" height="477" alt="Wildlife">

                                <p class="img-caption text-center">Photo by Yasushi Ohnishi.</p>

                            </div>

                            <div class="col-sm-12">

                                <p>Wildlife photograph is especially challenging because it can require you to get out of your comfort zone in several areas, least of all in your photographic technique.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Patience is Key</h2>

                                <p>Stalking your wildlife subjects isn’t the way to go; they’ll detect your presence and flee, or in the worst case scenarios, they’ll charge towards you. In these instances, patience is key. Pitch a tent in the wild, park your car in a safari, or if you have a guide who can show you how, set up a hide. The point is to remain concealed for long enough that the animals regard you as part of the natural environment and relax.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Know Your Subjects</h2>

                                <p>You don’t want to wrap a day’s shoot only to discover that there’s a telephone pole sticking out of the head of your subject in nearly every shot. Even though you might be using a shallow depth of field to blur the background, watch how the background elements and color interacts with your subject. </p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Shoot at Their Level</h2>

                                <p>If you’re trying to shoot an animal, you’ll get better shots from understanding its behavior. Read books, talk with experts, listen to other photographers or get a guide. When do they mate? When do they hunt? How does a change in weather affect their movement patterns? Knowing what animals do, when they do them and why they do it will help you nab images of animals in action doing things, instead of animals just standing around.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class=" info-wrapper col-sm-12">

                                <h2>Set Shutter Speeds First</h2>

                                <p>It’s likely you’ll be shooting at very high shutter speeds to capture your subject, unless you want to intentionally blur motion. To get to as high a shutter speed as you can, you’ll need to rely on the other two legs of the exposure trinity – aperture and ISO sensitivity. Fast lenses are essential, and so is a camera which can handle high ISO settings without introducing too much image noise.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section4/article/wildlife-02.jpg" class="img-container img-responsive center-block" width="713" height="475" alt="Set Shutter Speeds First">

                                <p class="img-caption text-center">Photo by Hiroaki Nakajima.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Use a Tripod or Shoot Hand-held?</h2>

                                <p>The longer you zoom out, the harder it will be to keep the lens steady, because even a little shake of your hands will be translated into bigger movements and result in a blurry image. It makes sense to use a tripod so you can maintain stability and get sharp results. It also helps take the weight off your shoulders (literally) when you’re using a large zoom lens and need to wait at a fixed location for a long time.</p>

                                <p>On the other hand, a tripod may limit your range of motion, in which case you can consider using a monopod, which is less stable but lets you move around more easily. If you need to track an erratically-moving subject, you can try shooting hand-held, but you will need to take extra care to stabilize yourself and not jerk the camera too much while you’re shooting. You can stabilize yourself by leaning against an object, resting your elbows on something, or failing that, keep your elbows in tight and pivot using your hips.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Survivor - Outlast & Outshoot</h2>

                                <p>Lastly, if you’re heading out into the wilderness, it’s more important to prepare for survival than photography. If you’re not familiar with the area, look into hiring a guide. Since telephoto lenses, tripods and DSLR cameras are heavy, you’ll need to be fit before your trip to nature. You’ll also need the proper gear, not just the clothes and shoes to keep you warm and functional, but also for your photographic equipment.</p>

                                <p>Ideally, you’ll want to keep them protected, but also have a way to keep them close at hand and easily moved. Rain covers can be used to keep rain and dust off your camera, and blowers can be used to blow dust off your lenses. You can look into camera straps which wrap around your body and are more comfortable than the ones which came with the camera, or even camera straps which attach to your backpack so your shoulders can more easily take the weight.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>Which Lens Should You Use?</h2>

                                <p>Many animals are shy and easily frightened. Others are too dangerous to approach too closely. Your best bet to catch them on camera is to use a zoom lens, also known as a telephoto lens, with a long focal range and a wide aperture.</p>

                                <p>Long zoom lenses also have the benefit of decreasing the depth of field in a photo and making the subject stand out sharply from a blurred background. If you can get even closer, you can zoom in on various parts of the animal rather than trying to fill the entire frame with its body. To get even more reach with your lens, you can fit a tele-converter on it.</p>

                                <p>Wide aperture lenses, also known as fast lenses, open up wider than slower lenses. This allows more light in at a time, and lets you shoot at faster shutter speeds, helping you freeze the action. Fast shutter speeds are essential to freeze movement and get a sharp picture of your subject. You should be shooting at 1/500th at the very least, preferably at 1/1000th and above.</p>

                                <p>The longer the lens you’re using the higher the shutter speed you’ll need to hold the lens steady and get a clear shot. While the golden rule is that the length of the lens dictates the minimal shutter speed you can use – a 200mm lens equals to 1/200th of a second for instance – improved image stabilization means you can shoot handheld at lower speeds.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section4/article/wildlife-03.jpg" class="img-container img-responsive center-block" width="900" height="600" alt="Which Lens Should You Use?">

                                <p class="img-caption text-center">Because you’ll be shooting from far away, you’ll need a long telephoto lens like the 500mm F4.0 G SSM.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec04:Wildlife"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec04"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec04|Wildlife"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>

</html>
