<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>
                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2 active" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">Making Sense of MTF Charts</h1>

                            <div class="col-sm-12">

                                <h2>What is an MTF chart?</h2>

                                <p>An MTF chart is a tool that allows photographers to judge the performance of a lens in terms of its ability to generate contrast and resolution. Most lens makers provide an MTF chart in the brochures of their lenses for this purpose.</p>

                                <p>"MTF" stands for Modulation Transfer Function. Without going into technical details, "modulation" in optical terms, simply means how a light is modified when it passes through a camera lens. So, MTF charts measure how much light is affected as it passes through the lens being assessed.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-7">

                                <h2>How are MTF charts created?</h2>

                                <p>To produce an MTF chart for a lens, it is used to shoot a diagram with sets of very closely spaced lines drawn on a stark white background. The most commonly found charts feature two sets of lines.</p>

                                <p>One set is 10 lines per millimeter (10LP/mm) and is used to measure the lens’ ability to reproduce contrast. The other set is three times finer at 30 lines per millimeter (30LP/mm) and is used to measure the lens’ resolution and ability to discern fine details.</p>

                                <p>These two sets of lines are then arranged in two orientations that use a line drawn from the bottom left corner of the image frame to the top right one as a guide.</p>

                                <p>The orientation of the first set is known as "Sagittal" or "Radial" lines – these run parallel to the center diagonal line. The orientation of the second set is known as "Meridional" or "Tangential" lines – which are positioned perpendicular to the center line.</p>

                                <p>The lens is then used to shoot the diagram – once with its aperture wide open, and a second time with its aperture stopped down to a small size of typically F8.</p>

                                <p>The resulting photos are then analyzed to count the number of lines that are still discernible versus those that cannot be seen any longer, at different distances from the center of the image. For example, if 8 of 10 lines are still able to be discerned at a certain point, the contrast at that point is considered 80%. These readings are then plotted as lines on an MTF chart.</p>

                            </div>

                            <div class="col-sm-12 col-md-5">

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-01.jpg" class="img-container img-responsive" width="480" height="288" alt="How are MTF charts created?">

                                <p class="img-caption">Example of a diagram used to create MTF charts for lenses. Sagittal and Meridonial lines are normally black, but is colored in this illustration to highlight.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-5">

                                <h2>How to read an MTF chart?</h2>

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-02.jpg" class="img-container img-responsive" width="480" height="368" alt="How to read an MTF chart?">

                            </div>

                            <div class="col-sm-12 col-md-7">

                                <p>The horizontal axis of an MTF chart is measured in millimeters and represents the distance from the center of the lens (and resulting image).</p>

                                <p>The vertical axis represents the contrast transmission capability of the lens, and is always shown with a maximum value of 100% – which represents perfect 100% contrast.</p>

                                <p>As an example, an intersection point of 10mm, 70% means that at the point which is 10mm away from the center of the lens, it is able to transmit 70% of the contrast.</p>

                                <p>An MTF chart typically shows 8 sets of lines that represent all possible combinations of radial and tangential line sets for both 10LP/mm or 30LP/mm sets, and with the lens set to its widest aperture and a small aperture, typically F8:</p>

                                <ul>
                                    <li>A radial 10LP/mm line with the lens aperture open as wide as possible</li>
                                    <li>A radial 10LP/mm line with the lens set to F8</li>
                                    <li>A radial 30LP/mm line with the lens aperture open as wide as possible</li>
                                    <li>A radial 30LP/mm line with the lens set to F8</li>
                                    <li>A tangential 10LP/mm line with the lens aperture open as wide as possible</li>
                                    <li>A tangential 10LP/mm line with the lens set to F8</li>
                                    <li>A tangential 30LP/mm line with the lens aperture open as wide as possible</li>
                                    <li>A tangential 30LP/mm line with the lens set to F8</li>
                                </ul>

                                <p>If the lens is a prime lens, a single MTF chart is used to evaluate its performance. If a lens is a zoom lens, a pair of MTF charts are used – one for its performance at its lowest focal range, and the other for its maximum zoom.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Interpreting an MTF chart</h2>

                                <p>MTF charts can be used to judge a lens’s performance by its lines:</p>

                                <ul>
                                    <li>The higher up the chart the coarser, lower resolution 10LP/mm lines are, the better the lens’ contrast reproduction ability is.</li>
                                    <li>The higher up the chart the finer, high resolution 30LP/mm lines are, the better the lens’ resolution is.</li>
                                    <li>It is natural for lines to drop down as they are farther away from the center of the lens. However, the more even the lines, the less degradation of image quality at portions of the image away from the center.</li>
                                    <li>Values above 80% are almost perfect, and values between 60% to 70% are typically considered good.</li>
                                </ul>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-7">

                                <h2>Practical Examples of Lens MTF Charts</h2>

                                <p>This MTF chart is an example of a very good prime lens, in this case, the Sony 135mm/F2.8 (SAL135F28). It shows high 10LP/mm as well as 30LP/mm lines that remain above 70%. These lines are also rather even, meaning that its contrast and resolution at the edges should remain excellent.</p>

                            </div>

                            <div class="col-sm-12 col-md-5">

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-03.jpg" class="img-container img-responsive" width="480" height="368" alt="Practical Examples of Lens MTF Charts">

                            </div>

                            <div class="col-sm-12 col-md-5">

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-04.jpg" class="img-container img-responsive" width="480" height="394" alt="Practical Examples of Lens MTF Charts">

                            </div>

                            <div class="col-sm-12 col-md-7">

                                <p>Manufacturers typically provide two MTF charts for zoom lenses they make to show their performance at both ends of their focal range. These are the MTF charts for the Sony 18-135mm/F3.5-5.6 zoom lens (SAL18135). The one on the left shows the lens’ performance at its wide angle setting of 18mm, and the chart on the right shows its performance at the telephoto end (135mm).</p>

                                <p>For the left wide-angle chart, the lens was shot once on its maximum aperture of F3.5 and another time at F8 to generate the lines you see.</p>

                                <p>For the right telephoto chart, the lens was shot once on its maximum aperture at full zoom of F5.6 and another time at F8 to create the lines.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-7">

                                <h2>Why Do I See Other Values Than 10LP/mm and 30LP/mm in Some Lens’ MTF charts?</h2>

                                <p>While the most common charts measure the 10LP/mm and 30LP/mm frequencies to be sufficient to determine its performance, different manufacturers may choose to create MTF charts which show other frequency sets to highlight the attributes of their lenses, but the fundamentals are the same. Carl Zeiss lenses for example all have MTF charts measured at 10LP/mm, 20LP/mm and 40LP/mm instead.</p>

                                <p>Below is an example MTF chart of the new Sony Carl Zeiss 55mm F1.8 prime lens (SAL55F18Z). See if you can read it.</p>

                            </div>

                            <div class="col-sm-12 col-md-5">

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-05.jpg" class="img-container img-responsive" width="480" height="275" alt="Why Do I See Other Values Than 10LP/mm and 30LP/mm in Some Lens’ MTF charts?">

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-5">

                                <h2>Quick Lens Comparisons via MTF</h2>

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-06.jpg" class="img-container img-responsive" width="480" height="444" alt="Quick Lens Comparisons via MTF">

                            </div>

                            <div class="col-sm-12 col-md-7">

                                <p>Here, we have the MTF charts of two different Sony A-mount lenses with identical 50mm F1.4 specifications: the standard SAL50F14 and the costlier Carl Zeiss SAL50F14Z.</p>

                                <ul>
                                    <li>The first thing you’d notice from both charts below is that they are made up of different spatial line frequencies. You may come across this when comparing lenses from different makes. However, you can still make quick guesswork of their performance by comparing similar traits looking at their MTF charts.</li>
                                    <li>In the case of the SAL50F14 and SAL50F14Z, you can look at the 10LP/mm line which both lens charts share. You can also roughly gauge the 30LP/mm performance trend by estimating between the 20LP/mm and 40LP/mm for the Zeiss lens.</li>
                                    <li>From the charts, we can surmise that at both maximum aperture (F1.4) and F8, The SAL50F14 starts to lose contrast at the 16mm mark from the centre of the lens while the Ziess made SAL50F14Z’s contrast does not degrade as much, indicating resolution is maintained throughout the frame better.</li>
                                    <li>Do note that although these charts indicate the Zeiss lens is sharper, this does not mean that the more affordable SAL50F14 offers poorer performance. The real world difference can be minute, and since the image capture process is a complex combination of many factors, it is best to try out your lenses physically. Photography is an art, and you may like the look and feel the images captured by a certain lens, even though it is “technically” inferior based on its MTF chart reading.</li>
                                </ul>

                            </div>

                            <div class="clearfix"></div>

                            <div class="col-sm-12 col-md-5">

                                <img src="img/learning/section2/article/making_sense_of_mtf_charts-06.jpg" class="img-container img-responsive" width="480" height="444" alt="Quick Lens Comparisons via MTF">

                                <p class="img-caption">While there is a similar trend on the SAL50F14Z after 16mm, it offers more consistency with better performance at F8 on all 10, 20 and 40mm lines.</p>

                            </div>

                        </div>
                        <!-- Black -->


                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec02:makingSenseOfMtfCharts"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec02"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec02|makingSenseOfMtfCharts"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>


    </body>

</html>
