<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Landscape | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Landscape | Sony α Portal">
        <meta name="description" content="Shooting Techniques and lens recommendation for landscapes">
        <meta name="keywords" content="landscape" />

        <meta property="og:title" content="Landscape | Sony α Portal">
        <meta property="og:description" content="Shooting Techniques and lens recommendation for landscapes">
        <!--
        <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}"> -->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="shoot">

        @@include('../template/header-1.html')

        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper center">

                        <!-- Category -->
                        <div class="filter-category text-center">
                            <div class="filter-btn landscape active" data-category="landscape">
                                <div class="icon text-center"></div>
                                <p>Landscape</p>
                            </div>
                            <a href="shooting-techniques/urbanscape.html">
                                <div class="filter-btn urbanscape" data-category="urbanscape">
                                    <div class="icon text-center"></div>
                                    <p>Urbanscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/portrait.html">
                                <div class="filter-btn portrait" data-category="portrait">
                                    <div class="icon text-center"></div>
                                    <p>Portrait</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/sports.html">
                                <div class="filter-btn sport" data-category="sport">
                                    <div class="icon text-center"></div>
                                    <p>Sports</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/macro.html">
                                <div class="filter-btn macro" data-category="macro">
                                    <div class="icon text-center"></div>
                                    <p>Macro</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/low-light.html">
                                <div class="filter-btn low-light" data-category="low-light">
                                    <div class="icon text-center"></div>
                                    <p>Low Light</p>
                                </div>
                            </a>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->



        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <div class="filter-btn landscape active" data-category="landscape">
                            <div class="icon text-center"></div>
                            <p>Landscape</p>
                        </div>
                        <div class="filter-btn urbanscape" data-category="urbanscape">
                            <div class="icon text-center"></div>
                            <p>Urbanscape</p>
                        </div>
                        <div class="filter-btn portrait" data-category="portrait">
                            <div class="icon text-center"></div>
                            <p>Portrait</p>
                        </div>
                        <div class="filter-btn sport" data-category="sport">
                            <div class="icon text-center"></div>
                            <p>Sports</p>
                        </div>
                        <div class="filter-btn macro" data-category="macro">
                            <div class="icon text-center"></div>
                            <p>Macro</p>
                        </div>
                        <div class="filter-btn low-light" data-category="low-light">
                            <div class="icon text-center"></div>
                            <p>Low Light</p>
                        </div>
                    </div>
                    <!-- Category -->

                </div>
            </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="shooting-container">
                <div id="shooting-viewer">
                    <div class="imageFrame"></div>
                    <div class="mapFrame">
                        <div class="positionWrapper">
                            <div class="mapElements"></div>
                            <!-- <div class="index-display">XXX</div> -->
                            <div class="best-shot"></div>
                            <div class="prev-subsection">

                            </div>
                            <div class="next-subsection">
                            </div>
                        </div>
                        <div class="next-frame"></div>
                    </div>
                </div>
                <br>
                <div id="shooting-control">
                    <div class="row">
                        <!-- <div class="prev-subsection"><span class="glyphicon glyphicon glyphicon-menu-left"></span></div>
                        <div class="next-subsection"><span class="glyphicon glyphicon glyphicon-menu-right"></span></div> -->
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 stepper-container">
                            <div class="row">
                                <ul class="stepper">
                                </ul>
                            </div>
                            <div class="row">
                                <div class="index-display">XXX</div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="meta">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="tech-wrapper col-sm-12">
                        <div class="clearfix"></div>
                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->
                    </div>
                </div>

                <!-- models -->
                <div id="lens-recommendations">
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                                <!-- Title -->
                                <div class="row models-row">
                                    <div class="col-sm-12">
                                        <p>Lens Recommendations for Landscape:</p>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- cameras : lenses -->
                                <div class="row models-row">
                                    <div class="col-sm-11" id="slider">
                                        <div class="models-slider">
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2870">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2870.jpg" width="220" height="152" alt="SEL2870" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2870</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2470z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2470z.jpg" width="220" height="152" alt="SEL2470Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2470Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel55f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel55f18z.jpg" width="220" height="152" alt="SEL55F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL55F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f28z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f28z.jpg" width="220" height="152" alt="SEL35F28Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F28Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel70200g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel70200g.jpg" width="220" height="152" alt="SEL70200G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL70200G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1635z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1635z.jpg" width="220" height="152" alt="SEL1635Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1635Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24240">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="SEL24240" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24240</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp28135g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp28135g.jpg" width="220" height="152" alt="SELP28135G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP28135G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f14z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f14z.jpg" width="220" height="152" alt="SEL35F14Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F14Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f28z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f28z.jpg" width="220" height="152" alt="SEL35F28Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F28Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1018">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1018.jpg" width="220" height="152" alt="SEL1018" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1018</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel16f28">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel16f28.jpg" width="220" height="152" alt="SEL16F28" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL16F28</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp1650">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp1650.jpg" width="220" height="152" alt="SELP1650" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP1650</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1670z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1670z.jpg" width="220" height="152" alt="SEL1670Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1670Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1855">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1855.jpg" width="220" height="152" alt="SEL1855" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1855</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18105g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18105g.jpg" width="220" height="152" alt="SELP18105G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18105G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200le">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200le.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200LE</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18200.jpg" width="220" height="152" alt="SELP18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel20f28">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel20f28.jpg" width="220" height="152" alt="SEL20F28" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL20F28</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24f18z.jpg" width="220" height="152" alt="SEL24F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel30m35">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel30m35.jpg" width="220" height="152" alt="SEL30M35" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL30M35</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- cameras : lenses -->
                        </div>
                    </div>
                </div>
                <!-- models -->
            </div>
        </section>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('../template/footer.html')

        <script>
        var technique = {
          "id": "landscape",
          "title": "Landscape",
          "thumbnail": "thumbnail.jpg",
          "topics": [{
            "id": "composition-elements",
            "title": "Composition Elements",
            "description": "",
            "subtopics": [{
              "id": "1.1",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 <br />@ 11mm, 10 Sec, F20, ISO100",
              "mapInfo": {
                "baseWidth": 1440,
                "baseHeight": 960,
                "pins": [{
                  x: 974,
                  y: 124,
                  set: 1
                }, {
                  x: 1120,
                  y: 436,
                  set: 2
                }, {
                  x: 1184,
                  y: 668,
                  set: 3
                }, {
                  x: 496,
                  y: 430,
                  set: 4
                }, {
                  x: 214,
                  y: 180,
                  set: 5
                }],
                "effects": [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The pre dusk light sets an interesting purplish tone, while creating a sense of calm and mystery.',
                    position: {
                      x: 1010,
                      y: 70
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'As the light intensity is low, the use of a slow shutter of 10 seconds smoothened the sea surface creating a feel of calm.',
                    position: {
                      x: 868,
                      y: 525
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The water breaking over the pebble reveals some white, these are recorded as silky streaks over the 10 second exposure.',
                    position: {
                      x: 768,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The small jetty provided a leading line into the image. Otherwise, the image would have appeared rather boring and plain.',
                    position: {
                      x: 544,
                      y: 448
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This bright patch here seems to rob attention away from the rest of the image.',
                    position: {
                      x: 282,
                      y: 126
                    }
                  }
                }]
              }
            }, {
              "id": "1.2",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 16mm, 1/50 Sec, F14, ISO200",
              "mapInfo": {
                "baseWidth": 1440,
                "baseHeight": 960,
                "pins": [{
                  x: 984,
                  y: 240,
                  set: 1
                }, {
                  x: 100,
                  y: 600,
                  set: 2
                }, {
                  x: 420,
                  y: 620,
                  set: 2
                }, {
                  x: 1200,
                  y: 610,
                  set: 2
                }, {
                  x: 170,
                  y: 760,
                  set: 3
                }, {
                  x: 280,
                  y: 240,
                  set: 4
                }],
                "effects": [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'When returning at close to sunset, the warmer light had illuminated the hand rails to create leading lines deep into the image.',
                    position: {
                      x: 1048,
                      y: 272
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Stepping on the jetty, we took a low angle of view to capture a fresh perspective. This introduced more leading lines into the picture.',
                    position: {
                      x: 934,
                      y: 310
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'As the light is very low, the lateral illumination from left to right had brought out various shadows and highlights on the jetty to conjure a mixture of interesting textures.',
                    position: {
                      x: 272,
                      y: 650
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The clouds have now formed a reciprocating leading line with the jetty.',
                    position: {
                      x: 528,
                      y: 304
                    }
                  }
                }]
              }
            }, {
              "id": "1.3",
              "settings": "A77 <br />  16-50mm F2.8 <br />@ 16mm, 30 Sec, F14, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 900,
                  y: 930,
                  set: 1
                }, {
                  x: 400,
                  y: 500,
                  set: 2
                }, {
                  x: 780,
                  y: 1010,
                  set: 3
                }, {
                  x: 270,
                  y: 1250,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To help emphasize the cloud formation, we used rules of 3rds to set the horizon at 1/3. This helps draw the viewer\'s attention to the clouds occupying the upper 2/3rds.',
                    position: {
                      x: 408,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'As the clouds took on a more defined shape, it formed a perfect set of leading lines with the pier, pointing clearly outwards to the horizon.',
                    position: {
                      x: 397,
                      y: 93
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'However, despite the composition excellence and the coinciding cloud formation, the light at this time is rather weak. There is no strong sun light nor is the colour of the sky lively.',
                    position: {
                      x: 468,
                      y: 830
                    }
                  }
                }]
              }
            }, {
              "id": "1.4",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 12mm, 13 Sec, F16, ISO50",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1350,
                  y: 180,
                  set: 1
                }, {
                  x: 1330,
                  y: 570,
                  set: 1
                }, {
                  x: 820,
                  y: 660,
                  set: 2
                }, {
                  x: 640,
                  y: 500,
                  set: 3
                }, {
                  x: 790,
                  y: 300,
                  set: 4
                }, {
                  x: 620,
                  y: 870,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'After sun down, the sky took on a rather even looking blue tone, which is also reflected off the water.  This collectively sets a calm and mysterious mood.',
                    position: {
                      x: 868,
                      y: 200
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'With the intensity of the light low, a polariser was added to slow the shutter speed even further to blur the water and create a smooth and calming feel.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The jetty is nicely placed to lead the viewer\'s attention into the image. Its positioning and size within the frame seems to suggest a sense of isolation.',
                    position: {
                      x: 740,
                      y: 538
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The jetty also leads our attention to the amazing bird like cloud that is floating through the image.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By using a shutter speed of 13 seconds, the white created by the small waves are recorded as short and abrupt spots, creating a crystal like illusion.',
                    position: {
                      x: 468,
                      y: 490
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "lighting-influences",
            "title": "Lighting Influences",
            "description": "",
            "subtopics": [{
              "id": "2.1",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 1/160 Sec, F16, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 300,
                  y: 70,
                  set: 1
                }, {
                  x: 300,
                  y: 300,
                  set: 2
                }, {
                  x: 150,
                  y: 750,
                  set: 2
                }, {
                  x: 480,
                  y: 830,
                  set: 2
                }, {
                  x: 480,
                  y: 550,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'It is a common mistake to think that lots of light is a plus for photographing anything.  Midday daylight on a clear blue day like this actually has its disadvantages.',
                    position: {
                      x: 356,
                      y: 30
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'While midday light provides a neutral colour, the light is actually rather harsh. The almost overhead lighting hits the front of the subject, making the subject flat and lifeless.',
                    position: {
                      x: 614,
                      y: 354
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Blotches of shadows created suppresses many subject details.',
                    position: {
                      x: 598,
                      y: 504
                    }
                  }
                }]
              }
            }, {
              "id": "2.2",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 12mm, 10 Sec, F16, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 800,
                  y: 430,
                  set: 1
                }, {
                  x: 350,
                  y: 150,
                  set: 2
                }, {
                  x: 400,
                  y: 450,
                  set: 2
                }, {
                  x: 550,
                  y: 750,
                  set: 2
                }, {
                  x: 800,
                  y: 750,
                  set: 2
                }, {
                  x: 1250,
                  y: 720,
                  set: 2
                }, {
                  x: 1080,
                  y: 570,
                  set: 3
                }, {
                  x: 970,
                  y: 870,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'It pays to experiment with different light conditions when photographing landscapes. Returning at an hour before sunset, directional light illuminated the landscape from the left. It is definitely a better shot than the first one at midday.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: '2.2-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'The low hanging sun casted shadows from left hand side of the rock. This, along with the shadow on the foreground provided a natural framing for the illuminated background.',
                    position: {
                      x: 592,
                      y: 392
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'However, the disparity of the light level in the foreground shadow area and the bright background is still rather vast.  Any attempts to increase exposure to brighten the foreground, will cause over exposure to the background.',
                    position: {
                      x: 550,
                      y: 298
                    }
                  }
                }]
              }
            }, {
              "id": "2.3",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 1/8 Sec, F11, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 50,
                  y: 480,
                  set: 1
                }, {
                  x: 310,
                  y: 230,
                  set: 2
                }, {
                  x: 310,
                  y: 230,
                  set: 2
                }, {
                  x: 1000,
                  y: 800,
                  set: 3
                }, {
                  x: 800,
                  y: 720,
                  set: 4
                }, {
                  x: 470,
                  y: 680,
                  set: 4
                }, {
                  x: 1100,
                  y: 320,
                  set: 4
                }, {
                  x: 160,
                  y: 830,
                  set: 5
                }, {
                  x: 450,
                  y: 870,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This next shot was taken just before the sun began setting. The light is now very low and is softer too.  The yellow light gives a good sense of warmth to the subjects.',
                    position: {
                      x: 40,
                      y: 218
                    }
                  }
                }, {
                  effect: '2.3-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'We have also moved a little more backwards to give the outcrop in the left foreground a more comprehensive account. This creates a “lead in” towards the bigger rock formation in the background.',
                    position: {
                      x: 448,
                      y: 30
                    }
                  }
                }, {
                  effect: '2.3-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'Notice how the shadows of the foreground outcrop is casted over the foot of the taller rock helped to define the steep ascend of the latter? It also defined the vast space in between them.',
                    position: {
                      x: 670,
                      y: 378
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Notice too that now, the disparity in the bright and shadow areas are less adverse as the light softens. This has made viewing much more pleasant.',
                    position: {
                      x: 670,
                      y: 378
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'As the sun sets low and the light softens, many details previously lost in harsh highlight or shadows are now visible delivering texture to complete the feel of the whole terrain.',
                    position: {
                      x: 670,
                      y: 378
                    }
                  }
                }]
              }
            }, {
              "id": "2.4",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 1/8 Sec, F11, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 50,
                  y: 480,
                  set: 1
                }, {
                  x: 570,
                  y: 680,
                  set: 2
                }, {
                  x: 1100,
                  y: 700,
                  set: 2
                }, {
                  x: 1200,
                  y: 250,
                  set: 2
                }, {
                  x: 160,
                  y: 830,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'You can never over emphasis how key timing is for shooting landscapes.  This image was taken right after the sun has dipped over the horizon.   The light is now too soft.',
                    position: {
                      x: 40,
                      y: 188
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We no longer have to deal with the shadows since the directional light is absent. But at the same time, there is a lack of warmth and character in the colour now. The majestic feel of this big rock formation has diminished.',
                    position: {
                      x: 670,
                      y: 348
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'With the lack of strong directional light, texture and details that gave the subjects their character disappears too.',
                    position: {
                      x: 302,
                      y: 754
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "making-the-best-of-the-weather",
            "title": "Making the best of the Weather",
            "description": "",
            "subtopics": [{
              "id": "3.1",
              "settings": "A77 <br />  24-70mm F2.8 <br />@ 35mm, 30 Sec, F20, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                    x: 200,
                    y: 150,
                    set: 1
                  }, {
                    x: 710,
                    y: 350,
                    set: 2
                  }, {
                    x: 1250,
                    y: 400,
                    set: 2
                  }, {
                    x: 1100,
                    y: 540,
                    set: 2
                  }, {
                    x: 70,
                    y: 540,
                    set: 3
                  }, {
                    x: 35,
                    y: 800,
                    set: 3
                  }, {
                    x: 630,
                    y: 870,
                    set: 3
                  }, {
                    x: 400,
                    y: 670,
                    set: 4
                  }, {
                    x: 300,
                    y: 810,
                    set: 4
                  }
                ],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'While you can time your shoot according to the time of the day, weather is a lot more unpredictable. There are no hard and fast rules, only creative maximisation of conditions.  So lets start with a cloudy day.',
                    position: {
                      x: 140,
                      y: 334
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The sky is cloudy and and grey.  But there is enough light to still give the coast line a warm appearance.',
                    position: {
                      x: 556,
                      y: 466
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Since the overall look is more subdued than it is  vibrant, we played along to create a more dreamy feel by using a slow shutter of 30 seconds to capture the silky effect of the waves.',
                    position: {
                      x: 316,
                      y: 494
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Care was however taken not to over do the long exposure.  This is to retain the patches of green ocean water to add colour to the overall composition of the image.',
                    position: {
                      x: 692,
                      y: 682
                    }
                  }
                }]
              }
            }, {
              "id": "3.2",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 12mm, 30 Sec, F22, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 550,
                  y: 50,
                  set: 1
                }, {
                  x: 1050,
                  y: 50,
                  set: 1
                }, {
                  x: 1380,
                  y: 180,
                  set: 2
                }, {
                  x: 130,
                  y: 180,
                  set: 3
                }, {
                  x: 320,
                  y: 810,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Clouds are not all bad. On this occasion, the scattered clouds opened small pockets of blue skies forming a pattern of intermittent blue.',
                    position: {
                      x: 590,
                      y: 228
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Although the sun is far right and out of frame, but the clouds here reflected the sunlight and recorded some vibrancy and life.',
                    position: {
                      x: 1068,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Here, we capitalised on a long shutter speed of 30 seconds to register the cloud as it drifts across the sky to create the illusion of movement.',
                    position: {
                      x: 266,
                      y: 328
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To overcome the overwhelming white on the water surface, we have included the outcrop in the foreground to act as a natural frame to create some balance.',
                    position: {
                      x: 482,
                      y: 680
                    }
                  }
                }]
              }
            }, {
              "id": "3.3",
              "settings": "A77 <br />  16-35mm F2.8 <br />@ 16mm, 15 Sec, F22, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 100,
                  y: 100,
                  set: 1
                }, {
                  x: 850,
                  y: 100,
                  set: 1
                }, {
                  x: 150,
                  y: 870,
                  set: 2
                }, {
                  x: 500,
                  y: 860,
                  set: 2
                }, {
                  x: 1000,
                  y: 855,
                  set: 2
                }, {
                  x: 1300,
                  y: 800,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'On this occasion, the sky was clear, but due to the hour of the morning, the intensity of the blue in the sky was weak.  Here, we added a polarising filter to enhance the blue.',
                    position: {
                      x: 528,
                      y: 324
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To add more colour to the overall image since there are no strong hues of red or orange, unlike dusk and dawn lightings, we have included the foliage in the foreground to give it a sense of life.',
                    position: {
                      x: 536,
                      y: 440
                    }
                  }
                }]
              }
            }, {
              "id": "3.4",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 12mm, 25 Sec, F16, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 30,
                  y: 330,
                  set: 1
                }, {
                  x: 1370,
                  y: 340,
                  set: 1
                }, {
                  x: 880,
                  y: 650,
                  set: 1
                }, {
                  x: 150,
                  y: 140,
                  set: 2
                }, {
                  x: 550,
                  y: 110,
                  set: 2
                }, {
                  x: 280,
                  y: 260,
                  set: 2
                }, {
                  x: 1060,
                  y: 300,
                  set: 2
                }, {
                  x: 285,
                  y: 455,
                  set: 3
                }, {
                  x: 600,
                  y: 705,
                  set: 3
                }, {
                  x: 50,
                  y: 680,
                  set: 4
                }, {
                  x: 300,
                  y: 880,
                  set: 4
                }, {
                  x: 1270,
                  y: 750,
                  set: 4
                }, {
                  x: 500,
                  y: 550,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This was essentially the best shot we captured along the coastline.  There is rich colour, warmth and also beautiful streaks of colour in the sky.',
                    position: {
                      x: 552,
                      y: 710
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Clouds are actually essential in capturing beautiful sunsets.  These clouds are like a canvas hanging in the sky, their presence allows the residual orange light from the setting sun to be casted on these clouds!',
                    position: {
                      x: 346,
                      y: 424
                    },
                    width: 600 / 1440 * 100 + '%'
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The warm colour of the clouds are reflected on the water too.',
                    position: {
                      x: 658,
                      y: 678
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To enhance the feel of vastness, we have used the a &ldquo;U&rdquo; shape natural frame to &ldquo;hold up&rdquo; the whole image.',
                    position: {
                      x: 554,
                      y: 678
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In the attempt to maximise all elements, the long shutter speed created water blurring which added a sense of movement to the sea surface.',
                    position: {
                      x: 622,
                      y: 614
                    },
                    width: 260
                  }
                }]
              }
            }]
          }, {
            "id": "black-white",
            "title": "Black & White",
            "description": "",
            "subtopics": [{
              "id": "4.1",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 1/50 Sec, F11, ISO100",
              "mapInfo": {
                baseWidth: 1440, baseHeight: 960,
                pins: [
                  {x: 470,    y: 715,  set: 1},
                  {x: 630,    y: 115,  set: 2},
                  {x: 800,    y: 95,   set: 2},
                  {x: 1100,   y: 180,  set: 2},
                  {x: 1150,   y: 280,  set: 2},
                  {x: 670,    y: 425,  set: 3},
                  {x: 720,    y: 455,  set: 3},
                  {x: 820,    y: 425,  set: 3},
                  {x: 290,    y: 820,  set: 4},
                  {x: 610,    y: 865,  set: 4},
                  {x: 1200,   y: 875,  set: 4}
                ],
                effects: [
                  {
                    effect: false, backdrop: false, description: {
                      content: 'B&amp;W sunsets is a challenge, but keeping focused on key elements can bring surprising success! We demonstrated this at a historical WWI site along a Turkish coast line.',
                      position: {x: 580, y: 652}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'The key objective here was to capture the intensity of the sun and the rays piercing through the clouds. Here, we underexposed the image to allow the light rays to be aptly registered.',
                      position: {x: 136, y: 84}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Using a closer to perfect exposure would have caused the light rays and clouds to burn out in patches of white and losing its definitive lines.',
                      position: {x: 554, y: 578}
                    }
                  },
                  {
                    effect: '4.1-spot-4.png', backdrop: false, description: {
                      content: 'The overall under exposure suppressed details on the coast, which would have otherwise distracted our attention. In its darkness, it has instead become a natural frame for the image.',
                      position: {x: 590, y: 470}
                    }
                  }
                ]
              }
            }, {
              "id": "4.2",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 12mm, 1/40 Sec, F11, ISO400",
              "mapInfo": {
                baseWidth: 1440, baseHeight: 960,
                pins: [
                  {x: 670,    y: 560,  set: 1},
                  {x: 1200,   y: 560,  set: 1},
                  {x: 160,    y: 540,  set: 1},
                  {x: 522,    y: 432,  set: 2},
                  {x: 450,    y: 870,  set: 3},
                  {x: 350,    y: 870,  set: 3},
                  {x: 250,    y: 870,  set: 3},
                  {x: 100,    y: 380,  set: 4},
                  {x: 35,     y: 600,  set: 4},
                  {x: 925,    y: 380,  set: 4},
                  {x: 910,    y: 780,  set: 5}
                ],
                effects: [
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Still at the same bay, we move up closer to the coast to discover remnants of a WWI boat and attempted to make use of it.',
                      position: {x: 520, y: 370},
                      width: 490/1440*100+'%'
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Now, the sun has just touched the horizon and the intensity of its rays is still strong adding drama to the clouds in the sky.  We kept to a slight under exposure to retain the mood.',
                      position: {x: 608, y: 480},
                      width: 250
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'The water movement in the foreground appeared semi frozen at this shutter speed, which introduces a choppy and messy feeling.',
                      position: {x: 158, y: 512}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Here, we added a ND filter, which was able to even out the brightness of the sky and the foreground.',
                      position: {x: 998, y: 324}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Critically, the overall composition and light led to the creation of much grey in the image and caused the lack of a spread of contrasty black and whites.  Other than the drama of the cloud and the sun, there is a sense of flatness and lifelessness.',
                      position: {x: 992, y: 604}
                    }
                  }
                ]
              }
            }, {
              "id": "4.3",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 6 Sec, F16, ISO50",
              "mapInfo": {
                baseWidth: 1440, baseHeight: 960,
                pins: [
                  {x: 1100, y: 70,  set: 1},
                  {x: 200,  y: 530, set: 2},
                  {x: 400,  y: 730, set: 2},
                  {x: 620,  y: 760, set: 2},
                  {x: 930,  y: 800, set: 2},
                  {x: 550,  y: 670, set: 3},
                  {x: 700,  y: 680, set: 3},
                  {x: 950,  y: 670, set: 3},
                  {x: 1200, y: 790, set: 3},
                  {x: 110,  y: 695, set: 4},
                  {x: 80,   y: 770, set: 4},
                  {x: 120,  y: 850, set: 4},
                  {x: 670,  y: 800, set: 5},
                  {x: 1060, y: 800, set: 5},
                  {x: 430,  y: 480, set: 6}
                ],
                effects: [
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Here, we turned away from the sun. Although we lost the drama of the sun and clouds, but we ended up with a more even lighting.',
                      position: {x: 620, y: 66}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'By taking on a lower perspective, we went close down to the stones in the foreground, which led us through the image.',
                      position: {x: 1000, y: 730}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'To smoothen the wave movements on the foreground, we added a ND filter to slow the wave movements.',
                      position: {x: 588, y: 754}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'The polariser has allowed us to see pools of water, which was otherwise not apparent, added interests to the image.',
                      position: {x: 298, y: 676}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Because we came down so close to the stones, we are now able to capture the glossy wetness off the stones\' surfaces.',
                      position: {x: 668, y: 480}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Although the rusting frame is forming some sort of leading line, it seems to have merged into the rocks and it is now not well defined as a leading line should.',
                      position: {x: 560, y: 488}
                    }
                  }
                ]
              }
            }, {
              "id": "4.4",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 20 Sec, F16, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 1100, y: 70,  set: 1},
                  {x: 1200, y: 850, set: 1},
                  {x: 870,  y: 830, set: 1},
                  {x: 700,  y: 750, set: 1},
                  {x: 550,  y: 750, set: 2},
                  {x: 302,  y: 894, set: 3},
                  {x: 800,  y: 460, set: 4}
                ],
                effects:[
                  {
                    effect: false, backdrop: false, description: {
                      content: 'This image is an improvement over the previous.  We kept away from the head on sunlight for a more even lighting.  The slowed shutter also created smooth water movement.',
                      position: {x: 388, y: 330}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'We elevated the shot a little to allow the boat wreckage to raise up, more significantly.  This allowed the wreckage to create better leading lines.',
                      position: {x: 710, y: 640}
                    }
                  },
                  {
                    effect: '4.4-spot-3.png', backdrop: false, description: {
                      content: 'The details of the rocks across the foreground which added interests to the image are still retained.',
                      position: {x: 466, y: 638}
                    }
                  },
                  {
                    effect: false, backdrop: false, description: {
                      content: 'Overall, there are various elements that express a good range of tone like deep and glossy black, to mid and light tones across the image.',
                      position: {x: 868, y:430}
                    }
                  },
                ],
              }
            }]
          }, {
            "id": "shooting-with-filters",
            "title": "Shooting With Filters",
            "description": "",
            "subtopics": [{
              "id": "5.1",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 1/10 Sec, F22, ISO200"
            }, {
              "id": "5.2",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 0.6 Sec, F22, ISO200"
            }, {
              "id": "5.3",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 0.8 Sec, F22, ISO200"
            }, {
              "id": "5.4",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 3.2 Sec, F22, ISO200",
              "featured": true
            }]
          }, {
            "id": "recommendations",
            "title": "Lens Recommendations",
            "description": "",
            "subtopics": [{
              "id": "lens",
              "categories": [{
                "name": "A Mount CZ",
                "lenses": [{
                  "id": "sal-1635z"
                }, {
                  "id": "sal-1680z"
                }, {
                  "id": "sal-2470z"
                }, {
                  "id": "sal-24f20z"
                }]
              }, {
                "name": "A Mount G Lens",
                "lenses": [{
                  "id": "sal-35f14g"
                }]
              }, {
                "name": "A Mount Fixed Focal Lens",
                "lenses": [{
                  "id": "sal-16f28"
                }, {
                  "id": "sal-20f28"
                }, {
                  "id": "sal-28f28"
                }]
              }, {
                "name": "A Mount Zoom Lens",
                "lenses": [{
                  "id": "sal-1118"
                }, {
                  "id": "sal-1650"
                }, {
                  "id": "sal-16105"
                }, {
                  "id": "sal-1855"
                }, {
                  "id": "sal-18200"
                }, {
                  "id": "sal-18250"
                }, {
                  "id": "sal-2875"
                }, {
                  "id": "sal-18135"
                }]
              }, {
                "name": "E Mount Lens",
                "lenses": [{
                  "id": "sel-1855"
                }, {
                  "id": "sel-18200"
                }, {
                  "id": "sel-18200le"
                }, {
                  "id": "sel-1018"
                }, {
                  "id": "sel-p1650"
                }, {
                  "id": "sel-16f28"
                }, {
                  "id": "sel-24f18z"
                }]
              }]
            }]
          }]
        };
        </script>

        @@include('../template/shooting-techniques-js.html')

        <script>
            shootTechnique = 'landscape'; 
        </script>
    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:shooting:landscape"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:shooting:landscape"; // Microsite Section
        s.hier5 = "microsite|aportal|shooting|landscape"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
