<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Low Light | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Low Light | Sony α Portal">
        <meta name="description" content="Shooting Techniques and lens recommendation for low light scenes">

        <meta property="og:title" content="Low Light | Sony α Portal">
        <meta property="og:description" content="Shooting Techniques and lens recommendation for low light scenes">
        <!--
        <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}"> -->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="shoot">

        @@include('../template/header-1.html')

        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper center">

                        <!-- Category -->
                        <div class="filter-category text-center">
                            <a href="shooting-techniques/landscape.html">
                                <div class="filter-btn landscape" data-category="landscape">
                                    <div class="icon text-center"></div>
                                    <p>Landscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/urbanscape.html">
                                <div class="filter-btn urbanscape" data-category="urbanscape">
                                    <div class="icon text-center"></div>
                                    <p>Urbanscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/portrait.html">
                                <div class="filter-btn portrait" data-category="portrait">
                                    <div class="icon text-center"></div>
                                    <p>Portrait</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/sports.html">
                                <div class="filter-btn sport" data-category="sport">
                                    <div class="icon text-center"></div>
                                    <p>Sports</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/macro.html">
                                <div class="filter-btn macro" data-category="macro">
                                    <div class="icon text-center"></div>
                                    <p>Macro</p>
                                </div>
                            </a>
                            <div class="filter-btn low-light active" data-category="low-light">
                                <div class="icon text-center"></div>
                                <p>Low Light</p>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>


                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->


        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <div class="filter-btn landscape" data-category="landscape">
                            <div class="icon text-center"></div>
                            <p>Landscape</p>
                        </div>
                        <div class="filter-btn urbanscape" data-category="urbanscape">
                            <div class="icon text-center"></div>
                            <p>Urbanscape</p>
                        </div>
                        <div class="filter-btn portrait" data-category="portrait">
                            <div class="icon text-center"></div>
                            <p>Portrait</p>
                        </div>
                        <div class="filter-btn sport" data-category="sport">
                            <div class="icon text-center"></div>
                            <p>Sports</p>
                        </div>
                        <div class="filter-btn macro" data-category="macro">
                            <div class="icon text-center"></div>
                            <p>Macro</p>
                        </div>
                        <div class="filter-btn low-light" data-category="low-light">
                            <div class="icon text-center"></div>
                            <p>Low Light</p>
                        </div>
                    </div>
                    <!-- Category -->

                </div>
            </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="shooting-container">
                <div id="shooting-viewer">
                    <div class="imageFrame"></div>
                    <div class="mapFrame">
                        <div class="positionWrapper">
                            <div class="mapElements"></div>
                            <!-- <div class="index-display">XXX</div> -->
                            <div class="best-shot"></div>
                            <div class="prev-subsection">

                            </div>
                            <div class="next-subsection">
                            </div>
                        </div>
                        <div class="next-frame"></div>
                    </div>
                </div>
                <br>
                <div id="shooting-control">
                    <div class="row">
                        <!-- <div class="prev-subsection"><span class="glyphicon glyphicon glyphicon-menu-left"></span></div>
                        <div class="next-subsection"><span class="glyphicon glyphicon glyphicon-menu-right"></span></div> -->
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 stepper-container">
                            <div class="row">
                                <ul class="stepper">
                                </ul>
                            </div>
                            <div class="row">
                                <div class="index-display">XXX</div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="meta">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="tech-wrapper col-sm-12">
                        <div class="clearfix"></div>
                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->
                    </div>
                </div>

                <!-- models -->
                <div id="lens-recommendations">
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                                <!-- Title -->
                                <div class="row models-row">
                                    <div class="col-sm-12">
                                        <p>Lens Recommendations for Low Light:</p>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- cameras : lenses -->
                                <div class="row models-row">
                                    <div class="col-sm-11" id="slider">
                                        <div class="models-slider">
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2870">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2870.jpg" width="220" height="152" alt="SEL2870" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2870</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel55f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel55f18z.jpg" width="220" height="152" alt="SEL55F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL55F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel28f20">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel28f20.jpg" width="220" height="152" alt="SEL28F20" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL28F20</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f14z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f14z.jpg" width="220" height="152" alt="SEL35F14Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F14Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel16f28">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel16f28.jpg" width="220" height="152" alt="SEL16F28" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL16F28</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1670z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1670z.jpg" width="220" height="152" alt="SEL1670Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1670Z</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- cameras : lenses -->
                        </div>
                    </div>
                </div>
                <!-- models -->
            </div>
        </section>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('../template/footer.html')

        <script>
        var technique = {
          "id"        : "low-light",
          "title"        : "Low Light",
          "thumbnail"    : "thumbnail.jpg",
          "topics"    : [
          {
            "id"            : "exposure",
            "title"            : "Exposure",
            "description"    : "",
            "subtopics"        : [
            {
              "id"        : "1.1",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 <br />@ 15mm, 20 Sec, F20, ISO200",
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 700,    y: 100,  set: 1},
                  {x: 280,    y: 620,  set: 2},
                  {x: 650,    y: 500,  set: 2},
                  {x: 1030,   y: 650,  set: 3}
                ],
                effects:[
                  {effect: false, backdrop: false, description: {
                      content: 'Night skyline shot on auto exposure mode are typically overexposed.  Many photographers tend to override with a shorter exposure. This opening shot follow this attempt, which came in under exposed.',
                      position: {x: 850, y:100}
                    }},
                  {effect: false, backdrop: false, description: {
                      content: 'These structures are not well lit and we are unable to see their shapes.',
                      position: {x: 350, y:600}
                    }},
                  {effect: false, backdrop: false, description: {
                      content: 'This Is about the only element that is well exposed in this image.',
                      position: {x: 868, y:430}
                    }}
                ]


              }
            },
            {
              "id"        : "1.2",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 <br />@ 15mm, 4 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 700,    y: 100,  set: 1},
                  {x: 1000,   y: 200,  set: 2},
                  {x: 120,    y: 650,  set: 3},
                  {x: 410,    y: 650,  set: 4}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'We then increased the ISO to capture significantly more light.',
                    position: {x: 750, y:410}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The increase in exposure coincided with the light show, which added more light into the sky, resulting in the over exposure of the sky.',
                    position: {x: 1020, y:150}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The increased exposure now captured details of people on the bridge, adding clutter to the image.',
                    position: {x: 120, y:430}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The bridge is now illuminated revealing its shape and form, which has become a great leading line in this composition.',
                    position: {x: 500, y:750}
                  }}]
              }
            },
            {
              "id"        : "1.3",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 <br />@ 15mm, 1 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 700,    y: 100,  set: 1},
                  {x: 1000,   y: 200,  set: 2},
                  {x: 50,     y: 450,  set: 3},
                  {x: 120,    y: 650,  set: 4}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'We brought the exposure down significantly, to yield optimal exposure results. Most structures are reasonably well lit.',
                    position: {x: 750, y:200}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'Without the light from the lightshow, this exposure seems to have rendered the sky rather dark.',
                    position: {x: 868, y:300}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'With no light on the bridge, it looks lifeless, and it doesn\'t work well as a leading line anymore.',
                    position: {x: 50, y:350}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'Even more people have stopped on the bridge adding a mess to the composition.',
                    position: {x: 100, y:430}
                  }}]
              }


            },
            {
              "id"        : "1.4",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 <br />@ 15mm, 1 Sec, F5.6, ISO800",
              "featured"  : true,
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 700,    y: 100,  set: 1},
                  {x: 620,    y: 470,  set: 2},
                  {x: 200,    y: 550,  set: 3},
                  {x: 1070,   y: 580,  set: 4}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'We kept the exposure as it was in the previous exposure and waited for the return of the light show to provide the light for the sky.',
                    position: {x: 750, y:70}
                  }},
                {effect: '1.4-spot-2.png', backdrop: false, description: {
                    content: 'This building has taken on some additional lighting to look more evenly illuminated.',
                    position: {x: 700, y:430}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The empty bridge, which is now completely lit has served as a nice leading line without the crowd.',
                    position: {x: 100, y:330}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'This building is well lit, and it creates a good balance to the overall composition.',
                    position: {x: 868, y:430}
                  }}]
              }
            }
            ]
          },
          {
            "id"            : "stars",
            "title"            : "Stars",
            "description"    : "",
            "subtopics"        : [
            {
              "id"        : "2.1",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 16mm, 366 Sec, F4, ISO200",
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 700,    y: 100,  set: 1},
                  {x: 600,    y: 300,  set: 2},
                  {x: 1000,   y: 680,  set: 3},
                  {x: 830,    y: 660,  set: 3},
                  {x: 640,    y: 700,  set: 4}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'Night time skies with stars are a favourite low light subject with amateurs. But there is no fixed formula to getting it right.  We kept to ISO 200 and f4 and started experimenting shooting at different shutter speeds.',
                    position: {x: 868, y:100}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'At 366 seconds, we created simple and nice short stars trails across the sky still lit with some ambient light, which creates an interesting look.',
                    position: {x: 868, y:430}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'Over a long exposure, the city lights illuminated the sky and the snow capped mountain too.',
                    position: {x: 868, y:500}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The long exposure did however cause the city lights to become over exposed and burnt out here. It pays then to move away from city light and find a clean landscape to shoot the stars.',
                    position: {x: 700, y:430}
                  }}]
              }
            },
            {
              "id"        : "2.2",
              "settings"    : "A77 <br /> 16-35mm F2.8 <br />@ 16mm, 30 Sec, F5.6, ISO400",
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 700,    y: 100,  set: 1},
                  {x: 1250,   y: 250,  set: 2},
                  {x: 900,    y: 750,  set: 3}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'This was shot on a clean landscape far from any towns, so there wasn\'t any city lights.  However, this shot was taken too early.',
                    position: {x: 830, y:100}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'There are a good selection of stars, but they could not be well captured, as the exposure time was too short.',
                    position: {x: 1000, y:430}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'There is still a large amount of ambient light at this moment, so any attempt to prolong shutter duration would have caused severe over exposure here.',
                    position: {x: 868, y:600}
                  }}]
              }
            },
            {
              "id"        : "2.3",
              "settings"    : "A77 <br /> 16-35mm F2.8 <br />@ 16mm, 25 Sec, F4, ISO1600",
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 900,   y: 200,  set: 1},
                  {x: 900,   y: 850,  set: 2},
                  {x: 100,   y: 920,  set: 3},
                  {x: 1350,  y: 870,  set: 4}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'We have now a lot less ambient light.  While at the same time, as the sky darkens, more stars came into view.',
                    position: {x: 950, y:250}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The light in the sky now looks quite interesting, as the last bit of sunlight added an orange tinge and the clouds have become hanging shadows.',
                    position: {x: 868, y:600}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'We reframed the photo to give even more emphasis to the sky away from the land that has darkened.',
                    position: {x: 100, y:650}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'There is still some residual light on the horizon from a nearby town.',
                    position: {x: 1000, y:700}
                  }}]
              }


            },
            {
              "id"        : "2.4",
              "settings"    : "A77 <br /> 16-35mm F2.8 <br />@ 16mm, 1903 Sec, F5.6, ISO400",
              "featured"  : true,
              "mapInfo": {
                baseWidth:1440, baseHeight:960,
                pins:[
                  {x: 300,   y: 900,  set: 1},
                  {x: 200,   y: 350,  set: 2},
                  {x: 1300,  y: 700,  set: 3},
                  {x: 700,   y: 250,  set: 4}
                ],
                effects:[
                {effect: false, backdrop: false, description: {
                    content: 'The camera is pointed away from any towns or cities, so now the sky has become as clean as a background as possible for the star trails.',
                    position: {x: 250, y:650}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'The star trails are well captured.  We gave a full 1903 seconds for the camera to record it.',
                    position: {x: 250, y:430}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'At the start of the exposure, what was left of the ambient light was recorded.  This added colour to the image before complete darkness progressively took over. The result is an interesting background of the sky with 2 tones.',
                    position: {x: 980, y:430}
                  }},
                {effect: false, backdrop: false, description: {
                    content: 'Given the duration of the exposure, we could record good movement of many individual stars on their trail.',
                    position: {x: 868, y:430}
                  }}]
              }
            }
            ]
          },
          {
            "id"            : "car-lights",
            "title"            : "Car Lights",
            "description"    : "",
            "subtopics"        : [
            {
              "id"        : "3.1",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 20mm, 1/30 Sec, F2.8, ISO1600"
            },
            {
              "id"        : "3.2",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 20mm, 0.3 Sec, F2.8, ISO50"
            },
            {
              "id"        : "3.3",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 20mm, 15 Sec, F22, ISO50"


            },
            {
              "id"        : "3.4",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 20mm, 15 Sec, F22, ISO50",
              "featured"  : true
            }
            ]
          },
          {
            "id"            : "camera-shake",
            "title"            : "Camera Shake",
            "description"    : "",
            "subtopics"        : [
            {
              "id"        : "4.1",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 28mm, 1 Sec, F22, ISO100"
            },
            {
              "id"        : "4.2",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 28mm, 1 Sec, F22, ISO100"
            },
            {
              "id"        : "4.3",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 28mm, 1 Sec, F22, ISO100"


            },
            {
              "id"        : "4.4",
              "settings"    : "A77 <br /> 16-50mm F2.8 <br />@ 28mm, 1 Sec, F22, ISO100",
              "featured"  : true
            }
            ]
          },
          {
            "id"            : "using-flash",
            "title"            : "Using Flash",
            "description"    : "",
            "subtopics"        : [
            {
              "id"        : "5.1",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 <br />@ 11mm, 8 Sec, F16, ISO100"
            },
            {
              "id"        : "5.2",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 <br />@ 11mm, 4 Sec, F16, ISO100"
            },
            {
              "id"        : "5.3",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM Flash <br />@ 11mm, 30 Sec, F16, ISO200"


            },
            {
              "id"        : "5.4",
              "settings"    : "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM Flash <br />@ 11mm, 66 Sec, F16, ISO200",
              "featured"  : true
            }
            ]
          },
          {
            "id"            : "recommendations",
            "title"            : "Lens Recommendations",
            "description"    : "",
            "subtopics"        : [
            {
              "id"        : "lens",
              "categories"    : [
              {
                "name" : "A Mount CZ",
                "lenses" : [
                {
                  "id" : "sal-1635z"
                },
                {
                  "id" : "sal-2470z"
                },
                {
                  "id" : "sal-24f20z"
                },
                {
                  "id" : "sal-85f14z"
                },
                {
                  "id" : "sal-135f18z"
                }
                ]
              },
              {
                "name" : "A Mount G Lens",
                "lenses" : [
                {
                  "id" : "sal-70200g"
                },
                {
                  "id" : "sal-35f14g"
                },
                {
                  "id" : "sal-300f28g"
                },
                {
                  "id" : "sal-300f28g2"
                }
                ]
              },
              {
                "name" : "A Mount Fixed Focal Lens",
                "lenses" : [
                {
                  "id" : "sal-16f28"
                },
                {
                  "id" : "sal-20f28"
                },
                {
                  "id" : "sal-28f28"
                },
                {
                  "id" : "sal-35f18"
                },
                {
                  "id" : "sal-50f14"
                },
                {
                  "id" : "sal-50f18"
                },
                {
                  "id" : "sal-85f28"
                }
                ]
              },
              {
                "name" : "A Mount Zoom Lens",
                "lenses" : [
                {
                  "id" : "sal-1650"
                },
                {
                  "id" : "sal-2875"
                }
                ]
              },
              {
                "name" : "E Mount Lens",
                "lenses" : [
                {
                  "id" : "sel-16f28"
                },
                {
                  "id" : "sel-50f18"
                },
                {
                  "id" : "sel-35f18"
                },
                {
                  "id" : "sel-24f18z"
                }
                ]
              }
              ]
            }
            ]
          }
          ]
        };
        </script>

        @@include('../template/shooting-techniques-js.html')

        <script>
            shootTechnique = 'lowlight'; 
        </script>
    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:shooting:lowlight"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:shooting:lowlight"; // Microsite Section
        s.hier5 = "microsite|aportal|shooting|lowlight"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
