<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Macro | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Macro | Sony α Portal">
        <meta name="description" content="Shooting Techniques and lens recommendation for Macro and close up">

        <meta property="og:title" content="Macro | Sony α Portal">
        <meta property="og:description" content="Shooting Techniques and lens recommendation for Macro and close up">
        <!--
        <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}"> -->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="shoot">

        @@include('../template/header-1.html')

        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper center">

                        <!-- Category -->
                        <div class="filter-category text-center">
                            <a href="shooting-techniques/landscape.html">
                                <div class="filter-btn landscape" data-category="landscape">
                                    <div class="icon text-center"></div>
                                    <p>Landscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/urbanscape.html">
                                <div class="filter-btn urbanscape" data-category="urbanscape">
                                    <div class="icon text-center"></div>
                                    <p>Urbanscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/portrait.html">
                                <div class="filter-btn portrait" data-category="portrait">
                                    <div class="icon text-center"></div>
                                    <p>Portrait</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/sports.html">
                                <div class="filter-btn sport" data-category="sport">
                                    <div class="icon text-center"></div>
                                    <p>Sports</p>
                                </div>
                            </a>
                                <div class="filter-btn macro active" data-category="macro">
                                    <div class="icon text-center"></div>
                                    <p>Macro</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/low-light.html">
                                <div class="filter-btn low-light" data-category="low-light">
                                    <div class="icon text-center"></div>
                                    <p>Low Light</p>
                                </div>
                            </a>
                        </div>
                        <!-- Category -->

                    </div>


                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->



        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <div class="filter-btn landscape" data-category="landscape">
                            <div class="icon text-center"></div>
                            <p>Landscape</p>
                        </div>
                        <div class="filter-btn urbanscape" data-category="urbanscape">
                            <div class="icon text-center"></div>
                            <p>Urbanscape</p>
                        </div>
                        <div class="filter-btn portrait" data-category="portrait">
                            <div class="icon text-center"></div>
                            <p>Portrait</p>
                        </div>
                        <div class="filter-btn sport" data-category="sport">
                            <div class="icon text-center"></div>
                            <p>Sports</p>
                        </div>
                        <div class="filter-btn macro" data-category="macro">
                            <div class="icon text-center"></div>
                            <p>Macro</p>
                        </div>
                        <div class="filter-btn low-light" data-category="low-light">
                            <div class="icon text-center"></div>
                            <p>Low Light</p>
                        </div>
                    </div>
                    <!-- Category -->

                </div>
            </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="shooting-container">
                <div id="shooting-viewer">
                    <div class="imageFrame"></div>
                    <div class="mapFrame">
                        <div class="positionWrapper">
                            <div class="mapElements"></div>
                            <!-- <div class="index-display">XXX</div> -->
                            <div class="best-shot"></div>
                            <div class="prev-subsection">

                            </div>
                            <div class="next-subsection">
                            </div>
                        </div>
                        <div class="next-frame"></div>
                    </div>
                </div>
                <br>
                <div id="shooting-control">
                    <div class="row">
                        <!-- <div class="prev-subsection"><span class="glyphicon glyphicon glyphicon-menu-left"></span></div>
                        <div class="next-subsection"><span class="glyphicon glyphicon glyphicon-menu-right"></span></div> -->
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 stepper-container">
                            <div class="row">
                                <ul class="stepper">
                                </ul>
                            </div>
                            <div class="row">
                                <div class="index-display">XXX</div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="meta">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="tech-wrapper col-sm-12">
                        <div class="clearfix"></div>
                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->
                    </div>
                </div>

                <!-- models -->
                <div id="lens-recommendations">
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                                <!-- Title -->
                                <div class="row models-row">
                                    <div class="col-sm-12">
                                        <p>Lens Recommendations for Macro:</p>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- cameras : lenses -->
                                <div class="row models-row">
                                    <div class="col-sm-11" id="slider">
                                        <div class="models-slider">
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel90m28g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel90m28g.jpg" width="220" height="152" alt="SEL90M28G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL90M28G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200le">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200le.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200LE</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18200.jpg" width="220" height="152" alt="SELP18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24f18z.jpg" width="220" height="152" alt="SEL24F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel30m35">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel30m35.jpg" width="220" height="152" alt="SEL30M35" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL30M35</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f18">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f18.jpg" width="220" height="152" alt="SEL35F18" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F18</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- cameras : lenses -->
                        </div>
                    </div>
                </div>
                <!-- models -->
            </div>
        </section>

        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('../template/footer.html')

        <script>
        var technique = {
          "id": "macro",
          "title": "Macro",
          "thumbnail": "thumbnail.jpg",
          "topics": [{
            "id": "looking-for-subjects-to-shoot",
            "title": "Looking for subjects to shoot",
            "description": "",
            "subtopics": [{
              "id": "1.1",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@ 100mm, 1/80 Sec, F4.5, ISO1600",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 620,
                  y: 550,
                  set: 1
                }, {
                  x: 530,
                  y: 400,
                  set: 2
                }, {
                  x: 700,
                  y: 450,
                  set: 3
                }, {
                  x: 1000,
                  y: 150,
                  set: 3
                }, {
                  x: 1400,
                  y: 40,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Macro is about getting up close to your subjects and looking for perspectives that are not commonly seen by the human eye. Insects with colours and patterns are great subjects.',
                    position: {
                      x: 700,
                      y: 630
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Getting in nice and close is important.  You want to be able to capture the perspectives that the naked eye had no chance of seeing.',
                    position: {
                      x: 250,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Good insect subjects offer bright patterns and colours.  If there is a colour contrast, all the better.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'When you have repeated patterns, shallow Depth of Field can be very useful . Don\'t be afraid to cut out part of the image or leave it out of focused.',
                    position: {
                      x: 1150,
                      y: 230
                    }
                  }
                }]
              }
            }, {
              "id": "1.2",
              "settings": "A77 <br /> DT16-50mm F2.8 <br />@ 50mm, 1/25 Sec, F11, ISO100",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 100,
                  y: 100,
                  set: 1
                }, {
                  x: 500,
                  y: 200,
                  set: 2
                }, {
                  x: 490,
                  y: 400,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Single blossoms are strong macro subjects even if they are simple and plain, as long as you apply simple photo basics.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Simple petals can offer shades of highlights and shadows, look for subjects with such details.',
                    position: {
                      x: 470,
                      y: 630
                    }
                  }
                }]
              }
            }, {
              "id": "1.3",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/125 Sec, f4, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 460,
                  y: 280,
                  set: 1
                }, {
                  x: 400,
                  y: 750,
                  set: 1
                }, {
                  x: 670,
                  y: 1100,
                  set: 1
                }, {
                  x: 50,
                  y: 50,
                  set: 2
                }, {
                  x: 50,
                  y: 1400,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Plants with strong patterns can make visually strong images.',
                    position: {
                      x: 480,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'All you need is to learn to locate and isolate the pattern. More often than not, you don\'t always have to include the whole plant to have an interesting image.',
                    position: {
                      x: 200,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "1.4",
              "settings": "A77 <br /> DT DT16-50mm F2.8 lens <br />@ 50mm, 1/25 sec, f11, 400 ISO",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 460,
                  y: 200,
                  set: 1
                }, {
                  x: 460,
                  y: 400,
                  set: 1
                }, {
                  x: 700,
                  y: 100,
                  set: 2
                }, {
                  x: 600,
                  y: 650,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Flowers are always a favourite for Macro shooting.  Look for flowers with contrasting colours that could make interesting composition. Just like the yellow against the red that you see here.',
                    position: {
                      x: 500,
                      y: 340
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By capitalising on the colour composition of red petals and yellow stigma, we made a bold attempt to frame up just half of the flower, and a shallow depth of field to blur out the yellow stigma.',
                    position: {
                      x: 650,
                      y: 240
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This particular flower also offers an added feature on its petals that look like cut offs, they add an interesting texture.',
                    position: {
                      x: 650,
                      y: 530
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "pattern-and-colour",
            "title": "Pattern & Colour",
            "description": "",
            "subtopics": [{
              "id": "2.1",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/125 Sec, F4, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 550,
                  y: 370,
                  set: 1
                }, {
                  x: 450,
                  y: 500,
                  set: 1
                }, {
                  x: 80,
                  y: 900,
                  set: 2
                }, {
                  x: 500,
                  y: 950,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'On this first shot, we capitalised on strong colour contrasts of pink and green to set the tone of this image.  This creates immediate isolation and draws attention to the flower.',
                    position: {
                      x: 490,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To capitalise on the shape of the flower, we used a very limited depth of field to capture the image.  Leaving only a very small portion of it in focus.',
                    position: {
                      x: 80,
                      y: 530
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Instead of framing up the flower straight and square, we framed it up at a tilted angle to portray a more interesting perspective leading into increasing loss of depth of field towards the background.',
                    position: {
                      x: 390,
                      y: 1000
                    }
                  }
                }]
              }
            }, {
              "id": "2.2",
              "settings": "A77 <br /> 100mm Macro F2.8  <br />@100mm, 1/100 Sec, F4, ISO320",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 654,
                  y: 762,
                  set: 1
                }, {
                  x: 400,
                  y: 400,
                  set: 2
                }, {
                  x: 700,
                  y: 350,
                  set: 2
                }, {
                  x: 450,
                  y: 650,
                  set: 3
                }, {
                  x: 40,
                  y: 740,
                  set: 4
                }],
                effects: [{
                  effect: '2.2-spot-1.png',
                  backdrop: false,
                  description: {
                    content: 'In our second attempt, we again framed half of the flower capturing an arc from the top to bottom corners.',
                    position: {
                      x: 630,
                      y: 430
                    },
                    width: 150
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The clean and uncluttered background  helps to keep the viewer\'s attention on the flower.',
                    position: {
                      x: 450,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'There is an increased depth of field in this photo and thus the striking patterns of the petals are presented more clearly.',
                    position: {
                      x: 480,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The limited depth of field did leave some foreground blurs and this is a source of distraction.',
                    position: {
                      x: 200,
                      y: 630
                    }
                  }
                }]
              }
            }, {
              "id": "2.3",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/160 Sec, F3.5, ISO400",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 50,
                  y: 450,
                  set: 1
                }, {
                  x: 600,
                  y: 620,
                  set: 2
                }, {
                  x: 1000,
                  y: 550,
                  set: 2
                }, {
                  x: 1300,
                  y: 590,
                  set: 2
                }, {
                  x: 650,
                  y: 450,
                  set: 3
                }, {
                  x: 1350,
                  y: 150,
                  set: 3
                }, {
                  x: 770,
                  y: 470,
                  set: 4
                }, {
                  x: 1400,
                  y: 250,
                  set: 4
                }, {
                  x: 40,
                  y: 40,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In this attempt, we did away with the background and centered in more closely on the flower.',
                    position: {
                      x: 80,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The Pattern radiating out from the centre gives a nice symmetrical feel to the image, when presented within a single colour scheme.',
                    position: {
                      x: 868,
                      y: 380
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The Intense colour in the centre graduates nicely to the outside of the flower, thus drawing the viewer\'s attention to the centre of the flower framed slightly off centered.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Depth of field has graduated to the out of focus areas along with the fading colour intensity. The depth of field also created softening on the edges.',
                    position: {
                      x: 900,
                      y: 350
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Annoying small dark area.',
                    position: {
                      x: 50,
                      y: 50
                    }
                  }
                }]
              }
            }, {
              "id": "2.4",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@ 100mm, 1/200 Sec, F2.8, ISO320",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 50,
                  y: 50,
                  set: 1
                }, {
                  x: 1400,
                  y: 920,
                  set: 1
                }, {
                  x: 500,
                  y: 250,
                  set: 2
                }, {
                  x: 1000,
                  y: 100,
                  set: 2
                }, {
                  x: 500,
                  y: 500,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By pulling back a little from the flower, we can see the full shape of the flower, it\'s colour and pattern.',
                    position: {
                      x: 1000,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Now that the background is again included, we are careful that the flower is separated from the background with a good level of DOF.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Instead of using a deep depth of field to get all the petals clear, we chose a shallow depth of field that was able to graduate the sharpness to create better drama leading out to a totally defocused background.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "details",
            "title": "Details",
            "description": "",
            "subtopics": [{
              "id": "3.1",
              "settings": "SonyA77 <br /> 100mm Macro F2.8 <br />@100mm, 1/100 Sec, F5.6, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 500,
                  y: 450,
                  set: 1
                }, {
                  x: 100,
                  y: 350,
                  set: 2
                }, {
                  x: 180,
                  y: 700,
                  set: 2
                }, {
                  x: 250,
                  y: 1300,
                  set: 2
                }, {
                  x: 880,
                  y: 150,
                  set: 3
                }, {
                  x: 650,
                  y: 1100,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In our first attempt to showcase details using water droplets on grass, we  captured an interesting pattern created by the wet grass, but this image lacks a clear point of focus.',
                    position: {
                      x: 550,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Semi-defused light, gives the subject just enough detail and contrast. The light is ideal as it does not  create too much contrasts and there are no harsh highlights and shadows.',
                    position: {
                      x: 120,
                      y: 850
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'A limited DOF, gives a clear view of what is being photographed, but also provides enough separation between foreground and background.',
                    position: {
                      x: 575,
                      y: 812
                    }
                  }
                }]
              }
            }, {
              "id": "3.2",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@ 100mm, 1/200 Sec, F4, ISO200",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 520,
                  y: 250,
                  set: 1
                }, {
                  x: 400,
                  y: 450,
                  set: 1
                }, {
                  x: 250,
                  y: 1000,
                  set: 1
                }, {
                  x: 300,
                  y: 1200,
                  set: 2
                }, {
                  x: 500,
                  y: 400,
                  set: 3
                }, {
                  x: 580,
                  y: 680,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In this attempt we narrowed down to a single leaf with a few droplets, which is helpful in narrowing attention.',
                    position: {
                      x: 300,
                      y: 600
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This leaf is angling away from the camera, which naturally provided leading lines to draw attention to the droplet positioned 1/3rd way up on the vertical frame.',
                    position: {
                      x: 300,
                      y: 960
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The narrow plain of focus used here is too small, as it has gone beyond a creatively narrow Depth Of Field. The end result is a more distracting portrayal than a creative one.',
                    position: {
                      x: 570,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The bright out of focus blob in the foreground proves to be particularly annoying when viewed. It pays to avoid such elements when photographing your intended element of detail.',
                    position: {
                      x: 490,
                      y: 760
                    }
                  }
                }]
              }
            }, {
              "id": "3.3",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/200 Sec, F4, ISO200 ",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 480,
                  y: 400,
                  set: 1
                }, {
                  x: 400,
                  y: 650,
                  set: 1
                }, {
                  x: 450,
                  y: 620,
                  set: 2
                }, {
                  x: 550,
                  y: 550,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In our attempt to better focus on the single big droplet, the camera was moved to try to capture the leaf as upright as possible.  This allowed a larger length of the leaf to be kept in focus.',
                    position: {
                      x: 450,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In order to keep the image 100% sharp, we kept the focus on the reflection in the water.',
                    position: {
                      x: 458,
                      y: 430
                    }
                  }
                }, {
                  effect: '3.3-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'If DOF has to be sacrificed, it is always best to sacrifice backgrounds first, then foreground, then the subject. Following this rule, we have lost a very small amount of focus on the leading edge of the leaf to introduce graduated loss of sharpness.',
                    position: {
                      x: 600,
                      y: 430
                    },
                    width: 150
                  }
                }]
              }
            }, {
              "id": "3.4",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/60 Sec, F7.1, ISO400 ",
              "featured": true,
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 300,
                  y: 780,
                  set: 1
                }, {
                  x: 500,
                  y: 480,
                  set: 2
                }, {
                  x: 500,
                  y: 1000,
                  set: 3
                }, {
                  x: 600,
                  y: 200,
                  set: 4
                }, {
                  x: 570,
                  y: 1280,
                  set: 5
                }],
                effects: [{
                  effect: '3.4-spot-1.png',
                  backdrop: false,
                  description: {
                    content: 'This leaf is almost vertical.  And since it runs parallel with the camera, we could keep a larger area of the leaf in focus.',
                    position: {
                      x: 550,
                      y: 500
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The main focus of attention is still this big droplet.  We ensured that it is in pin sharp focus and have placed it 1/3rd way up on the vertical frame.',
                    position: {
                      x: 545,
                      y: 500
                    }
                  }
                }, {
                  effect: '3.4-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'The presence of smaller droplets of varying degrees of sharpness help to lead attention to the main element of detail above.',
                    position: {
                      x: 540,
                      y: 850
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'A careful selection of background ensures that we do not include messy elements. This clean background helps to provide the contrast needed to showcase details of our intended subject in the foreground.',
                    position: {
                      x: 580,
                      y: 280
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'These background droplets may be still visible, but they are small and out of focused and were not visually strong enough to rob the viewer\'s attention.',
                    position: {
                      x: 560,
                      y: 1000
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "depth-of-field",
            "title": "Depth of Field",
            "description": "",
            "subtopics": [{
              "id": "4.1",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/800 Sec, F2.8, ISO400",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 320,
                  y: 500,
                  set: 1
                }, {
                  x: 1000,
                  y: 300,
                  set: 1
                }, {
                  x: 650,
                  y: 450,
                  set: 2
                }, {
                  x: 820,
                  y: 750,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'One of the most compelling executions in Macro Photography is to render shallow depth of field to the image captured.  The idea is to keep the subject in sharp focus while we throw the background into a blur using a large aperture.',
                    position: {
                      x: 900,
                      y: 350
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In this attempt, we managed to separate the subject from the background with a shallow depth of field with a f2.8 aperture. Yet, there is enough context in background to complete the image.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Extremely limited DOF is useful to blur out backgrounds.  But look out for elements in the foreground, like this bud which is also thrown out of focus - a distracting element to the viewer.',
                    position: {
                      x: 868,
                      y: 520
                    }
                  }
                }]
              }
            }, {
              "id": "4.2",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/60 Sec, F11, ISO400",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 700,
                  y: 100,
                  set: 1
                }, {
                  x: 100,
                  y: 700,
                  set: 2
                }, {
                  x: 1000,
                  y: 300,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Here, the aperture is narrowed down to f11 and the depth of field improves significantly.  The clarity extends further into the image, past the focal point on our intended subject.',
                    position: {
                      x: 800,
                      y: 100
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The Depth of field created is usually apportioned as 1/3 in the front of and 2/3 behind of the focused subject. See how the increase of depth of field is greater behind the focal point than in front of it?',
                    position: {
                      x: 120,
                      y: 540
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'From a composition point of view, the background is now becoming more recognisable. This is good for context, but not so good if you want to isolate the subject.',
                    position: {
                      x: 940,
                      y: 380
                    }
                  }
                }]
              }
            }, {
              "id": "4.3",
              "settings": "A77 <br /> 100mm Macro F2.8 <br />@100mm, 1/200 Sec, F5.6, ISO400",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 700,
                  y: 100,
                  set: 1
                }, {
                  x: 740,
                  y: 690,
                  set: 2
                }, {
                  x: 200,
                  y: 400,
                  set: 3
                }, {
                  x: 600,
                  y: 450,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We made 2 changes here to optimise the effects of depth of field in both the foreground and the background.',
                    position: {
                      x: 750,
                      y: 100
                    }
                  }
                }, {
                  effect: '4.3-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'We first refocused the lens to a point in between the front bud, and the purple pine cone immediately behind it.  This is so as to widen the depth of field enough so as to capture both the green cone and purple cone with clarity.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Next, we set an aperture of f5.6.  At this aperture, the background is still blurred sufficiently to create subject isolation.  But it rendered graduating depth of field.  You can practically see that cones further were indeed more blurred and those nearer are clearer.',
                    position: {
                      x: 220,
                      y: 430
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "lighting",
            "title": "Lighting",
            "description": "",
            "subtopics": [{
              "id": "5.1",
              "settings": "A77 <br /> 70-200mm F2.8 / 1.4X Teleconverter <br />@ 210mm, 1/320 Sec, F8, ISO200",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 400,
                  y: 250,
                  set: 1
                }, {
                  x: 550,
                  y: 550,
                  set: 1
                }, {
                  x: 380,
                  y: 320,
                  set: 2
                }, {
                  x: 420,
                  y: 800,
                  set: 2
                }, {
                  x: 570,
                  y: 500,
                  set: 3
                }, {
                  x: 630,
                  y: 400,
                  set: 4
                }, {
                  x: 800,
                  y: 200,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We shot this flower with the sunlight coming on from the left hand side.  This side illumination was particularly great at defining the flower\'s shape, form and texture.',
                    position: {
                      x: 630,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'While side lighting does not provide even illumination, it has produced compelling highlights on the left of the stem and petals, giving it a 3D feel.',
                    position: {
                      x: 550,
                      y: 330
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The sunlight shone through the semi translucent petals to reveal the shape of the petals. Proof again of profit from side illumination.',
                    position: {
                      x: 630,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Whilst the lighting here was rather good, there were 2 flaws: The flower still has not blossomed and there is a white patch in the background.',
                    position: {
                      x: 680,
                      y: 350
                    }
                  }
                }]
              }
            }, {
              "id": "5.2",
              "settings": "A77 <br /> 70-200mm F2.8 / 1.4X Teleconverter <br />@ 230mm, 1/250 Sec, F8, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 400,
                  y: 200,
                  set: 1
                }, {
                  x: 500,
                  y: 500,
                  set: 2
                }, {
                  x: 800,
                  y: 100,
                  set: 3
                }, {
                  x: 530,
                  y: 700,
                  set: 4
                }, {
                  x: 650,
                  y: 300,
                  set: 4
                }, {
                  x: 500,
                  y: 1000,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This next flower we chose had a more complete blossom and had the sun positioned behind it.',
                    position: {
                      x: 700,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The back light created a good definition of the flower.',
                    position: {
                      x: 700,
                      y: 530
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The background here is almost completely back, which provides great separation between the flower and background.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The core of the flower casted shadows that was imposed on the semi translucent outer petals, creating a compelling combination of highlights and shadows.',
                    position: {
                      x: 660,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'However, the flower\'s own shadow gave the front of the flower a rather flat look.',
                    position: {
                      x: 550,
                      y: 950
                    }
                  }
                }]
              }
            }, {
              "id": "5.3",
              "settings": "A77 <br /> 70-200mm F2.8 / 1.4X Teleconverter <br />@ 250mm, 1/160 Sec, F8, ISO400",
              "featured": true,
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 400,
                  y: 250,
                  set: 1
                }, {
                  x: 800,
                  y: 100,
                  set: 2
                }, {
                  x: 700,
                  y: 300,
                  set: 2
                }, {
                  x: 600,
                  y: 600,
                  set: 2
                }, {
                  x: 500,
                  y: 1000,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This still the same flower in the same back light position as the previous shot.',
                    position: {
                      x: 820,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We kept the composition and direction of the sunlight as they were before to keep the definition and contrast.',
                    position: {
                      x: 760,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'A reflector was added to push additional light onto the front of the flower, lifting the shadows especially the stem. This resulted in a more lively and vibrant image.',
                    position: {
                      x: 600,
                      y: 850
                    }
                  }
                }]
              }
            }, {
              "id": "5.4",
              "settings": "A77 <br /> 70-200mm F2.8 / 1.4X Teleconverter <br />@ 230mm, 1/125 Sec, F7.1, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 350,
                  y: 400,
                  set: 1
                }, {
                  x: 400,
                  y: 250,
                  set: 2
                }, {
                  x: 900,
                  y: 450,
                  set: 3
                }, {
                  x: 350,
                  y: 700,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By now, the sun has just set. There was no more direct light from the sun and the vibrancy created by the warm light is lost.',
                    position: {
                      x: 770,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The quality of the light has also given the subject a small tinge of blue.',
                    position: {
                      x: 770,
                      y: 330
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The background has become more recognisable, as there is equal amounts of light now falling on the flower and the background.',
                    position: {
                      x: 750,
                      y: 550
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The quality of the light has also given the subject a small tinge of blue.',
                    position: {
                      x: 400,
                      y: 650
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "recommendations",
            "title": "Lens Recommendations",
            "description": "",
            "subtopics": [{
              "id": "lens",
              "categories": [{
                "name": "A Mount CZ",
                "lenses": [{
                  "id": "sal-85f14z"
                }, {
                  "id": "sal-135f18z"
                }]
              }, {
                "name": "A Mount G Lens",
                "lenses": [{
                  "id": "sal-70200g"
                }, {
                  "id": "sal-70300g"
                }]
              }, {
                "name": "A Mount Fixed Focal Lens",
                "lenses": [{
                  "id": "sal-135f28"
                }, {
                  "id": "sal-30m28"
                }, {
                  "id": "sal-50m28"
                }, {
                  "id": "sal-100m28"
                }]
              }, {
                "name": "E Mount Lens",
                "lenses": [{
                  "id": "sel-30m35"
                }]
              }]
            }]
          }]
        };


        </script>

        @@include('../template/shooting-techniques-js.html')

        <script>
            shootTechnique = 'macro'; 
        </script>
    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:shooting:macro"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:shooting:macro"; // Microsite Section
        s.hier5 = "microsite|aportal|shooting|macro"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
