<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portaits | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Portraits | Sony α Portal">
        <meta name="description" content="Shooting Techniques and lens recommendation for landscapes">
        <meta name="keywords" content="portraits" />

        <meta property="og:title" content="Portaits | Sony α Portal">
        <meta property="og:description" content="Shooting Techniques and lens recommendation for Portraits">
        <!--
        <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}"> -->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="shoot">

        @@include('../template/header-1.html')

        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper center">

                        <!-- Category -->
                        <div class="filter-category text-center">
                            <a href="shooting-techniques/landscape.html">
                                <div class="filter-btn landscape" data-category="landscape">
                                    <div class="icon text-center"></div>
                                    <p>Landscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/urbanscape.html">
                                <div class="filter-btn urbanscape" data-category="urbanscape">
                                    <div class="icon text-center"></div>
                                    <p>Urbanscape</p>
                                </div>
                            </a>
                            <div class="filter-btn portrait active" data-category="portrait">
                                <div class="icon text-center"></div>
                                <p>Portrait</p>
                            </div>
                            <a href="shooting-techniques/sports.html">
                                <div class="filter-btn sport" data-category="sport">
                                    <div class="icon text-center"></div>
                                    <p>Sports</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/macro.html">
                                <div class="filter-btn macro" data-category="macro">
                                    <div class="icon text-center"></div>
                                    <p>Macro</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/low-light.html">
                                <div class="filter-btn low-light" data-category="low-light">
                                    <div class="icon text-center"></div>
                                    <p>Low Light</p>
                                </div>
                            </a>
                        </div>
                        <!-- Category -->

                    </div>


                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->



        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <div class="filter-btn landscape" data-category="landscape">
                            <div class="icon text-center"></div>
                            <p>Landscape</p>
                        </div>
                        <div class="filter-btn urbanscape" data-category="urbanscape">
                            <div class="icon text-center"></div>
                            <p>Urbanscape</p>
                        </div>
                        <div class="filter-btn portrait" data-category="portrait">
                            <div class="icon text-center"></div>
                            <p>Portrait</p>
                        </div>
                        <div class="filter-btn sport" data-category="sport">
                            <div class="icon text-center"></div>
                            <p>Sports</p>
                        </div>
                        <div class="filter-btn macro" data-category="macro">
                            <div class="icon text-center"></div>
                            <p>Macro</p>
                        </div>
                        <div class="filter-btn low-light" data-category="low-light">
                            <div class="icon text-center"></div>
                            <p>Low Light</p>
                        </div>
                    </div>
                    <!-- Category -->

                </div>
            </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="shooting-container">
                <div id="shooting-viewer">
                    <div class="imageFrame"></div>
                    <div class="mapFrame">
                        <div class="positionWrapper">
                            <div class="mapElements"></div>
                            <!-- <div class="index-display">XXX</div> -->
                            <div class="best-shot"></div>
                            <div class="prev-subsection">

                            </div>
                            <div class="next-subsection">
                            </div>
                        </div>
                        <div class="next-frame"></div>
                    </div>
                </div>
                <br>
                <div id="shooting-control">
                    <div class="row">
                        <!-- <div class="prev-subsection"><span class="glyphicon glyphicon glyphicon-menu-left"></span></div>
                        <div class="next-subsection"><span class="glyphicon glyphicon glyphicon-menu-right"></span></div> -->
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 stepper-container">
                            <div class="row">
                                <ul class="stepper">
                                </ul>
                            </div>
                            <div class="row">
                                <div class="index-display">XXX</div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="meta">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="tech-wrapper col-sm-12">
                        <div class="clearfix"></div>
                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->
                    </div>
                </div>

                <!-- models -->
                <div id="lens-recommendations">
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                                <!-- Title -->
                                <div class="row models-row">
                                    <div class="col-sm-12">
                                        <p>Lens Recommendations for Portrait:</p>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- cameras : lenses -->
                                <div class="row models-row">
                                    <div class="col-sm-11" id="slider">
                                        <div class="models-slider">
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2870">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2870.jpg" width="220" height="152" alt="SEL2870" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2870</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2470z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2470z.jpg" width="220" height="152" alt="SEL2470Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2470Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel55f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel55f18z.jpg" width="220" height="152" alt="SEL55F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL55F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel70200g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel70200g.jpg" width="220" height="152" alt="SEL70200G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL70200G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24240">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="SEL24240" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24240</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp28135g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp28135g.jpg" width="220" height="152" alt="SELP28135G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP28135G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f28z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f28z.jpg" width="220" height="152" alt="SEL35F28Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F28Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel50f18">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel50f18.jpg" width="220" height="152" alt="SEL50F18" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL50F18</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel90m28g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel90m28g.jpg" width="220" height="152" alt="SEL90M28G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL90M28G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp1650">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp1650.jpg" width="220" height="152" alt="SELP1650" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP1650</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1670z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1670z.jpg" width="220" height="152" alt="SEL1670Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1670Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1855">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1855.jpg" width="220" height="152" alt="SEL1855" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1855</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18105g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18105g.jpg" width="220" height="152" alt="SELP18105G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18105G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f18">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f18.jpg" width="220" height="152" alt="SEL35F18" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F18</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- cameras : lenses -->
                        </div>
                    </div>
                </div>
                <!-- models -->
            </div>
        </section>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('../template/footer.html')

        <script>
        var technique = {
          "id": "portrait",
          "title": "Portrait",
          "thumbnail": "thumbnail.jpg",
          "topics": [{
            "id": "composition",
            "title": "Composition",
            "description": "",
            "subtopics": [{
              "id": "1.1",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 55mm, 1/125 Sec, F3.5, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 758,
                  y: 726,
                  set: 1
                }, {
                  x: 990,
                  y: 420,
                  set: 2
                }, {
                  x: 992,
                  y: 636,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This shot is typical of how most of us would position the subject - square and straight in the face of the camera. This makes the shot rather contrived, static and boring.',
                    position: {
                      x: 826,
                      y: 112
                    },
                    yPosition: 'bottom',
                    width: 220
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'While, we attempted to use the top arc of the bridge as a leading line, it is placed rather &ldquo,high&rdquo, into the image and cuts into the neck of the subject thus creating a distraction.',
                    position: {
                      x: 1036,
                      y: 480
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The position of the subject in relation to the sunlight has yielded rather compelling lighting over the shoulders, but this merit is not sufficient to rescue the image.',
                    position: {
                      x: 972,
                      y: 720
                    },
                    width: 250
                  }
                }]
              }
            }, {
              "id": "1.2",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 60mm, 1/200 Sec, F2.8, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 348,
                  y: 790,
                  set: 1
                }, {
                  x: 152,
                  y: 900,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We had the subject to step closer to the bridge and lean one arm over the arc of the bridge.  This stance relaxed the subject and gave her a good and natural posture.',
                    position: {
                      x: 606,
                      y: 100
                    },
                    yPosition: 'bottom',
                    width: 300
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The new composition here repositioned the &ldquo,start&rdquo, of the bridge’s leading line low in the frame, reducing the fight for viewer attention.',
                    position: {
                      x: 348,
                      y: 40
                    },
                    yPosition: 'bottom',
                    width: 240
                  }
                }]
              }
            }, {
              "id": "1.3",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 50mm, 1/200 Sec, F2.8, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1074,
                  y: 604,
                  set: 1
                }, {
                  x: 508,
                  y: 262,
                  set: 2
                }, {
                  x: 1156,
                  y: 228,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We continued to work on the posture of the subject. This new posture gives the subject an even livelier stance.',
                    position: {
                      x: 1152,
                      y: 316
                    },
                    yPosition: 'bottom'
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We recomposed the image, and repositioned the bridge.  However, instead of helping, the leading line now leads the viewer’s attention into the depth of the image and away from the subject.',
                    position: {
                      x: 1012,
                      y: 138
                    },
                    xPosition: 'right',
                    width: 220
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'From this shooting angle, we have included a rather messy background, which despite a large aperture setting, still appeared rather apparent.',
                    position: {
                      x: 404,
                      y: 394
                    },
                    xPosition: 'right',
                    width: 230
                  }
                }]
              }
            }, {
              "id": "1.4",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 55mm, 1/125 Sec, F3.5, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 486,
                  y: 786,
                  set: 1
                }, {
                  x: 200,
                  y: 678,
                  set: 2
                }, {
                  x: 866,
                  y: 188,
                  set: 3
                }, {
                  x: 940,
                  y: 388,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Still working on the railing of the bridge, we have now successfully used the leading line to lead straight into the subject.',
                    position: {
                      x: 540,
                      y: 92
                    },
                    yPosition: 'bottom'
                  }
                }, {
                  effect: '1.4-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'The posture of the subject helped reinforced the leading line and provided a triangle within the image.',
                    position: {
                      x: 138,
                      y: 764
                    },
                    width: 220
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The tilt of the head along with the light over the shoulders gave the subject\'s face a rather compelling look.',
                    position: {
                      x: 958,
                      y: 658
                    },
                    yPosition: 'bottom'
                  }
                }]
              }
            }]
          }, {
            "id": "depth-of-field",
            "title": "Depth of Field",
            "description": "",
            "subtopics": [{
              "id": "2.1",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 42mm, 1/40 Sec, F18, ISO400",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 866,
                  y: 714,
                  set: 1
                }, {
                  x: 1058,
                  y: 138,
                  set: 2
                }, {
                  x: 1230,
                  y: 366,
                  set: 2
                }, {
                  x: 526,
                  y: 142,
                  set: 3
                }, {
                  x: 338,
                  y: 428,
                  set: 3
                }, {
                  x: 668,
                  y: 440,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The first shot is typical of a point and shoot photo that was produced with little thinking.  It has a messy background for a portrait.',
                    position: {
                      x: 940,
                      y: 118
                    },
                    yPosition: 'bottom',
                    width: 220
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The pedestrain walking &ldquo,into&rdquo, the subject and the orange balloon are particularly distracting.',
                    position: {
                      x: 1136,
                      y: 166
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Whilst the left side of the image is more uniform, billboards, flags and the building details are all fighting for attention.',
                    position: {
                      x: 720,
                      y: 94
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'A small aperture was used resulting in a deep depth of field and have thus sharpened the details in the background.',
                    position: {
                      x: 738,
                      y: 546
                    }
                  }
                }, ]
              }
            }, {
              "id": "2.2",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 45mm, 1/800 Sec, F2.8, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 474,
                  y: 368,
                  set: 1
                }, {
                  x: 1136,
                  y: 288,
                  set: 1
                }, {
                  x: 200,
                  y: 442,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Here despite having used a large aperture to blur the background, the short focal length still renders the out of focus elements rather recognisable.',
                    position: {
                      x: 684,
                      y: 520
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The person standing here is particularly distracting.',
                    position: {
                      x: 268,
                      y: 404
                    },
                    width: 170
                  }
                }]
              }
            }, {
              "id": "2.3",
              "settings": "A77 <br /> 70-200mm F2.8 <br />@ 180mm, 1/640 Sec, F2.8, ISO200",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 798,
                  y: 312,
                  set: 1
                }, {
                  x: 807,
                  y: 531,
                  set: 2
                }, {
                  x: 867,
                  y: 1161,
                  set: 3
                }, {
                  x: 279,
                  y: 138,
                  set: 4
                }, {
                  x: 129,
                  y: 633,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'While keeping to a large aperture, we changed to a longer focal length to help blur out and de-clutter the background.',
                    position: {
                      x: 195,
                      y: 621
                    },
                    xPosition: 'right'
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The vertical framing has also helped to cut out most of the background elements responsible for the clutter in previous shots.',
                    position: {
                      x: 205,
                      y: 621
                    },
                    xPosition: 'right',
                    width: 170
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The poles lined up behind the subject creating a series of repeated patterns.',
                    position: {
                      x: 189,
                      y: 468
                    },
                    xPosition: 'right',
                    yPosition: 'bottom',
                    width: 185
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Despite a shallow depth of field, the focused white elements have turned into big blobs of light encroaching onto the subject.',
                    position: {
                      x: 282,
                      y: 495
                    }
                  }
                }]
              }
            }, {
              "id": "2.4",
              "settings": "A77 <br /> 70-200mm F2.8 <br />@ 200mm, 1/640 Sec, F2.8, ISO200",
              "featured": true,
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 783,
                  y: 273,
                  set: 1
                }, {
                  x: 108,
                  y: 213,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We increased the focal length again to create a tighter crop and decreased depth of field even more.  This effectively blurred out the background elements.',
                    position: {
                      x: 195,
                      y: 621
                    },
                    xPosition: 'right'
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We carefully composed the shot to place the white elements in the background away from the subject.',
                    position: {
                      x: 195,
                      y: 621
                    },
                    xPosition: 'right'
                  }
                }]
              }
            }]
          }, {
            "id": "fill-flash",
            "title": "Fill Flash",
            "description": "",
            "subtopics": [{
              "id": "3.1",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 42mm, 1/1500 Sec, F2.8, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 236,
                  y: 450,
                  set: 1
                }, {
                  x: 962,
                  y: 484,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The subject was positioned in the shade to prevent her from squinting. Whilst squinting was successfully averted, however the disparity of light in the shadows and in the background presented challenges for exposure.',
                    position: {
                      x: 382,
                      y: 518
                    },
                    width: 310
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The metering of this image was taken off the background, which the camera exposed it rather well.  But in this exposure setting, the subject is severely under exposed.',
                    position: {
                      x: 728,
                      y: 552
                    },
                    width: 250
                  }
                }]
              }
            }, {
              "id": "3.2",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 50mm, 1/125 Sec, F2.8, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 554,
                  y: 280,
                  set: 1
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Here the photographer has the exposure taken off the subject instead. The subject is now well exposed, but at this exposure, the background has become severely overexposed.',
                    position: {
                      x: 622,
                      y: 94
                    },
                    width: 290
                  }
                }]
              }
            }, {
              "id": "3.3",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 50mm, 1/125 Sec, F5, ISO100, Flash (Auto Exp)",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 500,
                  y: 232,
                  set: 1
                }, {
                  x: 252,
                  y: 398,
                  set: 2
                }, {
                  x: 992,
                  y: 518,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To try and even up the exposure difference, we have exposed for the bright background, and then activated the flash to fill in on the shadow area.',
                    position: {
                      x: 568,
                      y: 120
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Unfortunately in many bright day fill in flash situations, the camera can over expose the flash light at varying degrees.',
                    position: {
                      x: 540,
                      y: 414
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The background image is now optimally exposed.  We would continue to take the exposure off the background and correct the fill in flash.',
                    position: {
                      x: 1036,
                      y: 396
                    }
                  }
                }]
              }
            }, {
              "id": "3.4",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 50mm, 1/125 Sec, F5, ISO100, Flash (exp -2)",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 252,
                  y: 406,
                  set: 1
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Here we stepped down the flash by 2 stops to reduce its intensity.  The subject now appears well exposed and is evenly exposed along with the background.',
                    position: {
                      x: 540,
                      y: 414
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "props",
            "title": "Props",
            "description": "",
            "subtopics": [{
              "id": "4.1",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 50mm, 1/400 Sec, F4, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 646,
                  y: 708,
                  set: 1
                }, {
                  x: 1134,
                  y: 308,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This first shot demonstrates most photographers’ natural inclination to have the subject sit on the scooter. Such a pose is actually rather boring, and the composition is very straight on and uninspiring.',
                    position: {
                      x: 772,
                      y: 612
                    },
                    width: 210
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Though the glass building behind created quite a neutral background, it doesn\'t add anything to the image.',
                    position: {
                      x: 192,
                      y: 426
                    },
                    xPosition: 'right',
                    width: 180
                  }
                }]
              }
            }, {
              "id": "4.2",
              "settings": "A77 <br />  24-70mm F2.8 <br />@ 50mm, 1/400 Sec, F5.6, ISO200",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 309,
                  y: 660,
                  set: 1
                }, {
                  x: 291,
                  y: 978,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Here, the photographer has actually posed the subject.  She is now at an angle to the camera, successfully breaking away from a straight pose.',
                    position: {
                      x: 171,
                      y: 813
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'However the image still does not make very good use of the scooter, which sports a rather interesting retro styling.',
                    position: {
                      x: 387,
                      y: 855
                    },
                    width: 190
                  }
                }]
              }
            }, {
              "id": "4.3",
              "settings": "A77 <br />  16-35mm F2.8 <br />@ 26mm, 1/100 Sec, F8, ISO400"
            }, {
              "id": "4.4",
              "settings": "A77 <br />  16-35mm F2.8 <br />@ 16mm, 1/320 Sec, F4, ISO100",
              "featured": true
            }]
          }, {
            "id": "window-light",
            "title": "Window Light",
            "description": "",
            "subtopics": [{
              "id": "5.1",
              "settings": "A77 <br />  24-70mm F2.8 <br />@ 42mm, 1/320 Sec, F2.8, ISO200"
            }, {
              "id": "5.2",
              "settings": "A77 <br />  24-70mm F2.8 <br />@ 26mm, 1/160 Sec, F2.8, ISO200"
            }, {
              "id": "5.3",
              "settings": "A77 <br />  24-70mm F2.8 <br />@ 28mm, 1/160 Sec, F2.8, ISO200"
            }, {
              "id": "5.4",
              "settings": "A77 <br />  24-70mm F2.8 <br />@ 50mm, 1/125 Sec, F2.8, ISO200",
              "featured": true
            }]
          }, {
            "id": "recommendations",
            "title": "Lens Recommendations",
            "description": "",
            "subtopics": [{
              "id": "lens",
              "categories": [{
                "name": "A Mount CZ",
                "lenses": [{
                  "id": "sal-1680z"
                }, {
                  "id": "sal-2470z"
                }, {
                  "id": "sal-85f14z"
                }, {
                  "id": "sal-135f18z"
                }]
              }, {
                "name": "A Mount G Lens",
                "lenses": [{
                  "id": "sal-70200g"
                }]
              }, {
                "name": "A Mount Fixed Focal Lens",
                "lenses": [{
                  "id": "sal-50f14"
                }, {
                  "id": "sal-50f18"
                }, {
                  "id": "sal-85f28"
                }, {
                  "id": "sal-135f28"
                }]
              }, {
                "name": "A Mount Zoom Lens",
                "lenses": [{
                  "id": "sal-1650"
                }, {
                  "id": "sal-16105"
                }, {
                  "id": "sal-1855"
                }, {
                  "id": "sal-18200"
                }, {
                  "id": "sal-18250"
                }, {
                  "id": "sal-2875"
                }, {
                  "id": "sal-55200"
                }, {
                  "id": "sal-75300"
                }, {
                  "id": "sal-18135"
                }]
              }, {
                "name": "E Mount Lens",
                "lenses": [{
                  "id": "sel-1855"
                }, {
                  "id": "sel-18200"
                }, {
                  "id": "sel-18200le"
                }, {
                  "id": "sel-55210"
                }, {
                  "id": "sel-p1650"
                }, {
                  "id": "sel-50f18"
                }, {
                  "id": "sel-18200"
                }]
              }]
            }]
          }]
        };

        </script>

        @@include('../template/shooting-techniques-js.html')

        <script>
            shootTechnique = 'portrait'; 
        </script>
    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:shooting:portrait"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:shooting:portrait"; // Microsite Section
        s.hier5 = "microsite|aportal|shooting|portrait"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
