<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sports | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sports | Sony α Portal">
        <meta name="description" content="Shooting Techniques and lens recommendation for sports &amp; fast moving actions">
        <meta name="keywords" content="sports" />

        <meta property="og:title" content="Sports | Sony α Portal">
        <meta property="og:description" content="Shooting Techniques and lens recommendation for sports &amp; fast moving actions">
        <!--
        <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}"> -->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="shoot">

        @@include('../template/header-1.html')


        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper center">

                        <!-- Category -->
                        <div class="filter-category text-center">
                            <a href="shooting-techniques/landscape.html">
                                <div class="filter-btn landscape" data-category="landscape">
                                    <div class="icon text-center"></div>
                                    <p>Landscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/urbanscape.html">
                                <div class="filter-btn urbanscape" data-category="urbanscape">
                                    <div class="icon text-center"></div>
                                    <p>Urbanscape</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/portrait.html">
                                <div class="filter-btn portrait" data-category="portrait">
                                    <div class="icon text-center"></div>
                                    <p>Portrait</p>
                                </div>
                            </a>
                            <div class="filter-btn sport active" data-category="sport">
                                <div class="icon text-center"></div>
                                <p>Sports</p>
                            </div>
                            <a href="shooting-techniques/macro.html">
                                <div class="filter-btn macro" data-category="macro">
                                    <div class="icon text-center"></div>
                                    <p>Macro</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/low-light.html">
                                <div class="filter-btn low-light" data-category="low-light">
                                    <div class="icon text-center"></div>
                                    <p>Low Light</p>
                                </div>
                            </a>
                        </div>
                        <!-- Category -->

                    </div>


                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->



        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <div class="filter-btn landscape" data-category="landscape">
                            <div class="icon text-center"></div>
                            <p>Landscape</p>
                        </div>
                        <div class="filter-btn urbanscape " data-category="urbanscape">
                            <div class="icon text-center"></div>
                            <p>Urbanscape</p>
                        </div>
                        <div class="filter-btn portrait" data-category="portrait">
                            <div class="icon text-center"></div>
                            <p>Portrait</p>
                        </div>
                        <div class="filter-btn sport active" data-category="sport">
                            <div class="icon text-center"></div>
                            <p>Sports</p>
                        </div>
                        <div class="filter-btn macro" data-category="macro">
                            <div class="icon text-center"></div>
                            <p>Macro</p>
                        </div>
                        <div class="filter-btn low-light" data-category="low-light">
                            <div class="icon text-center"></div>
                            <p>Low Light</p>
                        </div>
                    </div>
                    <!-- Category -->

                </div>
            </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="shooting-container">
                <div id="shooting-viewer">
                    <div class="imageFrame"></div>
                    <div class="mapFrame">
                        <div class="positionWrapper">
                            <div class="mapElements"></div>
                            <!-- <div class="index-display">XXX</div> -->
                            <div class="best-shot"></div>
                            <div class="prev-subsection">

                            </div>
                            <div class="next-subsection">
                            </div>
                        </div>
                        <div class="next-frame"></div>
                    </div>
                </div>
                <br>
                <div id="shooting-control">
                    <div class="row">
                        <!-- <div class="prev-subsection"><span class="glyphicon glyphicon glyphicon-menu-left"></span></div>
                        <div class="next-subsection"><span class="glyphicon glyphicon glyphicon-menu-right"></span></div> -->
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 stepper-container">
                            <div class="row">
                                <ul class="stepper">
                                </ul>
                            </div>
                            <div class="row">
                                <div class="index-display">XXX</div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="meta">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="tech-wrapper col-sm-12">
                        <div class="clearfix"></div>
                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->
                    </div>
                </div>

                <!-- models -->
                <div id="lens-recommendations">
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                                <!-- Title -->
                                <div class="row models-row">
                                    <div class="col-sm-12">
                                        <p>Lens Recommendations for Sports:</p>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- cameras : lenses -->
                                <div class="row models-row">
                                    <div class="col-sm-11" id="slider">
                                        <div class="models-slider">
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel70200g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel70200g.jpg" width="220" height="152" alt="SEL70200G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL70200G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24240">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="SEL24240" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24240</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200le">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200le.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200LE</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18200.jpg" width="220" height="152" alt="SELP18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel55210">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel55210.jpg" width="220" height="152" alt="SEL55210" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL55210</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- cameras : lenses -->
                        </div>
                    </div>
                </div>
                <!-- models -->
            </div>
        </section>

        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('../template/footer.html')

        <script>
        var technique = {
          "id": "sports",
          "title": "Sports",
          "thumbnail": "thumbnail.jpg",
          "topics": [{
            "id": "capturing-action",
            "title": "Capturing Action",
            "description": "",
            "subtopics": [{
              "id": "1.1",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 13mm, 1/800 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 888,
                  y: 822,
                  set: 1
                }, {
                  x: 326,
                  y: 814,
                  set: 2
                }, {
                  x: 1042,
                  y: 298,
                  set: 3
                }, {
                  x: 728,
                  y: 342,
                  set: 4
                }],
                effects: [{
                  effect: '1.1-spot-1.png',
                  backdrop: false,
                  description: {
                    content: 'Using a wide angle lens for sports allows you to get close to the subject and create an interesting wide angle distorted perspective.',
                    position: {
                      x: 920,
                      y: 800
                    }
                  }
                }, {
                  effect: '1.1-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'We placed the subject to the right and gave the cyclist room to &ldquo,move forward into&rdquo,.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By using a fairly high shutter speed, details of the subject are frozen and retained.',
                    position: {
                      x: 400,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Although the image has no technical errors, it appears rather static because both the subject and the background appears frozen.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "1.2",
              "settings": "A77 <br /> 70-200mm F2.8 <br />@ 150mm, 1/1000 Sec, F5.6, ISO1600",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 450,
                  y: 147,
                  set: 1
                }, {
                  x: 507,
                  y: 276,
                  set: 1
                }, {
                  x: 474,
                  y: 552,
                  set: 2
                }, {
                  x: 570,
                  y: 399,
                  set: 3
                }, {
                  x: 549,
                  y: 864,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'With a longer focal length, the overall image is now more compressed, making it look closer than it is.  The lost of depth of field has started to blur out the background to draw attention to the subject.',
                    position: {
                      x: 650,
                      y: 430
                    },
                    width: 150
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'High shutter speed allows for the subject to be frozen.',
                    position: {
                      x: 400,
                      y: 590
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'A small amount of lean along with  cyclist\'s head position suggest the direction of movement.',
                    position: {
                      x: 100,
                      y: 340
                    },
                    width: 180
                  }
                }]
              }
            }, {
              "id": "1.3",
              "settings": "A77 <br />  11-18mm F4.5-5.6 <br />@ 11mm, 1/1000 Sec, F5.6, ISO1000",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 100,
                  y: 894,
                  set: 1
                }, {
                  x: 1340,
                  y: 894,
                  set: 1
                }, {
                  x: 576,
                  y: 640,
                  set: 2
                }, {
                  x: 1122,
                  y: 454,
                  set: 3
                }, {
                  x: 1312,
                  y: 510,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Using a Wide angle lens allowed us to get nice and close to the subject and created a dramatic low angle with exaggerated details, especially on the front of the cyclist.',
                    position: {
                      x: 1100,
                      y: 650
                    }
                  }
                }, {
                  effect: '1.3-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'Leading lines of the road and hills make for an interesting composition (All Yellow Lines)',
                    position: {
                      x: 550,
                      y: 450
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Subject is beginning to ride out of frame, which may not be considered ideal.',
                    position: {
                      x: 860,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "1.4",
              "settings": "A77 <br />  11-18mm F4.5-5.6 / HVL-F58AM Flash <br />@ 13mm , 1/50 Sec, F8, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 796,
                  y: 874,
                  set: 1
                }, {
                  x: 322,
                  y: 832,
                  set: 2
                }, {
                  x: 1360,
                  y: 290,
                  set: 3
                }, {
                  x: 850,
                  y: 242,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By keeping close to the subject, the cyclist occupies still a significant area of the frame giving it a fair amount of attention.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By framing the image off centre and to the right, we continue to give &ldquo,space&rdquo, for the cyclist to ride into the intended direction.',
                    position: {
                      x: 950,
                      y: 450
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To create a sense of movement, we have now chosen a slower shutter speed and panned along with the moving subject to create the background blur.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'As the sky had some overcast, we added a dash of flash to brighten up the colours on the cyclist.  Just to be careful, we used rear curtain sync to ensure that any blur from any movement was recorded behind the main image, and not in front.',
                    position: {
                      x: 550,
                      y: 430
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "panning",
            "title": "Panning",
            "description": "",
            "subtopics": [{
              "id": "2.1",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 70mm 1/15 Sec, F14, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 868,
                  y: 342,
                  set: 1
                }, {
                  x: 1206,
                  y: 168,
                  set: 2
                }, {
                  x: 320,
                  y: 36,
                  set: 3
                }, {
                  x: 222,
                  y: 734,
                  set: 4
                }, {
                  x: 528,
                  y: 256,
                  set: 4
                }, {
                  x: 1178,
                  y: 694,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Panning is a way of creating &ldquo,moving background&rdquo, to deliver a sense of speed. We got in position by squaring up at a right angle against the direction of the moving subject, set a slow shutter, track and capture the subject as it enters the frame.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'There is a good amount of blur in the background. The cyclist has plenty of forward room to move into.',
                    position: {
                      x: 608,
                      y: 230
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Bright area above and on the edge of the frame is distracting.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The Shutter speed is too slow here,  Not only is there too much blurred action of the cyclist, handshake blurs are recorded too.',
                    position: {
                      x: 508,
                      y: 630
                    }
                  }
                }]
              }
            }, {
              "id": "2.2",
              "settings": "A77 <br /> 70-200mm F2.8 <br />@ 120mm, 1/50 Sec, F2.8, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 590,
                  y: 202,
                  set: 1
                }, {
                  x: 968,
                  y: 572,
                  set: 2
                }, {
                  x: 244,
                  y: 608,
                  set: 3
                }, {
                  x: 538,
                  y: 714,
                  set: 4
                }, {
                  x: 1142,
                  y: 730,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By using a faster shutter speed, the sharpness of the subject is improved.',
                    position: {
                      x: 868,
                      y: 760
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To eliminate the handshake issue, a Monopod was used to eliminate the photographer\'s own vertical movement.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This photo appears to be shot a little too late, as the cyclist appears to be leaving the frame.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The fence post in the foreground has obscured our subject and together with the fence wire, the combination now creates a messy foreground.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "2.3",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 60mm 1/50 Sec, F8, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 706,
                  y: 170,
                  set: 1
                }, {
                  x: 258,
                  y: 284,
                  set: 2
                }, {
                  x: 1240,
                  y: 252,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'With good tracking, we captured the cyclist nice and sharp using faster shutter speed.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Shutter speed has been too fast for the subject\'s movement, and there is not that much background blur.',
                    position: {
                      x: 260,
                      y: 300
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The cyclist has plenty of room to move into the direction she is cycling to.',
                    position: {
                      x: 1000,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "2.4",
              "settings": "A77 <br /> 24-70mm F2.8 <br />@ 70mm 1/30 Sec, F10, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 664,
                  y: 180,
                  set: 1
                }, {
                  x: 1136,
                  y: 638,
                  set: 2
                }, {
                  x: 1384,
                  y: 900,
                  set: 3
                }, {
                  x: 114,
                  y: 774,
                  set: 4
                }, {
                  x: 640,
                  y: 844,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The cyclist is nice and sharp as an optimal shutter speed was used.  The background is blurred but not the subject.',
                    position: {
                      x: 868,
                      y: 630
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist has plenty of room to move into with the direction she is moving.',
                    position: {
                      x: 1008,
                      y: 430
                    }
                  }
                }, {
                  effect: '2.4-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'Angle helped create a leading line into the subject.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Slight downward angle gives bike a tilt, which added an illusion of downhill movement  leading to a more dynamic image.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "motion",
            "title": "Motion (Tracking)",
            "description": "",
            "subtopics": [{
              "id": "3.1",
              "settings": "A77 <br /> DT16-50mm F2.8 <br />@ 24mm, 1/15 Sec, F16, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 712,
                  y: 196,
                  set: 1
                }, {
                  x: 826,
                  y: 192,
                  set: 2
                }, {
                  x: 996,
                  y: 296,
                  set: 3
                }, {
                  x: 814,
                  y: 526,
                  set: 3
                }, {
                  x: 158,
                  y: 552,
                  set: 4
                }, {
                  x: 568,
                  y: 766,
                  set: 4
                }, {
                  x: 930,
                  y: 768,
                  set: 4
                }, {
                  x: 1384,
                  y: 644,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This is the first shot of a series of capturing motion while keeping the photographer in motion - shooting from a moving car!<br>As this shot was taken the tracking vehicle went over a small bump in the road, causing vertical movement created a ghosting effect.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'A small amount of lean plus cyclists head position suggest the direction of movement.',
                    position: {
                      x: 900,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Balance of sharpness of subject against the blurred background is almost perfect.',
                    position: {
                      x: 900,
                      y: 130
                    }
                  }
                }, {
                  effect: '3.1-leadinglines.png',
                  backdrop: false,
                  description: {
                    content: 'Leading lines of the road and road blur make for an interesting composition.',
                    position: {
                      x: 980,
                      y: 720
                    }
                  }
                }]
              }
            }, {
              "id": "3.2",
              "settings": "A77 <br /> DT16-50mm F2.8 <br />@ 24mm, 1/25 Sec, F13, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 426,
                  y: 414,
                  set: 1
                }, {
                  x: 472,
                  y: 652,
                  set: 1
                }, {
                  x: 798,
                  y: 136,
                  set: 2
                }, {
                  x: 1006,
                  y: 66,
                  set: 2
                }, {
                  x: 864,
                  y: 266,
                  set: 3
                }, {
                  x: 810,
                  y: 524,
                  set: 3
                }, {
                  x: 744,
                  y: 780,
                  set: 4
                }, {
                  x: 186,
                  y: 146,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'However too bright an exposure has created a very bright unappealing white sky in the background.',
                    position: {
                      x: 400,
                      y: 220
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist blends into the dark background of trees.',
                    position: {
                      x: 868,
                      y: 150
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist was just coasting down the road, so wasn\'t moving that fast. Leg position doesn\'t look as though they are in the middle of intense exercise.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist is also a little too far away from the photographer, and bears lesser impact in the image.',
                    position: {
                      x: 868,
                      y: 660
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The road from this direction offered more of a story about the journey of where the cyclist had come from.',
                    position: {
                      x: 300,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "3.3",
              "settings": "A77 <br /> DT16-50mm F2.8 <br />@ 50mm, 1/25 Sec, F13, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 510,
                  y: 170,
                  set: 1
                }, {
                  x: 758,
                  y: 130,
                  set: 1
                }, {
                  x: 794,
                  y: 202,
                  set: 2
                }, {
                  x: 834,
                  y: 294,
                  set: 3
                }, {
                  x: 858,
                  y: 512,
                  set: 3
                }, {
                  x: 390,
                  y: 690,
                  set: 4
                }, {
                  x: 1282,
                  y: 382,
                  set: 4
                }, {
                  x: 672,
                  y: 526,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist is nice and sharp with good amounts of background blur.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist is looking in the direction of movement.',
                    position: {
                      x: 450,
                      y: 220
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist has great body posture, and looks as though she is in the middle of a high speed turn.',
                    position: {
                      x: 868,
                      y: 230
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Good leading line created by the road blur.',
                    position: {
                      x: 900,
                      y: 670
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This is technically a great shot.  You can only fault it for being lacking from a story telling point if view. It does not seem to say where it is going to or coming from.',
                    position: {
                      x: 400,
                      y: 390
                    }
                  }
                }]
              }
            }, {
              "id": "3.4",
              "settings": "A77 <br /> DT16-50mm F2.8 / HVL-F58AM Flash <br />@ 50mm, 1/25 Sec, F13, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 878,
                pins: [{
                  x: 132,
                  y: 380,
                  set: 1
                }, {
                  x: 368,
                  y: 460,
                  set: 1
                }, {
                  x: 458,
                  y: 649,
                  set: 1
                }, {
                  x: 54,
                  y: 610,
                  set: 2
                }, {
                  x: 591,
                  y: 777,
                  set: 2
                }, {
                  x: 1326,
                  y: 789,
                  set: 2
                }, {
                  x: 261,
                  y: 90,
                  set: 3
                }, {
                  x: 660,
                  y: 210,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Road from this direction offered more of a story about the journey of where the cyclist had come from.',
                    position: {
                      x: 300,
                      y: 320
                    }
                  }
                }, {
                  effect: '3.4-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'Leading lines of the road and road blur make for an interesting composition.  All background blur helped to convey speed and movement aptly.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Interesting cloud formations in the background.',
                    position: {
                      x: 100,
                      y: 250
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Fill flash just brightens up the cyclist\'s face enough to add life to the image, and this helped separate her from the background.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "angles",
            "title": "Angles",
            "description": "",
            "subtopics": [{
              "id": "4.1",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM <br />@ 13mm, 1/1000 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 650,
                  y: 250,
                  set: 1
                }, {
                  x: 750,
                  y: 250,
                  set: 2
                }, {
                  x: 50,
                  y: 920,
                  set: 3
                }, {
                  x: 400,
                  y: 920,
                  set: 3
                }, {
                  x: 650,
                  y: 920,
                  set: 3
                }, {
                  x: 950,
                  y: 920,
                  set: 3
                }, {
                  x: 500,
                  y: 350,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Angles can lend an appealing perspective to shooting sports. We took a low angle shot against the sun to create an interesting appeal.',
                    position: {
                      x: 780,
                      y: 220
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The flare from the sun is over whelming in the shot, it is simply too bright, and it engulfs the area around the cyclist\'s head. The fill in flash was able to illuminate the subject\'s body.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: '4.1-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'Shadows created by the wheels in the foreground, actually make great leading lines.',
                    position: {
                      x: 868,
                      y: 600
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The shot appears to be taken too late, as the cyclist appears to past the photographer.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "4.2",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM  <br />@ 13mm, 1/1000 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 700,
                  y: 100,
                  set: 1
                }, {
                  x: 820,
                  y: 250,
                  set: 2
                }, {
                  x: 900,
                  y: 550,
                  set: 2
                }, {
                  x: 910,
                  y: 780,
                  set: 2
                }, {
                  x: 50,
                  y: 920,
                  set: 3
                }, {
                  x: 1390,
                  y: 920,
                  set: 3
                }, {
                  x: 700,
                  y: 370,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We continue to use a low angle to shot against the sun\'s flare to create a new composition. This time, the flash brightens up the cyclist\'s face enough to add life to the image.',
                    position: {
                      x: 350,
                      y: 200
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'From this angle, the position and stance of the cyclist had a very dynamic look and feel.',
                    position: {
                      x: 868,
                      y: 230
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The use of a wide angle lens allowed the photographer to get nice and close to the subject and create a dramatic low angle shot with some details distorted.',
                    position: {
                      x: 820,
                      y: 730
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The flare behind the arm is a little over whelming in this shot.',
                    position: {
                      x: 420,
                      y: 330
                    }
                  }
                }]
              }
            }, {
              "id": "4.3",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM  <br />@ 11mm, 1/2000 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 150,
                  y: 600,
                  set: 1
                }, {
                  x: 50,
                  y: 920,
                  set: 2
                }, {
                  x: 390,
                  y: 920,
                  set: 2
                }, {
                  x: 650,
                  y: 920,
                  set: 2
                }, {
                  x: 930,
                  y: 920,
                  set: 2
                }, {
                  x: 650,
                  y: 200,
                  set: 3
                }, {
                  x: 450,
                  y: 250,
                  set: 4
                }, {
                  x: 1200,
                  y: 400,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The low angle shoot combined with larger road gradient helped to create more interest to the  image.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: '4.3-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'From this angle, shadows were created by the wheels in the foreground to make great leading lines.',
                    position: {
                      x: 868,
                      y: 630
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Fill flash just brightens up the cyclist\'s face enough to add life to the image and separate the cyclist from the background.',
                    position: {
                      x: 668,
                      y: 350
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Sun has been hidden behind the cyclist, creating a more even exposure.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Nearby trees to help balance the composition.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }]
              }
            }, {
              "id": "4.4",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM  <br />@ 11mm, 1/1250 Sec, F5.6, ISO800",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 50,
                  y: 920,
                  set: 1
                }, {
                  x: 1390,
                  y: 920,
                  set: 1
                }, {
                  x: 200,
                  y: 350,
                  set: 2
                }, {
                  x: 1200,
                  y: 800,
                  set: 2
                }, {
                  x: 50,
                  y: 700,
                  set: 3
                }, {
                  x: 570,
                  y: 150,
                  set: 4
                }, {
                  x: 460,
                  y: 200,
                  set: 5
                }, {
                  x: 280,
                  y: 250,
                  set: 5
                }, {
                  x: 1300,
                  y: 200,
                  set: 6
                }, {
                  x: 1100,
                  y: 450,
                  set: 6
                }, {
                  x: 1100,
                  y: 600,
                  set: 6
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We moved a 3/4 frontal low angle shot position to capitalise on the curve of the road the cyclist left behind to tell a story.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: '4.4-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'The road and hills created leading lines in relation to the cyclist.',
                    position: {
                      x: 868,
                      y: 650
                    }
                  }
                }, {
                  effect: '4.4-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'White line marked on the road leads the viewer into the image.',
                    position: {
                      x: 50,
                      y: 600
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Fill flash just brightens up the cyclists face enough to add life to the image and separate the cyclist from the background.',
                    position: {
                      x: 530,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The blue sky as a background provides a good contrast for the cyclist in red.',
                    position: {
                      x: 868,
                      y: 230
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Trees help obscure the sun, allowing just the right amount of flare through.',
                    position: {
                      x: 900,
                      y: 280
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "light",
            "title": "Light",
            "description": "",
            "subtopics": [{
              "id": "5.1",
              "settings": "A77 <br /> 70-200mm F2.8 <br />@ 160mm, 1/1250 Sec, F8, ISO400",
              "mapInfo": {
                baseWidth: 960,
                baseHeight: 1440,
                pins: [{
                  x: 600,
                  y: 300,
                  set: 1
                }, {
                  x: 300,
                  y: 550,
                  set: 2
                }, {
                  x: 500,
                  y: 600,
                  set: 3
                }, {
                  x: 580,
                  y: 800,
                  set: 4
                }, {
                  x: 900,
                  y: 1000,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Light can convey a strong sense of energy or dynamism in sports photography.  Here, under exposure created a good is silhouette in this backlight condition.',
                    position: {
                      x: 488,
                      y: 330
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The flare over the shoulder of the cyclist adds dynamism to the image.',
                    position: {
                      x: 25,
                      y: 300
                    },
                    width: 150
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The back light renders our subject down to a simple shape with distinctive outlines.',
                    position: {
                      x: 550,
                      y: 230
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Moving subject, can be challenging, so several shots may be required.',
                    position: {
                      x: 580,
                      y: 430
                    },
                    width: 180
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Technically a great shot, but if there was any fault at all, it was rather static.',
                    position: {
                      x: 470,
                      y: 980
                    }
                  }
                }]
              }
            }, {
              "id": "5.2",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 <br />@ 11mm, 1/640 Sec, F5.6, ISO800",
              "mapInfo": {
              }
            }, {
              "id": "5.3",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM  <br />@ 12mm, 1/640 Sec, F5.6, ISO800",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 300,
                  y: 400,
                  set: 1
                }, {
                  x: 800,
                  y: 300,
                  set: 2
                }, {
                  x: 1400,
                  y: 400,
                  set: 3
                }, {
                  x: 1100,
                  y: 600,
                  set: 3
                }, {
                  x: 200,
                  y: 700,
                  set: 3
                }, {
                  x: 200,
                  y: 200,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We now try to create the silhouette exposures by including the sun within the image to increase the visual intensity.',
                    position: {
                      x: 350,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The light from the sun wraps around to the front of the subject illuminating some of the detail now making the cyclist feel under exposed, rather than a just a darkened shape with a sharp outline.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: '5.2-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'Angle on the road, (30 degree angle) creates a sense of depth within the image.',
                    position: {
                      x: 1100,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By using a wide angle lens, we created a more compelling stance and perspective of the cyclist.  There road behind the cyclist suggest the journey taken, while the road in front gives space for the moving subject to move into.',
                    position: {
                      x: 350,
                      y: 200
                    }
                  }
                }]
              }
            }, {
              "id": "5.4",
              "settings": "A77 <br /> 11-18mm F4.5-5.6 / HVL-F58AM <br />@ 12mm, 1/640 Sec, F5.6, ISO800",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1050,
                  y: 550,
                  set: 1
                }, {
                  x: 670,
                  y: 200,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The side on angled shot some how created a rather static image that seem to give an unconsidered feel to it.  There are no leading lines to suggest a journey or story.',
                    position: {
                      x: 1075,
                      y: 600
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The use of fill in  flash had successfully brightened up the cyclist enough to fill in the deep silhouette shadows.  This somehow created an exposure balance without sacrificing the flare of the sun.',
                    position: {
                      x: 780,
                      y: 200
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "recommendations",
            "title": "Lens Recommendations",
            "description": "",
            "subtopics": [{
              "id": "lens",
              "categories": [{
                "name": "A Mount CZ",
                "lenses": [{
                  "id": "sal-1635z"
                }, {
                  "id": "sal-1680z"
                }, {
                  "id": "sal-2470z"
                }]
              }, {
                "name": "A Mount G Lens",
                "lenses": [{
                  "id": "sal-70200g"
                }, {
                  "id": "sal-70300g"
                }, {
                  "id": "sal-70400g"
                }, {
                  "id": "sal-300f28g"
                }, {
                  "id": "sal-300f28g2"
                }, {
                  "id": "sal-500f40g"
                }]
              }, {
                "name": "A Mount Zoom Lens",
                "lenses": [{
                  "id": "sal-1118"
                }, {
                  "id": "sal-1650"
                }, {
                  "id": "sal-2875"
                }, {
                  "id": "sal-55200-2"
                }, {
                  "id": "sal-55300"
                }, {
                  "id": "sal-75300"
                }, {
                  "id": "sal-18135"
                }]
              }, {
                "name": "E Mount Lens",
                "lenses": [{
                  "id": "sel-18200"
                }, {
                  "id": "sel-18200le"
                }, {
                  "id": "sel-55210"
                }, {
                  "id": "sel-p1650"
                }, {
                  "id": "sel-18200"
                }]
              }]
            }]
          }]
        };
        </script>

        @@include('../template/shooting-techniques-js.html')

        <script>
            shootTechnique = 'sports'; 
        </script>
    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:shooting:sports"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:shooting:sports"; // Microsite Section
        s.hier5 = "microsite|aportal|shooting|sports"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
