<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Urbanscape | Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Urbanscape | Sony α Portal">
        <meta name="description" content="Shooting Techniques and lens recommendation for urbanscape">
        <meta name="keywords" content="urbanscape" />

        <meta property="og:title" content="Urbanscape | Sony α Portal">
        <meta property="og:description" content="Shooting Techniques and lens recommendation for urbanscape">
        <!--
        <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}"> -->
        <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body id="shoot">

        @@include('../template/header-1.html')

        <!-- SECONDARY NAV : DESKTOP : START -->
        <div class="container-fluid secondary-nav hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper center">

                        <!-- Category -->
                        <div class="filter-category text-center">
                            <a href="shooting-techniques/landscape.html">
                                <div class="filter-btn landscape" data-category="landscape">
                                    <div class="icon text-center"></div>
                                    <p>Landscape</p>
                                </div>
                            </a>
                            <div class="filter-btn urbanscape active" data-category="urbanscape">
                                <div class="icon text-center"></div>
                                <p>Urbanscape</p>
                            </div>
                            <a href="shooting-techniques/portrait.html">
                                <div class="filter-btn portrait" data-category="portrait">
                                    <div class="icon text-center"></div>
                                    <p>Portrait</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/sports.html">
                                <div class="filter-btn sport" data-category="sport">
                                    <div class="icon text-center"></div>
                                    <p>Sports</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/macro.html">
                                <div class="filter-btn macro" data-category="macro">
                                    <div class="icon text-center"></div>
                                    <p>Macro</p>
                                </div>
                            </a>
                            <a href="shooting-techniques/low-light.html">
                                <div class="filter-btn low-light" data-category="low-light">
                                    <div class="icon text-center"></div>
                                    <p>Low Light</p>
                                </div>
                            </a>
                        </div>
                        <!-- Category -->

                    </div>


                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP : END -->




        <!-- SECONDARY NAV : MOBILE : START -->
        <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-12">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <div class="filter-btn landscape" data-category="landscape">
                            <div class="icon text-center"></div>
                            <p>Landscape</p>
                        </div>
                        <div class="filter-btn urbanscape active" data-category="urbanscape">
                            <div class="icon text-center"></div>
                            <p>Urbanscape</p>
                        </div>
                        <div class="filter-btn portrait" data-category="portrait">
                            <div class="icon text-center"></div>
                            <p>Portrait</p>
                        </div>
                        <div class="filter-btn sport" data-category="sport">
                            <div class="icon text-center"></div>
                            <p>Sports</p>
                        </div>
                        <div class="filter-btn macro" data-category="macro">
                            <div class="icon text-center"></div>
                            <p>Macro</p>
                        </div>
                        <div class="filter-btn low-light" data-category="low-light">
                            <div class="icon text-center"></div>
                            <p>Low Light</p>
                        </div>
                    </div>
                    <!-- Category -->

                </div>
            </div>

        </div>
        <!-- SECONDARY NAV : MOBILE : END -->


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">
            <div class="shooting-container">
                <div id="shooting-viewer">
                    <div class="imageFrame"></div>
                    <div class="mapFrame">
                        <div class="positionWrapper">
                            <div class="mapElements"></div>
                            <!-- <div class="index-display">XXX</div> -->
                            <div class="best-shot"></div>
                            <div class="prev-subsection">

                            </div>
                            <div class="next-subsection">
                            </div>
                        </div>
                        <div class="next-frame"></div>
                    </div>
                </div>
                <br>
                <div id="shooting-control">
                    <div class="row">
                        <!-- <div class="prev-subsection"><span class="glyphicon glyphicon glyphicon-menu-left"></span></div>
                        <div class="next-subsection"><span class="glyphicon glyphicon glyphicon-menu-right"></span></div> -->
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 stepper-container">
                            <div class="row">
                                <ul class="stepper">
                                </ul>
                            </div>
                            <div class="row">
                                <div class="index-display">XXX</div>
                                <div class="title">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 hidden-xs">
                            <div class="meta">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="tech-wrapper col-sm-12">
                        <div class="clearfix"></div>
                        <!-- Back to top -->
                        <a href="#" class="scroll_to_top text-center">
                            <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                        </a>
                        <!-- Back to top -->
                    </div>
                </div>

                <!-- models -->
                <div id="lens-recommendations">
                    <div class="row">
                        <div class="models-wrapper col-sm-12">

                                <!-- Title -->
                                <div class="row models-row">
                                    <div class="col-sm-12">
                                        <p>Lens Recommendations for Urbanscape:</p>
                                    </div>
                                </div>
                                <!-- Title -->

                                <!-- cameras : lenses -->
                                <div class="row models-row">
                                    <div class="col-sm-11" id="slider">
                                        <div class="models-slider">
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2870">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2870.jpg" width="220" height="152" alt="SEL2870" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2870</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel2470z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel2470z.jpg" width="220" height="152" alt="SEL2470Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL2470Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel55f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel55f18z.jpg" width="220" height="152" alt="SEL55F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL55F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f28z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f28z.jpg" width="220" height="152" alt="SEL35F28Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F28Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel70200g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel70200g.jpg" width="220" height="152" alt="SEL70200G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL70200G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1635z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1635z.jpg" width="220" height="152" alt="SEL1635Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1635Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24240">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24240.jpg" width="220" height="152" alt="SEL24240" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24240</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp28135g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp28135g.jpg" width="220" height="152" alt="SELP28135G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP28135G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f14z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f14z.jpg" width="220" height="152" alt="SEL35F14Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F14Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f28z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f28z.jpg" width="220" height="152" alt="SEL35F28Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F28Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1018">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1018.jpg" width="220" height="152" alt="SEL1018" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1018</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel16f28">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel16f28.jpg" width="220" height="152" alt="SEL16F28" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL16F28</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp1650">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp1650.jpg" width="220" height="152" alt="SELP1650" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP1650</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1670z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1670z.jpg" width="220" height="152" alt="SEL1670Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1670Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel1855">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel1855.jpg" width="220" height="152" alt="SEL1855" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL1855</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18105g">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18105g.jpg" width="220" height="152" alt="SELP18105G" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18105G</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel18200le">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel18200le.jpg" width="220" height="152" alt="SEL18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL18200LE</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/selp18200">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/selp18200.jpg" width="220" height="152" alt="SELP18200" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SELP18200</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel20f28">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel20f28.jpg" width="220" height="152" alt="SEL20F28" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL20F28</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel24f18z">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel24f18z.jpg" width="220" height="152" alt="SEL24F18Z" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL24F18Z</p>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="model-item" href="//www.sony-asia.com/electronics/camera-lenses/sel35f18">
                                                    <div class="img-wrapper">
                                                        <div class="img-container center-block"><img src="img/product/lens/sel35f18.jpg" width="220" height="152" alt="SEL35F18" class="img-responsive"></div>
                                                    </div>
                                                     <p class="text-center">SEL35F18</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- cameras : lenses -->
                        </div>
                    </div>
                </div>
                <!-- models -->
            </div>
        </section>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        @@include('../template/footer.html')

        <script>
        var technique = {
          "id": "urbanscape",
          "title": "Urbanscape",
          "thumbnail": "thumbnail.jpg",
          "topics": [{
            "id": "colour-in-the-city",
            "title": "Colour in the city",
            "description": "",
            "subtopics": [{
              "id": "1.1",
              "settings": "A77 <br /> 16-50mm <br />@ 22mm, 1/100 Sec, F2.8, ISO320",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 232,
                  y: 460,
                  set: 1
                }, {
                  x: 692,
                  y: 450,
                  set: 1
                }, {
                  x: 744,
                  y: 772,
                  set: 2
                }, {
                  x: 1124,
                  y: 438,
                  set: 3
                }, {
                  x: 1142,
                  y: 670,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Our subject was these great art work here behind the bars. But due to the narrow alley it was hard for us to do good composition.',
                    position: {
                      x: 354,
                      y: 582
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The current cropping of the image is disturbing and the composition is weak.',
                    position: {
                      x: 798,
                      y: 688
                    },
                    width: 170
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'There are just too much distraction here competing for attention in the frame. We seem to have included too many things in one image.',
                    position: {
                      x: 654,
                      y: 454
                    }
                  }
                }]
              }
            }, {
              "id": "1.2",
              "settings": "A77 <br /> 16-50mm <br />@ 16mm, 1/25 Sec, F2.8, ISO250",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 426,
                  y: 164,
                  set: 1
                }, {
                  x: 136,
                  y: 808,
                  set: 2
                }, {
                  x: 1226,
                  y: 856,
                  set: 2
                }, {
                  x: 1214,
                  y: 360,
                  set: 3
                }],
                effects: [{
                  effect: '1.2-spot-1.png',
                  backdrop: false,
                  description: {
                    content: 'We made use of an existing frame the subject presented itself with to take this photo.',
                    position: {
                      x: 494,
                      y: 44
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The inclusion of the surrounding adhoc graffitit was useful too as a contrast against the main subject.',
                    position: {
                      x: 760,
                      y: 660
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This was however a main source of distraction to the viewer.',
                    position: {
                      x: 1136,
                      y: 464
                    }
                  }
                }]
              }
            }, {
              "id": "1.3",
              "settings": "A77 <br /> 16-50mm <br />@ 24mm, 1/30 Sec, F2.8, ISO320"
            }, {
              "id": "1.4",
              "settings": "A77 <br /> 16-50mm <br />@ 24mm, 1/25 Sec, F.2.8 ISO250",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1098,
                  y: 750,
                  set: 1
                }, {
                  x: 522,
                  y: 104,
                  set: 2
                }, {
                  x: 150,
                  y: 288,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We found this amazing art work behind a set of scaffolding which forced this image to be taken at a very sharp angle.  The result was severe distortion.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Due to the angle of shooting, there is now a highly reflective area which distracts the viewer.',
                    position: {
                      x: 614,
                      y: 148
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This window frame has presented lines leading attention out of the image.',
                    position: {
                      x: 292,
                      y: 224
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "compelling-subjects",
            "title": "Compelling Subjects",
            "description": "",
            "subtopics": [{
              "id": "2.1",
              "settings": "A77 <br /> 16-50mm <br />@ 45mm 1/100 Sec, F6.3 ISO400",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1248,
                  y: 802,
                  set: 1
                }, {
                  x: 1124,
                  y: 544,
                  set: 2
                }, {
                  x: 886,
                  y: 554,
                  set: 2
                }, {
                  x: 534,
                  y: 904,
                  set: 3
                }],
                effects: [{
                  effect: '2.1-natural-frame.png',
                  backdrop: false,
                  description: {
                    content: 'We used the natural framing of train station to frame out possible subjects of commuters walking into frame.',
                    position: {
                      x: 924,
                      y: 362
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The inclusion of these buildings in the background creates contrast with the intended subjects, resulting in a creative expression.',
                    position: {
                      x: 844,
                      y: 258
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Instead of focusing on the commuter, we kept only the foreground in focus, this created an intriguing image.',
                    position: {
                      x: 740,
                      y: 686
                    }
                  }
                }]
              }
            }, {
              "id": "2.2",
              "settings": "A77 <br /> 16-50mm <br />@17mm 30 Sec, F22 ISO250",
              "mapInfo": {
                baseWidth: 1280,
                baseHeight: 854,
                pins: [{
                  x: 438,
                  y: 600,
                  set: 1
                }, {
                  x: 706,
                  y: 462,
                  set: 2
                }, {
                  x: 784,
                  y: 573,
                  set: 2
                }, {
                  x: 819,
                  y: 693,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This red bicycle added a lot of colour  to a typical night scene and gave the image a lot of interest. Without it, the city night shoot would have been ordinary.',
                    position: {
                      x: 757,
                      y: 559
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'These blue streaks of lights complimented the placement of the bicycle at  near 1/3rd frame.',
                    position: {
                      x: 813,
                      y: 645
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'By using long exposure, the ripples on the water surface is smoothen to a mirror like surface.',
                    position: {
                      x: 841,
                      y: 532
                    }
                  }
                }, ]
              }
            }, {
              "id": "2.3",
              "settings": "A77 <br /> 16-50mm <br />@ 20mm  1/160 Sec, F9 ISO250",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 918,
                  y: 694,
                  set: 1
                }, {
                  x: 456,
                  y: 612,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Industrial and dockland areas often have limited colour pallet. We avoided any colourful subjects or elements to create a beautiful and almost monochromatic image.',
                    position: {
                      x: 988,
                      y: 566
                    }
                  }
                }, {
                  effect: '2.3-meetingpoint.png',
                  backdrop: false,
                  description: {
                    content: "This image is composed very simply by 2 elements:<br><br>A. The pier points over the water surface and acted as leading lines towards the bridge.<br><br>B. This leads nicely towards the bridge with vertical towers which serves as a focal point.",
                    position: {
                      x: 868,
                      y: 430
                    },
                    width: 250
                  }
                }, ],
              }
            }, {
              "id": "2.4",
              "settings": "A77 <br /> 16-50mm <br />@24mm  1/13 Sec, F2.8 ISO320",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 204,
                  y: 238,
                  set: 1
                }, {
                  x: 1186,
                  y: 532,
                  set: 2
                }, {
                  x: 848,
                  y: 554,
                  set: 3
                }, {
                  x: 864,
                  y: 716,
                  set: 4
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Public art is one of the features of a cityscape.  You can combine public art and city dwellers in a single image to create interesting expressions.',
                    position: {
                      x: 260,
                      y: 162
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This well lit art piece features human silhouette of a young family against a colourful background.  This is a useful background to contrast against other subjects.',
                    position: {
                      x: 1256,
                      y: 424
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We captured a pedestrian on his way past the artwork.  Capitlising on light from the rear lit artwork, we kept the exposure on the artwork and underexposed the pedestrain, making him an additional silhouette.',
                    position: {
                      x: 936,
                      y: 556
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The shutter speed was kept low enough to blur his movement.  This blur actually provided the subject with a 3 dimensional feel and injected a sense of movement of life.',
                    position: {
                      x: 954,
                      y: 684
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "movement",
            "title": "Movement",
            "description": "",
            "subtopics": [{
              "id": "3.1",
              "settings": "A77 <br /> 20mm F2.8 <br />@ 20mm, 1/5  Sec, F20, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 792,
                  y: 508,
                  set: 1
                }, {
                  x: 88,
                  y: 554,
                  set: 2
                }, {
                  x: 460,
                  y: 112,
                  set: 2
                }, {
                  x: 1276,
                  y: 120,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'City trams are a great subject  to pan and create movement shots portraying live and movement in the city.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This Image has been framed too tightly.  There is very little background to show contrast between the panned subject.',
                    position: {
                      x: 300,
                      y: 334
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The pocket of open sky is a distracting blotch of white.',
                    position: {
                      x: 1030,
                      y: 228
                    }
                  }
                }]
              }
            }, {
              "id": "3.2",
              "settings": "A77 <br /> 20mm F2.8 <br />@ 20mm, 1/60 Sec, F2.8, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 488,
                  y: 172,
                  set: 1
                }, {
                  x: 208,
                  y: 826,
                  set: 2
                }, {
                  x: 774,
                  y: 838,
                  set: 2
                }, {
                  x: 906,
                  y: 826,
                  set: 2
                }, {
                  x: 1158,
                  y: 776,
                  set: 2
                }, {
                  x: 876,
                  y: 496,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The framing now allows for a larger area of the background to contrast against the moving tram.',
                    position: {
                      x: 562,
                      y: 102
                    }
                  }
                }, {
                  effect: '3.2-spot-2.png',
                  backdrop: false,
                  description: {
                    content: 'The tram tracks and traffic lane markings on the road provide leading lines towards a vanishing point created a stronger composition.',
                    position: {
                      x: 406,
                      y: 500
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Shutter speed here is too fast to make the pan successful.',
                    position: {
                      x: 908,
                      y: 450
                    }
                  }
                }]
              }
            }, {
              "id": "3.3",
              "settings": "A77 <br /> 20mm F2.8 <br />@ 20mm, 1/10 Sec,  F7.1, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 520,
                  y: 142,
                  set: 1
                }, {
                  x: 846,
                  y: 524,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We retained the framing of the tram vs. the background and the panning action has successfully blurred the background.',
                    position: {
                      x: 580,
                      y: 116
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The panning is not well  synchronised with the tram speed, as a result, there are no sharp areas in the tram.  The colour of the tram is also too close to the background.',
                    position: {
                      x: 620,
                      y: 678
                    },
                    width: 300
                  }
                }]
              }
            }, {
              "id": "3.4",
              "settings": "A77 <br /> 20mm F2.8 <br />@ 20mm, 1/20 Sec,  F4.5, ISO200",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 264,
                  y: 210,
                  set: 1
                }, {
                  x: 438,
                  y: 656,
                  set: 1
                }, {
                  x: 980,
                  y: 628,
                  set: 2
                }, {
                  x: 732,
                  y: 802,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The generous framing of background and colour on the tram provided great contrast.',
                    position: {
                      x: 424,
                      y: 448
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Good panning and shutter speed have captured a good portion of frozen area in the tram along  with movement in the background.  The colour of the tram also contrasts well with the background too. ',
                    position: {
                      x: 640,
                      y: 758
                    },
                    width: 300
                  }
                }, {
                  effect: '3.4-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'Leading line to vanishing point create stronger composition.',
                    position: {
                      x: 798,
                      y: 674
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "nightlight",
            "title": "Nightlight",
            "description": "",
            "subtopics": [{
              "id": "4.1",
              "settings": "A77 <br /> 16-50mm <br />@ 16mm, 30 Sec, F14, ISO250",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1032,
                  y: 280,
                  set: 1
                }, {
                  x: 194,
                  y: 186,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This first shot was attempted indoors from behind a window.  Despite a fairly long exposure, the glass seem to have cut out a lot of light, leaving the final image looking darker than intended.',
                    position: {
                      x: 908,
                      y: 380
                    },
                    width: 250
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Reflections from indoor lighting  are seen on the window.',
                    position: {
                      x: 410,
                      y: 456
                    }
                  }
                }]
              }
            }, {
              "id": "4.2",
              "settings": "A77 <br /> 16-50mm <br />@ 20mm, 30 Sec, F14, ISO250",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1076,
                  y: 536,
                  set: 1
                }, {
                  x: 762,
                  y: 818,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Using the same long exposure setting, we moved outdoors and managed to capture light trails in the streets.',
                    position: {
                      x: 938,
                      y: 604
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The safety net is unavoidable, and it shows up on our image.',
                    position: {
                      x: 830,
                      y: 775
                    }
                  }
                }]
              }
            }, {
              "id": "4.3",
              "settings": "A77 <br /> 16-50mm <br />@ 24mm, 30 Sec, F14, ISO250",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 794,
                  y: 500,
                  set: 1
                }, {
                  x: 810,
                  y: 878,
                  set: 2
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Camera shake has caused the image to appear blur.',
                    position: {
                      x: 848,
                      y: 460
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We capitalised on the long exposure by shaking the safety net making it dissapear! The idea is that the shaking net does not stay in a single position long enough for the camera to register it visually.',
                    position: {
                      x: 868,
                      y: 630
                    }
                  }
                }]
              }
            }, {
              "id": "4.4",
              "settings": "A77 <br /> 16-50mm <br />@ 24mm, 30 Sec, F14, ISO250",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 1182,
                  y: 550,
                  set: 1
                }, {
                  x: 794,
                  y: 500,
                  set: 2
                }, {
                  x: 810,
                  y: 878,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The same long exposure  setting has been retained to capture light trails in the streets and give this night its vibrancy.',
                    position: {
                      x: 998,
                      y: 620
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'To reduce camera shake, a remote release cord is used to trigger the shutter release.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Safety netting is again shaken during long exposure so that it does not appear in the shot.',
                    position: {
                      x: 880,
                      y: 814
                    }
                  }
                }]
              }
            }]
          }, {
            "id": "urban-people",
            "title": "Urban People",
            "description": "",
            "subtopics": [{
              "id": "5.1",
              "settings": "A77 <br /> 16-50mm <br />@ 16mm, 1/320 Sec, F14, ISO200",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 458,
                  y: 224,
                  set: 1
                }, {
                  x: 1212,
                  y: 850,
                  set: 2
                }, {
                  x: 460,
                  y: 608,
                  set: 2
                }, {
                  x: 700,
                  y: 802,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'In this shot, we tried to incorporate people into a shot with a bridge.  This shot was taken by partially blocking the sun to create an interesting flare.',
                    position: {
                      x: 528,
                      y: 282
                    },
                    width: 220
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The various lines on the ground and on the bridge added some texture to the image.',
                    position: {
                      x: 668,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The foot of the bridge is rather big and enlarged.  This created a visual weight which is distracting.',
                    position: {
                      x: 804,
                      y: 772
                    }
                  }
                }]
              }
            }, {
              "id": "5.2",
              "settings": "A77 <br /> 16-50mm <br />@ 24mm, 1/250 Sec, F13, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 350,
                  y: 268,
                  set: 1
                }, {
                  x: 626,
                  y: 486,
                  set: 1
                }, {
                  x: 790,
                  y: 532,
                  set: 2
                }, {
                  x: 114,
                  y: 272,
                  set: 3
                }, {
                  x: 1356,
                  y: 648,
                  set: 4
                }, {
                  x: 1032,
                  y: 742,
                  set: 5
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'This is a much more appealing composition.  We used the arc of the bridge as a frame to box the city skyline in.',
                    position: {
                      x: 684,
                      y: 424
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Although we now do not have the sun\'s flare in view, the sun is still in front of the camera backlighting our subject. The exposure is kept slightly underexposed to give the image a more monochromatic look and feel.',
                    position: {
                      x: 838,
                      y: 430
                    },
                    width: 270
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The open patch of sky here lacks details and is distracting too.',
                    position: {
                      x: 144,
                      y: 314
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The distracting balcony is disrupting the visual form of the bridge.',
                    position: {
                      x: 868,
                      y: 430
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Cyclist and pedastrain are overlapping each other.',
                    position: {
                      x: 508,
                      y: 348
                    },
                    xPosition: 'right',
                    yPosition: 'bottom',
                    width: 168
                  }
                }]
              }
            }, {
              "id": "5.3",
              "settings": "A77 <br /> 16-50mm <br />@ 28mm, 1/160 Sec, F13, ISO100",
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 192,
                  y: 318,
                  set: 1
                }, {
                  x: 494,
                  y: 648,
                  set: 1
                }, {
                  x: 164,
                  y: 188,
                  set: 2
                }, {
                  x: 828,
                  y: 856,
                  set: 3
                }, {
                  x: 914,
                  y: 862,
                  set: 3
                }, {
                  x: 1160,
                  y: 862,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The framing of the city skyline using the bridge has improved and has achieved a better composition overall.',
                    position: {
                      x: 474,
                      y: 476
                    },
                    yPosition: 'bottom'
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'The presence of some clouds actually offered better details in the sky.',
                    position: {
                      x: 194,
                      y: 219
                    }
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Despite having so many people on the bridge, no single subject was visually grabbing enough to define the story.',
                    position: {
                      x: 410,
                      y: 324
                    },
                    xPosition: 'right',
                    yPosition: 'bottom'
                  }
                }]
              }
            }, {
              "id": "5.4",
              "settings": "A77 <br /> 16-50mm <br />@ 28mm, 1/160 Sec, F13, ISO100",
              "featured": true,
              "mapInfo": {
                baseWidth: 1440,
                baseHeight: 960,
                pins: [{
                  x: 192,
                  y: 142,
                  set: 1
                }, {
                  x: 110,
                  y: 448,
                  set: 1
                }, {
                  x: 426,
                  y: 620,
                  set: 1
                }, {
                  x: 970,
                  y: 670,
                  set: 2
                }, {
                  x: 856,
                  y: 846,
                  set: 3
                }],
                effects: [{
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'Keeping the details in the sky and the overall composition using the bridge, we kept composition as it was.',
                    position: {
                      x: 526,
                      y: 292
                    },
                    width: 230
                  }
                }, {
                  effect: false,
                  backdrop: false,
                  description: {
                    content: 'We managed to capture a single pedestrain as a strong subject.',
                    position: {
                      x: 918,
                      y: 348
                    },
                    yPosition: 'bottom'
                  }
                }, {
                  effect: '5.4-spot-3.png',
                  backdrop: false,
                  description: {
                    content: 'We placed him with 1/3 of the length of the bridge, suggesting the way ahead defined by the leading lines of the bridge\'s railings.',
                    position: {
                      x: 910,
                      y: 320
                    },
                    yPosition: 'bottom',
                    width: 220
                  }
                }]
              }
            }]
          }, {
            "id": "recommendations",
            "title": "Lens Recommendations",
            "description": "",
            "subtopics": [{
              "id": "lens",
              "categories": [{
                "name": "A Mount CZ",
                "lenses": [{
                  "id": "sal-1635z"
                }, {
                  "id": "sal-1680z"
                }, {
                  "id": "sal-2470z"
                }, {
                  "id": "sal-24f20z"
                }]
              }, {
                "name": "A Mount G Lens",
                "lenses": [{
                  "id": "sal-35f14g"
                }]
              }, {
                "name": "A Mount Fixed Focal Lens",
                "lenses": [{
                  "id": "sal-16f28"
                }, {
                  "id": "sal-20f28"
                }, {
                  "id": "sal-28f28"
                }, {
                  "id": "sal-35f18"
                }]
              }, {
                "name": "A Mount Zoom Lens",
                "lenses": [{
                  "id": "sal-1118"
                }, {
                  "id": "sal-1650"
                }, {
                  "id": "sal-16105"
                }, {
                  "id": "sal-1855"
                }, {
                  "id": "sal-18200"
                }, {
                  "id": "sal-18250"
                }, {
                  "id": "sal-2875"
                }, {
                  "id": "sal-18135"
                }]
              }, {
                "name": "E Mount Lens",
                "lenses": [{
                  "id": "sel-1855"
                }, {
                  "id": "sel-18200"
                }, {
                  "id": "sel-18200le"
                }, {
                  "id": "sel-1018"
                }, {
                  "id": "sel-p1650"
                }, {
                  "id": "sel-16f28"
                }, {
                  "id": "sel-35f18"
                }, {
                  "id": "sel-24f18z"
                }]
              }]
            }]
          }]
        };
        </script>

        @@include('../template/shooting-techniques-js.html')

        <script>
            shootTechnique = 'urbanscape'; 
        </script>
    </body>

        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:shooting:urbanscape"; //Pagename
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country
        s.prop3 = "en"; //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:shooting:urbanscape"; // Microsite Section
        s.hier5 = "microsite|aportal|shooting|urbanscape"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName, 's_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if (ppv && typeof ppv == 'object' && ppv[0] == s.prop55) { //if ppv array returned and prev page id matches prev page name
            s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
            s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
            s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if (navigator.appVersion.indexOf('MSIE') >= 0) document.write(unescape('%3C') + '\!-' + '-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T63V8N');
        </script>
        <!-- End Google Tag Manager -->


        </body>

</html>
