<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>
                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1 active" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">Image Stabilisation Technologies</h1>

                            <div class="col-sm-12">

                                <p>Blurry photos are the bane of all photographers. They are caused by movement of the camera during exposure, such as the shaking of the photographer’s own hands; exacerbated by shooting with slow shutter speeds in low light situations.</p>

                                <p>Even if you think you have the most stable pair of hands, minute movements will creep into your photos due to the longer exposure times shooting with slower shutter speeds. Typically, anything below 1/30 seconds will cause apparent blurring of the resulting photo.</p>

                                <p>Traditionally, image blur is overcome by anchoring the camera and shooting from an immovable base such as a tripod. However, photography is about being mobile, being at the right place at the right time, and being reactive. For the many situations where it just isn’t ideal to deploy a tripod and keep still for the perfect frame to happen, technology has created in-camera image stabilisation.</p>

                                <p>Today, you can normally find two types of image stabilisation technologies: Electronic and Optical.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12">

                                <h2>Electronic Image Stabilisation</h2>

                                <p>Electronic Image stabilisation (EIS) relies on complex software algorithms to detect and correct motion blur in images. Different camera makes and models normally have different methods of achieving this, so results can vary. EIS is often not as effective as Optical image stabilisation, but is more affordable as it does not require any additional hardware components. Cameras with EIS can also be built smaller and lighter for the same reasons.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>Optical Image Stabilisation</h2>

                                <p>Optical Image Stabilisation (OIS) refers to physical stabilisation technologies that senses and counters small movements when shooting. OIS technologies require multiple devices that work together to counter hand movement:</p>

                                <ul>
                                    <li>Gyroscopic motion sensors to measure camera shake.</li>
                                    <li>A microchip that can process this motion data to control the image stabilisation drive circuitry.</li>
                                    <li>Either a movable sensor (for sensor shift designs) or lens (for lens shift designs) mounting assembly.</li>
                                </ul>

                                <p>To counter movement, gyroscopic motion sensors are used to measure movement from different directions; normally the x- and y-axis. This information is passed onto the microchip, which tells the camera to shift either the movable sensor or lens elements in the exact opposite direction and magnitude to correct the shake detected. This happens in a fraction of a second, and is normally very effective at eliminating blur caused by small hand movements during slower exposures.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section1/article/image_stabilisation_technologies-01.jpg" class="img-container img-responsive center-block" width="480" height="291" alt="Optical Image Stabilisation">

                                <p class="img-caption text-center">A cross section of Sony’s SteadyShot INSIDE sensor shift mounting plates found in α DSLRs.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section1/article/image_stabilisation_technologies-02.jpg" class="img-container img-responsive center-block" width="480" height="310" alt="Optical Image Stabilisation">

                                <p class="img-caption text-center">When combined, Sony’s SteadyShot INSIDE sensor shift mounting plate features independent piezoelectric ultrasonic linear actuators deliver ultra-precise movements for effective image stabilisation.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>SteadyShot INSIDE – Sensor Shift Image Stabilisation</h2>

                                <p>Optical Image Stabilisation technologies that move the camera’s sensor are known as “Sensor Shift”. Since sensor shift technologies move the sensor itself to compensate for shake, it is built into the camera body. The major benefit for cameras with sensor shift mechanism built-in is that you can enjoy image stabilisation with all types of lenses; great if you have older lenses. Sony α DSLR cameras all feature sensor shift stabilisation called SteadyShot INSIDE.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section1/article/image_stabilisation_technologies-03.jpg" class="img-container img-responsive center-block" width="480" height="389" alt="SteadyShot INSIDE – Sensor Shift Image Stabilisation">

                                <p class="img-caption text-center">Sensor Shift Image Stabilisation such as Sony α DSLRs with SteadyShot INSIDE technology allows the camera to move the entire image sensor to adjust for motion blur.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>Optical SteadyShot –  Lens Shift Image Stabilisation</h2>

                                <p>Optical image stabilisation that moves the lens elements is called “Lens Shift”. Unlike large DSLRs, compact camera models with smaller bodies may not have the space to accommodate a built-in sensor shift mechanism. Almost all advanced Sony compact camera models with fixed lenses like the DSC-RX100 Mark ii, as well as certain NEX models do not feature SteadyShot INSIDE. The α7/ α7R for example feature a full-frame sensor, too large to include in-body stabilisation. For cameras such as these, image stabilisation is achieved by using lenses that feature lens shift technology known as Optical SteadyShot (OSS). The upside to lens shift is that the camera body can remain more compact. However, lenses with OSS tends to be more expensive due to the additional components that needs to be built into each lens. Also, you can only benefit when using a lens that features OSS.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section1/article/image_stabilisation_technologies-04.jpg" class="img-container img-responsive center-block" width="480" height="399" alt="Optical SteadyShot –  Lens Shift Image Stabilisation">

                                <p class="img-caption text-center">Lens Shift Image Stabilisation such as those found in Sony lenses featuring Optical SteadyShot technology uses a moving lens array to compensate for motion blur.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section1/article/image_stabilisation_technologies-05.jpg" class="img-container img-responsive center-block" width="1024" height="797" alt="Optical SteadyShot –  Lens Shift Image Stabilisation">

                                <p class="img-caption text-center">Sony lenses that have Optical SteadyShot or OSS in its name, such as the new FE 28-70mm F3.5-5.6 OSS (SEL2870), feature lens shift image stabilisation for NEX and α7/α7R series cameras.</p>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>Measuring Image Stabilisation Effectiveness</h2>

                                <p>The effectiveness of image stabilisation technologies is specified by the “stop” unit. A “stop” is an exposure unit that is used to describe the doubling or halving of light entering through the lens. Stops are interchangeable between shutter speed, ISO and aperture settings, but for this example we will be looking only at shutter speed.</p>

                                <p>The SteadyShot INSIDE sensor shift image stabilisation technology found in the Sony α99 is specified to provide up to “four stops of stabilisation”, that is: if a photo you’re shooting needs about 1/2 a second to expose properly, the camera is able to stabilize the shot as if you were shooting at a shutter speed that is “four stops” faster, or 1/30 second. This is a quick way to gauge if image stabilisation can be effective for the shot you’re going for or if you’ll be better served setting up that tripod.</p>

                            </div>

                            <div class="col-sm-12">

                                <img src="img/learning/section1/article/image_stabilisation_technologies-06.jpg" class="img-container img-responsive center-block" width="604" height="208" alt="Measuring Image Stabilisation Effectiveness">

                                <p class="img-caption text-center">With a "four stop" image stabilisation, a scene that requires a 1/2s shutter speed for balanced exposure can be shot with movement compensation as if it was being shot at 1/30s.</p>

                            </div>

                        </div>
                        <!-- Grey -->



                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec01:imgStabilisationTech"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec01"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec01|imgStabilisationTech"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>

</html>
