<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Sony α Portal</title>
        <base href="http://localhost:3000/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="title" content="Sony α Portal">
        <meta name="description" content="{{Description of site}}">

        <meta property="og:title" content="{{Facebook Share Title}}">
        <meta property="og:description" content="{{Facebook Share Description}}">
        <!-- <meta property="og:url" content="{{Site Url If Any}}">
        <meta property="og:site_name" content="{{Title of Site}}">
        <meta property="og:image" content="{{Absolute Image Url : 1200 x 630 recommended}}"> -->

        <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

        <!--build:css css/styles.min.css -->
        <link href="css/styles.css" rel="stylesheet">
        <!-- endbuild -->

        <!-- font -->
        <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body id="learning-article">


        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <header class="container-fluid navbar-fixed-top">

            <div class="row">

                <div class="col-sm-12" style="padding:0">
                    <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:alphalogo', '', 'aportal:alphalogo', 'microsite|aportal|alphalogo')">
                        <div class="logo-alpha pull-left">
                            <div class="logo-img pull-left">
                                <img src="img/logo-alpha.png" width="61" height="42" alt="Aplha Logo">
                            </div>
                            <div class="logo-text pull-right">
                                PORTAL<br/>
                                <span>Asia Pacific</span>
                            </div>

                        </div>
                    </a>

                    <div class="navbar navbar-inverse hidden-md hidden-lg">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar  bottom-bar"></span>
                        </button>
                    </div>

                    <div class="logo-sony pull-right">
                        <a href="//www.sony-asia.com/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:sonylogo', '', 'aportal:sonylogo', 'microsite|aportal|sonylogo')" target="_blank"><img src="img/logo-sony.png" width="95" height="17" alt="Sony Logo"></a>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="divider col-md-12 hidden-sm hidden-xs"></div>

            </div>


            <div class="clearfix"></div>


            <div class="row">

                <div class="col-sm-12" style="padding:0;">
                    <nav id="navbar" class="nav-wrap navbar-collapse collapse">
                        <a href="./product.html" class="products">Products</a>

                        <a href="./technology/" class="technology">Technology</a>

                        <!-- <a href="./reviews.html" class="reviews hidden-sm hidden-xs">Reviews</a>
                        <a onclick="return false;" class="reviews hidden-md hidden-lg">Reviews <span>Coming soon</span></a>

                        <a href="./ambassador.html" class="ambassador hidden-sm hidden-xs">Ambassador</a>
                        <a onclick="return false;" class="ambassador hidden-md hidden-lg">Ambassador <span>Coming soon</span></a>

                        <a href="./gallery.html" class="gallery hidden-sm hidden-xs">Gallery</a>
                        <a onclick="return false;" class="gallery hidden-md hidden-lg">Gallery <span>Coming soon</span></a> -->

                        <a href="./learning-articles/" class="learning-articles active">Learning Articles</a>

                        <a href="./playmemories.html" class="playmemories">PlayMemories</a>

                        <a href="//www.worldphoto.org/national-award-2016/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:SWPAlogo', '', 'aportal:SWPAlogo', 'microsite|aportal|SWPAlogo');" target="_blank" class="swpa last"><img src="img/logo-swpa.png" alt="Sony World Photography Awards Logo" width="19" height="20"> Sony World Photography Awards</a>
                    </nav>
                </div>

            </div>

        </header>


        <!-- SECONDARY NAV : DESKTOP/MOBILE : START -->
        <div class="container-fluid secondary-nav">
            <div class="row">
                <div class="col-sm-12">

                    <div class="secondary-nav-wrapper">

                        <!-- Category -->
                        <div class="text-center filter-slider">
                            <div>
                                <div class="filter-section section1">
                                    <p class="filter-title">Section 1</p>
                                    <a href="learning-articles#section1" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec01:whatisacamera', '', 'aportal:articles:sec01:whatisacamera', 'microsite|aportal|articles|sec01|whatisacamera');">
                                        <div class="filter-btn section1 active" data-section="section1">
                                            <p>What's a camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section2">
                                    <p class="filter-title">Section 2</p>
                                    <a href="learning-articles#section2" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec02:howtousecamera', '', 'aportal:articles:sec02:howtousecamera', 'microsite|aportal|articles|sec02|howtousecamera');">
                                        <div class="filter-btn section2" data-section="section2">
                                            <p>How to use your camera</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section3">
                                    <p class="filter-title">Section 3</p>
                                    <a href="learning-articles#section3" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec03:beforeyoushoot', '', 'aportal:articles:sec03:beforeyoushoot', 'microsite|aportal|articles|sec03|beforeyoushoot');">
                                        <div class="filter-btn section3" data-section="section3">
                                            <p>Before you shoot</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section4">
                                    <p class="filter-title">Section 4</p>
                                    <a href="learning-articles#section4" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec04:takinggreatppictures', '', 'aportal:articles:sec04:takinggreatppictures', 'microsite|aportal|articles|sec04|takinggreatppictures');">
                                        <div class="filter-btn section4" data-section="section4">
                                            <p>Taking Great Pictures</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div>
                                <div class="filter-section section5">
                                    <p class="filter-title">Section 5</p>
                                    <a href="learning-articles#section5" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:articles:sec05:touchingup', '', 'aportal:articles:sec05:touchingup', 'microsite|aportal|articles|sec05|touchingup');">
                                        <div class="filter-btn section5" data-section="section5">
                                            <p>Touching Up for Effect</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Category -->

                    </div>

                </div>
            </div>
        </div>
        <!-- SECONDARY NAV : DESKTOP/MOBILE : END -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <section id="content" class="container-fluid">

            <div class="row">

                <div class="learning-article-wrapper col-sm-12">

                    <div class="learning-article-container">



                        <!-- Black -->
                        <div class="row row-container">

                            <h1 class="col-sm-12">Viewfinder Technologies: EVF and OVF</h1>

                            <div class="info-wrapper col-sm-12">

                                <h2>What is a viewfinder?</h2>

                                <p>A viewfinder is any device that allows you to see and frame what you are shooting. Traditionally, the viewfinder refers to the little window near the top of a camera's body that allows the photographer to view what he is shooting and compose the photo. In mirrorless, compact and mobile phone cameras without such a window, the LCD screen takes the role of a viewfinder.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <h2>Optical Viewfinders (OVF)</h2>

                                <p>Optical viewfinders or OVFs are found in conventional DSLR cameras and work by reflecting the light from the lens into a mirror, and to the viewfinder. In fact, the mirror is known as a "reflex mirror" and is how SLR (Single lens Reflex) cameras got their name.</p>

                                <img src="img/learning/section1/article/viewfinder_tech_01.jpg" class="img-container img-responsive" width="1024" height="700" alt="Optical Viewfinders (OVF)">

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p class="sub-title">Advantages</p>

                                <ul>
                                    <li>OVFs consume no power</li>
                                    <li>They are an actual reflection of the scene and not a reprocessed image so there is no lag between action in the scene and what the photographer sees</li>
                                    <li>DSLR cameras with OVFs are typically equipped with phase detection autofocus systems that are faster than contrast detection ones</li>
                                </ul>

                                <p class="sub-title">Disadvantages</p>

                                <ul>
                                    <li>Besides those found in high end DSLR cameras, Many OVFs are unable to show the full photo being shot. This is why many makers will state the coverage of their camera's OVFs in their specifications – typically 95%</li>
                                    <li>To have an OVF, conventional cameras need to have a bulge in the top part of their bodies to contain the reflex mirror. This adds to their weight and bulk</li>
                                    <li>In an OVF DSLR camera, The mirror needs to swing out of the way before the light can pass through to the sensor for the photo to be taken. This can be noisy and makes the mirror a moving part with a finite lifespan</li>
                                    <li>In low light situations, OVFs can be difficult or even impossible to use.</li>
                                    <li>OVFs cannot be used as video viewfinders</li>
                                </ul>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="info-wrapper col-sm-12">

                                <h2>LCD screens</h2>

                                <p>You are probably already familiar with using LCD screens as viewfinders thanks to your mobile phones and compact cameras. The camera's microprocessor is responsible to process what is 'seen' by the sensor and replicates it on the LCD screen.</p>

                                <p>Even though DSLRs have optical viewfinders, it is also commonplace today to be able to use their LCD screens as an alternative. Many include touch shutter capabilities too. You'll commonly see this commonly referred to as a 'live view' display. However, focusing on your DSLR with a live view LCD screen is a slow process. This is because the autofocus detector only works only when the reflex mirror is in its "down" position, while the live view on the LCD works only when the mirror is in the "up" position. So to focus, the camera has to first swing its mirror down, blacking out the LCD, achieve focus, then swinging the mirror up again to present the refocused live view. If the subject or camera moves when the live view is on, focus will be lost.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p class="sub-title">Advantages</p>

                                <ul>
                                    <li>LCD screens allow the photographer to see how the photo will turn out, often with advanced effects or filters that can be applied in real-time.</li>
                                    <li>Allow framing of photos in low light due to the ability to increase brightness gain digitally.</li>
                                    <li>Can show settings information or other useful data overlays while shooting.</li>
                                    <li>Touch screen technology simplifies shooting by giving access to many functions such as menu navigation and setting focus point by touch.</li>
                                </ul>

                                <p class="sub-title">Disadvantages</p>

                                <ul>
                                    <li>LCD screens are difficult, and sometimes even impossible to view when shooting in bright sunlight.</li>
                                    <li>LCD screens consume far more battery power than EVFs.</li>
                                    <li>Autofocusing on moving subjects with traditional DSLR cameras using LCD screens in live view is close to impossible.</li>
                                </ul>

                            </div>

                            <div class="col-sm-12 col-md-6">
                                <img src="img/learning/section1/article/viewfinder_tech_02.png" class="img-container img-responsive" width="1024" height="693" alt="LCD screens">
                            </div>

                        </div>
                        <!-- Grey -->



                        <!-- Black -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-6">

                                <h2>Electronic Viewfinders (EVF)</h2>

                                <p>Electronic Viewfinders or EFVs are those that take the image being seen by the camera's sensor, and recreate it in a tiny LCD or OLED in the viewfinder. Essentially, they are like tiny monitors showing how the photo will appear.</p>

                                <img src="img/learning/section1/article/viewfinder_tech_03.jpg" class="img-container img-responsive" width="1026" height="661" alt="Electronic Viewfinders (EVF)">

                                <p class="img-caption">Advanced mirrorless cameras like the Sony α7 series have built-in EVFs; but many brands do offer EVFs for their mirrorless cameras as an optional hotshoe accessory.</p>

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <p class="sub-title">Advantages</p>

                                <ul>
                                    <li>High-performance EVFs such as the XGA OLED Tru-Finder found on the Sony α7/α7R boasts a crystal clear 3-lens optical system with an incredible 2359k dot resolution and greatly improved contrast ratios for faithful image reproduction.</li>
                                    <li>Technology improvements in EVFs such as OLED displays have reduced problems of motion blur or lag to a bare minimum. Modern cameras like the α7/α7R also feature newer hybrid AF systems, greatly improving tracking speed and performance when using an EVF.</li>
                                    <li>EVFs can provide an actual preview of the scene with 100% coverage of what the sensor will capture; what you see will truly be what you get.</li>
                                    <li>EVFs can allow live previewing of special photo effects like filters while you are still composing your shot.</li>
                                    <li>EVFs can also show shooting information overlays, meters and gauges, giving you greater control and to make manual fine-tuning without taking your eyes off the scene.</li>
                                    <li>In low light situations, EVFs are able to increase their gain to allow photographers to see what they are shooting.</li>
                                    <li>EVFs can act as secondary playback displays that allow photographers to instantly review photos without taking their eyes away from the viewfinder.</li>
                                    <li>EVFs can be used as video viewfinders.</li>
                                </ul>

                                <p class="sub-title">Disadvantages</p>

                                <ul>
                                    <li>Not all EVFs are created equal and performance can differ from model to model. Entry-level EVFs may feature a lower resolution or low contrast, making it difficult to discern image detail.</li>
                                    <li>Older EVFs also have a tendency to lag, making them less ideal for tracking moving subjects. Some cameras are also restricted to using contrast detection autofocus, which tends to be slower than phase detection.</li>
                                    <li>Since an EVF is basically another display, all EVFs will consume power, albeit a small amount.</li>
                                </ul>

                            </div>

                        </div>
                        <!-- Black -->



                        <!-- Grey -->
                        <div class="row row-container">

                            <div class="col-sm-12 col-md-6">

                                <h2>SLT (Single Lens Translucent) Technology</h2>

                                <p>While not a viewfinding technology per se, the latest Sony interchangeable lens cameras feature SLT or translucent mirror technology that enhances the way photos and videos are framed and focused. SLT uses a fixed translucent mirror that reflects some of the incoming light to a phase detection autofocus sensor, while allowing most of it to pass through to the sensor for the EVF or LCD screen to display the scene for framing and for capturing the image. In this way, SLT combines the advantages of the fast focusing of an OVF system with the convenient live view of an EVF or LCD screen.</p>

                                <p class="sub-title">Advantages</p>

                                <ul>
                                    <li>SLT technology simultaneously lets the autofocus senor and the image sensor get "live" light from the scene. This eliminates the "mirror blackout" time of traditional DSLRs, and allows for almost instantaneous focusing while using either the LCD or EVF. This is especially useful for shooting moving subjects and makes the Sony SLT models the DSLR cameras with the world’s fastest video autofocus.</li>
                                    <li>The translucent mirrors of SLT cameras are fixed, so there is no risk of mechanical wear or failure.</li>
                                </ul>

                                <p class="sub-title">Disadvantages</p>

                                <ul>
                                    <li>As with EVFs and LCD screens, the SLT technology consumes battery power although it is rather negligible in most cases.</li>
                                </ul>

                                <br class="hidden-md hidden-lg" />

                            </div>

                            <div class="col-sm-12 col-md-6">

                                <img src="img/learning/section1/article/viewfinder_tech_04.jpg" class="img-container img-responsive" width="1026" height="638" alt="SLT (Single Lens Translucent) Technology">

                                <p class="img-caption">Instead of a mirror which flips up when taking a photograph, the semi-transparent mirror in a Digital SLT camera stays fixed in place. This allows the camera to use phase detection AF even in Live View mode.</p>

                            </div>

                        </div>
                        <!-- Grey -->


                    </div>

                    <div class="clearfix"></div>

                    <!-- Back to top -->
                    <a href="#" class="scroll_to_top text-center">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                    <!-- Back to top -->

                </div>
            </div>
        </section>



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->






        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        <footer class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <div class="pull-right col-sm-12 col-md-6">
                        <p>&copy; <span id="year"></span> Sony Electronics Asia Pacific Pte. Ltd. All rights reserved.</p>
                    </div>

                    <div class="pull-left col-sm-12 col-md-6">
                        <a href="./terms-conditions.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:terms', '', 'aportal:footer:terms', 'microsite|aportal|footer|terms');" class="terms">Terms & Conditions</a>
                        <a href="./privacy-policy.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:privacypolicy', '', 'aportal:footer:privacypolicy', 'microsite|aportal|footer|privacypolicy');" class="privacy">Privacy Policy</a>
                        <a href="//www.sony-asia.com/section/contactus" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:footer:contactus', '', 'aportal:footer:contactus', 'microsite|aportal|footer|contactus');" class="contact">Contact Us</a>
                    </div>



                </div>

            </div>

        </footer>
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->

        <!--build:js js/template.min.js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/jquery-migrate-1.2.1.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- endbuild -->

        <!--build:js js/learning-article.min.js -->
        <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
        <script src="js/template.js"></script>
        <script src="js/learning-article.js"></script>
        <!-- endbuild -->


        <!-- START Omniture Tracking -->
        <!-- SiteCatalyst code version: H.10 09jul08
        Copyright 1997-2007 Omniture, Inc. More info available at
        http://www.omniture.com -->

        <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
        <script language="JavaScript">
        /* You may give each page an identifying name, server, and channel on the next lines. */
        s.pageName = "ms:aportal:articles:sec01:viewfinderTechEvfOvf"; //Pagename 
        s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
        s.prop2 = "AP"; //country 
        s.prop3 = "en";  //language
        s.prop4 = "hp";
        s.prop5 = "i";
        s.prop41 = "aportal"; // Microsite Name
        s.prop42 = "aportal:articles:sec01"; // Microsite Section
        s.hier5 = "microsite|aportal|articles|sec01|viewfinderTechEvfOvf"; //hier5
        //Get entire percent page viewed array and save metrics
        s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
        var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
        if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
        s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
        s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
        s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
        }
        /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
        var s_code = s.t();
        if (s_code) document.write(s_code);
        </script>
        <script language="JavaScript">
        if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
        </script>
        <!-- End SiteCatalyst code version: H.10 09jul08 -->
        <!-- END Omniture Tracking -->

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T63V8N');</script>
        <!-- End Google Tag Manager -->


    </body>

</html>
