<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FE 24-70mm F2.8 GM Community Reviews | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="FE 24-70mm F2.8 GM Community Reviews | Sony α Portal">
    <meta name="description" content="The development team discusses the design philosophy and appeal of the FE 24-70mm F2.8 GM.">
    <meta name="keywords" content="G MASTER, Commentary of Engineers, FE 24-70mm F2.8 GM, SEL2470GM" />

    <meta property="og:title" content="FE 24-70mm F2.8 GM Community Reviews | Sony α Portal">
    <meta property="og:description" content="The development team discusses the design philosophy and appeal of the FE 24-70mm F2.8 GM.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="comm-reviews">

    @@include('../../template/header-1.html')



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid sel2470gm">
        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">

                <!-- warning message -->
                <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div>
                <!-- warning message -->

                <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        <!-- cover -->
                        <div class="section intro">
                            <img data-original="img/community-reviews/lenses/sel2470gm/cover.jpg" width="1200" height="598" alt="sel2470gm Engineer's Voice" class="img-responsive lazy">
                        </div>
                        <!-- cover -->
                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                        <div class="content-wrapper col-sm-12">


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- cover copy -->
                            <div class="section intro">
                            <div class="row">
                                <div class="col-sm-12 col-md-7 logo">
                                    <img data-original="img/community-reviews/lenses/sel2470gm/logo.png" width="150" height="38" alt="G Master" class="type-logo img-responsive lazy">
                                    <h1>FE 24-70mm F2.8 GM</h1>
                                    <div class="sub-header">Commentary of Engineers</div>
                                </div>
                                <div class="col-sm-12 col-md-5">
                                    <p>The development team discusses the design philosophy and appeal of the FE 24-70mm F2.8 GM.</p>
                                </div>
                                </div>
                            </div>
                            <!-- cover copy -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">
                 <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <div class="content-wrapper col-sm-12">
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Concept -->
                            <div class="section-btm" id="concept">
                                <img data-original="img/community-reviews/lenses/sel2470gm/concept_cover.jpg" width="980" height="234" alt="Concept" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Concept</h2>
                                    <h3>Development concept</h3>

                                    <div class="row marginbottom">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/concept_profile_01.jpg" width="269" height="309" alt="Mechanical design: Kazumasa Osoniwa" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical design</h5>
                                                <h4>Kazumasa Osoniwa</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">What is a G Master? When you try this lens, you'll see the difference.</h2>
                                            <p><strong>Osoniwa</strong>: The 24-70mm standard zoom is the most versatile lens format, and often the one that customers try first, so it forms their judgment of the good and bad points of a manufacturer's lens system. In that sense, you could argue that it serves as a billboard for the manufacturer, which is why our passion for the development of the FE 24-70mm F2.8 GM was extraordinary. In particular, since the G Master is based on the concept of bringing together high resolution and bokeh, we had to create a lens that lives up to this goal at any zoom range. With respect to the MTF (Modulation Transfer Function) as well, our goal from the design stage was to ratchet the performance up a notch to surpass all previous standard zoom lenses.</p>
                                        </div>
                                        
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/concept_profile_02.jpg" width="269" height="309" alt="Optical design: Daisuke Kuroda" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Optical design</h5>
                                                <h4>Daisuke Kuroda</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Bringing out resolution performance on par with a prime lens at any zoom position</h2>
                                            <p><strong>Kuroda</strong>: In general, zoom lenses have difficulty achieving balance between corner resolution at wide-angle and maximum-aperture resolution at telephoto, but for the FE 24-70mm F2.8 GM, our goal was that there be no compromises at any zoom position or aperture setting. Our aim was to bring out resolution performance that is on a par with a prime lens in any position without compromising either the maximum-aperture resolution at telephoto or the resolution from middle to periphery at wide-angle. For example, you can get crisp resolution at the outermost edges in wide-open landscape photography, yet also get the resolution performance of a prime lens in 70mm portrait photography. The FE 24-70mm F2.8 GM is a lens that takes the all-around capabilities required for a standard zoom lens and really pushes them to an extremely high level.</p>
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>
                            <!-- Concept -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Optical Design -->
                            <div class="section-btm" id="opticaldesign">
                                <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_cover.jpg" width="980" height="234" alt="Optical Design" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Optical Design</h2>
                                    <h3>A passion for optical design</h3>

                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_profile_01.jpg" width="269" height="275" alt="Optical Design" class="img-responsive lazy">
                                        </div>

                                        <div class="col-sm-8">
                                            <h2 class="quote">Lens construction that takes full advantage of Sony's cutting-edge technology</h2>

                                            <p><strong>Kuroda</strong>: The main point about the optical design of the FE 24-70mm F2.8 GM is that we managed to bring together overwhelming resolution with natural bokeh by taking full advantage of the superiority of the short flange back on the E-mount body and the newly-developed XA (extreme aspherical) lens element. In particular, because we were able to achieve extremely high surface accuracy at the 0.01-micron (micrometer) level in the XA lens element, it became possible to adopt it in the second lens group to create the highest magnifying power, and as a result, we were able to achieve unprecedented resolution performance and bokeh. Furthermore, adopting a direct drive SSM (Super Sonicwave Motor) with high stop position accuracy enabled us to use an internal focusing system and deliver a zoom lens with high-precision, high-speed autofocus as well as minimal zoom image shift and focus breathing when shooting movies.</p>
                                        </div>

                                        <div class="col-sm-4 hidden-xs profile marginbottom">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_profile_01.jpg" width="269" height="275" alt="Optical Design" class="img-responsive lazy">
                                        </div>
                                    </div>

                                    <div class="row marginbottom">
                                        <div class="col-sm-12">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_01.jpg" width="1200" height="359" alt="Optical Design" class="img-responsive lazy">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-5 hidden-sm hidden-sm hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_profile_02.jpg" width="469" height="475" alt="Optical Design" class="img-responsive lazy">
                                        </div>

                                        <div class="col-sm-7">
                                            <p><strong>Osoniwa</strong>: Also, in order to increase resolution across the entire zoom range, it's important to eliminate backlash from the mechanical parts. In the case of the FE 24-70mm F2.8 GM, there are multiple lens groups that move when you zoom the lens. How can you get the lens to move straight when zooming, and how can you get it to return back to its exact original position? Since the accuracy of the lens drive has a huge impact on image quality, we took the approach of experimenting with combinations of components one-by-one while creating the lens. It's also necessary to align the center of each lens, and performing the alignment tasks at each manufacturing step is very precise and careful work.</p>

                                            <h2 class="quote">Best MTF for a zoom lens in the history of the α series</h2>
                                            <p><strong>Kuroda</strong>: As you can see by looking at the MTF curve, the MTF stays very high even at maximum aperture, and maintains a solid performance all the way to the edges of the image compared to previous α lenses. I think we were able to achieve the best MTF for a zoom lens in the history of the α series. The 24-70mm lens is seen as the marquee of the brand, which is why I'm proud that we were able to create a good lens based on a design concept that allowed for absolutely no performance compromises.</p>
                                        </div>

                                        <div class="col-sm-5 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_profile_02.jpg" width="469" height="475" alt="Optical Design" class="img-responsive lazy marginbottom">
                                        </div>
                                    </div>    

                                    <div class="row marginbottom">
                                        <div class="col-sm-12">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_02.jpg" width="1256" height="444" alt="Optical Design" class="img-responsive lazy">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_profile_03.jpg" width="269" height="275" alt="Optical Design" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">G Master required the development of new alignment equipment</h2>

                                            <p><strong>Kuroda</strong>: Relying only on conventional technology, it would have been difficult to ensure performance on a par with a prime lens across the entire zoom range. Therefore, for the FE 24-70mm F2.8 GM, we developed new equipment to allow us to drive the optical performance to a level of accuracy about five times greater than ever before. Using the new equipment to carefully align each lens individually, we were able to fully exploit the high potential of the design to bring together stunning resolution performance and bokeh, despite their inherent contradictions, and raise them to a higher level. You could say that the FE 24-70mm F2.8 GM has undergone not just a design evolution, but also a manufacturing evolution, which has positioned it one notch above the standard of previous zoom lenses.</p>

                                            <h2 class="quote">New 9-bladed aperture for beautiful bokeh</h2>

                                            <p><strong>Osoniwa</strong>: With respect to the aperture mounted on the G Master F2.8 zoom, on this occasion we redesigned the shape of the blades used in the 9-blade aperture unit in order to contribute to the goal of bringing bokeh and resolution together into their ultimate form. It's very difficult to come up with a design that ensures a clean circular shape that is well-balanced from the maximum to the minimum aperture opening, but by concentrating our attention thoroughly on just the parts that directly affect the shape of the bokeh, we were able to design an aperture unit worthy of the G Master label.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/opticaldesign_profile_03.jpg" width="269" height="275" alt="Optical Design" class="img-responsive lazy">
                                        </div>

                                    </div>


                                </div>

                            </div>
                            <!-- Optical Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Mechanical Design -->
                            <div class="section-btm" id="mechanicaldesign">
                                <img data-original="img/community-reviews/lenses/sel2470gm/mechanicaldesign_cover.jpg" width="980" height="234" alt="Mechanical Design" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Mechanical Design</h2>
                                    <h3>A passion for mechanical design</h3>
                                    
                                    
                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/mechanicaldesign_profile_01.jpg" width="269" height="309" alt="Mechanical design: Kazumasa Osoniwa" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">A direct drive SSM that excels in accuracy, size, and quietness</h2>

                                            <p><strong>Osoniwa</strong>: To let our customers fully exploit the available resolution, which has been increased to the limit across the entire zoom range, we adopted a direct drive SSM with high stopping accuracy. There are also other types of actuators, but direct drive SSM, which has excellent speed and stopping accuracy, is the one that's most compatible with the highly optically sensitive design of this 24-70mm F2.8, and it enabled us to bring out the best focus performance. And in terms of size, we were able to come up with a design that exploits the space efficiency of the large-aperture lens frame by taking advantage of the very small size and high power characteristics of the direct drive SSM. We also thought its superior quietness would make people want to use it actively when shooting movies.</p>
                                            <p>In fact, our requirements for installing the direct drive SSM specified that it must stop at the desired position, and must always exhibit the same performance. Moreover, the center of the lens must stay in alignment even when it is in motion. We configured the mechanical structure of the FE 24-70mm F2.8 GM to reduce backlash as much as possible to enhance stopping accuracy and smooth operation and minimize the tilt of the lens when stopped. Furthermore, in order to support the high-precision drive of the direct drive SSM, we successfully deployed highly rigid metal parts throughout the lens barrel, thereby achieving a very reliable barrel structure.</p>

                                            <h2 class="quote">A lens design that's strongly video-focused</h2>

                                            <p><strong>Osoniwa</strong>: Recently, the boundary between movies and still images has been disappearing, which means that the G Master can't compromise on movie shooting performance either. For that reason, in addition to the outstanding quietness of the direct drive SSM, an internal focusing system was adopted, reflecting a design that pays attention to movie shooting. We completely separated the position of the focus lens group from the position of the variator lens group, which is used to change the focal length, in order to smooth out wobbles during movie shooting and suppress fluctuations in the angle of view. I hope that customers will shoot some 4K videos on this lens so that they can more vividly experience the high quality of the lens.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/mechanicaldesign_profile_01.jpg" width="269" height="309" alt="Mechanical design: Kazumasa Osoniwa" class="img-responsive lazy">
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- Mechanical Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Enginners' Message -->
                            <div class="section-btm message-section">
                                <div class="text-wrapper">
                                    <!-- <h2>Engineers’ Message</h2> -->
                                    <h3>Finally...</h3>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/engineer_01.jpg" width="269" height="175" alt="Mechanical design: Kazumasa Osoniwa" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Osoniwa</strong>: This is the first time we've put out a standard zoom F2.8 lens for Sony E-mount cameras, and I hope customers will enjoy taking advantage of the large aperture in their photography. The G Master represents the pinnacle of lens performance, but the design also reflects a passion for operational feel and texture. For the focusing ring, we obsessed over the shape of the rubber, determining through repeated trial and error the shape that fits most comfortably in the hand. We also applied a proprietary anodized aluminum treatment to the front and back ends of the lens to make them scratch-resistant. I encourage customers to experience these things for themselves.</p>

                                            <p class="hidden-xs"><strong>Kuroda</strong>: Different customers specialize in shooting different kinds of subjects, but I think that this lens has a high potential to be the perfect match for any photographer. By taking full advantage of the range from 24mm wide-angle up to 70mm telephoto, you can use it for landscape and nature images, and even rise to the challenge of portrait photography. I think the best way for customers to appreciate the qualities of this lens is to look at the images and movies they take themselves, so above all I'd like them to just pick it up and try shooting with it.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile marginbottom">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/engineer_01.jpg" width="269" height="175" alt="Mechanical design: Kazumasa Osoniwa" class="img-responsive lazy">
                                        </div>

                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/engineer_02.jpg" width="269" height="175" alt="Optical design: Daisuke Kuroda" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel2470gm/engineer_02.jpg" width="269" height="175" alt="Optical design: Daisuke Kuroda" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8 hidden-sm hidden-md hidden-lg">
                                            <p><strong>Maruyama</strong>: This lens delivers an optical performance worthy of the G Master series, not only in terms of its bokeh and resolution, but in every respect, including suppression of chromatic aberrations and distortion aberrations. I also recommend it for photography at maximum aperture, but if you stop down the aperture to F1.7, F2, or F2.8, the resolving power will increase further while leaving the bokeh soft. I think that part of the appeal of this lens is that the images exhibit different resonances as you change the F value. I hope people will try it in a variety of situations and enjoy the level of expressive power that sets the FE 85mm F1.4 GM apart from previous lenses.</p>
                                        </div>
                                        
                                    </div>

                                </div>

                            </div>
                            <!-- Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->




                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/community-reviews.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/community-reviews.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:community-reviews:lenses:SEL2470GM"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:community-reviews:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|community-reviews|lenses|SEL2470GM"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
