<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FE 85mm F1.4 GM Community Reviews | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="FE 85mm F1.4 GM Community Reviews | Sony α Portal">
    <meta name="description" content="The development team discusses the design philosophy and appeal of the FE 85mm F1.4 GM.">
    <meta name="keywords" content="G MASTER, Commentary of Engineers, FE 85mm F1.4 GM, SEL85F14GM" />

    <meta property="og:title" content="FE 85mm F1.4 GM Community Reviews | Sony α Portal">
    <meta property="og:description" content="The development team discusses the design philosophy and appeal of the FE 85mm F1.4 GM.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="comm-reviews">

    @@include('../../template/header-1.html')



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid sel85f14gm">
        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">

                <!-- warning message -->
                <div class="row">
                    <div class="hidden-md hidden-lg alert alert-warning alert-dismissible fade in" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      Reviews are content-rich. Viewing via Wi-Fi connection is recommended.
                    </div>
                </div>
                <!-- warning message -->

                <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        <!-- cover -->
                        <div class="section intro">
                            <img data-original="img/community-reviews/lenses/sel85f14gm/cover.jpg" width="1200" height="598" alt="sel85f14gm Engineer's Voice" class="img-responsive lazy">
                        </div>
                        <!-- cover -->
                        <!-- :::::::::::::::::::::::::::::::::::::::::: -->

                        <div class="content-wrapper col-sm-12">


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- cover copy -->
                            <div class="section intro">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 logo">
                                    <img data-original="img/community-reviews/lenses/sel85f14gm/logo.png" width="150" height="38" alt="G Master" class="type-logo img-responsive lazy">
                                    <h1>FE 85mm F1.4 GM</h1>
                                    <div class="sub-header">Commentary of Engineers</div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <p>The development team discusses the design philosophy and appeal of the FE 85mm F1.4 GM.</p>
                                </div>
                                </div>
                            </div>
                            <!-- cover copy -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="comm-reviews-wrapper col-sm-12">
                 <div class="comm-reviews-container">

                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->
                    <div class="row">


                        <div class="content-wrapper col-sm-12">
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Concept -->
                            <div class="section-btm" id="concept">
                                <img data-original="img/community-reviews/lenses/sel85f14gm/concept_cover.jpg" width="980" height="234" alt="Concept" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Concept</h2>
                                    <h3>Development concept</h3>

                                    <div class="row marginbottom">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/concept_profile_01.jpg" width="269" height="309" alt="Mechanical design: Junichi Maenishi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical design</h5>
                                                <h4>Junichi Maenishi</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">A lens with uncompromising optical performance to epitomize the G Master series</h2>
                                            <p><strong>Maenishi</strong>: The 85mm prime, which is the most popular portrait lens, is a highly symbolic lens, so companies everywhere are putting high-end models on the market. In developing this new model, we too wanted to beat our rivals and create something that would mark a new era in lenses. When it comes to portrait lenses in particular, we were fixated on the background bokeh. However, bokeh-oriented lenses basically tend to depict a soft, floaty feeling. The FE 85mm F1.4 GM accommodates both high resolution and beautiful bokeh without any compromises. This is precisely the concept behind the G Master series, but being a prime lens, this one's aimed at an even higher level</p>
                                            <p>As a result, we decided in the early stages of the project to produce a lens that would make no compromise whatsoever in optical performance. The design of a lens always requires a balance between the optical design and the mechanical design. That's because it's necessary to consider not only optical performance but a variety of mechanical elements, such as size and focusing speed and accuracy. For this lens, the biggest challenge was how to integrate the various mechanical elements without compromising the highest level of optical design. As a result, many parts of the mechanical design gave us great difficulty, but in the end, I think we were able to achieve the ideal state of optical performance.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/concept_profile_01.jpg" width="269" height="309" alt="Mechanical design: Junichi Maenishi" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Mechanical design</h5>
                                                <h4>Junichi Maenishi</h4>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/concept_profile_02.jpg" width="269" height="309" alt="Optical design: Masaki Maruyama" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Optical design</h5>
                                                <h4>Masaki Maruyama</h4>
                                            </div>
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Inheriting the beautiful bokeh from existing α lenses while offering higher resolution for the next generation of cameras</h2>
                                            <p><strong>Maruyama</strong>: The α series includes a line of 85mm lenses that have received high praise since the Minolta era. Most recently, the A-mount Planar T* 85mm F1.4 ZA has a reputation for beautiful bokeh, but the aim this time was to further boost reproduction performance. The goal was to enhance the beauty of the bokeh inherited from existing α lenses while achieving the high resolution required for the next generation of cameras, because when the softness of the bokeh is accompanied by high resolving power on the focal plane, it leads to an overwhelming sense of depth. However, because there is an inherent contradiction between the beauty of the bokeh and the resolving power of the lens, the goal was how to maximize both of them in a perfect balance. We lavished the FE 85mm F1.4 GM with Sony's advanced technologies, starting with its XA (extreme aspherical) lens element and nano-AR coating, so that the overall optical system, including the actuators, is optimal for shooting portraits.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/concept_profile_02.jpg" width="269" height="309" alt="Optical design: Masaki Maruyama" class="img-responsive lazy">
                                            <div class="profile-details">
                                                <h5>Optical design</h5>
                                                <h4>Masaki Maruyama</h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!-- Concept -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Optical Design -->
                            <div class="section-btm" id="opticaldesign">
                                <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_cover.jpg" width="980" height="234" alt="Optical Design" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Optical Design</h2>
                                    <h3>A passion for optical design</h3>

                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_profile_01.jpg" width="269" height="275" alt="Optical Design" class="img-responsive lazy">
                                        </div>

                                        <div class="col-sm-8">
                                            <h2 class="quote">Taking advantage of tight resolution and beautiful bokeh even at the maximum aperture</h2>

                                            <p><strong>Maruyama</strong>: In today's world, where resolving power is emphasized, many lenses offer bokeh that is too hard, or that is soft but has low resolution. The history of lens design demonstrates that it is very difficult to achieve a balance between high resolution and beautiful bokeh. We therefore first determined the aberration to aim for in order to achieve an ideal coexistence of resolving power and bokeh. As we proceeded to design for this goal, we reached the conclusion that an aspherical lens element would be essential. However, the use of aspherical lenses is known to cause a phenomenon called "onion-ring bokeh," whereby microscopic irregularities on the aspherical lens surface are transferred to the bokeh, which runs counter to our design philosophy of wanting to beautify the bokeh. We solved this problem with our "XA (extreme aspherical)" lens element. By achieving high surface accuracy at the 0.01-micron level, we succeeded in minimizing the onion-ring bokeh that tends to occur with aspherical lenses. This made it possible to deliver the optical performance we were aiming for without compromising the bokeh.</p>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_01a.jpg" width="357" height="231" alt="XA (extream aspherical) lens" class="img-responsive lazy">
                                                    <br>
                                                    <p>XA (extream aspherical) lens</p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_01b.jpg" width="236" height="231" alt="Undesirable bokeh result of conventional aspherical lens" class="img-responsive lazy">
                                                    <br>
                                                    <p>Undesirable bokeh result of conventional aspherical lens</p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_01c.jpg" width="236" height="231" alt="Beautiful bokeh result of XA (extreme aspherical) lens" class="img-responsive lazy">
                                                    <br>
                                                    <p>Beautiful bokeh result of XA (extreme aspherical) lens</p>
                                                </div>
                                            </div>

                                            <p>The FE 85mm F1.4 GM also uses three ED (Extra-low Dispersion) glass elements to significantly reduce chromatic aberration and achieve high reproduction performance. Until now, it’s been impossible to avoid the outbreaks of purple fringing caused by chromatic aberrations near the maximum aperture of large-aperture mid-range telephoto lenses. For this lens, however, we put a lot of effort into reproduction, even at wide-open apertures, to bring this purple fringing firmly under control so that the customer can make full use of maximum aperture. You can immediately see this for yourself if you take a photo of a person dressed in black and white stripes, for example. I think there's a common impression that with 85mm F1.4 lenses, there's a lack of extreme sharpness near the widest aperture, so it's better to stop down a little, but the lens performance is now at the point where you can actively use it for good resolution even with the aperture wide open. Since the softness and beauty of the bokeh are most prominent at maximum aperture, this lets you take full advantage of the expressive power of the F1.4 lens in your photography.</p>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_profile_02.jpg" width="269" height="275" alt="Optical Design" class="img-responsive lazy">
                                        </div>

                                        <div class="col-sm-8">
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_02a.jpg" width="508" height="339" alt="Optical Design" class="img-responsive lazy">
                                                    <br>
                                                </div>
                                                <div class="col-sm-5">
                                                    <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_02b.jpg" width="337" height="339" alt="Optical Design" class="img-responsive lazy">
                                                    <br>
                                                </div>
                                            </div>

                                            <p>In addition, as you can see by looking at the MTF (Modulation Transfer Function) curves, the FE 85mm F1.4 GM maintains very high optical performance at the edges. In other words, the picture will look good no matter where in the image the subject was captured. In addition, because it achieves clear reproduction with high contrast at any aperture, even when capturing a landscape at a small aperture like F4 or F5.6 in combination with a high-resolution camera such as the α7R II, when you zoom to the actual pixel size, there's a tremendous sense of depth to the image. I’d like everyone to give it a try.</p>
                                        </div>
                                    </div>    
                                    
                                    <div class="row">
                                        <div class="col-sm-4 profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/opticaldesign_profile_03.jpg" width="269" height="236" alt="Sony Camera" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Truly a lens that was born to take portraits</h2>

                                            <p><strong>Maruyama</strong>: With respect to bokeh, we set targets that were even higher than the highly regarded bokeh of the Planar T* 85mm F1.4 ZA. So we had thorough discussions about our optical performance goals, with lens designers from the Minolta era and with veteran designers who understood the design philosophy of the 85mm. On top of that, we proceeded with development by utilizing the bokeh simulator we introduced on this occasion to verify the qualities of the bokeh at the design stage. In addition, in designing the bokeh to be softer, attention was paid not just to aberrations but also to the impact on vignetting. Incidentally, the aberrations in the FE 85mm F1.4 GM are individually adjusted one-by-one in the manufacturing process in order to achieve the ideal bokeh, but I think evaluating the beauty of bokeh also involves elements of subjective feeling and so also depends on the customer's preference. We therefore sought the cooperation of quality assurance personnel familiar with the Minolta-era 85mm lenses in order to determine the target values for the final individual adjustments, while comparing the results to the bokeh from the 85mm lenses of the past.</p>
                                            <p>Another thing contributing to the realization of beautiful bokeh is the 11-blade circular aperture, which has been adopted for the first time in an α lens. The most noticeable difference with the change from 9 to 11 blades is the appearance of the bokeh at smaller apertures. At the maximum aperture, the bokeh make the same perfect circle as the 9-blade version, but in the 11-blade version, the expression is even closer to a perfect circle even when the aperture is narrowed to about F2.8. Since the aperture setting one or two stops down from full-open is often used even in portrait photography, you can get a beautiful image with circular bokeh even when you want to increase the depth-of-field a little while leaving the background blurred. I think that now more than ever, it's possible to meet the most delicate expressive intentions of the photographer. You could say that the FE 85mm F1.4 GM, which includes these features, is truly a lens that was born to take portraits.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- Optical Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Mechanical Design -->
                            <div class="section-btm" id="mechanicaldesign">
                                <img data-original="img/community-reviews/lenses/sel85f14gm/mechanicaldesign_cover.jpg" width="980" height="234" alt="Mechanical Design" class="img-responsive lazy">
                                <br>
                                <div class="text-wrapper">
                                    <h2>Mechanical Design</h2>
                                    <h3>A passion for mechanical design</h3>
                                    
                                    
                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/mechanicaldesign_profile_01.jpg" width="269" height="309" alt="Mechanical Design" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Micron-order control using a new-generation ring drive SSM</h2>

                                            <p><strong>Maenishi</strong>: As a result of prioritizing optical design and increasing the resolution to the limit, the focus lens became larger and heavier. In addition, because of the extremely shallow depth-of-field at F1.4, the focus lens requires micron-order stopping accuracy. The biggest challenge for the mechanical design was how to move the larger, heavier focus lens at high speed and stop it with a high degree of accuracy. The key component was the ring drive SSM, which was adopted for the first time in the focus of an E-mount lens. In order to take full advantage of high-precision contrast AF, the powerful ring drive SSM was placed under the control of two position detection sensors and optimized for the E-mount lens format. A typical ring drive SSM controls the position of the focus lens by the amount of rotation of the focus drive ring, but this lens, in addition to that, is also equipped with a linear motion position sensor to directly detect the position of the focus lens itself. Since control is based on two pieces of information, very high stopping accuracy and fine AF control are possible.</p>
                                            <p>Another thing contributing to improved accuracy is the ball-bearing structure joined to the ring SSM. This ball-bearing structure enables a smooth focus drive by smoothly receiving the force with which the cam ring is pushed in the direction of the optical axis. This helps eliminate mechanical backlash and increase accuracy. While "ring drive SSM" may sound like a technology from the past, the combination of ball bearings and control by two position sensors yields a new-generation ring drive SSM with both power and precision.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/mechanicaldesign_profile_01.jpg" width="269" height="309" alt="Mechanical Design" class="img-responsive lazy">
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/mechanicaldesign_profile_02.jpg" width="269" height="309" alt="Mechanical Design: Junichi Maenishi" class="img-responsive lazy">
                                        </div>
                                        <div class="col-sm-8">
                                            <h2 class="quote">Perfect autofocus at a shallow depth of field of aperture F1.4</h2>

                                            <p><strong>Maenishi</strong>: On the FE 85m F1.4 GM, where the focus optics alone exceed 100g, performing adjustments at the micron level requires more than just an ingenious mechanical design, so we also developed a new control system. Because the mechanical design and control team shared a common goal, namely "perfect autofocus at a shallow depth of field of aperture F1.4", we spent a lot of time repeating countless test shots while varying the situation and shooting conditions in order to push the accuracy from both the mechanical and control sides. It was worth the trouble, because we ended up with a lens that can comfortably focus even when using the Eye AF function of the α7R II and other compatible cameras. </p>
                                            <p>Furthermore, I think that portrait photography on the 85mm F1.4 is often shot using manual focus to obtain an exact focus, and that feeling of manipulating the focus manually is associated with a very high level of professionalism. We implemented fine tuning by paying attention to that feeling of direct manipulation you get when you turn the focusing ring to drive the focus lens in accordance with the desired image. When it comes to shallow focus lenses, I think it's been difficult up to now to adjust the focus exactly using the manual focus on an optical viewfinder, and the image slips slightly out of focus when you magnify it. But with an EVF (electronic viewfinder), you can easily zoom during shooting, and it's easy to force an exact focus manually. We optimized the drive controls of the actuators to be able to achieve an operational feeling similar to manual focus, while taking advantage of these benefits of the EVF, but without all the stress of manual focus. The resolution at maximum aperture is much higher thanks to the no-compromise optical design, so whether you shoot in auto or manual focus, I think you'll enjoy comfortable focusing at a level of detail that was not possible until now.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/mechanicaldesign_profile_02.jpg" width="269" height="309" alt="Mechanical Design: Junichi Maenishi" class="img-responsive lazy">
                                        </div>

                                    </div>
                                    
                                </div>

                            </div>
                            <!-- Mechanical Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->


                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->
                            <!-- Enginners' Message -->
                            <div class="section-btm message-section">
                                <div class="text-wrapper">
                                    <!-- <h2>Engineers’ Message</h2> -->
                                    <h3>Finally...</h3>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/engineer_01.jpg" width="269" height="175" alt="Mechanical design: Junichi Maenishi" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>Maenishi</strong>: There are many resolution-oriented or bokeh-oriented lenses to choose from, but if you want to obtain a superior expressive power that combines both them, I think this lens will be your top choice. This lens was created by paying single-minded attention to operability and functionality, such as autofocus and manual focus, and is even equipped with a focus hold button, which is rare in a lens of this class. This button can even be assigned functions other than focus hold, for example the Eye AF function, so I hope customers will enjoy playing with these function assignments. It's quite different from the lenses that have come before it, so I hope people will pick it up and give it a try.</p>

                                            <p class="hidden-xs"><strong>Maruyama</strong>: This lens delivers an optical performance worthy of the G Master series, not only in terms of its bokeh and resolution, but in every respect, including suppression of chromatic aberrations and distortion aberrations. I also recommend it for photography at maximum aperture, but if you stop down the aperture to F1.7, F2, or F2.8, the resolving power will increase further while leaving the bokeh soft. I think that part of the appeal of this lens is that the images exhibit different resonances as you change the F value. I hope people will try it in a variety of situations and enjoy the level of expressive power that sets the FE 85mm F1.4 GM apart from previous lenses.</p>
                                        </div>
                                        <div class="col-sm-4 hidden-xs profile marginbottom">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/engineer_01.jpg" width="269" height="175" alt="Mechanical design: Junichi Maenishi" class="img-responsive lazy">
                                        </div>

                                        <div class="col-sm-4 hidden-xs profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/engineer_02.jpg" width="269" height="175" alt="Optical design: Masaki Maruyama" class="img-responsive lazy">
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg profile">
                                            <img data-original="img/community-reviews/lenses/sel85f14gm/engineer_02.jpg" width="269" height="175" alt="Optical design: Masaki Maruyama" class="img-responsive lazy">
                                            
                                        </div>
                                        <div class="col-sm-8 hidden-sm hidden-md hidden-lg">
                                            <p><strong>Maruyama</strong>: This lens delivers an optical performance worthy of the G Master series, not only in terms of its bokeh and resolution, but in every respect, including suppression of chromatic aberrations and distortion aberrations. I also recommend it for photography at maximum aperture, but if you stop down the aperture to F1.7, F2, or F2.8, the resolving power will increase further while leaving the bokeh soft. I think that part of the appeal of this lens is that the images exhibit different resonances as you change the F value. I hope people will try it in a variety of situations and enjoy the level of expressive power that sets the FE 85mm F1.4 GM apart from previous lenses.</p>
                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- Design -->
                            <!-- :::::::::::::::::::::::::::::::::::::::::: -->




                        </div>
                    </div>
                    <!-- //////////////////////////////////////////////////// -->
                    <!-- Content -->
                    <!-- //////////////////////////////////////////////////// -->


                    <div class="clearfix"></div>


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/community-reviews.min.js -->
    <script src="js/lazyYT.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/jquery-colorbox/jquery.colorbox.js"></script>
    <script src="bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="js/template.js"></script>
    <script src="js/community-reviews.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:community-reviews:lenses:SEL85F14GM"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:community-reviews:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|community-reviews|lenses|SEL85F14GM"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
