<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Aspherical Lenses & New XA Lens Elements | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Aspherical Lenses & New XA Lens Elements | Sony α Portal">
    <meta name="description" content="Superior surface precision enhances bokeh">
    <meta name="keywords" content="lens, XA Lens, aspherical lens, high resolution, bokeh, lens technology" />

    <meta property="og:title" content="Aspherical Lenses & New XA Lens Elements | Sony α Portal">
    <meta property="og:description" content="Superior surface precision enhances bokeh">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="tech-article">

    @@include('../../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                            <div class="filter-btn camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>
                        </a>
                        <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                            <div class="filter-btn active lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>
                        </a>
                    </div>
                    <!-- Category -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->



    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">
                    <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                        <div class="filter-btn camera">
                            <div class="icon"></div>
                            <p>Cameras</p>
                        </div>
                    </a>
                    <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                        <div class="filter-btn active lens">
                            <div class="icon"></div>
                            <p>Lenses</p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <!-- Category -->

            </div>
        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid distance-encoder">
        <div class="row">
            <div class="tech-article-wrapper col-sm-12">

                <div class="tech-article-container">

                    <!-- Content -->
                    <div class="row">
                        <h1 class="col-sm-12">Aspherical Lenses & New XA Lens Elements</h1>
                        <div class="content-wrapper col-sm-12">

                            <div class="row content-row">
                                <div class="content-left col-xs-12 col-sm-5">
                                    <img src="img/technology/lenses/article/aspherical_lenses_new_xa_lens_element-img.jpg" width="915" height="343" alt="Aspherical Lenses & New XA Lens Elements" class="img-responsive">
                                    <p class="disclaimer marginbottom" style="text-align:center; margin-top:10px;">Superior surface precision enhances bokeh</p>
                                </div>

                                <div class="content-right col-xs-12 col-sm-7">
                                    <p>Aspherical lenses are much more difficult to manufacture than simple spherical types. New XA (extreme aspherical) lens elements achieve extremely high surface precision that is kept to within 0.01 micron by innovative manufacturing technology, for an unprecedented combination of high resolution and the most beautiful bokeh you’ve ever seen.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Content -->


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    @@include('../../template/tech-articles-js.html')

    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:technology:lenses:asphericalLensesNewXALensElements"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:technology:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|technology|lenses|asphericalLensesNewXALensElements"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
