<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Focus Range Limiter & Focus Hold | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Focus Range Limiter & Focus Hold | Sony α Portal">
    <meta name="description" content="The focus range limiter can be limited either to a far range or to a range that you specify yourself">
    <meta name="keywords" content="focus range Limiter, focus hold" />

    <meta property="og:title" content="Focus Range Limiter & Focus Hold | Sony α Portal">
    <meta property="og:description" content="The focus range limiter can be limited either to a far range or to a range that you specify yourself">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="tech-article">

    @@include('../../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                            <div class="filter-btn camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>
                        </a>
                        <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                            <div class="filter-btn active lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>
                        </a>
                    </div>
                    <!-- Category -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->



    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">
                    <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                        <div class="filter-btn camera">
                            <div class="icon"></div>
                            <p>Cameras</p>
                        </div>
                    </a>
                    <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                        <div class="filter-btn active lens">
                            <div class="icon"></div>
                            <p>Lenses</p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <!-- Category -->

            </div>
        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid focus-range-limiter">
        <div class="row">
            <div class="tech-article-wrapper col-sm-12">

                <div class="tech-article-container">

                    <!-- Content -->
                    <div class="row">

                        <h1 class="col-sm-12">Focus Range Limiter & Focus Hold</h1>

                        <!-- 1 :: Focus Range Limiter :: -->
                        <div class="col-sm-6 col-xs-12 content-col">

                            <h2>Focus Range Limiter</h2>
                            <div class="content-wrapper">
                                <div class="row content-row">
                                    <div class="col-md-6 col-sm-12 content-img">
                                        <img src="img/technology/lenses/article/frl-img.png" width="440" height="314" alt="Focus Range Limiter" class="img-responsive">
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="icons">
                                            <img src="img/technology/lenses/article/frl-icon.png" width="34" height="20" alt="Focus Range Limiter icon" class="img-responsive">
                                            <img src="img/technology/lenses/article/fri-icon_electronic.png" width="34" height="29" alt="Focus Range Limiter Eletronic icon" class="img-responsive">
                                        </div>

                                        <div class="clearfix"></div>

                                        <p>This function saves you a bit of time during AF operation by setting a limit on the focusing range. In macro lenses, this limit can be on either the near or far range (as pictured). In the SAL70200G, the limit is set on far ranges only. In the SAL300F28G, focusing can be limited either to a far range or to a range that you specify yourself.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- 1 :: Focus Range Limiter :: -->


                        <!-- 2 :: Focus Hold Button -->
                        <div class="col-sm-6 col-xs-12 content-col">

                            <h2>Focus Hold Button</h2>
                            <div class="content-wrapper">
                                <div class="row content-row">
                                    <div class="col-md-6 col-sm-12 content-img">
                                        <img src="img/technology/lenses/article/fhb-img.png" width="440" height="316" alt="Focus Hold Button" class="img-responsive">
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <div class="icons">
                                            <img src="img/technology/lenses/article/fhb-icon.png" width="33" height="20" alt="Focus Hold Button icon" class="img-responsive">
                                            <img src="img/technology/lenses/article/fhb-icon_3btns.png" width="34" height="29" alt="Focus Hold Button 3 buttons icon" class="img-responsive">
                                            <img src="img/technology/lenses/article/fhb-icon_4btns.png" width="35" height="29" alt="Focus Hold Button 4 buttons icon" class="img-responsive">
                                        </div>

                                        <div class="clearfix"></div>

                                        <p>Once you’ve adjusted focus to where you want it, pressing this button on the lens barrel will keep the lens locked to that focusing distance. The preview function can also be assigned to this button through the camera’s custom settings.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- 2 :: Focus Hold Button -->

                    </div>

                    <!-- Content -->


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    @@include('../../template/tech-articles-js.html')

    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:technology:lenses:focusRangeLimiterFocusHold"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:technology:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|technology|lenses|focusRangeLimiterFocusHold"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
