<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lens Coating Technology & Focusing | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Lens Coating Technology & Focusing | Sony α Portal">
    <meta name="description" content="Lens coating technology delivers significant improved performance and highest quality">
    <meta name="keywords" content="multi layered coating, nano ar coating, internal focusing, external focusing, unmatched t coating" />

    <meta property="og:title" content="Lens Coating Technology & Focusing | Sony α Portal">
    <meta property="og:description" content="Lens coating technology delivers significant improved performance and highest quality">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css-->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="tech-article">

    @@include('../../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">
        <div class="row">
            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Category -->
                    <div class="filter-category text-center">
                        <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                            <div class="filter-btn camera">
                                <div class="icon text-center"></div>
                                <p>Cameras</p>
                            </div>
                        </a>
                        <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                            <div class="filter-btn active lens">
                                <div class="icon text-center"></div>
                                <p>Lenses</p>
                            </div>
                        </a>
                    </div>
                    <!-- Category -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->



    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">
        <div class="row">
            <div class="col-sm-12">

                <!-- Category -->
                <div class="filter-category text-center">
                    <a href="technology#cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:cameras', '', 'aportal:technology:cameras', 'microsite|aportal|technology|cameras');">
                        <div class="filter-btn camera">
                            <div class="icon"></div>
                            <p>Cameras</p>
                        </div>
                    </a>
                    <a href="technology#lenses" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:aportal:technology:lenses', '', 'aportal:technology:lenses', 'microsite|aportal|technology|lenses');">
                        <div class="filter-btn active lens">
                            <div class="icon"></div>
                            <p>Lenses</p>
                        </div>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <!-- Category -->

            </div>
        </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid lens-coating-technology-focusing">
        <div class="row">
            <div class="tech-article-wrapper col-sm-12">

                <div class="tech-article-container">

                    <!-- Content -->

                    <!-- 2 :: Nano AR Coating -->
                    <div class="row">
                        <h1 class="col-sm-12">Lens Coating Technology & Focusing</h1>
                        <h2 class="col-sm-12">Nano AR Coating</h2>
                        <div class="content-wrapper col-sm-12">

                            <div class="row content-row">
                                <div class="content-left col-xs-12 col-sm-5">
                                    <img src="img/technology/lenses/article/nano_ar_coating-img.png" width="440" height="293" alt="Nano AR Coating" class="img-responsive">
                                </div>

                                <div class="content-right col-xs-12 col-sm-7">
                                    <div class="icons">
                                        <img src="img/technology/lenses/article/nano_ar_coating-icon.png" width="140" height="20" alt="Nano AR Coating icon" class="img-responsive">
                                    </div>

                                    <div class="clearfix"></div>

                                    <p>Original Sony Nano AR Coating technology produces a lens coating that features a precisely defined regular nano-structure that allows accurate light transmission while effectively suppressing reflections that can cause flare and ghosting. The reflection suppression characteristics of the Nano AR Coating are superior to conventional anti-reflective coatings, including coatings that use an irregular nano-structure, providing a notable improvement in clarity, contrast, and overall image quality.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 2 :: Nano AR Coating -->


                    <!-- 3 :: Unmatched T* Coating -->
                    <div class="row">
                        <h2 class="col-sm-12">Unmatched T* Coating</h2>
                        <div class="content-wrapper col-sm-12">

                            <div class="row content-row">
                                <div class="content-left col-xs-12 col-sm-5">
                                    <img src="img/technology/lenses/article/unmatched_t-img.png" width="440" height="749" alt="Unmatched T* Coating" class="img-responsive">
                                </div>

                                <div class="content-right col-xs-12 col-sm-7">
                                    <div class="icons">
                                        <img src="img/technology/lenses/article/unmatched_t-icon.png" width="34" height="29" alt="Unmatched T* Coating icon" class="img-responsive">
                                    </div>

                                    <div class="clearfix"></div>

                                    <p>The fact that lens coating technology—vapor deposition of a thin, even coating on the lens surface to reduce reflections and maximize transmission—was originally a ZEISS patent is well known. The ZEISS company also developed and proved the efficacy of multi-layer coatings for photographic lenses, and this is the technology that became the T* coating.</p>
                                    <br/>
                                    <p>Until the introduction of coated lenses, the lens surface would reflect a large percentage of the incoming light, thus reducing transmission and making it difficult to use multiple of elements in lens designs. Effective coatings made it possible to design more complex optics that delivered significantly improved performance. Reduced internal reflection contributed to minimum flare and high contrast.</p>
                                    <br/>
                                    <p>The ZEISS T* coating is not simply applied to any lens. The T* symbol only appears on multi-element lenses in which the required performance has been achieved throughout the entire optical path, and it is therefore a guarantee of the highest quality.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- 3 :: Unmatched T* Coating -->


                    <div class="row">


                        <!-- 4 :: Internal Focusing -->
                        <div class="col-sm-4 col-xs-12 content-col">
                            <h2>Internal Focusing</h2>
                            <div class="content-wrapper">
                                <div class="row content-row">
                                    <div class="col-sm-12">
                                        <div class="icons">
                                            <img src="img/technology/lenses/article/if-icon.png" width="34" height="20" alt="Internal Focusing icon" class="img-responsive">
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>Only the middle groups of the optical system are moved to achieve focusing, which leaves the total length of the lens intact. Benefits include fast autofocusing and a short minimum focusing distance. Also, the filter thread at the front of the lens does not rotate, which is convenient if you’re using a polarizing filter.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 4 :: Internal Focusing -->


                        <!-- 5 :: Rear Focusing -->
                        <div class="col-sm-4 col-xs-12 content-col">
                            <h2>Rear Focusing</h2>
                            <div class="content-wrapper">
                                <div class="row content-row">
                                    <div class="col-sm-12">
                                        <div class="icons">
                                            <img src="img/technology/lenses/article/rf-icon.png" width="40" height="20" alt="Rear Focusing icon" class="img-responsive">
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>By moving only the rear group of lenses to focus, the lens allows for speedy AF operation and a shorter minimum focusing distance. Also, because the front of the lens does not rotate, operability is improved when you’re shooting with a polarizing filter attached.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 5 :: Rear Focusing -->


                        <!-- 1 :: Multi-layered Coating -->
                        <div class="col-sm-4 col-xs-12 content-col">
                            <h2>Multi-layered Coating</h2>
                            <div class="content-wrapper">
                                <div class="row content-row">
                                    <div class="col-sm-12">
                                        <p>Although most of the light that falls on an optical glass transmits right through, some of it reflects at the surface of the lens to cause flare or ghost images. In order to avoid this problem, a thin layer of anti-reflective coating must be applied to the lens surface. &alpha; lenses use exclusive multi-layered coating to effectively suppress such problems over a wide spectrum of wavelength.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 1 :: Multi-layered Coating -->

                    </div>


                    <!-- Content -->


                </div>

                <div class="clearfix"></div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../../template/footer.html')

    @@include('../../template/tech-articles-js.html')

    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:technology:lenses:lensCoatingTechFocus"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:technology:lenses"; // Microsite Section
    s.hier5 = "microsite|aportal|technology|lenses|lensCoatingTechFocus"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
