<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sony World Photography Awards | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="Sony World Photography Awards | Sony α Portal">
    <meta name="description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <meta name="keywords" content="α portal, a portal, alpha portal, ilc, interchangeable lens camera, e-mount, a-mount, full frame, aps-c, lens, alpha technology, mirrorless" />

    <meta property="og:title" content="Sony World Photography Awards | Sony α Portal">
    <meta property="og:description" content="Discover a wide range of high quality Alpha products from Sony and the technology behind them.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="swpa">

    @@include('../template/header-1.html')

    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="swpa-wrapper col-sm-12">

                <div class="swpa-container">

                    <div class="row">

                        <!--<div class="col-xs-12">
                             <script id="swpa-photo-template" type="text/x-handlebars-template">​
                                <img src="{{url}}" class="img-responsive center-block">
                                <p class="image-title">{{{title}}}<br>{{copyright}}</p>
                                <p class="image-description">{{caption}}</p>
                                <a class="cta" href="swpa/winners.html" role="button">View Winners <span class="glyphicon glyphicon-triangle-right pull-right"></span></a>
                            </script>
                            <div id="photo-of-the-day">
                                <p>Loading...</p>
                            </div> 
                        </div>-->

                        <div class="col-md-6 col-sm-12 col-xs-12 swpa-content-wrap">
                            <div class="swpa-content">

                                <div class="img-wrapper">
                                    <img src="img/swpa/logo-swpa.png" width="371" height="85" alt="Sony World Photography Awards" class="img-responsive">
                                </div>

                                <p>
                                    Celebrating its 10th anniversary in 2017, the Sony World Photography Awards (SWPA) showcases the best photography in the world from the past year. Free to enter and open to all photographers, the awards are an authoritative voice in the photographic industry, with the power to shape the careers of its winning, shortlisted and commended photographers. In 2016 the total number of entries received since the first edition in 2007 surpassed 1 million images, reinforcing its position as one of the most respected and influential photography competitions in existence. Each year a total prize fund of US$30,000 plus the latest Sony digital imaging equipment is shared between winning photographers. Photographers are taken on a year-long journey, bringing untold exposure and providing a global stage on which to present their work. The hugely popular Sony World Photography Awards Exhibition, featuring a selection of winning, shortlisted and commended images, is curated at the prestigious Somerset House, London each Spring.
                                </p>

                                <a class="cta" href="swpa/winners.html" role="button">View Winners <span class="glyphicon glyphicon-triangle-right pull-right"></span></a>

                                <a class="cta" href="https://www.worldphoto.org/sony-world-photography-awards" target="_blank" role="button">Visit Sony World Photography Awards <span class="glyphicon glyphicon-triangle-right pull-right"></span></a>

                                <div class="copyright text-center">
                                    © Kei Nomiyama, Japan, Open Photographer of the Year, 2016 Sony World Photography Awards
                                </div>
                            </div>
                        </div>



                        <div class="col-md-6 col-sm-12 col-xs-12 wpo-content-wrap">
                            <div class="swpa-content">

                                <div class="img-wrapper">
                                    <img src="img/swpa/logo-wpo.png" width="371" height="85" alt="Sony World Photography Awards" class="img-responsive">
                                </div>

                                <p>
                                    The World Photography Organisation (WPO) is a global platform for photography initiatives. Working across up to 180 countries, theiraim is to raise the level of conversation around photography by celebrating the best imagery and photographers on the planet. They pride themselves on building lasting relationships with both individual photographers as well as theirindustry-leading partners around the world.
                                </p>

                                <p>Their year-round year-round portfolio of programmes and events includes <span>Sony World Photography Awards</span> &amp; <span>Sony Global Imaging Ambassadors</span></p>

                                <a class="cta" href="https://www.worldphoto.org/" target="_blank" role="button">Visit World Photography Organisation <span class="glyphicon glyphicon-triangle-right pull-right"></span></a>

                                <div class="copyright text-center">
                                    © Kei Nomiyama, Japan, Open Photographer of the Year, 2016 Sony World Photography Awards
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    @@include('../template/footer.html')


    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/swpa.min.js -->
    <script src="bower_components/handlebars/handlebars.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="js/template.js"></script>
    <script src="js/swpa.js"></script>
    <!-- endbuild -->

    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:terms"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:swpa"; // Microsite Section
    s.hier5 = "microsite|aportal|swpa"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->
  </body>
</html>
