<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SWPA Winners | Sony α Portal</title>
    <base href="http://localhost:3000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="title" content="SWPA Winners | Sony α Portal">
    <meta name="description" content="View all the stunning images taken with Sony Alpha cameras and lenses.">
    <meta name="keywords" content="gallery, images, photographs, e-mount, full frame, mirrorless, telephoto, zeiss, fe lens, 5-axis stabilization" />

    <meta property="og:title" content="SWPA Winners | Sony α Portal">
    <meta property="og:description" content="View all the stunning images taken with Sony Alpha cameras and lenses.">
    <!-- <meta property="og:url" content="{{Site Url If Any}}">
    <meta property="og:site_name" content="{{Title of Site}}">-->
    <meta property="og:image" content="http://localhost:3000/img/fb_share.jpg">

    <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/icons/apple-touch-icon-ipad3.png" />

    <!--build:css css/styles.min.css -->
    <link href="css/styles.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- font -->
    <script src="//fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="swpa-winners">

    @@include('../template/header-1.html')

    <!-- SECONDARY NAV : DESKTOP : START -->
    <div class="container-fluid secondary-nav hidden-xs hidden-sm">

        <div class="row">

            <div class="col-sm-12">

                <div class="secondary-nav-wrapper">

                    <!-- Competition -->
                    <div class="filter-competition">

                        <p>Competition</p>

                        <select id="filter-competition" class="select-competition filter-border" style="width:100%;">
                            <option value="" selected>All Competitions</option>
                            <option value="national">National Awards</option>
                            <option value="open">Open Competition</option>
                            <option value="youth">Youth Competition</option>
                        </select>

                    </div>
                    <!-- Competition -->

                    <!-- Country -->
                    <div class="filter-country">

                        <p>Country</p>

                        <select id="filter-country" class="select-country filter-border" style="width:100%;">
                            <option value="" selected>All Countries</option>
                            <option value="au">Australia</option>
                            <option value="bd">Bangladesh</option>
                            <option value="eg">Egypt</option>
                            <option value="hk">Hong Kong</option>
                            <option value="in">India</option>
                            <option value="id">Indonesia</option>
                            <option value="ir">Iran</option>
                            <option value="ke">Kenya</option>
                            <option value="kr">Korea</option>
                            <option value="my">Malaysia</option>
                            <option value="mm">Myanmar</option>
                            <option value="nz">New Zealand</option>
                            <option value="tw">Taiwan</option>
                            <option value="th">Thailand</option>
                            <option value="tr">Turkey</option>
                            <option value="ph">Philippines</option>
                            <option value="sg">Singapore</option>
                            <option value="vn">Vietnam</option>
                        </select>
                    </div>
                    <!-- Country -->

                    <!-- Camera Mount -->
                    <div class="filter-swpa-categories">

                        <p class="filter-title">Categories</p>

                        <div class="swpa-categories-container">

                            <div class="filter-btn text-center" data-categories="art">
                                <div class="wrapper">
                                    <p>Art &amp; Culture</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="low-light">
                                <div class="wrapper">
                                    <p>Low Light</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="people">
                                <div class="wrapper">
                                    <p>People</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="split-second">
                                <div class="wrapper">
                                    <p>Split Second</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="culture">
                                <div class="wrapper">
                                    <p>Culture</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="wildlife">
                                <div class="wrapper">
                                    <p>Nature &amp; Wildlife</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="portrait">
                                <div class="wrapper">
                                    <p>Portrait</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="travel">
                                <div class="wrapper">
                                    <p>Travel</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="environment">
                                <div class="wrapper">
                                    <p>Environment</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="panoramic">
                                <div class="wrapper">
                                    <p>Panoramic</p>
                                </div>
                            </div>

                            <div class="filter-btn text-center" data-categories="smile">
                                <div class="wrapper">
                                    <p>Smile</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- Category -->

                    <!-- Clear filter -->
                    <div class="filter-clear-wrap">

                        <div class="filter-btn clear text-center">
                            <div class="icon text-center"></div>
                            <p>Clear Filters</p>
                        </div>

                    </div>
                    <!-- Clear filter -->

                </div>

            </div>
        </div>
    </div>
    <!-- SECONDARY NAV : DESKTOP : END -->

    <!-- SECONDARY NAV : MOBILE : START -->
    <div id="secondary-nav-mobile" class="container-fluid secondary-nav-mobile hidden-md hidden-lg">

        <div class="row">

            <!-- FILTER CONTENT -->
            <div class="col-sm-12 filter-content-wrapper text-center" id="filter-content-wrapper">

                <!-- Competition -->
                <div class="filter-competition">

                    <p>Competition</p>

                    <select id="filter-competition-mobile" class="select-competition filter-border">
                        <option value="" selected>All Competitions</option>
                        <option value="national">National Awards</option>
                        <option value="open">Open Competition</option>
                        <option value="youth">Youth Competition</option>
                    </select>

                </div>
                <!-- Competition -->


                <!-- Country -->
                    <div class="filter-country">

                        <p>Country</p>

                        <select id="filter-country-mobile" class="select-country filter-border" style="width:100%;">
                            <option value="" selected>All Countries</option>
                            <option value="au">Australia</option>
                            <option value="bd">Bangladesh</option>
                            <option value="eg">Egypt</option>
                            <option value="hk">Hong Kong</option>
                            <option value="in">India</option>
                            <option value="id">Indonesia</option>
                            <option value="ir">Iran</option>
                            <option value="ke">Kenya</option>
                            <option value="kr">Korea</option>
                            <option value="my">Malaysia</option>
                            <option value="mm">Myanmar</option>
                            <option value="nz">New Zealand</option>
                            <option value="tw">Taiwan</option>
                            <option value="th">Thailand</option>
                            <option value="tr">Turkey</option>
                            <option value="ph">Philippines</option>
                            <option value="sg">Singapore</option>
                            <option value="vn">Vietnam</option>
                        </select>

                    </div>
                    <!-- Lenses -->


                    <!-- Categories -->
                    <div class="filter-swpa-categories">

                        <p>Categories</p>

                        <select id="filter-swpa-categories-mobile" class="select-swpa-categories filter-border">
                            <option value="" selected>All Categories</option>
                            <option value="art">Art &amp; Culture</option>
                            <option value="low-light">Low Light</option>
                            <option value="people">People</option>
                            <option value="split-second">Split Second</option>
                            <option value="culture">Culture</option>
                            <option value="wildlife">Nature &amp; Wildlife</option>
                            <option value="portrait">Portrait</option>
                            <option value="travel">Travel</option>
                            <option value="environment">Environment</option>
                            <option value="panaromic">Panaromic</option>
                            <option value="smile">Smile</option>
                        </select>

                    </div>
                    <!-- Categories -->

            </div>
            <!-- FILTER CONTENT -->


            <!-- FILTER TEXT -->
            <div class="filter-text-wrapper">

                <div class="filter-text" id="filter-text">

                    <p>Filter</p>

                    <div class="up">
                        <img src="img/filter_arrow_up.png" width="21" height="10" alt="arrow up">
                    </div>

                    <div class="down">
                        <img src="img/filter_arrow_down.png" height="10" width="21" alt="">
                    </div>

                </div>

            </div>
            <!-- FILTER TEXT -->

        </div>

    </div>

    </div>
    <!-- SECONDARY NAV : MOBILE : END -->


    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### HEADER :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->






    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: STARTS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->

    <script id="photos-template" type="text/x-handlebars-template">​
        {{#each this}}
            <a href="#swpa-popup-{{id}}" title="{{title}}">
                <img alt="{{caption}}" src="{{thumb.src}}" width="{{thumb.width}}" height="{{thumb.height}}" />
                <div id="swpa-popup-{{id}}" class="mfp-hide">
                    <img src="{{url}}" class="mfp-img" alt="{{title}}">
                    <p class="mfp-title">{{title}}
                        <br>{{copyright}}
                    </p>
                    <p class="mfp-description">{{caption}}</p>
                </div>
            </a>
        {{/each}}
    </script>

    <section id="content" class="container-fluid">
        <div class="row">
            <div class="gallery-wrapper col-xs-12">


                <div class="gallery-container text-center">
                    <p class="coming_soon">Loading...</p>



                </div>


                <div class="clearfix"></div>


                <!-- Back to top -->
                <a href="#" class="scroll_to_top text-center">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                </a>
                <!-- Back to top -->

            </div>
        </div>
    </section>



    <!-- ===== ===== ===== ===== ===== -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ##### CONTENT :: ENDS ##### -->
    <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
    <!-- ===== ===== ===== ===== ===== -->


    @@include('../template/footer.html')


    <!--build:js js/template.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- endbuild -->

    <!--build:js js/swpa-winners.min.js -->
    <script src="bower_components/handlebars/handlebars.min.js"></script>
    <script src="bower_components/select2/dist/js/select2.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="bower_components/justifiedGallery/src/js/justifiedGallery.js"></script>
    <script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
    <script src="js/template.js"></script>
    <script src="js/swpa-winners.js"></script>
    <!-- endbuild -->


    <!-- START Omniture Tracking -->
    <!-- SiteCatalyst code version: H.10 09jul08
    Copyright 1997-2007 Omniture, Inc. More info available at
    http://www.omniture.com -->

    <script language="JavaScript" src="https://www.sony-asia.com/microsite/script/microsite_s_code.js"></script>
    <script language="JavaScript">
    /* You may give each page an identifying name, server, and channel on the next lines. */
    s.pageName = "ms:aportal:gallery"; //Pagename
    s.prop1 = "http://aportal.sony-asia.com"; //Host of the server
    s.prop2 = "AP"; //country
    s.prop3 = "en";  //language
    s.prop4 = "hp";
    s.prop5 = "i";
    s.prop41 = "aportal"; // Microsite Name
    s.prop42 = "aportal:gallery"; // Microsite Section
    s.hier5 = "microsite|aportal|gallery"; //hier5
    //Get entire percent page viewed array and save metrics
    s.prop55 = s.getPreviousValue(s.pageName,'s_ppn'); //prop55: previous page name
    var ppv = s.getPercentPageViewed(s.pageName); //get array of data on prev page % viewed
    if( ppv && typeof ppv=='object' && ppv[0] == s.prop55 ) { //if ppv array returned and prev page id matches prev page name
    s.prop56 = ppv[1] + '%'; //prop56: Max % Viewed
    s.prop57 = ppv[2] + '%'; //prop57: Initial % viewed
    s.prop58 = ppv[1] + '|' + ppv[2]; //prop58: prev page max and initial % viewed, delimited by "|".
    }
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code = s.t();
    if (s_code) document.write(s_code);
    </script>
    <script language="JavaScript">
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
    </script>
    <!-- End SiteCatalyst code version: H.10 09jul08 -->
    <!-- END Omniture Tracking -->

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T63V8N"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T63V8N');</script>
    <!-- End Google Tag Manager -->


  </body>
</html>
